﻿<section class="content" ng-controller="VesselProfileCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">k4(Inward)Ocean B/L</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Shipping Agent Code</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-right"></label>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">User Job Number:</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">000000010900</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Carrier Information</h3>
                        </div>
                        <div class="box-body">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Ship Call Number:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">RCEE</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Customs Station Code:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">B10 - WISMA KASTAM, PELABUHAN KLANG, SELANGOR</label>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Vessel ID:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">M1714</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Vessel Name:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">MAERSK DURHAM</label>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Inward Voyage Number:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">0703</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Mode Of Transport:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">By Sea</label>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">ETA:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">24/01/07 12:00</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pull-right">ETD:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">24/01/07 22:00</label>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Port Operator Code:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">BKCT01</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Port Operator Name:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">Klang Containerised Terminal</label>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Port Name:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">North Port</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Port Of Loading:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">DEHAM - HAMBURG</label>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Port Of Discharge:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">MYPKG - PORT KLANG</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Country Of Origin:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">DE - Germany</label>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Ship Notice / Manifest No.:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">40100609</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pull-right"></label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>PRINCIPAL SHIPPING AGENT INFORMATION</h4>
                    <h5>(Shipping Agent Information is required here for House B/L submission)</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">BILL OF LADING INFORMATION (Current B/L Sequence: 1)</h3>
                        </div>
                        <div class="box-body">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Ocean Bill of lading:</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-left">N/L</label>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Containerised Cargo:</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">SHIPMENT INFORMATION</h3>
                        </div>
                        <div class="box-body">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Cargo Type:</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Approval Authority:</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Cargo Description:</label>
                                </div>
                                <div class="col-md-4">
                                    <textarea class="form-control input-sm"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">SHIPPING AGENT INFORMATION</h3>
                        </div>
                        <div class="box-body">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <label class="control-label pull-right">Shipping Agent Code:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="col-md-2"></div>
                                
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <label class="control-label pull-right">Shipping Agent Name:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>                                
                            </div>                            
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <label class="control-label pull-right">Shipping Agent Address:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4"></div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4"></div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">CONSIGNEE AGENT INFORMATION</h3>
                        </div>
                        <div class="box-body">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <label class="control-label pull-right">Consignee Code:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm ac" />
                                </div>                                
                                <div class="col-md-1"></div>                                
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <label class="control-label pull-right">Organisation Type:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>                                
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <label class="control-label pull-right">Consignee Name:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>                                
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <label class="control-label pull-right">Consignee Address:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">CONSIGNOR INFORMATION</h3>
                        </div>
                        <div class="box-body">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <label class="control-label pull-right">Consignor Code:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm ac" />
                                </div>                                
                                <div class="col-md-1"></div>
                                
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <label class="control-label pull-right">Organisation Type:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>                                
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <label class="control-label pull-right">Consignor Name:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <label class="control-label pull-right">Consignor Address:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">NOTIFY PARTY INFORMATION</h3>
                        </div>
                        <div class="box-body">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <label class="control-label pull-right">Notify Party Code:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm ac" />
                                </div>                                
                                <div class="col-md-1"></div>
                                
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <label class="control-label pull-right">Notify Party Name:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>                                
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <label class="control-label pull-right">Notify Party Address:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4"></div>                                
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>No.</th>
                                <th>Goods Item No.</th>
                                <th>No Of Packing</th>
                                <th>Type Of Packing</th>
                                <th>Xyx</th>
                                <th>Volume Of Goods</th>
                                <th>Gross Weight</th>
                                <th>UOM</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Summary</h4>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Total Mass</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Total Gross Weight</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Total No. Of Packages</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Type Of Packages</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Total No. Of Containers:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Total No. Of Cargos:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
        </div>
    </div>
</section>