﻿<section class="content" ng-controller="VesselProfileCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">boxtitle</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Vessel ID</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">M2707</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Cell Sign No.</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">VRFY2</label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Inward Voyage No.</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">1221</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Outward Voyage No.</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">1222</label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Vessel Name</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">MAERSK WIESBADEV</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Vessel Type</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">27 - Container Conventional</label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Vessel Class</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">FG - Foreign Going</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Year Built</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">2010</label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Nationality Of the Vessel</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">HK - Hong Kong</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Flag Of Ship</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">HK - Hong Kong</label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Gross Registered Tonnage</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">18123 TNE</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Dead Weight</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">22314 TNE</label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Net Registered Tonnage</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">7996  TNE</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Standard Draft</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">9.5 MTR</label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Vessel Overall Length</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">171.5 MTR</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Vessel Capacity</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">1500 TEU</label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Beam</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">27.9 MTR</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Displacement Weight</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">22314 TNE</label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Mode Of Transport</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">1 - By Sea</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Place Of Registration</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">HKHKG - Hong Kong</label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Indicator for Conference or Consortium</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">None</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Type Of Conference</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left"></label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Customs Station Code</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">B10 - WISMA KASTAM, PELABUHAN KLANG, SELANGOR</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">The Entry Point</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">Pintu Gedung</label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Place Of Arrival</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">MYPKG - PORT KLANG</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Ship Call No.</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">YUGT</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>PORTS</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>No. Port Operator Code</th>
                                <th>Port Name</th>
                                <th>ETA Date</th>
                                <th>ETA Time</th>
                                <th>ETD Time</th>
                                <th>Last Port</th>
                                <th>Next Port</th>
                                <th>Final Port</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>REMARKS</h4>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Change Remarks/Info</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left"></label>
                </div>                
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Loading Remarks</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left"></label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Discharge Remarks</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>PARTNER INFORMATION</h4>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Principal SA CODE</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">BS0027</label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Principal SA Name</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">Maersk Malaysia SDN BHD</label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Principal SA Address</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label pull-left">Bangunan Plam Grove II, 2nd floor, no 12</label>
                </div>
            </div>
        </div>        
    </div>
</section>