﻿<section class="content" ng-controller="VesselProfileCntrl as Cntrl">
    <style type="text/css">
        .Activitycontainer {
            width: 1200px;
            margin: 10px;
        }
    </style>

    <script type="text/ng-template" id="vessel-schedule.html">
        <div class="Activitycontainer">
            <div class="row" style="height:300px;overflow-y:scroll">
                <div class="col-md-12" style="border-bottom:1px solid rgb(224,224,224);">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>VoyageNo Inward</td>
                                <td>VoyageNo Outward</td>
                                <td>Loading Port</td>
                                <td>Discharge Port</td>
                                <td>Destination Port</td>
                                <td>Terminal Port</td>
                                <td>ETA</td>
                                <td>ETD</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Cntrl.vs">
                                <td>{{ item.VoyageNoInWard }}</td>
                                <td>{{ item.VoyageNoOutWard }}</td>
                                <td>{{ item.LoadingPortName }}</td>
                                <td>{{item.DischargePortName}}</td>
                                <td>{{item.DestinationPortName}}</td>
                                <td>{{item.TerminalName}}</td>
                                <td>{{item.ETA | date:'yyyy-mm-dd HH:mm'}}</td>
                                <td>{{item.ETD | date:'yyyy-mm-dd HH:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </script>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Vessel Profile</h3>
            <div class="box-tools">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple"
                        type="button"
                        aria-label="button"
                        popover-placement="bottom-right"
                        uib-popover-template="'vessel-schedule.html'">
                    <i class="fa fa-bell fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </button>
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple"
                        type="button"
                        ng-click="addSchedule(-1);">
                    <i class="fa fa-plus"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <form id="frmVesselProfile" name="frmVesselProfile" ng-class="{'submitted': submitted}" ng-submit="SaveVesselProfile(vp)" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Vessel Information</h3>

                            </div>
                            <div class="box-body">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Vessel ID</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-required="true"
                                               ng-disabled="!IsNew"
                                               ng-model="vp.VesselID"
                                               placeholder="(mandatory)"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Vessel Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-required="true"
                                               ng-model="vp.VesselName"
                                               placeholder="(mandatory)"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Vessel Type</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control input-sm"
                                                ng-required="true"
                                                ng-options="s.Value as s.Text for s in lookUpData.vesselTypeList"
                                                ng-model="vp.VesselType"></select>

                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Place Of Registration</label>
                                    </div>
                                    <div class="col-md-6">
                                        <!--<input type="text"
                                               ng-required="true"
                                               ng-model="vp.PlaceOfRegistration"
                                               placeholder="(mandatory)"
                                               class="form-control input-sm" />-->
                                        <select class="form-control input-sm"
                                                ng-required="true"
                                                ng-options="s.Value as s.Text for s in lookUpData.countryList"
                                                ng-model="vp.PlaceOfRegistration"></select>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Nationality Of the Vessel</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control input-sm"
                                                ng-required="true"
                                                ng-options="s.Value as s.Text for s in lookUpData.countryList"
                                                ng-model="vp.CountryCode"></select>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Flag Of Ship</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control input-sm"
                                                ng-required="true"
                                                ng-options="s.Value as s.Text for s in lookUpData.countryList"
                                                ng-model="vp.FlagShip"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Owner Details</h3>
                            </div>
                            <div class="box-body">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Owner Code</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-model="vp.OwnerCode"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Owner Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-model="vp.OwnerName"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Owner Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-model="vp.OwnerAddress1"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-model="vp.OwnerAddress2"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-model="vp.OwnerAddress3"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Principal SA Code</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-required="true"
                                               ng-model="vp.PSACode"
                                               placeholder="(mandatory)"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Vessel Properties</h3>
                            </div>
                            <div class="box-body">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Gross Registered Tonnage</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-required="true"
                                               ng-model="vp.GrossRegisteredTonnage"
                                               logicon-decimal
                                               placeholder="(mandatory)"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Net Registered Tonnage</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-required="true"
                                               ng-model="vp.NetRegisteredTonnage"
                                               logicon-decimal
                                               placeholder="(mandatory)"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Vessel Overall Length</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-required="true"
                                               ng-model="vp.OverallLength"
                                               logicon-decimal
                                               placeholder="(mandatory)"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Dead Tonnage</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-required="true"
                                               ng-model="vp.DeadWeight"
                                               logicon-decimal
                                               placeholder="(mandatory)"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Standard Draft</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-required="true"
                                               ng-model="vp.StandardDraft"
                                               logicon-decimal
                                               placeholder="(mandatory)"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Vessel Tonnage</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-required="true"
                                               ng-model="vp.VesselCapacity"
                                               logicon-decimal
                                               placeholder="(mandatory)"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Beam</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-required="true"
                                               ng-model="vp.Beam"
                                               logicon-decimal
                                               placeholder="(mandatory)"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Displacement Tonnage</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-required="true"
                                               ng-model="vp.DisplacementWeight"
                                               logicon-decimal
                                               placeholder="(mandatory)"
                                               class="form-control input-sm" />
                                    </div>
                                </div>


                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Call Sign No.</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-required="true"
                                               ng-model="vp.CallSignNo"
                                               placeholder="(mandatory)"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Vessel Class</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control input-sm"
                                                ng-model="vp.VesselClass"
                                                ng-options="s.Value as s.Text for s in lookUpData.vesselClassList"
                                                ng-required="true"
                                                placeholder="(mandatory)"></select>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Year Build</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               ng-required="true"
                                               ng-model="vp.YearBuilt"
                                               logicon-number
                                               placeholder="(mandatory)"
                                               class="form-control input-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-12">
                        <div class="pull-left"><button class="btn btn-primary" type="submit" ng-click="submitted = true"><i class="fa fa-floppy-o"></i>&nbsp;Save</button></div>
                        <div class="pull-right">
                            <button class="btn btn-primary" type="button" ng-click="back();"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>