﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Equipment Cost Entry</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Truck ID</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Trailer ID</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Charge Code</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>        
        <div class="col-md-6">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Remarks</label>
        </div>        
        <div class="col-md-10">
            <textarea class="form-control input-sm"></textarea>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Billing Unit</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>        
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Quantity</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Amt. With Tax</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Unit Price</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Tax Amt.</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">GST Code</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>        
        <div class="col-md-6">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-8"></div>
        <div class="col-md-4 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>