<section class="content" ng-controller="ZoneMasterCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Product Location</h3>
        </div>
        <div class="box-body">
            <div class="row">
            	<div class="col-md-2">
                    <label class="control-label pull-right">Principal</label>
                </div>
                <div class="col-md-2">
                	<select class="form-control input-sm"></select>
                </div>
                <div class="col-md-4">
                	<input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
            	<div class="col-md-12">
            		<table class="table table-bordered">
            			<thead style="color:#fff;background-color: #97c5ea;">
            				<tr>
            					<th>Product Code</th>
            					<th>Description</th>
            					<th>Category</th>
            					<th>Storage Unit</th>
            				</tr>
            			</thead>
            		</table>
            	</div>
            </div>
            <div class="row" style="margin-top:10px;">
            	<div class="col-md-12">
            		<table class="table table-bordered">
            			<thead style="color:#fff;background-color: #97c5ea;">
            				<tr>
            					<th>Warehouse</th>
            					<th>Zone</th>
            					<th>Description</th>
            					<th>Location Type</th>
            					<th>Description</th>
            					<th>Seq No.</th>
            					<th>From Level</th>
            					<th>To Level</th>
            					<th>From Bay</th>
            					<th>To Bay</th>
            				</tr>
            			</thead>
            		</table>
            	</div>
            </div>
        </div>
    </div>
</section>