﻿<style>
    .custom-popup-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        background-color: #f9f9f9;
    }

        .custom-popup-wrapper > .message {
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
            color: #868686;
        }

        .custom-popup-wrapper > .dropdown-menu {
            position: static;
            float: none;
            display: block;
            min-width: 160px;
            background-color: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;
        }

    tr.dropdown-menu {
        display: block;
    }

    .mytable {
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.5);
        position: absolute;
        width: 550px;
        z-index: 99999;
    }

    .mytable thead tr {
        background-color: #367fa9;
        color: #fff;                        
    }
    .mytable thead tr td {
        background-color: #367fa9;
        color: #fff; 
        font-weight:bold;                       
    }

    .mytable > tbody > tr > td, .mytable > tbody > tr > th, .mytable > tfoot > tr > td, .mytable > tfoot > tr > th, 
    .mytable > thead > tr > td, .mytable > thead > tr > th {
        padding: 3px;
    }
</style>



<section class="content" ng-controller="GateInCntrl">
    <script type="text/ng-template" id="tag-template">
        <div class="tag-template">
            <div class="right-panel">
                <span uib-tooltip="{{data.Value}}">{{$getDisplayText()}}</span>
                <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="autocomplete-template">
        <div class="autocomplete-template">
            <div class="right-panel">
                

                <span ng-bind-html="$highlight($getDisplayText())"></span>
                <!--<span>({{data.Value}})</span>-->
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="customTemplate.html">
        <table ng-show="isOpen() && !moveInProgress"
               aria-hidden="{{!isOpen()}}"
               class="table table-bordered table-hover table-bordered mytable"
               style="top: 28px;left: -300px;">
            <thead>
                <tr>
                    <th>Transaction No.</th>
                    <th>Truck No.</th>                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="match in matches track by $index" ng-click="selectMatch($index)">
                    <td>{{match.model.TransactionNo}}</td>
                    <td>{{match.model.TruckNo}}</td>                    
                </tr>
            </tbody>
        </table>
    </script>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Gate In</h3>
            <div class="box-tools pull-right">                
                <input type="text"
                       style="width:250px;"
                       class="form-control input-sm ac"
                       ng-class="{'loadinggif': searchLoading}"
                       placeholder="Transaction No"
                       ng-model="search"
                       typeahead-min-length="3"
                       uib-typeahead="d for d in GateInTransLoadingResults($viewValue)"
                       typeahead-loading="searchLoading"
                       typeahead-popup-template-url="customTemplate.html"
                       typeahead-wait-ms="100"
                       typeahead-editable="false"
                       typeahead-on-select="GateInTransSelected($item)" />
                        
            </div>
        </div>
        <div class="box-body no-gutter">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <form id="frmGateIn" name="frmGateIn" ng-class="{'submitted': submitted}" ng-submit="SaveGateIn()" novalidate>
                            <div class="col-md-12">
                                <div class="box box-default box-solid">
                                    <div class="box-body no-gutter">
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">Registration No.</label>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" class="form-control input-sm" ng-model="gi.TruckNo" ng-required="true" />
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">Truck Category</label>
                                            </div>
                                            <div class="col-md-2">
                                                <select class="form-control input-sm"
                                                        ng-model="gi.TruckCategory"
                                                        ng-required="true"
                                                        ng-options="s.Value as s.Text for s in lookUpData.truckCategoryList"></select>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="control-label pull-right nowrapCss">GateIn Date</label>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="dropdown">
                                                    <a class="dropdown-toggle" id="TransactionDate" role="button" data-toggle="dropdown">
                                                        <div class="input-group">
                                                            <input type="text"
                                                                   class="form-control input-sm datepicker"
                                                                   ng-model="gi.TransactionDate"
                                                                   ng-required="true"
                                                                   date-time-input="MM/DD/YYYY">
                                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                        </div>
                                                    </a>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                        <datetimepicker ng-model="gi.TransactionDate"
                                                                        data-datetimepicker-config="{
                                                                        dropdownSelector: '#TransactionDate',
                                                                        startView: 'day',
                                                                        minView: 'day' }" />
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">Haulier Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text"
                                                       class="form-control input-sm ac"
                                                       ng-class="{'loadinggif': gi.HaulierCodeNameLoading}"
                                                       placeholder="Search Haulier"
                                                       ng-model="gi.HaulierName"
                                                       typeahead-min-length="3"
                                                       uib-typeahead="d.Text as d.Text for d in HaulierResults($viewValue)"
                                                       typeahead-loading="gi.HaulierCodeNameLoading"
                                                       typeahead-wait-ms="1000"
                                                       typeahead-editable="false"
                                                       ng-required="true"
                                                       typeahead-on-select="CustomerSelected($item, 'HaulierCode')" />
                                            </div>
                                            <div class="col-md-2">
                                                <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Update haulier</md-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row"><!--style="pointer-events: none;"--> 
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Detail</h3>
                                    <div class="box-tools pull-right">
                                        <md-button class="md-fab md-mini-1 md-primary btn-box-tool" aria-label="button" ng-click="submittedDetail = true;AddGateInDetail();">
                                            <i class="fa fa-plus fa-1x"></i>
                                        </md-button> 
                                        <md-button class="md-fab md-mini-1 md-primary btn-box-tool" aria-label="button" ng-click="RemoveGateInDetail()">
                                            <i class="fa fa-minus-circle fa-1x"></i>
                                        </md-button>
                                        <md-button class="md-fab md-mini-1 md-primary btn-box-tool" aria-label="button" ng-click="ClearGateInDetail();">
                                            <i class="fa fa-trash-o fa-1x" aria-hidden="true"></i>
                                        </md-button>                                        
                                    </div>
                                </div>
                                <div class="box-body no-gutter">
                                    <form id="frmGateInDetail" name="frmGateInDetail" ng-class="{'submitted': submittedDetail}" ng-submit="AddGateInDetail()" novalidate>
                                        <div class="col-md-12">
                                            <div class="">
                                                <input type="hidden" ng-model="tmdl.DocumentNo" ng-init="tmdl.DocumentNo = ''" />
                                                <input type="hidden" ng-model="tmdl.OrderNo" />
                                                <input type="hidden" ng-model="tmdl.ContainerKey" />
                                                <input type="hidden" ng-model="tmdl.MovementCode" />
                                                <input type="hidden" ng-model="tmdl.DateIn" ng-init="tmdl.DateIn = gi.TransactionDate" />
                                                <input type="hidden" ng-model="tmdl.DateOut" />
                                                <input type="hidden" ng-model="tmdl.TotalMinutes" ng-init="tmdl.TotalMinutes = 0" />
                                                <input type="hidden" ng-model="tmdl.Status" ng-init="tmdl.Status = true" />
                                                <input type="hidden" ng-model="tmdl.containermovementItem.MovementIndicator" ng-init="tmdl.containermovementItem.MovementIndicator = 1501" />
                                                
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <label class="control-label pull-right">Trip</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <select class="form-control input-sm"
                                                                ng-model="tmdl.TripType"
                                                                ng-required="true"
                                                                ng-change="TripChanged()"
                                                                ng-options="s.Value as s.Text for s in lookUpData.tripList"></select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Empty/Loaded</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select class="form-control input-sm"
                                                                ng-model="tmdl.containermovementItem.EFIndicator"
                                                                ng-required="true"
                                                                ng-options="s.Value as s.Text for s in lookUpData.emptyLoadedList"></select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Booking Type</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select class="form-control input-sm"
                                                                ng-model="tmdl.BookingType"
                                                                ng-required="true"
                                                                ng-options="s.Value as s.Text for s in lookUpData.bookingTypeList"></select>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-1 nowrapCss">
                                                        <label class="control-label pull-right">BK-B/L No.</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="text" ng-model="tmdl.containermovementItem.bookingBLNo" ng-model-options="{updateOn: 'blur'}" class="form-control input-sm" />
                                                    </div>
                                                    
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Order Type</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select class="form-control input-sm"
                                                                ng-model="tmdl.OrderType"
                                                                ng-required="true"
                                                                ng-options="s.Value as s.Text for s in lookUpData.orderTypeList"></select>
                                                    </div>


                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Vessel ID</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input type="text" ng-model="tmdl.containermovementItem.NextLocation" ng-required="checkValidation()" class="form-control input-sm" />
                                                    </div>


                                                    
                                                </div>


                                                    
                                                   

                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-md-1">
                                                            <label class="control-label pull-right">Agent</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input type="text"
                                                                   class="form-control input-sm ac"
                                                                   ng-class="{'loadinggif': tmdl.containermovementItem.AgentNameLoading}"
                                                                   placeholder="Search Agent"
                                                                   ng-model="tmdl.containermovementItem.AgentName"
                                                                   typeahead-min-length="3"
                                                                   uib-typeahead="d.Text as d.Text for d in AgentResults($viewValue)"
                                                                   typeahead-loading="tmdl.containermovementItem.AgentNameLoading"
                                                                   typeahead-wait-ms="100"
                                                                   typeahead-editable="false"
                                                                   ng-required="checkValidation()"
                                                                   typeahead-on-select="CustomerSelected2($item, 'AgentCode')" />
                                                        </div>


                                                       <div class="col-md-2">
                                                            <label class="control-label pull-right">Vessel Name</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" ng-model="tmdl.containermovementItem.VesselName" ng-required="checkValidation()" class="form-control input-sm" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-md-1">
                                                            <label class="control-label pull-right">Customer</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input type="text"
                                                                   class="form-control input-sm ac"
                                                                   ng-class="{'loadinggif': tmdl.containermovementItem.CustomerNameLoading}"
                                                                   placeholder="Search Customer"
                                                                   ng-model="tmdl.containermovementItem.CustomerName"
                                                                   typeahead-min-length="3"
                                                                   uib-typeahead="d.Text as d.Text for d in MerchantResults($viewValue)"
                                                                   typeahead-loading="tmdl.containermovementItem.CustomerNameLoading"
                                                                   typeahead-wait-ms="100"
                                                                   typeahead-editable="false"
                                                                   ng-required="checkValidation()"
                                                                   typeahead-on-select="CustomerSelected2($item, 'CustomerCode')" />
                                                        </div>

                                                       
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Ship Call  No.</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" ng-model="tmdl.containermovementItem.NextLocation" ng-required="checkValidation()" class="form-control input-sm" />
                                                        </div>






                                                    </div>
                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-md-1">
                                                            <label class="control-label pull-right">Cont. No.</label><!--Container No-->
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" placeholder="Container No" ng-model="tmdl.containermovementItem.ContainerNo" ng-required="checkValidation()" class="form-control input-sm" />
                                                        </div>
                                                        <div class="col-md-1 nowrapCss">
                                                            <label class="control-label pull-right">Size-Type</label>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <select class="form-control input-sm"
                                                                    ng-model="tmdl.containermovementItem.Size"
                                                                    ng-required="true"
                                                                    ng-options="s.Value as s.Text for s in lookUpData.sizeList"
                                                                    ng-change="sizeChanged()"></select>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <select class="form-control input-sm"
                                                                    ng-model="tmdl.containermovementItem.Type"
                                                                    ng-required="true"
                                                                    ng-disabled="tmdl.containermovementItem.Size == null"
                                                                    ng-options="s.Value as s.Text for s in lookUpData.TypeList"></select>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Vessel Call Sign </label><!--Container No-->
                                                        </div>

                                                        <div class="col-md-2">
                                                            <input type="text"  ng-model="tmdl.containermovementItem.ContainerNo" ng-required="checkValidation()" class="form-control input-sm" />
                                                        </div>


                                                    </div>
                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-md-1">
                                                            <label class="control-label pull-right">Class</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control input-sm"
                                                                    ng-model="tmdl.containermovementItem.ContainerGrade"
                                                                    ng-required="checkValidation()"
                                                                    ng-options="s.Value as s.Text for s in lookUpData.containerGradeList"></select>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <label class="control-label pull-right">Status#1</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <select class="form-control input-sm"
                                                                    ng-model="tmdl.containermovementItem.ContainerStatus1"
                                                                    ng-required="checkValidation()"
                                                                    ng-options="s.Value as s.Text for s in lookUpData.containerStatusList"
                                                                    ng-change="Status1OnChange()"></select>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Voyage No.</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" ng-model="tmdl.containermovementItem.VoyageNo" ng-required="checkValidation()" class="form-control input-sm" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-md-1">
                                                            <label class="control-label pull-right">Temp.</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" ng-model="tmdl.containermovementItem.Temperature" ng-required="checkValidation()" logicon-decimal class="form-control input-sm" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <select class="form-control input-sm"
                                                                    ng-model="tmdl.containermovementItem.TemperatureMode"
                                                                    ng-required="checkValidation()"
                                                                    ng-options="s.Value as s.Text for s in lookUpData.tempTypeList"></select>
                                                        </div>
                                                     
                                                        <div class="col-md-1">
                                                            <label class="control-label pull-right">Tare Weight</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" ng-model="tmdl.containermovementItem.TareWeight" ng-required="checkValidation()" logicon-decimal class="form-control input-sm" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-md-1">
                                                            <label class="control-label pull-right">Vent</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" ng-model="tmdl.containermovementItem.Vent" ng-required="checkValidation()" logicon-decimal class="form-control input-sm" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <select class="form-control input-sm"
                                                                    ng-model="tmdl.containermovementItem.VentMode"
                                                                    ng-required="checkValidation()"
                                                                    ng-options="s.Value as s.Text for s in lookUpData.ventTypeList"></select>
                                                        </div>
                                                        
                                                        <div class="col-md-1">
                                                            <label class="control-label pull-right">MGW</label><!--MaxGrossWeight-->
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" ng-model="tmdl.containermovementItem.MaxGrossWeight" ng-required="checkValidation()" logicon-decimal class="form-control input-sm" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-md-1">
                                                            <label class="control-label pull-right">Mat./Ht.</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <select class="form-control input-sm"
                                                                    ng-model="tmdl.containermovementItem.Material"
                                                                    ng-required="checkValidation()"
                                                                    ng-options="s.Value as s.Text for s in lookUpData.containerMaterialList"></select>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <select class="form-control input-sm"
                                                                    ng-model="tmdl.containermovementItem.ContainerHeight"
                                                                    ng-required="checkValidation()"
                                                                    ng-options="s.Value as s.Text for s in lookUpData.containerHeightList"></select>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <label class="control-label pull-right nowrapCss">Agent Seal</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" ng-model="tmdl.containermovementItem.Seal1" ng-required="checkValidation()" class="form-control input-sm" />
                                                        </div>

                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Year Built</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" ng-model="tmdl.containermovementItem.YearBuilt" ng-required="checkValidation()" class="form-control input-sm" />
                                                        </div>

                                                    </div>
                                                    <div class="row" style="margin-top: 10px;">

                                                        <!--<div class="col-md-1">
                <label class="control-label pull-right">Surveyor</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="tmdl.containermovementItem.Surveyor" ng-required="checkValidation()" class="form-control input-sm" />
            </div>-->
                                                        <div class="col-md-1">
                                                            <label class="control-label pull-right">Seal#2</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="text" ng-model="tmdl.containermovementItem.Seal2" ng-required="checkValidation()" class="form-control input-sm" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Next Loc.</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" ng-model="tmdl.containermovementItem.NextLocation" ng-required="checkValidation()" class="form-control input-sm" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-md-1">
                                                            <label class="control-label pull-right">Remarks</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <textarea ng-model="tmdl.containermovementItem.Remarks" class="form-control input-sm"> </textarea>
                                                        </div>
                                                        <!--<div class="col-md-2">
                <label class="control-label pull-right">Pre Clear</label>
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="tmdl.containermovementItem.PreClear" ng-required="checkValidation()" class="form-control input-sm" />
            </div>-->
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Genset No.</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <select class="form-control input-sm" ng-model="tmdl.containermovementItem.IsGenset" ng-required="checkValidation()">
                                                                <option></option>
                                                                <option value="true">Yes</option>
                                                                <option value="false">No</option>
                                                            </select>
                                                        </div>
                                                    </div>






                                                    <div class="row" style="margin-top: 10px;">
                                                        <div class="col-md-2">

                                                        </div>
                                                        <div class="col-md-2">

                                                        </div>
                                                        <div class="col-md-2">

                                                        </div>
                                                        <div class="col-md-2">

                                                        </div>
                                                        <!--<div class="col-md-2">
                <label class="control-label pull-right">PaperLess Code</label>
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="tmdl.containermovementItem.PaperlessCode" ng-required="checkValidation()" class="form-control input-sm" />
            </div>-->
                                                    </div>
                                                </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                    </div>
                                </div>
                            </div>
                        </div>                           
                         
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row" style="margin-left:10px;margin-right:10px;">                        
                        <div class="col-md-1"></div>
                        <div class="col-md-2" ng-repeat="obj in imagesList">
                            <div ng-click="GetTruckMovementDetail($index)" ng-bind-html="obj.image"></div>
                        </div>                        
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead style="color: #fff; background-color: steelblue;">
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Code</th>
                                                        <th>Description</th>
                                                        <th>Payment</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row" ng-show="gi.Status1 == 'DMG'">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label pull-left">Damage Indicator</label><br />
                                            <tags-input ng-model="tResults"
                                                        display-property="Text"
                                                        placeholder="Damage Indicator"
                                                        replace-spaces-with-dashes="false"
                                                        add-from-autocomplete-only="true"
                                                        template="tag-template">
                                                <auto-complete source="DamageResults($query)"
                                                               min-length="3"
                                                               max-results-to-show="10"
                                                               template="autocomplete-template"></auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Receipt No.</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Amount</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">VAT</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Total Amount</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Net Amount</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-md-1">
                <button class="btn btn-primary" type="button" ng-click="submitted = true;SaveGateIn();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            </div>
            <!--<div class="col-md-1">
                <md-button class="md-raised md-clear"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Print</md-button>
            </div>
            <div class="col-md-1">
                <md-button class="md-raised md-clear"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Clear</md-button>
            </div>
            <div class="col-md-1">
                <md-button class="md-raised md-clear"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Delete</md-button>
            </div>
            <div class="col-md-1">
                <md-button class="md-raised md-clear"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Close</md-button>
            </div>
            <div class="col-md-3">
                <md-checkbox class="md-primary" aria-label="Telex Release">Split Coupon Invoice</md-checkbox>
            </div>-->
        </div>
    </div>
</section>


