﻿<section class="content" ng-controller="UserProfileController">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">User Profile</h3>
        </div>
        <div class="box-body">            
            <div class="row" style="margin-top: 10px;">
                <form id="frmUserProfile" name="frmUserProfile" ng-class="{'submitted': submitted}" ng-submit="SaveUser(user)" novalidate>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Full Name</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" ng-model="user.UserName" ng-required="true" class="form-control input-sm" />
                            </div>
                            <div class="col-md-2" style="text-align:right;">
                                
                                <label class="control-label tool ">
                                    User ID &nbsp;
                                 
                                    <span uib-tooltip="Please enter your email id" tooltip-is-open="tooltipIsOpen" tooltip-placement="top"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                                    
</label>
                            </div>
                            <div class="col-md-4">
                                <input type="email" ng-model="user.EmailID" ng-blur="checkUser()" ng-required="true" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">IC No.</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm" ng-model="user.ICNo" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">User Password</label>
                            </div>
                            <div class="col-md-3">
                                <input type="password" ng-model="user.Password" ng-required="true" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Email</label>
                            </div>
                            <div class="col-md-4">
                                <input type="email" class="form-control input-sm" ng-disabled="true" ng-model="user.EmailID" ng-required="true" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Mobile No.</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" ng-model="user.ContactNo" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Designation</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control input-sm"
                                        ng-model="user.UserDesignation"
                                        ng-required="true"
                                        ng-options="s.Value as s.Text for s in lookUpData.userDesignationTypeList"></select>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">User Type</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control input-sm"
                                        ng-model="user.UserGroup"
                                        ng-required="true"
                                        ng-options="s.Value as s.Text for s in lookUpData.userGroupTypeList"></select>
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-4">
                                <md-switch ng-model="user.IsActive" class="md-primary" aria-label="Active">Active</md-switch>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Branch</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control input-sm"
                                        ng-model="user.BranchID"
                                        ng-required="true"
                                        ng-options="s.Value as s.Text for s in lookUpData.branchList"></select>
                            </div>                            
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <button class="btn btn-primary" type="submit" ng-click="submitted = true;">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save                              
                                </button>
                                <button ng-click="back()" class="btn btn-default" type="button"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-12">
                    <uib-tabset>
                        <uib-tab heading="Master Data"> 
                            <div class="row" style="margin-top:10px;" ng-repeat="item in securableItems | orderBy: 'LinkID' | filter:{ LinkGroupDescription: 'MasterData' }">
                                <div class="col-md-12" style="margin-left:10px;">
                                    <md-checkbox ng-model="item.IsChecked" aria-label="{{ item.LinkID }} {{ item.SecurableItemDescription }}">
                                        <span style="font-weight:600">{{ item.LinkID }} {{ item.SecurableItemDescription }}</span>
                                    </md-checkbox>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Operations">
                            <div class="row" style="margin-top:10px;" ng-repeat="item in securableItems | orderBy: 'LinkID' | filter:{ LinkGroupDescription: 'Operations' }">
                                <div class="col-md-12" style="margin-left:10px;">
                                    <md-checkbox ng-model="item.IsChecked" aria-label="{{ item.LinkID }} {{ item.SecurableItemDescription }}">
                                        <span style="font-weight:600">{{ item.LinkID }} {{ item.SecurableItemDescription }}</span>
                                    </md-checkbox>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Billing">
                            <div class="row" style="margin-top:10px;" ng-repeat="item in securableItems | orderBy: 'LinkID' | filter:{ LinkGroupDescription: 'Billing' }">
                                <div class="col-md-12" style="margin-left:10px;">
                                    <md-checkbox ng-model="item.IsChecked" aria-label="{{ item.LinkID }} {{ item.SecurableItemDescription }}">
                                        <span style="font-weight:600">{{ item.LinkID }} {{ item.SecurableItemDescription }}</span>
                                    </md-checkbox>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Inquiry">
                            <div class="row" style="margin-top:10px;" ng-repeat="item in securableItems | orderBy: 'LinkID' | filter:{ LinkGroupDescription: 'Inquiry' }">
                                <div class="col-md-12" style="margin-left:10px;">
                                    <md-checkbox ng-model="item.IsChecked" aria-label="{{ item.LinkID }} {{ item.SecurableItemDescription }}">
                                        <span style="font-weight:600">{{ item.LinkID }} {{ item.SecurableItemDescription }}</span>
                                    </md-checkbox>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Adminstration">
                            <div class="row" style="margin-top:10px;" ng-repeat="item in securableItems | orderBy: 'LinkID' | filter:{ LinkGroupDescription: 'Administration' }">
                                <div class="col-md-12" style="margin-left:10px;">
                                    <md-checkbox ng-model="item.IsChecked" aria-label="{{ item.LinkID }} {{ item.SecurableItemDescription }}">
                                        <span style="font-weight:600">{{ item.LinkID }} {{ item.SecurableItemDescription }}</span>
                                    </md-checkbox>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>   
            <div class="row" style="margin-top:10px;padding-left:30px;">
                <div class="col-md-12">
                    <button class="btn btn-primary" ng-disabled="user.EmailID == null" ng-click="SaveRights()">Save Rights</button>
                </div>
            </div>     
        </div>       
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div> 
    </div>
</section>