﻿<section class="content" ng-controller="UsersListCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Users List</h3>
            <div class="box-tools pull-right">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="userInfo('NEW');" aria-label="button">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Email ID</th>
                                <th>Full Name</th>
                                <th>Designation</th>
                                <th>Type</th>
                                <th>#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in usersList">
                                <td>{{user.EmailID}}</td>
                                <td>{{user.UserName}}</td>
                                <td>{{user.UserDesignationDescription}}</td>
                                <td>{{user.UserGroupDescription}}</td>
                                <td>
                                    <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="userInfo(user.UserID);" aria-label="button">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div> 
    </div>
</section>