<section class="content" ng-controller="ZoneMasterCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Zone Master</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-11"></div>
                <div class="col-md-1">
                    <md-button class="md-raised md-primary" ng-click="AddAreaCode()"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</md-button>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
            	<div class="col-md-6">
            		<div class="row">
            			<div class="col-md-12">
            				<table class="table table-bordered">
            					<thead style="color:#fff;background-color: #97c5ea;">
            						<tr>
            							<th>Zone Code</th>
            							<th>Description</th>
            						</tr>
            					</thead>
            				</table>
            			</div>
            		</div>
            		<div class="row">
            			<div class="col-md-2">
		                    <label class="control-label pull-right">Zone Code</label>
		                </div>
		                <div class="col-md-4">
		                    <input type="text" class="form-control input-sm" />
		                </div>
            		</div>
            		<div class="row" style="margin-top:10px;">
            			<div class="col-md-2">
		                    <label class="control-label pull-right">Description</label>
		                </div>
		                <div class="col-md-10">
		                    <textarea type="text" class="form-control input-sm" /></textarea>		                    
		                </div>
            		</div>
            	</div>
            	<div class="col-md-6">
            		<div class="row">
            			<div class="col-md-12">
            				<table class="table table-bordered">
            					<thead style="color:#fff;background-color: #97c5ea;">
            						<tr>
            							<th>Area Code</th>
            							<th>Description</th>
            						</tr>
            					</thead>
            				</table>
            			</div>
            		</div>
            	</div>
            </div>
            
    	</div>
	</div>
</section>