﻿<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Container Details</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" ng-click="AddContainerDetails(-1);">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <!--<th>Select</th>
                                    <th>#</th>-->
                                    <th>Container No</th>
                                    <th>Container Class</th>
                                    <th>Container key</th>
                                    <!--<th>Size</th>
                                    <th>Type</th>
                                    <th>Grade</th>
                                    <th>P/U Mode</th>
                                    <th>Pickup Date</th>
                                    <th>IMO</th>
                                    <th>UNNo</th>
                                    <th>Cargo Category</th>
                                    <th>Weight</th>
                                    <th>Volume</th>
                                    <th>Seal#1</th>
                                    <th>Seal#2</th>
                                    <th>Vent</th>
                                    <th>Temp</th>-->
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="bc in bookingHeader.BookingContainerList" ng-click="containerDetailRowClick(bc.ContainerKey)">
                                    <td>{{bc.ContainerNo}}</td>
                                    <td>{{bc.ContainerGrade}}</td>
                                    <td>{{bc.ContainerKey}}</td>
                                    <td>
                                        <button class="btn btn-primary" type="button" ng-click="AddContainerDetails($index)">Edit</button>
                                        <input type="hidden" ng-model="bc.index" ng-init="bc.index = $index" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-md-6">
        <div class="box box-default box-solid">            
            <div class="box-body">
                <div class="row" >
                    <div class="col-md-12">
                        <h5 class="box-title">Movements</h5>                       
                        <table class="table table-bordered table-hover">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th>Movement</th>
                                    <th>Transaction No</th>                                    
                                    <th>Mvmt Date</th>
                                    <th>Status</th>
                                    <th>Yard Location</th>
                                    <th>Truck Transaction No</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="mvt in MovementList | orderBy:'Sequence' | filter:{ContainerKey: tblSearch.ContainerKey}">
                                    <td>{{mvt.MovementCode}}</td>
                                    <td></td>                                    
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-md-6">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">VAS Charges</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" ng-click="AddVASCharges();">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th>Charge Code</th>
                                    <th>Payment Term</th>
                                    <th>Payment To</th>                                    
                                    <th>Is AutoLoad</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ChargeVasList | filter:{ContainerKey: tblSearch.ContainerKey}">
                                    <td>{{item.ChargeCode}}</td>
                                    <td>{{item.PaymentTerm}}</td>
                                    <td>{{item.PaymentTo}}</td>
                                    <td>
                                        <md-checkbox class="md-primary" aria-label="isloadatgate" 
                                                     ng-disabled="true" 
                                                     ng-checked="item.IsLoadAtGate"></md-checkbox>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                </div>
            </div>
        </div>
    </div>-->
</div>
