﻿<!DOCTYPE html>
<html ng-app="AppCreateAccount">
<head>
    <title>Create Account</title>
    <link href="Css/bootstrap.min.css" rel="stylesheet" />
    <link href="Css/datetimepicker.css" rel="stylesheet" />
    <!--<link href="Css/bootstrap-theme.min.css" rel="stylesheet" />-->
    <link href="Css/font-awesome-4.6.2/css/font-awesome.min.css" rel="stylesheet" />
    <link href="Css/AdminLTE2.min.css" rel="stylesheet" />
    <link href="Css/_all-skins2.min.css" rel="stylesheet" />
    

    <link href="Css/angular-growl.css" rel="stylesheet" />
    <link href="Css/angular-material.min.css" rel="stylesheet" />
    <link href="Css/ui-grid.css" rel="stylesheet" />
    <!--<link href="Css/angular-ui-tree.css" rel="stylesheet" />-->
    <link href="Css/tree-control.css" rel="stylesheet" />
    <link href="Css/angular-bootstrap-calendar.min.css" rel="stylesheet" />
    <!--<link href="Css/select2.css" rel="stylesheet" />
    <link href="Css/token-input.css" rel="stylesheet" />
    <link href="Css/token-input-facebook.css" rel="stylesheet" />-->
    <link href="Css/ng-tags-input.min.css" rel="stylesheet" />
    <!--<link href="Css/ADM-dateTimePicker.css" rel="stylesheet" />-->
    <link href="Css/angular-moment-picker.css" rel="stylesheet" />
    <link href="Css/morris.css" rel="stylesheet" />
	<style type="text/css">
        .css10{
            margin-top:10px;
        }

        .skin-blue .main-header .navbar {
            background-color: #dd4b39;
        }
    </style>
</head>
<body class="skin-blue layout-top-nav" onload="pageLoad()">
    <div growl limit-messages="3"></div>
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="/default.html" class="navbar-brand"><img src="images/dnex6.png" /></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>                                      
                </div>                
            </nav>
        </header>        
        <div class="content-wrapper" id="contentWrapper">
            <div class="container">
                <section class="content" ng-controller="RegisterCntrl">                    
                    <div class="row">
                        <form id="frmSignUp" name="frmSignUp" ng-class="{'submitted': submitted}" ng-submit="SignUp(reg)" novalidate>
                            <div class="col-md-12">
                                <div class="box box-default box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Login Information</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="row css10">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">Email</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="email" class="form-control input-sm" ng-model="reg.Email" ng-required="true" />
                                            </div>
                                            <div class="col-md-2">
                                                <md-button class="md-raised" ng-click="CheckAvailability()" aria-label="Check Availability">Check Availability</md-button>
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">Password</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="password" class="form-control input-sm" ng-required="true" ng-model="reg.Password" ng-disabled="!isUserExists" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">re-Confirm Password</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="password"
                                                       class="form-control input-sm"
                                                       ng-model="reg.ConfirmPassword"
                                                       ng-disabled="!isUserExists" ng-required="true" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">Full Name</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control input-sm" ng-model="reg.FullName" ng-required="true" ng-disabled="!isUserExists" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">Security Question</label>
                                            </div>
                                            <div class="col-md-5">
                                                <select class="form-control input-sm" ng-model="reg.SecurityQuestion" ng-required="true" ng-disabled="!isUserExists">
                                                    <option value="1">Question 1</option>
                                                    <option value="2">Question 2</option>
                                                    <option value="3">Question 3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">Answer</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control input-sm" ng-model="reg.Answer" ng-required="true" ng-disabled="!isUserExists" />
                                            </div>
                                        </div>
                                        <!--<div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">E-mel <span>(Email)</span></label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-sm" ng-model="reg.Email" ng-disabled="!isUserExists" />
                            </div>
                        </div>-->
                                        <div class="row css10">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">NRIC</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control input-sm" ng-model="reg.NRIC" ng-required="true" ng-disabled="!isUserExists" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-5">
                                                <label class="control-label pull-left">
                                                    Existing CPAM Customer - CPAM Account No. :HOB00001 ROC :96724-V
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-5">
                                                <md-button type="submit" class="md-raised md-primary" ng-click="submitted = true;">Sign Up</md-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>                
            </div>            
        </div> 
    </div>
    <script src="Scripts/moment.js"></script>
    <script src="Scripts/jquery-2.2.4.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/datetimepicker.js"></script>
    <script src="Scripts/dateTimeInput.js"></script>
    <script src="Scripts/ui-bootstrap-tpls-1.3.2.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-growl.js"></script>
    <script src="Scripts/angular-aria.min.js"></script>
    <script src="Scripts/angular-material.min.js"></script>
    <script src="Scripts/ui-grid.js"></script>
    <!--<script src="Scripts/angular-ui-tree.js"></script>-->
    <script src="Scripts/angular-tree-control.js"></script>
    <script src="Scripts/angular-bootstrap-calendar-tpls.min.js"></script>
    <!--
    <script src="Scripts/select2.min.js"></script>
    <script src="Scripts/ui-select2.js"></script>
    <script src="Scripts/jquery.tokeninput.js"></script>-->
    <script src="Scripts/ng-tags-input.min.js"></script>
    <script src="Scripts/angular-sanitize.js"></script>
    <script src="Scripts/ocLazyLoad.min.js"></script>
    <script src="Scripts/raphael-min.js"></script>
    <script src="Scripts/morris.js"></script>
    <script src="Scripts/angular-morris.js"></script>
    <script src="Scripts/angular-moment-picker.js"></script>   
    <script type="text/javascript">
        function pageLoad() {
            var w = window,
            d = document,
            e = d.documentElement,
            g = d.getElementsByTagName('body')[0],
            x = w.innerWidth || e.clientWidth || g.clientWidth,
            y = w.innerHeight || e.clientHeight || g.clientHeight;

            document.getElementById('contentWrapper').style.minHeight = y + 'px';
        }

        var app = angular.module('AppCreateAccount', ['ngAnimate', 'ngRoute', 'ui.bootstrap', 'angular-growl', 'ui.grid',
                         'ngMaterial', 'treeControl', 'mwl.calendar', 'ngTagsInput', 'moment-picker', 'oc.lazyLoad', 'ngSanitize', 'angular.morris', 'ui.bootstrap.datetimepicker', 'ui.dateTimeInput']);

        app.constant('Utility', {
            ServiceUrl: 'http://localhost/LogiCon/api',
            NetTmsUrl: 'http://localhost/NetTms.Api/api',
            CreatedBy: 'DEFAULTUSER',
            ModifiedBy: 'DEFAULTUSER'
        });

        app.controller('RegisterCntrl', ['$scope', 'RegistrationService', 'growl', function ($scope, RegistrationService, growl) {

            $scope.reg = {};
            $scope.isRegistration = true;
            $scope.next = function () {
                $scope.isRegistration = false;
            };

            $scope.CheckAvailability = function () {
                if (!angular.isUndefined($scope.reg.Email)) {
                    RegistrationService.checkisUserExists({ email: $scope.reg.Email }).then(function (d) {
                        if (d.data)
                            growl.warning('Email already exists', {});

                        $scope.isUserExists = !d.data;
                    }, function (err) {

                    });
                } else {
                    growl.error('Please enter emailid', {});
                }
            };

            $scope.isFrmSignUpValid = false;
            $scope.$watch('frmSignUp.$valid', function (isValid) {
                $scope.isFrmSignUpValid = isValid;
            });

            $scope.SignUp = function (reg) {
                if ($scope.isFrmSignUpValid) {
                    RegistrationService.Save(reg).then(function (d) {
                        growl.success('Registered Successfully...!', {});
                    }, function (err) {

                    });
                } else {
                    growl.error('Please fill all mandatory fields', {});
                }
            };
        }]);

        app.service('RegistrationService', ['$http', '$q', 'Utility', function ($http, $q, Utility) {
            this.Save = function (obj) {
                var deferred = $q.defer();
                $http.post(Utility.ServiceUrl + '/root/registration/save', JSON.stringify(obj)).then(function (res) {
                    deferred.resolve(res);
                }, function (err) {
                    deferred.reject(err);
                });
                return deferred.promise;
            };

            this.checkisUserExists = function (obj) {
                var deferred = $q.defer();
                $http.post(Utility.ServiceUrl + '/root/registration/checkemail', JSON.stringify(obj)).then(function (res) {
                    deferred.resolve(res);
                }, function (err) {
                    deferred.reject(err);
                });
                return deferred.promise;
            };
        }]);
    </script>
</body>
</html>
