﻿<!DOCTYPE html>
<html ng-app="Logicon">
<head>

    <title>1Trade.Exchange</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link href="Css/bootstrap.min.css" rel="stylesheet" />
    <link href="Css/datetimepicker.css" rel="stylesheet" />
    <link href="Css/font-awesome-4.6.2/css/font-awesome.min.css" rel="stylesheet" />
    <link href="Css/font-awesome-animation.css" rel="stylesheet" />
    <link href="Css/AdminLTE.min.css" rel="stylesheet" />
    <link href="Css/_all-skins.min.css" rel="stylesheet" />
    <link href="Css/style.css" rel="stylesheet" />
    <link href="Css/angular-growl.css" rel="stylesheet" />
    <link href="Css/angular-material.min.css" rel="stylesheet" />
    <link href="Css/ui-grid.css" rel="stylesheet" />
    <link href="Css/tree-control.css" rel="stylesheet" />
    <link href="Css/angular-bootstrap-calendar.min.css" rel="stylesheet" />
    <link href="Css/ng-tags-input.min.css" rel="stylesheet" />
    <link href="Css/angular-moment-picker.css" rel="stylesheet" />
    <link href="Css/morris.css" rel="stylesheet" />
    <link href="Css/powerbi.css" rel="stylesheet" />

    <style type="text/css">
        .table-bordered thead {
            color: #fff;
            background-color: #3c8dbc !important;
        }

        .md-button.md-fab.md-mini-1 {
            line-height: 33px !important;
        }
    </style>

</head>
<body class="hold-transition skin-blue layout-top-nav" onload="pageLoad()">
    <div growl limit-messages="3"></div>
    <div class="wrapper">
        <header class="main-header" ng-controller="LayoutController">
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a ng-href="{{showLinks ? (companyType == 'OWNER' ? '#/owner' : '#/') : 'default.html'}}" class="navbar-brand">
                            <img src="images/logo.png" style="height:25px;width:75px; margin-top:8px;margin-left:100px;" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <div ng-show="showLinks">
                            <div ng-if="companyType == 'OWNER'">
                                <div ng-include="'Js/Home/Templates/header-owner-links.html?v=' + Version"></div>
                            </div>
                            <div ng-if="companyType == 'OTHER'">
                                <div ng-include="'Js/Home/Templates/header-user-links.html?v=' + Version"></div>
                            </div>
                        </div>
                        <div class="navbar-custom-menu signout-usermenu" ng-if="showLinks">
                            <div ng-include="'Js/Home/Templates/user-profile-menu.html?v=' + Version"></div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content-wrapper mac-style" id="contentWrapper" style="padding-top:40px;">
            <!--slim-scroll data-options="{'keepFocus': true}"-->
            <div class="">
                <div ng-view class="mainview-animation"></div>
            </div>
        </div>
        <footer class="main-footer" ng-controller="footerCntrl">
            <div ng-include="'Js/Default/Templates/index-footer.html?v=' + version"></div>
        </footer>
    </div>

    <script src="Scripts/moment.js"></script>
    <script src="Scripts/jquery-2.2.4.min.js"></script>
    <script src="Scripts/download2.js"></script>
    <script src="Scripts/app.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/datetimepicker.js"></script>
    <script src="Scripts/dateTimeInput.js"></script>
    <script src="Scripts/ui-bootstrap-tpls-1.3.2.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-growl.js"></script>
    <script src="Scripts/angular-aria.min.js"></script>
    <script src="Scripts/angular-material.min.js"></script>
    <script src="Scripts/ui-grid.js"></script>
    <script src="Scripts/angular-tree-control.js"></script>
    <script src="Scripts/angular-bootstrap-calendar-tpls.min.js"></script>
    <script src="Scripts/ng-tags-input.min.js"></script>
    <script src="Scripts/angular-sanitize.js"></script>
    <script src="Scripts/ocLazyLoad.min.js"></script>
    <script src="Scripts/raphael-min.js"></script>
    <script src="Scripts/morris.js"></script>
    <script src="Scripts/angular-morris.js"></script>
    <script src="Scripts/angular-moment-picker.js"></script>
    <script src="Scripts/powerbi.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>

    <script type="text/javascript">
        var version;
        function WriteScripts() {
            var d = new Date();
            version = $.now();

            document.write('<script src=\"Scripts/app.js?v=' + version + '\"><\/script>');
            document.write('<script src=\"Scripts/app.connection.js?v=' + version + '\"><\/script>');
            document.write('<script src=\"Scripts/app.routes.js?v=' + version + '\"><\/script>');
            document.write('<script src=\"Js/Shared/Layout/Controllers/LayoutController.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/admin/CompanyProfile/Controller/CompanyProfileController.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Tms/Controllers/OrderType.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Tms/Controllers/Lookup.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Tms/Controllers/VesselSchedule.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Tms/Controllers/GateOut.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Tms/Controllers/ContainerMaster.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Billing/Controllers/CostSheet.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Billing/Controllers/UnBilledOrders.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Billing/Controllers/CustomerInvoice.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Billing/Controllers/CustomerCashBill.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Billing/Controllers/CustomerCreditNote.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Billing/Controllers/CNSubmission.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Billing/Controllers/WHCustomerInvoice.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Billing/Controllers/VendorInvoice.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Billing/Controllers/VendorReverseBilling.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Billing/Controllers/VendorCreditNote.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Billing/Controllers/PaymentRequest.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Billing/Controllers/AdvanceEntry.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Billing/Controllers/AdvanceSettlement.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Billing/Controllers/BillCostApproval.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Freight/Controllers/HouseAirWaybill.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Freight/Controllers/ContainerRequest.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Freight/Controllers/ContainerMonitor.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Freight/Controllers/BillOfLad.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Freight/Controllers/ShippingInstruction.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Freight/Controllers/ShipperInvoice.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Freight/Controllers/Documentation.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Freight/Controllers/TransportMonitor.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Freight/Controllers/TransportRequest.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Transport/Controllers/LoadPlanning.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Transport/Controllers/EquipmentPlanning.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Transport/Controllers/DriverPaymentVendor.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Transport/Controllers/DriverPaymentBreakdown.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Transport/Controllers/EquipmentCostEntry.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Transport/Controllers/FuelUsage.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Transport/Controllers/VarianceAckMonitor.js?v=' + version + '\"><\/script>');
            //document.write('<script src=\"Js/Transport/Controllers/DriverRateTbl.js?v=' + version + '\"><\/script>');


        }

        WriteScripts();
    </script>
    <script type="text/javascript">
        angular === jQuery;
        function pageLoad() {
            var w = window,
            d = document,
            e = d.documentElement,
            g = d.getElementsByTagName('body')[0],
            x = w.innerWidth || e.clientWidth || g.clientWidth,
            y = w.innerHeight || e.clientHeight || g.clientHeight;

            document.getElementById('contentWrapper').style.minHeight = y + 'px';
        }
        angular.element(document).ready(function () {

            /* JS Utility Functions */
            angular.element(document).on('keypress', '.numOnlyCss', function (evt) {
                var text = $('#txtChequeNo').val();
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (text.length >= 10) {
                    if (charCode == 8 || charCode == 9)
                        return true;
                    return false;
                }

                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            });

            angular.element(document).on('keypress', '.datepicker', function (evt) {
                return false;
            });

            angular.element(document).on('keypress', '.alphaNumCss', function (evt) {
                evt = (evt) ? evt : window.event;
                var charCode = parseInt((evt.which) ? evt.which : evt.keyCode);
                if ((charCode >= 48 && charCode <= 57) || (charCode >= 65 && charCode <= 90) || (charCode >= 97 && charCode <= 122))
                    return true;
                else
                    return false;
            });

            angular.element(document).on('keypress', '.decimalCss', function (evt) {

                var charCode = (evt.which) ? evt.which : event.keyCode;
                if (charCode != 46 && charCode > 31
                  && (charCode < 48 || charCode > 57))
                    return false;

                return true;
            });

            angular.element(document).on('keypress', '.numCss', function (evt) {
                var charCode = (evt.which) ? evt.which : event.keyCode;
                if (charCode >= 48 && charCode <= 57)
                    return true;
                else
                    return false;
            });
            /* JS Utility Functions */
        });

        var names = ['Homer', 'Marge', 'Bart', 'Lisa', 'Mo'];
        function createSubTree(level, width, prefix) {
            if (level > 0) {
                var res = [];
                for (var i = 1; i <= width; i++)
                    res.push({ "label": "Node " + prefix + i, "id": "id" + prefix + i, "i": i, "children": createSubTree(level - 1, width, prefix + i + "."), "name": names[i % names.length] });
                return res;
            }
            else
                return [];
        }

        function Light($scope) {

        }


        /*
        angular.element(document).ready(function () {
            var $injector = angular.bootstrap(document, ['myApp']);
            var $controller = $injector.get('$controller');
            var AngularCtrl = $controller('AngularCtrl');
            AngularCtrl.setUserName();
        });

        https://angular-material-calendar.bradb.net/#
        */
    </script>
</body>
</html>
