﻿<form id="frmCustomerInvoice" name="frmCustomerInvoice" ng-class="{'submitted':submitted}" ng-submit="SaveCustomerInvoice(ci)" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Customer Invoice</h4>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Order No.</label>
            </div>
            <div class="col-md-2">
                 <input type="text"
                    class="form-control input-sm"
                    placeholder="Search Order No"
                    ng-model="ci.OrderNo"
                    typeahead-min-length="3"
                    uib-typeahead="d.Text as d.Text for d in OrderNoResults($viewValue)"
                    typeahead-loading="loading"
                    typeahead-wait-ms="1000"
                    typeahead-on-select="OrderNoSelected($item, 'OrderNo')" />               
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Job No.</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm" ng-model="ci.JobNo"></select>
            </div>
            <!--<div class="col-md-4">
            <label class="control-label pull-left">Remarks</label>
            <textarea class="form-control input-sm"></textarea>
        </div>-->
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Container No.</label>
            </div>
            <div class="col-md-2">
                 <input type="text"
                    class="form-control input-sm"
                    placeholder="Search Container No"
                    ng-model="ci.ContainerNo"
                    typeahead-min-length="3"
                    uib-typeahead="d.Text as d.Text for d in ContainerNoResults($viewValue)"
                    typeahead-loading="loading"
                    typeahead-wait-ms="1000"
                   typeahead-on-select="ContainerNoSelected($item, 'ContainerNo')" />
            
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Prd Category</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm" ng-model="ci.ProductCategory" ng-options="s.Value as s.Text for s in lookupData.productCategoryList" ng-required="required"></select>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Charge Code</label>
            </div>
            <div class="col-md-6">              
                <input type="text"
                    class="form-control input-sm"
                    placeholder="Search Charge Code"
                    ng-model="ci.ChargeCode"
                    typeahead-min-length="3"
                    uib-typeahead="d.Text as d.Text for d in ChargeCodeResults($viewValue)"
                    typeahead-loading="loading"
                    typeahead-wait-ms="1000"
                    ng-required="required"
                    typeahead-on-select="ChargeCodeSelected($item, 'ChargeCode')" />
            </div>            
        </div>
         <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="label-control pull-right">Output GST Code</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" ng-model="ci.OutPutGSTDescription" ng-required="required"/>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="label-control pull-right">Input GST Code</label>
                    </div>
                    <div class="col-md-6">
                       <input type="text" class="form-control input-sm" ng-model="ci.InPutGSTDescription" ng-required="required"/>
                    </div>
                </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Billing Unit</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"
                    ng-model="ci.BillingUnit"
                    ng-required="required"
                    ng-options="s.Value as s.Text for s in lookupData.billingUnitList"
                    ng-change="ci.BillingUnitDescription=(lookupData.billingUnitList | filter : {Value:cs.BillingUnit})[0].Text">
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Currency</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"
                    ng-model="ci.CurrencyCode"
                    ng-required="required"
                    ng-options="s.Value as s.Text for s in lookupData.currencyList"
                    ng-change="SelectCurrencyCode(ci.CurrencyCode)"
                    <!--ng-change="ci.CurrencyCodeDescription=(lookupData.currencyList | filter : {Value:cs.CurrencyCode})[0].Text">-->
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Amount With Tax</label>
            </div>
            <div class="col-md-2">                
                 <label class="control-label" ng-model="ci.TotalAmount">{{ci.TotalAmount}} </label>    
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Quantity</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm logiconNumber" ng-model="ci.Qty" ng-change="CaliculateAmounts()" ng-required="required"/>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Exchange Amount</label>
            </div>
            <div class="col-md-2">
                
                 <label class="control-label logiconDecimal" ng-model="ci.ExRate">{{ci.ExRate}} </label>    
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Local Amount</label>
            </div>
            <div class="col-md-2">
                <label class="control-label" ng-model="ci.LocalAmount">{{ci.LocalAmount}} </label>                
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Unit Price</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm logiconDecimal" ng-model="ci.Price" ng-change="CaliculateAmounts()" ng-required="required"/>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Tax Amount</label>
            </div>
            <div class="col-md-2">
                <label class="control-label" ng-model="ci.TaxAmount">{{ci.TaxAmount}} </label>  
            </div>
        </div>
       <!-- <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">GST Code</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-model="ci.OutPutGSTDescription"/>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="ci.InPutGSTDescription"/>
            </div>
        </div>-->
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Remarks</label>
            </div>
            <div class="col-md-9">
                <textarea class="form-control input-sm" ></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>
