﻿<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="pull-right"><button type="button" class="btn btn-primary" ng-click="AddCQDetails(-1);"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button></div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead style="color: #fff; background-color: steelblue;">
                <tr>
                    <th>Job</th>
                    <th>Shipment Type</th>
                    <th>Job Category</th>                    
                    <th>Description</th>
                    <th>Type Size </th>
                    <th>Curr</th>
                    <th>Sell Rate</th>
                    <th>Est Cost</th>
                    <th>Min. Amt.</th>
                    <th>Max. Amt.</th>
                    <th>Slab</th>
                    <th>#Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cq.QuotationItems">
                    <td>{{item.JobTypeDescription}}</td>
                    <td>{{item.ShipmentTypeDescription}}</td>
                    <td>{{item.JobCategory}}</td>                    
                    <td>{{item.Remarks}}</td>
                    <td>{{item.Size}} - {{item.Type}}</td>                    
                    <td>{{item.CurrencyCode}}</td>
                    <td>{{item.SellRate}}</td>
                    <td>{{item.EstCost}}</td>
                    <td>{{item.MinAmt}}</td>
                    <td>{{item.MaxAmnt}}</td>
                    <td>{{item.IsSlabRate}}</td>   
                    <td>
                        <a ng-click="AddCQDetails($index)">Edit</a>
                        <input type="hidden" ng-model="item.Index" ng-init="item.Index = $index" />
                    </td>                 
                </tr>
            </tbody>
        </table>
    </div>
</div>




