﻿<div class="row" style="margin-top: 10px;">    
    <div class="col-md-6">   
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Quotation No.</label>
            </div>
            <div class="col-md-10">                
                <input type="text" class="form-control input-sm" ng-model="cq.QuotationNo" ng-disabled="true" />
            </div>
        </div>     
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Customer</label>
            </div>            
            <div class="col-md-10">
                <div class="input-group address">
                    <input type="text"
                           ng-class="{'loadinggif': cq.CustomerNameLoading}"
                           class="form-control input-sm ac"
                           ng-model="cq.CustomerName"
                           typeahead-min-length="3"
                           uib-typeahead="d.Text as d.Text for d in CustomerResults($viewValue, 'ShipperConsignee')"
                           typeahead-on-select="cq.CustomerCode = ($item.Value)"
                           typeahead-loading="cq.CustomerNameLoading"
                           typeahead-wait-ms="1000"
                           typeahead-editable="false" ng-required="true" />
                    <span class="input-group-btn">
                        <button class="btn btn-default"
                                type="button"
                                ng-click="searchClick('CustomerCode')"
                                popover-placement="right" 
                                uib-popover-template="'js/masterdata/directives/customer-address.html'"
                                ng-disabled="cq.CustomerCode == null">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>   
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Agent</label>
            </div>            
            <div class="col-md-10">
                <div class="input-group address">
                    <input type="text"
                           ng-class="{'loadinggif': cq.AgentNameLoading}"
                           class="form-control input-sm ac"
                           ng-model="cq.AgentName"
                           typeahead-min-length="3"
                           uib-typeahead="d.Text as d.Text for d in AgentResults($viewValue, 'Liner')"
                           typeahead-on-select="cq.AgentCode = ($item.Value)"
                           typeahead-loading="cq.AgentNameLoading"
                           typeahead-wait-ms="1000"                           
                           typeahead-editable="false" ng-required="true" />
                    <span class="input-group-btn">
                        <button class="btn btn-default"
                                type="button"
                                ng-click="searchClick('AgentCode')"
                                popover-placement="right" 
                                uib-popover-template="'js/masterdata/directives/customer-address.html'"                                
                                ng-disabled="cq.AgentCode == null">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>      
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Forwarder</label>
            </div>            
            <div class="col-md-10">
                <div class="input-group address">
                    <input type="text"
                           ng-class="{'loadinggif': cq.ForwarderNameLoading}"
                           class="form-control input-sm ac"
                           ng-model="cq.ForwarderName"
                           typeahead-min-length="3"
                           uib-typeahead="d.Text as d.Text for d in AgentResults($viewValue, 'freightForwarder')"
                           typeahead-on-select="cq.ForwarderCode = ($item.Value)"
                           typeahead-loading="cq.ForwarderNameLoading"
                           typeahead-wait-ms="1000"
                           typeahead-editable="false" ng-required="true" />
                    <span class="input-group-btn">
                        <button class="btn btn-default"
                                type="button"
                                ng-click="searchClick('ForwarderCode')"
                                popover-placement="right"
                                uib-popover-template="'js/masterdata/directives/customer-address.html'"
                                ng-disabled="cq.ForwarderCode == null">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div> 
        <div class="row" style="margin-top: 10px;">  
            <div class="col-md-2">
                <label class="control-label pull-right">Remarks</label>
            </div>         
            <div class="col-md-10">                
                <textarea class="form-control input-sm" ng-model="cq.Remarks"></textarea>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Quotation Date</label>
            </div>
            <div class="col-md-4">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="QuotationDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text" 
                                   class="form-control input-sm datepicker" 
                                   ng-model="cq.QuotationDate"
                                   ng-required="true" 
                                   date-time-input="MM/DD/YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker
                            ng-model="cq.QuotationDate"
                            data-datetimepicker-config="{ 
                                        dropdownSelector: '#QuotationDate', 
                                        startView: 'day', 
                                        minView: 'day' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Effective Date</label>
            </div>
            <div class="col-md-4">                
                <div class="dropdown dtcss">
                    <a class="dropdown-toggle" id="EffectiveDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text" 
                                   class="form-control input-sm datepicker" 
                                   ng-model="cq.EffectiveDate" 
                                   ng-required="true" 
                                   date-time-input="MM/DD/YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker 
                            ng-model="cq.EffectiveDate" 
                            data-datetimepicker-config="{ 
                                        dropdownSelector: '#EffectiveDate', 
                                        startView: 'day', 
                                        minView: 'day' }" />
                    </ul>
                </div>
            </div>
        </div>        
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Expiry Date</label>
            </div>
            <div class="col-md-4">                
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ExpiryDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text" 
                                   class="form-control input-sm datepicker" 
                                   ng-model="cq.ExpiryDate" 
                                   ng-required="true" 
                                   date-time-input="MM/DD/YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker 
                            ng-model="cq.ExpiryDate" 
                            data-datetimepicker-config="{ 
                                        dropdownSelector: '#ExpiryDate', 
                                        startView: 'day', 
                                        minView: 'day' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Prepared By</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="cq.PreparedBy" ng-required="true" />
            </div>
        </div>          
         
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <div class="box box-default box-solid">                    
                    <div class="box-body">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <uib-tabset active="active">
                                    <uib-tab heading="Storage Rules">
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-3">
                                                <label class="control-label pull-right">Calculation Period</label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control input-sm" ng-model="cq.CargoCalcPeriod" ng-options="s.Value as s.Text for s in lookupData.calPeriodType" ng-required="true"></select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-3">
                                                <label class="control-label pull-right">Storage Section</label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control input-sm" ng-model="cq.CargoStorageMethod" ng-options="s.Value as s.Text for s in lookupData.storageType" ng-required="true"></select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-3">
                                                <label class="control-label pull-right">Trailer Detention Free Day</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-sm" ng-model="cq.TrailerDetentionFreeDays" ng-required="true" logicon-number />
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab heading="Cargo Storage Free Days">
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3">
                                                <label class="control-label pull-right">Normal</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label pull-right">DG</label>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-1">
                                                <label class="control-label pull-right">Export</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-sm" ng-model="cq.CargoFPExport" ng-required="true" logicon-number />
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-sm" ng-model="cq.CargoFPExportDG" ng-required="true" logicon-number />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-1">
                                                <label class="control-label pull-right">Import</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-sm" ng-model="cq.CargoFPImport" ng-required="true" logicon-number />
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-sm" ng-model="cq.CargoFPImportDG" ng-required="true" logicon-number />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-1">
                                                <label class="control-label pull-right">Local</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-sm" ng-model="cq.CargoFPLocal" ng-required="true" logicon-number />
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-sm" ng-model="cq.CargoFPLocalDG" ng-required="true" logicon-number />
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab heading="Container Storage Free Days">
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3">
                                                <label class="control-label pull-right">Normal</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label pull-right">DG</label>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-1">
                                                <label class="control-label pull-right">Export</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-sm" ng-model="cq.ContainerFPExport" ng-required="true" logicon-number />
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-sm" ng-model="cq.ContainerFPExportDG" ng-required="true" logicon-number />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-1">
                                                <label class="control-label pull-right">Import</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-sm" ng-model="cq.ContainerFPImport" ng-required="true" logicon-number />
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-sm" ng-model="cq.ContainerFPImportDG" ng-required="true" logicon-number />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-1">
                                                <label class="control-label pull-right">Local</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-sm" ng-model="cq.ContainerFPLocal" ng-required="true" logicon-number />
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-sm" ng-model="cq.ContainerFPLocalDG" ng-required="true" logicon-number />
                                            </div>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                        </div>
                    </div>
                </div>                
            </div>
        </div>              
    </div>
</div>


