﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Charges</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-3">
            <label class="control-label pull-right">Charge Code</label>
        </div>
        <div class="col-md-9">
            <select class="form-control input-sm" ng-model="orderType.ShipmentType1" ng-options="s.ChargeCode as s.Description for s in ChargesModalData.chargeCodeList"></select>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-3">
            <label class="control-label pull-right">Payment Term</label>
        </div>
        <div class="col-md-9">
            <select class="form-control input-sm" ng-model="orderType.ShipmentType2" ng-options="s.LookupID as s.LookupCode for s in ChargesModalData.paymentTermList"></select>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-3">
            <label class="control-label pull-right">Billed To</label>
        </div>
        <div class="col-md-9">
            <select class="form-control input-sm" ng-model="orderType.ShipmentType3" ng-options="s.LookupID as s.LookupCode for s in ChargesModalData.billingToList"></select>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <md-checkbox class="md-primary" aria-label="Cargo Charge">Cargo Charge</md-checkbox>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-8"></div>
        <div class="col-md-4 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>
