﻿<section class="content" ng-controller="driverpaymentbyvendor">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Driver Payment By Vendor</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Vendor Code</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Prepare Date</label>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm datepicker"
                                       ng-model="vs.ImpAvaliableDate"
                                       ng-required="true"
                                       date-time-input="MM/DD/YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="vs.ImpAvaliableDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Remarks</label>
                </div>
                <div class="col-md-4">
                    <textarea class="form-control input-sm"></textarea>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Movement Date</label>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm datepicker"
                                       ng-model="vs.ImpAvaliableDate"
                                       ng-required="true"
                                       date-time-input="MM/DD/YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="vs.ImpAvaliableDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm datepicker"
                                       ng-model="vs.ImpAvaliableDate"
                                       ng-required="true"
                                       date-time-input="MM/DD/YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="vs.ImpAvaliableDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                
                <div class="col-md-2">
                    <label class="control-label pull-right">To</label>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm datepicker"
                                       ng-model="vs.ImpAvaliableDate"
                                       ng-required="true"
                                       date-time-input="MM/DD/YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="vs.ImpAvaliableDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm datepicker"
                                       ng-model="vs.ImpAvaliableDate"
                                       ng-required="true"
                                       date-time-input="MM/DD/YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="vs.ImpAvaliableDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <table class="table table-bordered">
                            <thead style="color:#fff;background-color:#97c5ea;">
                                <tr>
                                    <th>Vendor Code</th>
                                    <th>Vendor Name</th>
                                    <th>Total Driver</th>
                                    <th>Total Generated</th>
                                    <th>Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <table class="table table-bordered">
                            <thead style="color:#fff;background-color:#97c5ea;">
                                <tr>
                                    <th>Payment No.</th>
                                    <th>Driver ID</th>
                                    <th>Driver Name</th>
                                    <th>Amount</th>
                                    <th>Remarks</th>
                                    <th>Time From</th>
                                    <th>Time To</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>        
    </div>
</section>