﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">AGENT</h4>
</div>
<div class="modal-body">
    <div ng-include="'Js/Shared/Layout/Templates/_searchboxcontrols.html'"></div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Agent Code</th>
                        <th>Agent Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in modalData.ListData">
                        <td>{{item.AgentCode}}</td>
                        <td>{{item.AgentName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
</div>
<div class="modal-footer">
    <div class="row" style="margin-top:10px;">
        <div class="col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>