﻿<section class="content" ng-controller="PortAreaCodeCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Port / Area Code</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div ng-show="pa.portAreaList.length > 0">
                                <h4>{{pa.CountryText}}&nbsp;&nbsp;&nbsp;
                                    <!--<button class="btn btn-default" ng-click="portareaEdit('');"><i class="fa fa-plus" aria-hidden="true"></i></button>-->
                                    <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="portareaEdit('');">
                                        <i class="fa fa-plus fa-1x ng-scope"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">Search By Country Name</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text"
                                class="form-control input-sm"
                                placeholder="Country Name"
                                ng-class="{'loadinggif': CountryTextLoading}"
                                ng-model="pa.CountryText"
                                typeahead-min-length="1"
                                uib-typeahead="d.Text as d.Text for d in CountryResults($viewValue)"
                                typeahead-loading="CountryTextLoading"
                                typeahead-wait-ms="100"
                                typeahead-editable="false"
                                typeahead-on-select="CountrySelected($item, 'CountryCode')" />
                        </div>
                    </div>
                    <!--<div class="row" ng-show="pa.portAreaList.length > 0">
                        <div class="col-md-2"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">Search By Port Name</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text"
                                   class="form-control input-sm"
                                   placeholder="Port Name"
                                   ng-model="pa.PortName"
                                   typeahead-min-length="1"
                                   uib-typeahead="d.PortName as d.PortName for d in PortResults($viewValue)"
                                   typeahead-loading="loadingports"
                                   typeahead-wait-ms="1000"
                                   typeahead-on-select="PortSelected($item)" />
                        </div>
                    </div>-->
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="" style="min-height:250px;">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td>Port Code</td>
                                        <td>Port Name</td>
                                        <td>Zone Code</td>
                                        <td>EDI Mapping</td>
                                        <td>Branch</td>
                                        <td>Air</td>
                                        <td>Sea</td>
                                        <td>Hlg</td>
                                        <td>Trn</td>
                                        <td>WareHouse</td>
                                        <td>Edit By</td>
                                        <td>#Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="port in pa.portAreaList">
                                        <td>{{port.PortCode}}</td>
                                        <td>{{port.PortName}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>DS</td>
                                        <td>
                                            <md-checkbox class="md-primary" aria-label="air" ng-disabled="true" ng-model="port.isAir" ng-init="port.isAir = (port.PortType == 1301)"></md-checkbox>
                                        </td>
                                        <td>
                                            <md-checkbox class="md-primary" aria-label="sea" ng-disabled="true" ng-model="port.isSea" ng-init="port.isSea = (port.PortType == 1300)"></md-checkbox>
                                        </td>
                                        <td>
                                            <md-checkbox class="md-primary" aria-label="hlg" ng-disabled="true" ng-model="port.isHlg" ng-init="port.isHlg = (port.PortType == 1302)"></md-checkbox>
                                        </td>
                                        <td>
                                            <md-checkbox class="md-primary" aria-label="trn" ng-disabled="true" ng-model="port.isTrn" ng-init="port.isTrn = (port.PortType == 1304)"></md-checkbox>
                                        </td>
                                        <td>
                                            <md-checkbox class="md-primary" aria-label="local" ng-disabled="true" ng-model="port.isLocal" ng-init="port.isLocal = (port.PortType == 1303)"></md-checkbox>
                                        </td>
                                        <td>MAX</td>
                                        <td style="padding:0 0 0 5px">
                                            <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="portareaEdit(port.PortCode);" aria-label="button">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                <div class="md-ripple-container"></div>
                                            </button>
                                            <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" type="button" ng-click="portareaDelete(port.PortCode);" aria-label="button">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                <div class="md-ripple-container"></div>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <uib-pagination ng-model="currentPage"
                        total-items="totalItems"
                        ng-change="pageChanged()"
                        class="pagination-sm pull-right"
                        max-size="10"
                        items-per-page="limit">
                    </uib-pagination>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <md-button class="md-raised md-clear" onclick="location.href = '#/home/'"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</md-button>
                    <!-- <button class="btn btn-primary btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</button>
                    <button class="btn btn-info btn-sm"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                    <button class="btn btn-warning btn-sm"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</button>-->
                </div>
            </div>
        </div>
    </div>
</section>
