﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">UOM Info</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <label class="control-label pull-right">UOM Code</label>
        </div>
        <div class="col-md-8">
            <input type="text" ng-model="uom.UOMCode" class="form-control input-sm"  ng-required="true"/>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <label class="control-label pull-right">UOM Description</label>
        </div>
        <div class="col-md-8">
            <input type="text" ng-model="uom.UOMDescription" class="form-control input-sm"  ng-required="true"/>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <label class="control-label pull-right">Mapping Code</label>
        </div>
        <div class="col-md-8">
            <input type="text" ng-model="uom.MappingCode" class="form-control input-sm"  ng-required="true"/>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <label class="control-label pull-right">ISO Code</label>
        </div>
        <div class="col-md-8">
            <input type="text" ng-model="uom.ISOCode" class="form-control input-sm"  ng-required="true"/>
        </div>
    </div>    
</div>
<div class="modal-footer">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="SaveUom(uom);"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>