﻿<section class="content" ng-controller="DriverAllocationCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Driver Allocation</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Working Date</label>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control input-sm"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Shift Code</label>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Start Time</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">End Time</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box box-default box-solid">                        
                        <div class="box-body">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <thead style="color: #fff; background-color: #97c5ea;">
                                            <tr>
                                                <th>Zone</th>
                                                <th>Dialy Demand</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color: #fff; background-color: #97c5ea;">
                            <tr>
                                <th>Driver Id</th>
                                <th>Driver Name</th>
                                <th>Truck Id</th>
                                <th>Reg No.</th>
                                <th>Group</th>
                                <th>Current Zone</th>
                                <th>Shift Code</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12">
                        <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                        <md-button class="md-raised md-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</md-button>
                        <button class="btn btn-info btn-sm"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                        <button class="btn btn-warning btn-sm"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

