﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Quotation Request</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-8">
            <div class="col-md-2">
                <label class="control-label pull-right">Charge Code</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm"  ng-required="true"/>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control input-sm"  ng-required="true"/>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-8">
            <div class="col-md-2">
                <label class="control-label pull-right">Order Type</label>
            </div>
            <div class="col-md-10">
                <select class="form-control input-sm"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <label class="control-label pull-right">Size-Type</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm"></select>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm"></select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-8">
            <div class="col-md-2">
                <label class="control-label pull-right">Movement Code</label>
            </div>
            <div class="col-md-3">
                <select class="form-control input-sm"></select>
            </div>
            <div class="col-md-4">
                <label class="control-label pull-right">Charge Type</label>
            </div>
            <div class="col-md-3">
                <select class="form-control input-sm"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <label class="control-label pull-right">Truck Cat</label>
            </div>
            <div class="col-md-8">
                <select class="form-control input-sm"></select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-8">
            <div class="col-md-2">
                <label class="control-label pull-right">Movement Charge</label>
            </div>
            <div class="col-md-10">
                <select class="form-control input-sm"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <label class="control-label pull-right">Size-Type</label>
            </div>
            <div class="col-md-8">
                <select class="form-control input-sm"></select>
            </div>

        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-8">
            <div class="col-md-2"></div>
            <div class="col-md-1">
                <label class="control-label pull-right">From</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" />
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right">Payment Term</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"></select>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Billing Unit</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"></select>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-8">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <md-checkbox class="md-primary" aria-label="Telex Release">Slab-Rate day</md-checkbox>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-8">
            <div class="col-md-2"></div>
            <div class="col-md-1">
                <label class="control-label pull-right">To</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" />
            </div>
            <div class="col-md-1">
                
            </div>
            <div class="col-md-2">
                
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Billing To</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
                <label class="control-label pull-right">Selling Rate</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
    </div>
   </div>
 <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
