﻿<form id="frmCostsheet" name="frmCostsheet" ng-class="{'submitted':submitted}" ng-submit="SaveCoseSheet(cs)" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Cost Sheet</h4>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <label class="label-control pull-right">Container No.</label>

                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" ng-model="cs.ContainerNo" />
                    </div>
                    <div class="col-md-3">
                        <label class="label-control pull-right">Job No.</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm" ng-model="cs.JobNo"></select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="label-control pull-right">Container Key</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm" ng-model="cs.ContainerKey" ng-options="s.Value as s.Text for s in lookupData.containerKeyList" ng-required="required"></select>
                    </div>
                    <div class="col-md-3">
                        <label class="label-control pull-right">Prd Category</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm" ng-model="cs.ProductCategory" ng-options="s.Value as s.Text for s in lookupData.productCategoryList" ng-required="required"></select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="label-control pull-right">Charge Code</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text"
                            class="form-control input-sm"
                            placeholder="Search Charge Code"
                            ng-model="cs.ChargeCode"
                            typeahead-min-length="3"
                            ng-required="required"
                            uib-typeahead="d.Text as d.Text for d in ChargeCodeResults($viewValue)"
                            typeahead-loading="loading"
                            typeahead-wait-ms="1000"
                            typeahead-on-select="ChargeCodeSelected($item, 'ChargeCode')" />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="label-control pull-right">Output GST Code</label>
                    </div>
                    <div class="col-md-9">
                          <input type="text" class="form-control input-sm" ng-model="cs.OutPutGSTDescription" ng-required="required"/>
                        <!--<select class="form-control input-sm"
                            ng-model="cs.OutputGst"
                            ng-options="s.Value as s.Text for s in lookupData.gstRateList"
                            ng-change="cs.OutputGstDesc=(lookupData.gstRateList | filter : {Value:cs.OutputGst})[0].Text">
                        </select>-->
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="label-control pull-right">Input GST Code</label>
                    </div>
                    <div class="col-md-9">
                         <input type="text" class="form-control input-sm" ng-model="cs.InPutGSTDescription" ng-required="required"/>
                        <!--<select class="form-control input-sm"
                            ng-model="cs.InputGst"
                            ng-options="s.Value as s.Text for s in lookupData.gstRateList"
                            ng-change="cs.InputGstDesc=(lookupData.gstRateList | filter : {Value:cs.InputGst})[0].Text">
                        </select>-->
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="label-control pull-right">Vendor</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control input-sm" ng-model="cs.VendorCode" ng-options="s.Value as s.Text for s in lookupData.vendorList"></select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="label-control pull-right">Remarks</label>
                    </div>
                    <div class="col-md-9">
                        <textarea type="text" class="form-control input-sm" ng-model="cs.Remark"></textarea>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="label-control pull-right">Billing Unit</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm"
                            ng-model="cs.BillingUnit"
                            ng-required="required"
                            ng-options="s.Value as s.Text for s in lookupData.billingUnitList"
                            ng-change="cs.BillingUnitDesc=(lookupData.billingUnitList | filter : {Value:cs.BillingUnit})[0].Text">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="label-control pull-right">Currency</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm"
                            ng-model="cs.CurrencyCode"
                            ng-required="required"
                            ng-options="s.Value as s.Text for s in lookupData.currencyList"
                             ng-change="SelectCurrencyCode(cs.CurrencyCode)">                           
                        </select>
                        <!--ng-change="cs.CurrencyCodeDesc=(lookupData.currencyList | filter : {Value:cs.CurrencyCode})[0].Text">-->
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="label-control pull-right">Quantity</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm logiconNumber" ng-model="cs.Qty" ng-change="CaliculateAmounts()" ng-required="required"/>
                    </div>
                    <div class="col-md-3">
                        <label class="label-control pull-right">Exchange Rate</label>
                    </div>
                    <div class="col-md-3">
                        <label class="label-control" ng-model="cs.ExRate">{{cs.ExRate}}</label>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="label-control pull-right">Price</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm logiconDecimal" ng-model="cs.Price" ng-change="CaliculateAmounts()" ng-required="required"/>
                    </div>
                    <div class="col-md-3">
                        <label class="label-control pull-right">Tax Amount</label>
                    </div>
                    <div class="col-md-3">                        
                        <label class="label-control" ng-model="cs.TaxAmount">{{cs.TaxAmount}}</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="label-control pull-right">Actual Amount</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm" ng-model="cs.ActualAmount" ng-required="required"/>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <label class="label-control pull-right">Discount Type</label>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control input-sm" ng-model="cs.DiscountType" ng-options="s.Value as s.Text for s in lookupData.discountTypeList" ng-required="required"/>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <label class="label-control pull-right">Discount Amount</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm" ng-model="cs.DiscountAmount" ng-required="required" ng-change="CalDiscountAmt()"/>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <label class="label-control pull-right">Total Amount</label>
                            </div>
                            <div class="col-md-6">
                                <label class="label-control" ng-model="cs.TotalAmount">{{cs.TotalAmount}}</label>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>

