﻿<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2">
                <label class="control-label pull-right">Customer</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>   
            <div class="col-md-2">
                <label class="control-label pull-right">Customer</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>         
        </div>        
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Billing Status</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Customer Ref.</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>       
    </div>
    <div class="col-md-6">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Total Summary</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <label class="label-control pull-right">Estimated Sell</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" />
                    </div>   
                    <div class="col-md-3">
                        <label class="label-control pull-right">Unbilled Amount</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" />
                    </div>                  
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="label-control pull-right">Billed Amount</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead style="color:#fff;background-color:#3c8dbc;">
                <tr>
                    <th></th>
                    <th>Quotation No.</th>
                    <th>Container No.</th>
                    <th>Size</th>
                    <th>Container key</th>
                    <th>Charge Code</th>
                    <th>Description</th>
                    <th>Prd Category</th>
                    <th>Billing Unit</th>
                    <th>Curr</th>
                    <th>Qty.</th>
                    <th>Sell Rate</th>
                    <th>Est Sell</th>
                    <th>Act Sell</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>
    </div>
</div>


