﻿<div class="row">
        <md-radio-group ng-model="data.group">
            <div class="col-md-2"><md-radio-button value="Sales & Cost" class="md-primary">Sales & Cost</md-radio-button></div>
            <div class="col-md-2"><md-radio-button value="Sales Only" class="md-primary">Sales Only </md-radio-button></div>
            <div class="col-md-2"><md-radio-button value="Cost Only" class="md-primary">Cost Only</md-radio-button></div>
            <div class="col-md-2"><md-radio-button value="Journal" class="md-primary">Journal</md-radio-button></div>
        </md-radio-group>
</div>
<div class="row" style="margin-top:10px">
    <table class="table">
        <thead style="color:#fff;background-color: #97c5ea;">
            <tr>
                <th>Type</th>
                <th>Document No.</th>
                <th>Date</th>
                <th>Customer / Vendor</th>
                <th>Local Amt.</th>
                <th>Tax Amt.</th>
                <th>With Tax Amt.</th>
            </tr>
        </thead>
    </table>
</div>