﻿<section class="content" ng-controller="VendorQuotationCntrl">
    <form id="frmVendorQuotation"
          name="frmVendorQuotation"
          ng-class="{'submitted': submitted}"
          ng-submit="SaveVendorQuotation(cq)" novalidate>
        <input type="hidden" ng-model="cq.QuotationType" ng-init="cq.QuotationType = 3862" />
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Vendor Quotation</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <uib-tabset>
                            <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}">
                                <div ng-include="tab.content"></div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left"><button type="submit" ng-click="submitted = true" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button></div>
                        <div class="pull-right"><button type="button" class="btn btn-primary" onclick="location.href = '#/MasterData/vendorquotation/list'"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back</button></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
