﻿<section class="content" ng-controller="ChargeCodeController">
    <form id="frmChargeCode" name="frmChargeCode" ng-class="{'submitted':submitted}" ng-submit="SaveChargeCode(cc);" novalidate>
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Charge Code Master</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div ng-include="'Js/MasterData/Templates/ChargeCode/chargecode.html'"></div>
                    </div>
                    <div class="col-md-8">                        
                        <uib-tabset>
                            <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}">
                                <div ng-include="tab.content"></div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12">
                        <md-button class="md-raised md-primary" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                        <md-button class="md-raised md-clear" ng-click="navToList();"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</md-button>
                    </div>
                </div>
            </div>
            <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </form>
</section>