﻿<section class="content" ng-controller="ChargeCodeController">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Charge Code Master</h3>
            <div class="box-tools pull-right">
                <!-- <button type="button" class="btn btn-box-tool" ng-click="AddChargeCode('NEW');">
                    <i class="fa fa-plus"></i>
                </button>-->
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddChargeCode('NEW');">
                    <i class="fa fa-plus fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="" style="min-height: 250px;">
                        <table class="table table-bordered">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>#Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cc in ccList">
                                    <td>{{cc.ChargeCode}}</td>
                                    <td>{{cc.ChargeDescription}}</td>
                                    <td style="padding:0 0 0 5px">
                                         <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="AddChargeCode(cc.ChargeCode)" aria-label="button">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            <div class="md-ripple-container"></div>
                                        </button>
                                        <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" type="button" ng-click="DeleteChargeCode(cc.ChargeCode)" aria-label="button">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            <div class="md-ripple-container"></div>
                                        </button> 
                                        <!--<a class="btn btn-default input-sm" href="#/masterdata/chargecodemaster/{{cc.ChargeCode}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Edit</a>
                                        <a class="btn btn-danger input-sm" ng-click="DeleteChargeCode(cc.ChargeCode)"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</a>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <uib-pagination ng-model="currentPage"
                        total-items="totalItems"
                        ng-change="pageChanged()"
                        class="pagination-sm pull-right"
                        max-size="10"
                        items-per-page="limit">
                    </uib-pagination>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <md-button class="md-raised md-clear" onclick="location.href = '#/home/'"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</md-button>
                </div>
            </div>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>
