﻿<section class="content" ng-controller="ManagementReportsCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Management Reports</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-3">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Reports</h3>
                        </div>
                        <div class="box-body" style="max-height: 500px;overflow-y:auto;min-height:500px;">
                            <treecontrol class="tree-light" tree-model="treedata" expanded-nodes="expandedNodes" on-selection="showSelected(node)">
                                <a tabindex="0" class="ellipsisCss">{{node.label}}</a><!-- uib-tooltip="{{node.label}}" -->
                            </treecontrol>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- <div class="row" style="margin-top: 10px;">
                         <div class="col-md-2">
                             <label class="control-label pull-right">Customer Code</label>
                         </div>
                         <div class="col-md-4">
                             <input type="text"
                                    class="form-control input-sm"
                                    placeholder="Search Customer"
                                    ng-model="ope.CustomerText"
                                    typeahead-min-length="3"
                                    uib-typeahead="d.Text as d.Text for d in CustomerResults($viewValue)"
                                    typeahead-loading="customers"
                                    typeahead-wait-ms="1000" />
                         </div>
                         <div class="col-md-2">
                             <label class="control-label pull-right">Job Type</label>
                         </div>
                         <div class="col-md-2">
                             <select class="form-control input-sm"
                                     ng-model="ope.jobType"
                                     ng-options="s.Value as s.Text for s in lookupData.jobTypeList"></select>
                         </div>
                     </div>
                     <div class="row" style="margin-top: 10px;">
                         <div class="col-md-2">
                             <label class="control-label pull-right">Activity Code</label>
                         </div>
                         <div class="col-md-4">
                             <select class="form-control input-sm"></select>
                         </div>
                         <div class="col-md-2">
                             <label class="control-label pull-right">Shipment Type</label>
                         </div>
                         <div class="col-md-2">
                             <select class="form-control input-sm"
                                     ng-model="ope.shipmentType"
                                     ng-options="s.Value as s.Text for s in lookupData.shipmentTypeList"></select>
                         </div>
                     </div>
                     <div class="row" style="margin-top: 10px;">
                         <div class="col-md-2">
                             <label class="control-label pull-right">Vessel ID</label>
                         </div>
                         <div class="col-md-4">
                             <input type="text"
                                    class="form-control input-sm"
                                    placeholder="Vessel Name"
                                    ng-model="ope.VesselName"
                                    typeahead-min-length="3"
                                    uib-typeahead="d.VesselName as d.VesselName for d in VesselNameResults($viewValue)"
                                    typeahead-loading="loadingDeals"
                                    typeahead-wait-ms="1000" />
                         </div>
                         <div class="col-md-2">
                             <label class="control-label pull-right">Order No</label>
                         </div>
                         <div class="col-md-2">
                             <select class="form-control input-sm"></select>
                         </div>
                     </div>
                     <div class="row" style="margin-top: 10px;">
                         <div class="col-md-2">
                             <label class="control-label pull-right">Voyage No</label>
                         </div>
                         <div class="col-md-4">
                             <select class="form-control input-sm"></select>
                         </div>
                         <div class="col-md-2">
                             <label class="control-label pull-right">Container No</label>
                         </div>
                         <div class="col-md-2">
                             <select class="form-control input-sm"></select>
                         </div>
                     </div>
                     <div class="row" style="margin-top: 10px;">
                         <div class="col-md-2">
                             <label class="control-label pull-right">Date From</label>
                         </div>
                         <div class="col-md-2">
                             <div class="input-group"
                                  moment-picker="ope.DtFrom"
                                  format="MM/DD/YYYY" min-view="month">
                                 <input class="form-control input-sm"
                                        placeholder="From Date"
                                        ng-model="ope.DtFrom"
                                        ng-model-options="{ updateOn: 'blur' }">
                                 <span class="input-group-addon">
                                     <i class="fa fa-calendar"></i>
                                 </span>
                             </div>
                         </div>
                         <div class="col-md-2"></div>
                         <div class="col-md-2">
                             <label class="control-label pull-right">Customer Ref</label>
                         </div>
                         <div class="col-md-2">
                             <select class="form-control input-sm"></select>
                         </div>
                     </div>
                     <div class="row" style="margin-top: 10px;">
                         <div class="col-md-2">
                             <label class="control-label pull-right">Date To</label>
                         </div>
                         <div class="col-md-2">
                             <div class="input-group"
                                  moment-picker="ope.DtTo"
                                  format="MM/DD/YYYY" min-view="month">
                                 <input class="form-control input-sm"
                                        placeholder="To Date"
                                        ng-model="ope.DtTo"
                                        ng-model-options="{ updateOn: 'blur' }">
                                 <span class="input-group-addon">
                                     <i class="fa fa-calendar"></i>
                                 </span>
                             </div>
                         </div>
                         <div class="col-md-2"></div>
                         <div class="col-md-2">
                             <label class="control-label pull-right">Ocean B/L No</label>
                         </div>
                         <div class="col-md-2">
                             <select class="form-control input-sm"></select>
                         </div>
                     </div>
                     <div class="row" style="margin-top: 10px;">
                         <div class="col-md-4">
                         </div>
                         <div class="col-md-2"></div>
                         <div class="col-md-2">
                             <label class="control-label pull-right">Liner Ref</label>
                         </div>
                         <div class="col-md-2">
                             <select class="form-control input-sm"></select>
                         </div>
                     </div>
                     <div class="row" style="margin-top: 10px;">
                         <div class="col-md-4">
                         </div>
                         <div class="col-md-2"></div>
                         <div class="col-md-2">
                             <label class="control-label pull-right">Created By</label>
                         </div>
                         <div class="col-md-2">
                             <select class="form-control input-sm"></select>
                         </div>
                     </div>-->
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>