﻿<section class="content" ng-controller="TruckMasterController">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Truck Master</h3>
            <div class="box-tools pull-right">              
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddTruckMaster(-1);">
                    <i class="fa fa-plus fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover">
                        <thead style="color:#fff;background-color: #97c5ea;">
                            <tr>
                                <th>Truck ID</th>
                                <th>Reg No.</th>
                                <th>Freight</th>
                                <th>Truck Type</th>
                                <!--<th>Size</th>
                                <th>Status</th>
                                <th>Base Location</th>
                                <th>Current Area</th>
                                <th>Next Service</th>
                                <th>Manufactured Date</th>
                                <th>Default Trailer</th>
                                <th>Vendor Code</th>-->
                                <th>#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="t in truckList">
                                <td>{{t.TruckID}}</td>
                                <td>{{t.RegistrationNo}}</td>
                                <td>{{t.FreightMode}}</td>
                                <td>{{t.TruckType}}</td>
                                <td style="padding:0 0 0 5px">
                                     <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="AddTruckMaster(t.TruckID)" aria-label="button">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                    <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" type="button" ng-click="DeleteTruckMaster(t.TruckID)" aria-label="button">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <uib-pagination ng-model="currentPage"
                                                    total-items="totalItems"
                                                    ng-change="pageChanged()"
                                                    class="pagination-sm pull-right"
                                                    max-size="10"
                                                    items-per-page="limit">
                                    </uib-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                     <md-button class="md-raised md-clear" onclick="location.href = '#/home/'"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</md-button> 
                    <!--<button class="btn btn-primary btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</button>
                    <button class="btn btn-info btn-sm"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                    <button class="btn btn-warning btn-sm"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</button>-->
                </div>
            </div>
        </div>
    </div>
</section>