﻿<section class="content" ng-controller="OrderTypeCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Order Type</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Order Type Master</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">                                
                                <tbody>
                                    <tr ng-repeat="item in OrderTypeList"><td><a ng-click="OrderTypeDetails(item.Code)">{{item.Code}}</a></td></tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Order Type</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Code</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Description</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Booking Type</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control input-sm" ng-model="orderType.BookingType" ng-options="s.LookupCode as s.LookupDescription for s in lookUpVm.bookingType"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Booking Mode</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control input-sm" ng-model="orderType.ShipmentType" ng-options="s.LookupCode as s.LookupDescription for s in lookUpVm.bookingMode"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Movements & Rules</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" ng-click="AddMovementRules(-1);">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-12">
                                            <div class="well well-sm" style="min-height: 250px;">
                                                <table class="table table-bordered">
                                                    <thead style="color: #fff; background-color: #97c5ea;">
                                                        <tr>
                                                            <th>Movement Code</th>
                                                            <th>Seq.</th>
                                                            <th>Release DM</th>
                                                            <th>Gross Wgt.</th>
                                                            <th>Seal No.</th>
                                                            <th>EDI</th>
                                                            <th>#Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Charges</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" ng-click="AddCharges();">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>                                
                                <div class="box-body">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-12">
                                            <div class="well well-sm" style="min-height: 250px;">
                                                <table class="table table-bordered">
                                                    <thead style="color: #fff; background-color: #97c5ea;">
                                                        <tr>
                                                            <th>Charge Code</th>
                                                            <th>Movement</th>
                                                            <th>Payment</th>
                                                            <th>Billed To</th>
                                                            <th>Cargo Charge</th>                                                        
                                                            <th>#Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>                                                        
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">VAS Charges</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" ng-click="AddVASCharges();">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>                                
                                <div class="box-body">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-12">
                                            <div class="well well-sm" style="min-height: 250px;">
                                                <table class="table table-bordered">
                                                    <thead style="color: #fff; background-color: #97c5ea;">
                                                        <tr>
                                                            <th>Charge Code</th>
                                                            <th>Payment Term</th>
                                                            <th>Payment To</th>
                                                            <th>Load at Gate In-MTY</th>                                                                                                                
                                                            <th>#Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>                                                                                                          
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>
