﻿<section class="content" ng-controller="DocumentationCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Documentation</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Job No.</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right nowrapCss">Document Code</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <div class="box box-default box-solid" style="min-height:500px;">                        
                        <div class="box-body">
                            <div class="row" style="margin-top: 10px;">
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="col-md-10">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" class="md-primary">
                            <md-content class="md-padding">
                                <div ng-include="tab.content"></div>
                            </md-content>                            
                        </md-tab>
                    </md-tabs>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-1">
                    <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                </div>
                <div class="col-md-1">
                    <md-button class="md-raised md-primary"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</md-button>
                </div>
            </div>
        </div>
    </div>
</section>