﻿<div>
    <form id="frmAssociationDetails" name="frmAssociationDetails" ng-class="{'submitted':submitted}" ng-submit="SaveAssociationDetails(asDetail)" novalidate>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
            <h4 class="modal-title">Affiliation Detail</h4>
        </div>
        <div class="modal-body">
            <div class="row" style="margin-top:10px">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Company Name</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': asDetail.CompanyNameLoading}"
                               placeholder="Company Name"
                               ng-model="asDetail.CompanyName"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in CompanyNameResults($viewValue)"
                               typeahead-loading="asDetail.CompanyNameLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="true"
                               typeahead-on-select="CompanySelected($item)"
                               ng-required="true" />                      

                        
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">ROC</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': asDetail.ROCNumberLoading}"
                               placeholder="ROC No"
                               ng-model="asDetail.ROCNumber"
                               typeahead-min-length="3"
                               uib-typeahead="d.RegNo as d.RegNo for d in RocResults($viewValue)"
                               typeahead-loading="asDetail.ROCNumberLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="true"
                               typeahead-on-select="RocSelected($item)"
                               ng-required="true" /> 
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Email</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" ng-model="asDetail.Email" ng-required="true" class="form-control input-sm" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">JoinDate</label>
                    </div>
                    <div class="dropdown col-md-6">                        
                        <a class="dropdown-toggle" id="joinDate" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text"
                                       class="form-control input-sm datepicker"
                                       ng-model="asDetail.JoinDate"
                                       ng-required="true"
                                       date-time-input="MM/DD/YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="asDetail.JoinDate"
                                            data-datetimepicker-config="{
                                        dropdownSelector: '#joinDate',
                                        startView: 'day',
                                        minView: 'day' }" />
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-8"></div>
                <div class="col-md-4 pull-right">
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
                </div>
            </div>
        </div>
    </form>
</div>