﻿<style>
    .custom-popup-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        background-color: #f9f9f9;
    }

        .custom-popup-wrapper > .message {
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
            color: #868686;
        }

        .custom-popup-wrapper > .dropdown-menu {
            position: static;
            float: none;
            display: block;
            min-width: 160px;
            background-color: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;
        }

    tr.dropdown-menu {
        display: block;
    }

    .mytable {
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.5);
        position: absolute;
        width: 550px;
        z-index: 99999;
    }

        .mytable thead tr {
            background-color: #367fa9;
            color: #fff;
        }

            .mytable thead tr td {
                background-color: #367fa9;
                color: #fff;
                font-weight: bold;
            }

        .mytable > tbody > tr > td, .mytable > tbody > tr > th, .mytable > tfoot > tr > td, .mytable > tfoot > tr > th,
        .mytable > thead > tr > td, .mytable > thead > tr > th {
            padding: 3px;
        }
</style>
<script type="text/ng-template" id="add-merchant.html">
    <style type="text/css">
        .Rejectcontainer {
            width: 800px;
            margin: 10px;
        }
    </style>
    <div class="Rejectcontainer">
        <form id="Cntrl.frmMerchant" name="Cntrl.frmMerchant" ng-class="{'submitted':submitted}" ng-submit="SaveMerchant(mp)" novalidate>
            <input type="hidden" ng-model="mp.IsHaulier" ng-init="mp.IsHaulier = true" />
            <h4 class="modal-title"><b>{{Cntrl.modaltitle}}</b></h4>
            <div class="modal-body">
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Merchant Name</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="mp.MerchantName" ng-required="true" />
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Registration No.</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="mp.RegNo" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">GST No.</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="mp.TaxID" />
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Address</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="mp.address.Address1" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Post Code</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="mp.address.ZipCode" logicon-number />
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right"></label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="mp.address.Address2"  />
                    </div><div class="col-md-2">
                        <label class="control-label pull-right">State</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="mp.address.State" />
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right">City / Suburb</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="mp.address.City"  />
                    </div>

                    <div class="col-md-2">
                        <label class="control-label pull-right">Country</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text"
                               autocomplete="off"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': address.CountryNameLoading}"
                               placeholder="Country"
                               ng-model="mp.address.CountryName"
                               typeahead-min-length="3"
                               uib-typeahead="s.Text as s.Text for s in countryResults($viewValue)"
                               typeahead-loading="mp.address.CountryNameLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="countrySelect($item)" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 pull-right">
                        <button class="btn btn-primary btn-sm" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="gi.isHaulier = false"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>


<section class="content" ng-controller="GateOutCntrl as Cntrl">
    <script type="text/ng-template" id="tag-template">
        <div class="tag-template">
            <div class="right-panel">
                <span uib-tooltip="{{data.Value}}">{{$getDisplayText()}}</span>
                <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="autocomplete-template">
        <div class="autocomplete-template">
            <div class="right-panel">
                <span ng-bind-html="$highlight($getDisplayText())"></span>
                <!--<span>({{data.Value}})</span>-->
                <
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="customTemplate.html">
        <table ng-show="isOpen() && !moveInProgress"
               aria-hidden="{{!isOpen()}}"
               class="table table-bordered table-hover table-bordered mytable"
               style="top: 28px;left: -300px;">
            <thead>
                <tr>
                    <th>Transaction No.</th>
                    <th>Truck No.</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="match in matches track by $index" ng-click="selectMatch($index)">
                    <td>{{match.model.TransactionNo}}</td>
                    <td>{{match.model.TruckNo}}</td>
                </tr>
            </tbody>
        </table>
    </script>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Gate Out</h3>
            <div class="box-tools pull-right">
                <input type="text"
                       style="width:250px;"
                       class="form-control input-sm ac"
                       ng-class="{'loadinggif': searchLoading}"
                       placeholder="Transaction No."
                       ng-model="search"
                       typeahead-min-length="3"
                       uib-typeahead="d for d in GateInTransLoadingResults($viewValue)"
                       typeahead-loading="searchLoading"
                       typeahead-popup-template-url="customTemplate.html"
                       typeahead-wait-ms="100"
                       typeahead-editable="false"
                       typeahead-on-select="GateInTransSelected($item)" />

            </div>
        </div>
        <div class="box-body no-gutter">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <form id="frmGateIn" name="frmGateIn" ng-class="{'submitted': submitted}" ng-submit="SaveGateIn()" novalidate>
                            <div class="col-md-12">
                                <div class="box box-default box-solid">
                                    <div class="box-body no-gutter">
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">Registration No.</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-sm" ng-model="gi.TruckNo" ng-required="true" />
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label pull-right">Truck Category</label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control input-sm"
                                                        ng-model="gi.TruckCategory"
                                                        ng-required="true"
                                                        ng-options="s.Value as s.Text for s in lookUpData.truckCategoryList"></select>
                                            </div>
                                       
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right nowrapCss">Gate-Out Date</label>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="dropdown">
                                                    <a class="dropdown-toggle" id="TransactionDate" role="button" data-toggle="dropdown">
                                                        <div class="input-group">
                                                            <input type="text"
                                                                   class="form-control input-sm datepicker"
                                                                   ng-model="gi.TransactionDate"
                                                                   ng-required="true"
                                                                   date-time-input="{{DateFormat}}">
                                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                        </div>
                                                    </a>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                        <datetimepicker ng-model="gi.TransactionDate"
                                                                        data-datetimepicker-config="{
                                                                        dropdownSelector: '#TransactionDate',
                                                                        startView: 'day',
                                                                        minView: 'day' }" />
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">Haulier Name</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text"
                                                       ng-required="true"
                                                       class="form-control input-sm ac"
                                                       ng-class="{'loadinggif': gi.HaulierNameLoading}"
                                                       placeholder="Search Haulier"
                                                       ng-model="gi.HaulierName"
                                                       typeahead-min-length="3"
                                                       uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'haulier')"
                                                       typeahead-loading="gi.HaulierNameLoading"
                                                       typeahead-wait-ms="300"
                                                       typeahead-editable="false"
                                                       typeahead-on-select="CustomerSelected($item, 'HaulierCode')" />
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-primary pull-right" type="button"
                                                        popover-is-open="gi.isHaulier"
                                                        uib-popover-template="'add-merchant.html'"
                                                        popover-placement="bottom-left">
                                                    <i class="fa fa-plus"></i>
                                                    &nbsp;Add New Haulier
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <form id="frmGateInDetail" name="frmGateInDetail" ng-class="{'submitted': submittedDetail}" ng-submit="SaveGateInDetail()" novalidate>
                            <div class="col-md-12">
                                <div class="box box-default box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Detail</h3>
                                        <div class="box-tools pull-right">
                                            <!--<md-button class="md-fab md-mini-1 md-primary btn-box-tool" ng-disabled="IsAddBtnDetailDisabled" aria-label="button" ng-click="submittedDetail = true;SaveGateInDetail();">
                                                <i class="fa fa-plus fa-1x"></i>
                                            </md-button>
                                            <md-button class="md-fab md-mini-1 md-primary btn-box-tool" aria-label="button" ng-click="RemoveGateInDetail()">
                                                <i class="fa fa-minus-circle fa-1x"></i>
                                            </md-button>
                                            <md-button class="md-fab md-mini-1 md-primary btn-box-tool" aria-label="button" ng-click="ClearGateInDetail();">
                                                <i class="fa fa-trash-o fa-1x" aria-hidden="true"></i>
                                            </md-button>-->
                                        </div>
                                    </div>
                                    <div class="box-body no-gutter">
                                        <div class="col-md-12">
                                            <input type="hidden" ng-model="tmdl.OrderNo" />
                                            <input type="hidden" ng-model="tmdl.ContainerKey" />
                                            <input type="hidden" ng-model="tmdl.MovementCode" />
                                            <input type="hidden" ng-model="tmdl.DateIn" />
                                            <input type="hidden" ng-model="tmdl.DateOut" />
                                            <input type="hidden" ng-model="tmdl.Status" ng-init="tmdl.Status = true" />
                                            <input type="hidden" ng-model="tmdl.MovementCode" ng-init="tmdl.MovementCode = 1502" />
                                            <input type="hidden" ng-model="cmdl.MovementType" ng-init="cmdl.MovementType = 1502" />
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Trip</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <select class="form-control input-sm"
                                                            ng-model="tmdl.TripType"
                                                            ng-required="true"
                                                            ng-disabled="true"
                                                            ng-change="TripChanged()"
                                                            ng-options="s.Value as s.Text for s in lookUpData.tripList"></select>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Empty/Loaded</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select class="form-control input-sm"
                                                            ng-model="cmdl.EFIndicator"
                                                            ng-required="true"
                                                            ng-disabled="true"
                                                            ng-options="s.Value as s.Text for s in lookUpData.emptyLoadedList"></select>
                                                </div>

                                            </div>
                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col-md-2 nowrapCss">
                                                    <label class="control-label pull-right">BK-B/L No.</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           ng-required="true"
                                                           class="form-control input-sm ac"
                                                           ng-class="{'loadinggif': cmdl.BookingBLNoLoading}"
                                                           placeholder="Search Booking BLNo."
                                                           ng-model="cmdl.BookingBLNo"
                                                           typeahead-min-length="3"
                                                           uib-typeahead="d.BLNo as d.BLNo for d in BookingBLNoResults($viewValue)"
                                                           typeahead-loading="cmdl.BookingBLNoLoading"
                                                           typeahead-wait-ms="300"
                                                           typeahead-editable="false"
                                                           typeahead-on-select="BookingBLNoSelected($item)" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Order Type</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select class="form-control input-sm"
                                                            ng-model="cmdl.OrderType"
                                                            ng-required="true"
                                                            ng-options="s.Value as s.Text for s in lookUpData.orderTypeList"></select>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Booking Type</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <select class="form-control input-sm"
                                                            ng-model="cmdl.BookingType"
                                                            ng-required="true"
                                                            ng-options="s.Value as s.Text for s in lookUpData.bookingTypeList"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="box box-default box-solid">
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Container No.</label><!--Container No-->
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text"
                                                               ng-required="true"
                                                               class="form-control input-sm ac"
                                                               ng-disabled="cmdl.BookingBLNo == null"
                                                               ng-class="{'loadinggif': cmdl.ContainerNoLoading}"
                                                               placeholder="Search Container No."
                                                               ng-model="cmdl.ContainerNo"
                                                               typeahead-min-length="3"
                                                               uib-typeahead="d.ContainerNo as d.ContainerNo for d in ContainerNoResults($viewValue)"
                                                               typeahead-loading="cmdl.ContainerNoLoading"
                                                               typeahead-wait-ms="300"
                                                               typeahead-editable="true"
                                                               typeahead-on-select="ContainerSelected($item)" />
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Class</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <select class="form-control input-sm"
                                                                ng-model="cmdl.ContainerGrade"
                                                                ng-required="checkValidation()"
                                                                ng-options="s.Value as s.Text for s in lookUpData.containerGradeList"></select>
                                                    </div>
                                                </div>

                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-2 nowrapCss">
                                                        <label class="control-label pull-right">Size-Type</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select class="form-control input-sm"
                                                                ng-model="cmdl.Size"
                                                                ng-required="true"
                                                                ng-disabled="IsSizeDisabled"
                                                                ng-options="s.Value as s.Text for s in lookUpData.sizeList"
                                                                ng-change="sizeChanged(cmdl.Size)"></select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select class="form-control input-sm"
                                                                ng-model="cmdl.Type"
                                                                ng-required="true"
                                                                ng-change="TypeChange(cmdl.Type)"
                                                                ng-disabled="cmdl.Size == null"
                                                                ng-options="s.Value as s.Text for s in lookUpData.TypeList"></select>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Status#1</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <select class="form-control input-sm"
                                                                ng-model="cmdl.ContainerStatus"
                                                                ng-required="true"
                                                                ng-options="s.Value as s.Text for s in lookUpData.containerStatusList"></select>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Temp.</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input type="text"
                                                               ng-model="cmdl.Temperature"
                                                               logicon-decimal
                                                               class="form-control input-sm" />
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select class="form-control input-sm"
                                                                ng-model="cmdl.TemperatureType"
                                                                ng-options="s.Value as s.Text for s in lookUpData.tempTypeList"></select>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Tare Weight</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input type="text"
                                                               ng-model="cmdl.TareWeight"
                                                               ng-required="true"
                                                               logicon-decimal
                                                               class="form-control input-sm" />
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Vent</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input type="text"
                                                               ng-model="cmdl.Vent"
                                                               logicon-decimal
                                                               class="form-control input-sm" />
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select class="form-control input-sm"
                                                                ng-model="cmdl.VentMode"
                                                                ng-options="s.Value as s.Text for s in lookUpData.ventTypeList"></select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">MGW</label><!--MaxGrossWeight-->
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input type="text"
                                                               ng-model="cmdl.MGW"
                                                               ng-required="checkValidation()"
                                                               logicon-decimal
                                                               class="form-control input-sm" />
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Mat./Ht.</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select class="form-control input-sm"
                                                                ng-model="cmdl.Material"
                                                                ng-required="true"
                                                                ng-options="s.Value as s.Text for s in lookUpData.containerMaterialList"></select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select class="form-control input-sm"
                                                                ng-model="cmdl.Height"
                                                                ng-required="checkValidation()"
                                                                ng-options="s.Value as s.Text for s in lookUpData.containerHeightList"></select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Year Built</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input type="number"
                                                               ng-model="cmdl.YearBuilt"
                                                               min="1950"
                                                               max="{{CurrentYear}}"
                                                               class="form-control input-sm" />
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button class="btn btn-primary"
                                                                type="submit"
                                                                ng-click="submittedDetail = true;"
                                                                ng-disabled="IsAddBtnDetailDisabled">
                                                            <i class="fa fa-plus"></i>&nbsp;{{btnText}}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="box box-default box-solid">
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Vessel ID</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" ng-model="cmdl.VesselID" ng-required="true" class="form-control input-sm" />
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Vessel Name</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="text"
                                                               ng-model="cmdl.VesselName"
                                                               ng-required="true"
                                                               class="form-control input-sm" />
                                                    </div>

                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Ship Call No.</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text"
                                                               ng-model="cmdl.ShipCallNo"
                                                               ng-required="true"
                                                               class="form-control input-sm" />
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Vessel Call Sign </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="text"
                                                               ng-model="cmdl.VesselCallSign"
                                                               class="form-control input-sm" />
                                                    </div>

                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Voyage No.</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text"
                                                               ng-model="cmdl.VoyageNo"
                                                               ng-required="true"
                                                               class="form-control input-sm" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="box box-default box-solid">
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right text-nowrap">Billing Customer</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text"
                                                               ng-required="true"
                                                               class="form-control input-sm ac"
                                                               ng-class="{'loadinggif': cmdl.CustomerNameLoading}"
                                                               placeholder="Search Customer"
                                                               ng-model="cmdl.CustomerName"
                                                               typeahead-min-length="3"
                                                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'billingCustomer')"
                                                               typeahead-loading="cmdl.CustomerNameLoading"
                                                               typeahead-wait-ms="300"
                                                               typeahead-editable="false"
                                                               typeahead-on-select="CustomerSelected($item, 'CustomerCode')" />
                                                    </div>
                                                </div>

                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Agent</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text"
                                                               ng-required="true"
                                                               class="form-control input-sm ac"
                                                               ng-class="{'loadinggif': cmdl.AgentNameLoading}"
                                                               placeholder="Search Agent"
                                                               ng-model="cmdl.AgentName"
                                                               typeahead-min-length="3"
                                                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'billingCustomer')"
                                                               typeahead-loading="cmdl.AgentNameLoading"
                                                               typeahead-wait-ms="300"
                                                               typeahead-editable="false"
                                                               typeahead-on-select="CustomerSelected($item, 'AgentCode')" />
                                                    </div>
                                                </div>

                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right nowrapCss">Agent Seal</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text"
                                                               ng-model="cmdl.SealNo1"
                                                               ng-required="true"
                                                               class="form-control input-sm" />
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Seal#2</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="text"
                                                               ng-model="cmdl.SealNo2"
                                                               class="form-control input-sm" />
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-2">
                                                        <label class="control-label pull-right">Remarks</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <textarea ng-model="cmdl.Remarks"
                                                                  class="form-control input-sm"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead style="color: #fff; background-color: steelblue;">
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Booking BL No.</th>
                                                        <th>Container No.</th>
                                                        <th>Customer</th>
                                                        <th>#Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in gi.ContainerMovementDetails">
                                                        <td>{{$index + 1}}</td>
                                                        <td>{{item.BookingBLNo}}</td>
                                                        <td>{{item.ContainerNo}}</td>
                                                        <td>{{item.CustomerName}}</td>
                                                        <td>
                                                            <button type="button" ng-click="EditGateInDetail($index)" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                                                            <button type="button" ng-click="DeleteGateInDetail($index)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row" ng-show="gi.Status1 == 'DMG'">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label pull-left">Damage Indicator</label><br />
                                            <tags-input ng-model="tResults"
                                                        display-property="Text"
                                                        placeholder="Damage Indicator"
                                                        replace-spaces-with-dashes="false"
                                                        add-from-autocomplete-only="true"
                                                        template="tag-template">
                                                <auto-complete source="DamageResults($query)"
                                                               min-length="3"
                                                               max-results-to-show="10"
                                                               template="autocomplete-template"></auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-md-1">
                <button class="btn btn-primary" type="button" ng-click="submitted = true;SaveGateIn();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            </div>
            <!--<div class="col-md-1">
                <md-button class="md-raised md-clear"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Print</md-button>
            </div>
            <div class="col-md-1">
                <md-button class="md-raised md-clear"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Clear</md-button>
            </div>
            <div class="col-md-1">
                <md-button class="md-raised md-clear"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Delete</md-button>
            </div>
            <div class="col-md-1">
                <md-button class="md-raised md-clear"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Close</md-button>
            </div>
            <div class="col-md-3">
                <md-checkbox class="md-primary" aria-label="Telex Release">Split Coupon Invoice</md-checkbox>
            </div>-->
        </div>
    </div>
</section>


