﻿/* changing nav bar color */
.skin-blue .main-header .navbar {
    background-color: rgb(199,56,64);
}
    /* changing nav bar color */
    /* changing sub menu hover color */
    .skin-blue .main-header .navbar .nav > li > a:hover, .skin-blue .main-header .navbar .nav > li > a:active, .skin-blue .main-header .navbar .nav > li > a:focus, .skin-blue .main-header .navbar .nav .open > a, .skin-blue .main-header .navbar .nav .open > a:hover, .skin-blue .main-header .navbar .nav .open > a:focus, .skin-blue .main-header .navbar .nav > .active > a {
        /*background: #CA665A;*/
        color: white;
    }
/* changing sub menu hover color */
/* for showing submenus in dropdown menu */
.marginBottom-0 {
    margin-bottom: 0;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #555;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
/* for showing submenus in dropdown menu */


/* for reducing divider height in dropdown menu */
.dropdown-menu .divider {
    height: 1px;
    margin: 1px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
/* for reducing divider height in dropdown menu */
.dropdown-menu > li a {
    color: black;
    font-weight: 500;
}

/*
        .dropdown-menu > li a.active {
            color:black;
        }*/
/* for reducing nav bar height in dropdown menu */
.navbar-nav > li > a, .navbar-brand {
    padding-top: 0px !important;
    padding-bottom: 0 !important;
    line-height: 40px;
}

.navbar {
    min-height: 35px !important;
}
/* for reducing nav bar height in dropdown menu */


/* 25th may 2016 */

a {
    cursor: pointer;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

.mainview-animation.ng-enter {
    -webkit-transition: .3s linear all; /* Safari/Chrome */
    -moz-transition: .3s linear all; /* Firefox */
    -o-transition: .3s linear all; /* Opera */
    transition: .3s linear all; /* IE10+ and Future Browsers */
}

/**
         * Pre animation -> enter
         */
.mainview-animation.ng-enter {
    /* The animation preparation code */
    opacity: -1;
}

    /**
         * Post animation -> enter
         */
    .mainview-animation.ng-enter.ng-enter-active {
        /* The animation code itself */
        opacity: 2;
    }

@font-face {
    font-family: 'proximanovalight';
    src: url('../fonts/proximanovalight.eot');
    src: local('proximanovalight'), url('../fonts/proximanovalight.woff') format('woff'), url('../fonts/proximanovalight.ttf') format('truetype');
}

body {
    font-family: 'proximanovalight';
}

.fontsforweb_fontid_12950 {
    font-family: 'proximanovalight' !important;
}

/* 26-05-2016 */
.btn, btn-sm {
    border-radius: 0px;
}

md-checkbox {
    margin: 0px !important;
}

.marginBotton {
    margin: 5px !important;
}

/*html {
            overflow-y: scroll;
        }*/

/*nav
        {
           -webkit-backface-visibility: hidden;
        }*/
.btn-default {
    background-color: #fff;
}

/*.my-datepicker .form-control {
            height: 10px;
            padding: 11px;
        }

        .my-datepicker .btn {
            padding: 1px 2px;
        }*/

.s-scroll {
    max-height: 400px;
    overflow-y: auto;
}

md-switch.md-default-theme.md-checked.md-primary .md-thumb, md-switch.md-checked.md-primary .md-thumb {
    background-color: #8BC34A;
}

md-switch.md-default-theme.md-checked.md-primary .md-bar, md-switch.md-checked.md-primary .md-bar {
    background-color: rgba(106, 169, 154, 0.5);
}

md-switch {
    margin: 2px !important;
}

md-checkbox {
    margin: 5px;
}

md-radio-group md-radio-button:not(:first-child) {
    margin-top: 5px;
}

.nowrapCss {
    white-space: nowrap;
}

.app-modal-window .modal-dialog {
    width: 1000px;
}

.app-modal-window2 .modal-dialog {
    width: 1200px;
}

.app-modal-window3 .modal-dialog {
    width: 1300px;
}

.md-button.md-primary {
    border-radius: 0px;
    box-sizing: border-box;
    color: currentColor;
    background-color: #3c8dbc !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    margin: 6px 8px;
    line-height: 29px;
    min-height: 29px;
    background: 0 0;
    white-space: nowrap;
    min-width: 70px;
    text-align: center;
    text-transform: none !important;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.md-button.md-danger {
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff !important;
    background-color: #d73925 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    margin: 6px 8px;
    line-height: 29px;
    min-height: 29px;
    background: 0 0;
    white-space: nowrap;
    min-width: 70px;
    text-align: center;
    text-transform: none !important;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.md-button.md-warning {
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    background-color: #f39c12 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    margin: 6px 8px;
    line-height: 29px;
    min-height: 29px;
    background: 0 0;
    white-space: nowrap;
    min-width: 70px;
    text-align: center;
    text-transform: none !important;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.md-button.md-clear {
    border-radius: 0px;
    box-sizing: border-box;
    color: #000;
    background-color: #fff !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    margin: 6px 8px;
    line-height: 29px;
    min-height: 29px;
    background: 0 0;
    white-space: nowrap;
    min-width: 70px;
    text-align: center;
    text-transform: none !important;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

button.md-warning, button.md-clear {
    margin-top: 0px !important;
}

/*md-tab-content {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: none;
            transition: none; 
            overflow: auto;
            -webkit-transform: none; 
            transform: none; 
        }*/

/*md-tab-content.md-left:not(.md-active) {
             -webkit-transform: none !important;
             transform:none !important; 
             -webkit-animation:none !important; 
             animation: none !important; 
             opacity: 0 !important; 
        }*/
/*md-tab-content.md-left {
             -webkit-transform: none !important;
             transform:none !important; 
             -webkit-animation:none !important; 
             animation: none !important; 
             opacity: 0 !important; 
        }

        md-tab-content.md-no-scroll {
             bottom: auto !important; 
             overflow: visible !important; 
        }*/

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: rgb(221, 75, 57);
    background: rgb(221, 75, 57);
}

.modal-header {
    border-bottom-color: #f4f4f4;
    background-color: #dd4b39;
    color: #fff;
}

.md-button.md-primary {
    margin: 0px 0px;
}

.submitted .ng-invalid {
    border: 1px solid red;
}

.tag-template .left-panel {
    float: left;
}

    .tag-template .left-panel img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }

.tag-template .right-panel {
    float: left;
    margin-left: 5px;
}

.autocomplete-template .left-panel {
    float: left;
}

    .autocomplete-template .left-panel img {
        width: 48px;
        height: 48px;
        vertical-align: middle;
    }

.autocomplete-template .right-panel {
    float: left;
    margin-left: 5px;
    margin-top: 7px;
}

    .autocomplete-template .right-panel span:first-child {
        font-size: 16px;
    }

    .autocomplete-template .right-panel span:nth-child(2) {
        font-size: 14px;
        color: gray;
    }

    .autocomplete-template .right-panel span:last-child {
        display: block;
        font-size: 14px;
        font-style: italic;
    }

.popover {
    max-width: 5300px !important;
}



.input-group .input-group-addon {
    padding-top: 5px;
}

.dropdown-menu li a {
    font-weight: bold;
}

.navigationmenu .dropdown-menu li a:hover {
    color: #fff;
    background-color: #3c8dbc;
}

.table-fixed thead {
    width: 97%;
}

.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

.table-fixed th {
    background-color: steelblue !important;
    color: #fff;
}

.table-fixed tbody td, .table-fixed thead > tr > th {
    float: left;
    border-bottom-width: 0;
}

treeitem a {
    color: rgb(221,44,0) !important;
    padding-left: 20px;
    font-style: italic;
}

.ac {
    background-color: #f5fcf5;
}

/*.datetimepicker{
            width: 197px !important;
        }*/

.dtcss .dropdown-menu {
    margin: 2px -130px 0;
}

.loadinggifOpen {
    background: url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif') no-repeat right center;
}

.loadinggif {
    background: url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif') no-repeat right center;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

    .row.no-gutter [class*='col-']:not(:first-child),
    .row.no-gutter [class*='col-']:not(:last-child) {
        padding-left: 6px;
        padding-right: 10px;
    }

.box-body.no-gutter .row [class*='col-']:not(:first-child),
.box-body.no-gutter .row [class*='col-']:not(:last-child) {
    padding-left: 8px;
    padding-right: 8px;
}

.address .popover {
    width: 260px !important;
    top: -70px;
}

.address .small-box {
    margin-bottom: 0px;
}

.conPropContainer {
    width: 320px;
}

.conProp .popover-content {
    width: 300px !important;
}

    .conProp .popover-content .span {
        font-weight: bold;
        width: 280px !important;
    }

.pinkCss {
    background-color: #f3b6b6;
    color: #fff;
    display: block;
    padding-top: 2px;
    height: 27px;
    padding-bottom: 2px;
}

.blackCss {
    background-color: #8e7d7d;
    color: #fff;
    display: block;
    padding-top: 2px;
    height: 27px;
    padding-bottom: 2px;
}

.md-button.md-fab.md-mini-1 {
    line-height: 30px;
    width: 30px;
    height: 30px;
}

.iconCss {
    height: 25px;
    width: 25px;
}

.selectedRow {
    background-color: rgba(102, 197, 102, 0.4);
}

.oeDropDown .dropdown-menu {
    margin: 2px -123px 0;
}


.css10 {
    margin-top: 10px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0px 0px 0 0;
    font-weight: 600;
}

.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
    color: #444;
    background: #f7f7f7;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    font-weight: 600;
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.signout-usermenu .navbar-nav > .user-menu > .dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 225px;
}

label {
    color: #333 !important;
    line-height: 30px;
}

.main-header .navbar-brand {
    height: 40px;
}

.main-header .navbar-nav > li > a {
}

.main-footer {
    padding: 10px 0px 10px;
}

.signout-usermenu .user-menu ul.dropdown-menu {
    left: inherit;
    right: 0px;
}
/*timeline ends*/

/*html {
  overflow-y: scroll;
}*/

#contentWrapper {
    padding-top: 40px !important;
}

.small-box .inner {
    min-height: 115px;
}

.box-title {
    text-transform: uppercase;
}

.small-box {
    border-radius: 4px;
    transition: box-shadow 0.5s ease-in-out 0s;
}

    .small-box:hover {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.41);
    }

.form-control::-moz-placeholder {
    color: #858585;
}


.form-control {
    font-weight: bolder;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
}

.dateontop {
    position: absolute;
    right: -36px;
    top: 56px;
}

.content-over td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.accordion-toggle {
    display: block;
    text-transform: uppercase;
    color: #333;
}

md-checkbox .md-container.md-ink-ripple {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 0 !important;
}

md-radio-group.md-default-theme:not([disabled]) .md-primary .md-on, md-radio-group:not([disabled]) .md-primary .md-on, md-radio-group.md-default-theme.md-primary:not([disabled]) .md-on, md-radio-group.md-primary:not([disabled]) .md-on, md-radio-button.md-default-theme:not([disabled]) .md-primary .md-on, md-radio-button:not([disabled]) .md-primary .md-on, md-radio-button.md-default-theme.md-primary:not([disabled]) .md-on, md-radio-button.md-primary:not([disabled]) .md-on {
    background-color: rgba(199,56,64,0.8);
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: rgb(199, 56, 64);
}

md-checkbox .md-icon, md-checkbox .md-container, md-radio-button .md-on, md-radio-button .md-off {
    width: 15px !important;
    height: 15px !important;
}

md-checkbox.md-checked .md-icon::after {
    height: 10.33px !important;
    left: 3.67px !important;
}

md-radio-button {
    margin-top: 8px;
    margin-bottom: 0px;
}

    md-radio-button .md-label {
        position: relative;
        top: -2px;
        margin-left: 25px;
    }

md-checkbox .md-label {
    margin-top: 3px;
}

ul.dropdown-menu.ng-isolate-scope {
    padding: 0px;
    border-radius: 0px;
}



/*.userIdPopOverCss .popover-content { font-size:12px !important;}*/
/*.popover{height:auto;
         background:#C73840;
         border-color:#C73840;
}
.popover-content {
    color:#fff;
    font-size:12px;
    padding:5px 5px;
    margin:0px;
    height:0px;
}

 .popover.left  .arrow::after {
  
         border-right-color: #C73840 !important;
}*/
@media (min-width: 1500px) and (max-width: 1700px) {
    label {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1499px) {
    .app-modal-window3 .modal-dialog {
        width: 96%;
        margin: 0px auto;
    }

    label {
        font-size: 12px;
    }

    body {
        font-size: 12px;
    }

    .dropdown-menu {
        font-size: 12px;
    }

    .box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
        font-size: 16px;
    }

    .form-control {
        font-size: 12px;
    }

    .panel-title {
        font-size: 14px;
    }

    .app-modal-window2 .modal-dialog {
        width: 98%;
        margin: 0px auto;
    }
}

.panel-title a {
    color: #C73840;
}

.tab-content {
    min-height: 200px;
}

.tool .tooltip {
    min-width: 200px;
}

.modal-body .overlay {
    background-color: #fff;
    background-image: none;
    font-size: 16px;
    height: 100%;
    padding-top: 13%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 98%;
}
.look-like-input {
    background-color: #eeeeee;
    border: 1px solid #d2d6de;
    padding: 0px 10px;
    height: 28px;
    line-height: 30px;
    width: 100%;

}