﻿<section class="content" ng-controller="WareHouseController">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Login</h3>
        </div>
        <div class="box-body">
            <div class="row">
            </div>
        </div>
    </div>
</section>