﻿<section class="content" ng-controller="EquipmentSizeTypeCntrl">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Equipment Size/Type</h3>
                    <div class="box-tools pull-right">
                        <!-- <button type="button" class="btn btn-box-tool" ng-click="AddEquipmentSizeType(-1);">
                            <i class="fa fa-plus"></i>
                        </button>-->
                        <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddEquipmentSizeType(-1);">
                            <i class="fa fa-plus fa-1x ng-scope"></i>
                            <div class="md-ripple-container"></div>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <!--  <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                    </div>-->
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead style="color: #fff; background-color: steelblue;">
                                    <tr>
                                        <th>Size</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                        <th>Type-Size</th>
                                        <th>Gross Wgt.</th>
                                        <th>Height</th>
                                        <th>Container</th>
                                        <th>Reefer</th>
                                        <th>Tare Wgt.</th>
                                        <th>TEU</th>
                                        <th>ISO Code</th>
                                        <th>Mapping Code</th>
                                        <th>#Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="equip in equipmentSizeTypeList" class="if">
                                        <td>{{equip.Size}}</td>
                                        <td>{{equip.Type}}</td>
                                        <td>{{equip.Description}}</td>
                                        <td>{{equip.Code}}</td>
                                        <td>{{equip.Weight}}</td>
                                        <td>{{equip.Height}}</td>
                                        <td>{{equip.IsActive}}</td>
                                        <td>{{equip.IsReefer}}</td>
                                        <td>{{equip.Volume}}</td>
                                        <td>{{equip.TEU}}</td>
                                        <td>{{equip.ISOCode}}</td>
                                        <td>{{equip.MappingCode}}</td>
                                        <td style="padding: 0 0 0 5px">
                                            <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="AddEquipmentSizeType(equip.Code);" aria-label="button">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                <div class="md-ripple-container"></div>
                                            </button>
                                            <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" type="button" ng-click="DeleteEquipmentSizeType(equip.Code);" aria-label="button">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                <div class="md-ripple-container"></div>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <uib-pagination ng-model="currentPage"
                                total-items="totalItems"
                                ng-change="pageChanged()"
                                class="pagination-sm pull-right"
                                max-size="10"
                                items-per-page="limit">
                    </uib-pagination>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <md-button class="md-raised md-clear" onclick="location.href = '#/home/'"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
