﻿<section class="content" ng-controller="Cntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Container & Cargo Status Inquiry</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-right">Container No.</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-right">Order No.</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-right">Job Category</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div> 
                </div>
                <div class="col-md-4">
                    <div class="row" style="margin-top: 10px;">
                        <table class="table table-bordered" style="max-height:50px;">
                            <tbody>
                                <tr>
                                    <td>Seal No.</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Customer Ref.</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Liner Ref.</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Customer Name</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Delivery Name</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Shipping Address</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Discharge Port</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Terminal</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Vessel/Voy</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Closing Date</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>ETD</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="well well-sm" style="min-height:150px;">
                            </div>
                        </div>
                    </div>
                    <div class="row pull-right" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <button class="btn btn-primary">Save Remarks</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <label class="control-label pull-left">Remarks</label>
                            <textarea class="form-control input-sm"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Type</th>
                                <th>Container Key</th>
                                <th>Document No.</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Truck ID</th>
                                <th>Truck Reg No.</th>
                                <th>Driver Name</th>
                                <th>Contractor</th>
                                <th>Location</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>
