﻿<form name="frmAddGSTRateMaster" id="frmAddGSTRateMaster" ng-submit="AddGSTRateMaster(gst)" ng-class="{'submitted':submitted}" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Add/Edit GST Rate </h4>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label">GST Code</label>
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="gst.GSTCode" class="form-control input-sm" ng-required="true" ng-readonly="truefalse"/>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label">Description</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="gst.Description" class="form-control input-sm" ng-required="true"/>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label">GST Rate</label>
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="gst.Rate" class="form-control input-sm" ng-required="true" logicon-decimal/>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-6"></div>
            <div class="col-md-6 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>
