﻿<section class="content" ng-controller="CustomerInvoiceCntrl">
    <style type="text/css">
        .myCustomerPopOver .popover-inner {
            width: 580px;
        }
    </style>
    <script type="text/ng-template" id="myPopoverTemplate.html">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Address</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.Address1" required />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.Address2" required />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Post Code</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.ZipCode" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">City/Suburb</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.City" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">State</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.State" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Country</label>
            </div>
            <div class="col-md-3">
                <select class="form-control input-sm" ng-model="cin.address.CountryCode" ng-options="s.Value as s.Text for s in lookupData.countriesList"></select>
            </div>
            <!--<div class="col-md-7">
                <input type="text" class="form-control input-sm" />
            </div>-->
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Tel No.</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="cin.address.TelNo" />
            </div>
            <!--<div class="col-md-2">
                <label class="control-label pull-right">Contact</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>-->
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Fax No.</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="cin.address.FaxNo" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Mobile No.</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="cin.address.MobileNo" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Email</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control input-sm" ng-model="cin.address.Email" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Website</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control input-sm" ng-model="cin.address.WebSite" />
            </div>
        </div>
    </script>

    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Customer Invoice</h3>
            <div class="box-tools pull-right">
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-6">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Customer</label>
                        </div>
                        <div class="col-md-10">
                            <input type="text"
                                class="form-control input-sm"
                                placeholder="Search Customer"
                                ng-model="cin.CustomerCode"
                                typeahead-min-length="3"
                                uib-typeahead="d.Text as d.Text for d in MerchantResults($viewValue)"
                                typeahead-loading="loadingcustomers"
                                typeahead-wait-ms="1000"
                                typeahead-on-select="CustomerSelected($item, 'CustomerCode')" />

                            <!--<select class="form-control input-sm" ng-model="cin.CustomerCode" ng-options="s.Value as s.Text for s in lookupData.merchantList"></select>-->


                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Remarks</label>
                        </div>
                        <div class="col-md-10">
                            <textarea class="form-control input-sm"></textarea>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-2 myCustomerPopOver">
                            <md-button class="md-raised md-primary"
                                uib-popover-template="'myPopoverTemplate.html'"
                                popover-placement="bottom"
                                popover-title="Address">
                                <i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;Address</md-button>
                        </div>
                        <div class="col-md-2">
                            <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Summary</md-button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Invoice Date</label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group my-datepicker">
                                <input type="text"
                                    class="form-control input-sm datepicker"
                                    uib-datepicker-popup="{{format}}"
                                    ng-model="cin.InvoiceDate"
                                    is-open="popup.InvoiceDate"
                                    ng-required="true"
                                    close-text="Close"
                                    alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default input-sm" ng-click="open('InvoiceDate')"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </span>
                            </div>
                            <!-- <div class="input-group my-datepicker">
                                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </span>
                            </div>-->
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right nowrapCss">Tax Amount</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label nowrapCss" ng-model="cin.TaxAmount">{{cin.TaxAmount}}</label>
                            <!--<input type="text" class="form-control input-sm" ng-model="cin.TaxAmount" />-->
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Credit Term</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right nowrapCss">Total Amount</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label nowrapCss" ng-model="cin.TotalAmount">{{cin.TotalAmount}}</label>
                            <!--<input type="text" class="form-control input-sm" ng-model="cin.TotalAmount" />-->
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Currency</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm" ng-model="cin.CurrencyCode" ng-options="s.Value as s.Text for s in lookupData.currencyList" ng-change="SelectCurrencyCode(cin.CurrencyCode);"></select>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <!-- <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                            <label class="control-label pull-right">Module</label>
                        </div>-->
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Module</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm" ng-model="cin.Module" ng-options="s.Value as s.Text for s in lookupData.moduleList"></select>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-primary" type="button" ng-click="customerInvoiceDetails(-1);"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button>
                        <!-- <button type="button" class="btn btn-box-tool" ng-click="AddCustomerInvoice();">
                            <i class="fa fa-plus"></i>
                        </button>-->
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="well well-sm" style="min-height: 250px;">
                        <table class="table table-bordered">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th>
                                        <md-checkbox class="md-primary"
                                            ng-click="toggleCustInvoice()"
                                            aria-label="Priority"></md-checkbox>
                                    </th>
                                    <th>Order No.</th>
                                    <!-- <th>Container No</th>-->
                                    <th>Size</th>
                                    <th>Charge Code</th>
                                    <th>Curr.</th>
                                    <th>Ex. Rate</th>
                                    <th>Billing Unit</th>
                                    <th>Qty.</th>
                                    <th>Price</th>
                                    <th>Base Amt.</th>
                                    <th>Local Amt.</th>
                                    <th>Tax Amt.</th>
                                    <th>GST  Code</th>
                                    <th>#Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in cin.invoiceDetailList">
                                    <td>
                                        <md-checkbox ng-model="item.chk"
                                            ng-init="item.chk = false"
                                            class="md-primary"
                                            aria-label="Priority"></md-checkbox>

                                    </td>
                                    <td>{{item.OrderNo}}</td>
                                    <!-- <td>{{item.ContainerKey}}</td>-->
                                    <td>{{item.Size}}</td>
                                    <td>{{item.ChargeCode}}</td>
                                    <td>{{item.CurrencyCode}}</td>
                                    <td>{{item.ExRate}}</td>
                                    <td>{{item.BillingUnitDescription}}</td>
                                    <td>{{item.Qty}}</td>
                                    <td>{{item.Price}}</td>
                                    <td>{{item.ActualAmount}}</td>
                                    <td>{{item.LocalAmount}}</td>
                                    <td>{{item.TotalAmount}}</td>
                                    <td>{{item.OutPutGSTDescription}}</td>

                                    <td style="padding: 0 0 0 5px">
                                        <input type="hidden" ng-model="item.Index" ng-init="item.Index = $index" />
                                        <md-button typeof="button" ng-click="customerInvoiceDetails($index);" class="md-fab md-mini-1 md-primary btn-box-tool" aria-label="button">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </md-button>
                                        <md-button typeof="button" ng-click="DeleteCustomerInvoice($index);" class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" aria-label="button">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </md-button>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <md-button class="md-raised md-primary" ng-click="SaveCustomerInvoiceDetails()"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                    </div>
                    <div class="col-md-1">
                        <md-button class="md-raised md-clear"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print</md-button>
                    </div>
                    <div class="col-md-1">
                        <md-button class="md-raised md-clear"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</md-button>
                    </div>
                    <div class="col-md-1">
                        <md-button class="md-raised md-clear"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete</md-button>
                    </div>
                    <div class="col-md-1">
                        <md-button class="md-raised md-clear"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
