﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Haulage Operation Monitor</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Job No.</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Truck ID</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Est Start Date</label>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <a class="dropdown-toggle" id="estStDt" role="button" data-toggle="dropdown">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm datepicker"
                               ng-model="vs.estStDt"
                               ng-required="true"
                               date-time-input="MM/DD/YYYY">
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="vs.estStDt"
                                    data-datetimepicker-config="{ dropdownSelector: '#estStDt', startView:'day', minView:'day' }" />
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Reg. No.</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Trailer ID</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Est Start Time</label>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <a class="dropdown-toggle" id="estStTime" role="button" data-toggle="dropdown">
                    <div class="input-group">
                        <input type="text"
                               class="form-control input-sm datepicker" ng-model="vs.estStTime" ng-required="true"
                               date-time-input="MM/DD/YYYY hh:mm A">
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="vs.estStTime"
                                    data-datetimepicker-config="{ dropdownSelector: '#estStTime', startView:'day', minView:'minute' }" />
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Movement</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Driver ID</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Req. Date</label>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <a class="dropdown-toggle" id="reqDt" role="button" data-toggle="dropdown">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm datepicker"
                               ng-model="vs.reqDt"
                               ng-required="true"
                               date-time-input="MM/DD/YYYY">
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="vs.reqDt"
                                    data-datetimepicker-config="{ dropdownSelector: '#reqDt', startView:'day', minView:'day' }" />
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Shipper/Consignee</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Req. Time</label>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <a class="dropdown-toggle" id="reqTime" role="button" data-toggle="dropdown">
                    <div class="input-group">
                        <input type="text"
                               class="form-control input-sm datepicker" ng-model="vs.reqTime" ng-required="true"
                               date-time-input="MM/DD/YYYY hh:mm A">
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="vs.reqTime"
                                    data-datetimepicker-config="{ dropdownSelector: '#reqTime', startView:'day', minView:'minute' }" />
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Pickup From</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Delivery To</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <md-checkbox aria-label="Uncouple Trailer">Uncouple Trailer</md-checkbox>
        </div>
        
        <div class="col-md-2">
            <label class="control-label pull-right">Movement</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button type="button" class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>