﻿<section class="content" ng-controller="HoldStatusCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Hold Status</h3>
            <div class="box-tools pull-right">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddHoldStatus('NEW');">
                    <i class="fa fa-plus fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;" ng-show="holdStatusList.length > 0">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color: #fff; background-color: #97c5ea;">
                            <tr>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Is Order</th>
                                <th>Is Container</th>
                                <th>Is Cargo</th>
                                <th>Mapping Code</th>
                                <th>#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="holdStatus in holdStatusList">
                                <td>{{holdStatus.Code}}</td>
                                <td>{{holdStatus.Description}}</td>
                                <td>
                                    <md-checkbox class="md-primary" ng-disabled="true" aria-label="IsOrder" ng-model="holdStatus.IsOrder"></md-checkbox>
                                </td>
                                <td>
                                    <md-checkbox class="md-primary" ng-disabled="true" aria-label="IsContainer" ng-model="holdStatus.IsContainer"></md-checkbox>
                                </td>
                                <td>
                                    <md-checkbox class="md-primary" ng-disabled="true" aria-label="IsCargo" ng-model="holdStatus.IsCargo"></md-checkbox>
                                </td>
                                <td>{{holdStatus.MappingCode}}</td>
                                <td style="padding: 0 0 0 5px">
                                    <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="AddHoldStatus(holdStatus.Code);" aria-label="button">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                    <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" type="button" ng-click="DeleteHoldStatus(holdStatus.Code);" aria-label="button">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" ng-show="holdStatusList.length <= 0">
                <div class="col-md-12">
                    No data found.
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <uib-pagination ng-model="currentPage"
                                total-items="totalItems"
                                ng-change="pageChanged()"
                                class="pagination-sm pull-right"
                                max-size="10"
                                items-per-page="limit">
                            </uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
             <div class="row">
                <div class="col-md-12">
                    <md-button class="md-raised md-clear" onclick="location.href = '#/home/'"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</md-button>
                </div>
            </div>
        </div>
    </div>
</section>
