﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Fuel Usage</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label pull-right">Voucher No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Odometer</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Vendor Code</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control input-sm"></select>
                </div>                
                <div class="col-md-6">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Driver ID</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Remarks</label>
                </div>                
                <div class="col-md-10">
                    <textarea class="form-control input-sm"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label pull-right">Distance Travel</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Bal. Fuel</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-3">
                    <label class="control-label pull-right">Usage Date</label>
                </div>
                <div class="col-md-4">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm datepicker"
                                       ng-model="vs.ImpAvaliableDate"
                                       ng-required="true"
                                       date-time-input="MM/DD/YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="vs.ImpAvaliableDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm datepicker"
                                       ng-model="vs.ImpAvaliableDate"
                                       ng-required="true"
                                       date-time-input="MM/DD/YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="vs.ImpAvaliableDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row"style="margin-top: 10px;">
                <div class="col-md-3">
                    <label class="control-label pull-right">Odometer Installed Date</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>                
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-3">
                    <label class="control-label pull-right">Quantity</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-3">
                    <label class="control-label pull-right">Unit Price</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-3">
                    <label class="control-label pull-right">Total Amount</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>