﻿<section class="content" ng-controller="k3Cntrl as Cntrl">
    <style type="text/css">
        .Activitycontainer {
            width: 400px;
            margin: 10px;
        }

        .txtCls {
            width: 100px;
            text-align: right;
        }
    </style>

    <script type="text/ng-template" id="activities.html">
        <div class="Activitycontainer">
            <div class="row" style="height:300px;overflow-y:scroll">
                <div class="col-md-12" ng-repeat="item in Cntrl.activityList" style="border-bottom:1px solid rgb(224,224,224);">
                    <a href="#">
                        <p>
                            {{ item.ActivityBy }}
                            <span class="pull-right"><small><i class="fa fa-clock-o"></i> {{ item.ActivityDate | date:'medium' }}</small></span>
                        </p>
                        <h4>{{ item.AcitivtyMessage }}</h4>
                    </a>
                </div>
            </div>
        </div>
    </script>
    <form id="frmk3" name="frmk3" ng-class="{'submitted': submitted}" ng-submit="Savek3Declaration(k3)" novalidate>
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">K3 - IMPORT</h3>
                <div class="box-tools pull-right">
                    C:\Users\LOGICON2\Desktop\Backup\Declaration
                    <button type="button"
                            class="btn btn-default"
                            popover-placement="bottom-right"
                            uib-popover-template="'activities.html'">
                        <i class="fa fa-bell"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <input type="hidden" ng-model="k3.DeclarationType" name="k3.DeclarationType" ng-init="k3.DeclarationType = 9101" />
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Declaration Job No.</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text"
                               class="form-control input-sm"
                               ng-model="k3.DeclarationNo" name="k3.DeclarationNo" ng-maxlength="100" logicon-limit />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Open Date</label>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="OpenDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker"
                                           ng-model="k3.OpenDate"
                                           name="k3.OpenDate"
                                           ng-required="true"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="k3.OpenDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#OpenDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-right">Import Date</label>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="ImportDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker"
                                           ng-model="k3.ImportDate"
                                           name="k3.ImportDate"
                                           ng-required="true"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="k3.ImportDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#ImportDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Order No.</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" ng-model="k3.OrderNo" name="k3.OrderNo" class="form-control input-sm" ng-maxlength="100" logicon-limit />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Transport Mode</label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-sm"
                                ng-model="k3.TransportMode" name="k3.TransportMode"
                                ng-options="s.Value as s.Text for s in lookUpData.transportModeList"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Shipment Type</label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-sm"
                                ng-model="k3.ShipmentType" name="k3.ShipmentType"
                                ng-options="s.Value as s.Text for s in lookUpData.shipmentTypeList"></select>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-right">Trans. Type</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm"
                                ng-model="k3.TransactionType" name="k3.TransactionType"
                                ng-options="s.Value as s.Text for s in lookUpData.k3ATransactionTypeList"
                                ng-change="k3.TransactionTypeCode=(lookUpData.k3ATransactionTypeList | filter : {Value:k3.TransactionType})[0].Code"></select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Consignee/Importer</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': k3.LocalTraderDescriptionLoading}"
                               placeholder="Consignee/Importer"
                               ng-model="k3.ImporterName" name="k3.ImporterName"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'Shipper')"
                               typeahead-loading="k3.LocalTraderDescriptionLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="MerchantSelected($item, 'Importer')"
                               ng-required="true" />
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-right">SMK Code</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" logicon-number ng-model="k3.TransactionTypeCode" name="k3.TransactionTypeCode" class="form-control input-sm" readonly="readonly" />
                    </div>
                    <!--<div class="col-md-2">
                        <input type="text" class="form-control input-sm" />
                    </div>-->
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Consignor/Exporter</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': k3.OverseasTraderDescriptionLoading}"
                               placeholder="Consignor/Exporter"
                               ng-model="k3.ExporterDescription" name="k3.ExporterDescription"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'Shipper')"
                               typeahead-loading="k3.OverseasTraderDescriptionLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="MerchantSelected($item, 'Exporter')"
                               ng-required="true" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Customs Station Code</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm"
                                ng-model="k3.CustomStationCode" name="k3.CustomStationCode"
                                ng-options="s.Value as s.Text for s in lookUpData.smkList"></select>
                    </div>
                </div>

                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Place of Import</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="k3.declarationShipment.PlaceOfImportName"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': k3.declarationShipment.PlaceOfImportDescriptionLoading}"
                               placeholder="Place of Import"
                               ng-model="k3.declarationShipment.PlaceOfImportName"
                               typeahead-min-length="3"
                               uib-typeahead="d.PortName as d.PortName for d in PortAutoComplete($viewValue)"
                               typeahead-loading="k3.declarationShipment.PlaceOfImportDescriptionLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="PortSelected($item, 'PlaceOfImport')"
                               ng-required="true" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Loading Port</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="k3.LoadingPortName"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': k3.declarationShipment.LoadingPortDescriptionLoading}"
                               placeholder="Loading Port"
                               ng-model="k3.LoadingPortName"
                               typeahead-min-length="3"
                               uib-typeahead="d.PortName as d.PortName for d in PortAutoComplete($viewValue)"
                               typeahead-loading="k3.declarationShipment.LoadingPortDescriptionLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="PortSelected($item, 'LoadingPort')"
                               ng-required="true" />
                    </div>

                </div>
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Discharge Port</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="k3.DischargePortName"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': k3.declarationShipment.DischargePortDescriptionLoading}"
                               placeholder="Discharge Port"
                               ng-model="k3.DischargePortName"
                               typeahead-min-length="3"
                               uib-typeahead="d.PortName as d.PortName for d in PortAutoComplete($viewValue)"
                               typeahead-loading="k3.declarationShipment.DischargePortDescriptionLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="PortSelected($item, 'DischargePort')"
                               ng-required="true" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Transhipment Port</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="k3.TranshipmentPortName"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': k3.declarationShipment.TranshipmentPortDescriptionLoading}"
                               placeholder="Transhipment Port"
                               ng-model="k3.TranshipmentPortName"
                               typeahead-min-length="3"
                               uib-typeahead="d.PortName as d.PortName for d in PortAutoComplete($viewValue)"
                               typeahead-loading="k3.declarationShipment.TranshipmentPortDescriptionLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="PortSelected($item, 'TranshipmentPort')" />
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Terminal Operator</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="k3.declarationShipment.PortOperatorName"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': k3.declarationShipment.PortOperatorDescriptionLoading}"
                               placeholder="Terminal Operator"
                               ng-model="k3.declarationShipment.PortOperatorName"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'terminal')"
                               typeahead-loading="k3.declarationShipment.PortOperatorDescriptionLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="MerchantSelected2($item, 'PortOperator')"
                               ng-required="true" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Warehouse Info.</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="k3.declarationShipment.WarehouseNo" name="k3.declarationShipment.WarehouseNo" class="form-control input-sm" />
                    </div>
                </div>


                <div class="row css10">
                    <div class="col-md-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Supporting Details</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <uib-tabset>
                                            <uib-tab heading="Security Details">
                                                <div class="row css10">
                                                    <div class="col-md-12">
                                                        <div class="box box-default box-solid">
                                                            <div class="box-header with-border">
                                                                <h3 class="box-title">Security Details</h3>
                                                            </div>
                                                            <div class="box-body">
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-6">
                                                                        <div class="row">
                                                                            <div class="col-md-2">
                                                                                <label class="control-label pull-right">Ref. No.</label>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <input type="text" name="k3.declarationInvoice.InvoiceNo"
                                                                                       ng-model="k3.declarationInvoice.InvoiceNo"
                                                                                       ng-maxlength="100"
                                                                                       logicon-limit
                                                                                       class="form-control input-sm" />
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <label class="control-label pull-right">Year</label>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="dropdown">
                                                                                    <a class="dropdown-toggle" id="ImportDate" role="button" data-toggle="dropdown">
                                                                                        <div class="input-group">
                                                                                            <input type="text" class="form-control input-sm datepicker"
                                                                                                   ng-model="k8.ImportDate"
                                                                                                   name="k8.ImportDate"
                                                                                                   ng-required="true"
                                                                                                   date-time-input="{{dateFormat}}">
                                                                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                                                        </div>
                                                                                    </a>
                                                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                                        <datetimepicker ng-model="k8.ImportDate"
                                                                                                        data-datetimepicker-config="{ dropdownSelector: '#ImportDate', startView:'day', minView:'day' }" />
                                                                                    </ul>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-2">
                                                                                <label class="control-label pull-right">Station</label>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <input type="text" name="k3.declarationInvoice.InvoiceNo"
                                                                                       ng-model="k3.declarationInvoice.InvoiceNo"
                                                                                       ng-maxlength="100"
                                                                                       logicon-limit
                                                                                       class="form-control input-sm" />
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <label class="control-label pull-right">Amount</label>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <input type="text" name="k3.declarationInvoice.InvoiceNo"
                                                                                       ng-model="k3.declarationInvoice.InvoiceNo"
                                                                                       ng-maxlength="100"
                                                                                       logicon-limit
                                                                                       class="form-control input-sm" />

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </uib-tab>

                                            <uib-tab heading="Trading Partner">
                                                <div class="row css10">
                                                    <div class="col-md-6">
                                                        <div class="box box-default box-solid">
                                                            <div class="box-header with-border">
                                                                <h3 class="box-title">Shipping Agent</h3>
                                                            </div>
                                                            <div class="box-body">
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-12">
                                                                        <input type="text" name="k3.ShippingAgentName"
                                                                               ng-required="true"
                                                                               class="form-control input-sm ac"
                                                                               ng-class="{'loadinggif': k3.ShippingAgentLoading}"
                                                                               placeholder="Shipping Agent"
                                                                               ng-model="k3.ShippingAgentName"
                                                                               typeahead-min-length="3"
                                                                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'Liner','ShippingAgentAddress')"
                                                                               typeahead-loading="k3.ShippingAgentLoading"
                                                                               typeahead-wait-ms="100"
                                                                               typeahead-editable="false"
                                                                               typeahead-on-select="CustomerSelected($item, 'ShippingAgent','ShippingAgentAddress')" />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-12">
                                                                        <span class="pull-left" ng-bind-html="k3.ShippingAgentAddress"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="box box-default box-solid">
                                                            <div class="box-header with-border">
                                                                <h3 class="box-title">Declarant</h3>
                                                            </div>
                                                            <div class="box-body">
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-4">
                                                                        <label class="control-label pull-right">Declarant ID</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input type="text" name="k3.DeclarantID"
                                                                               ng-required="true"
                                                                               class="form-control input-sm"
                                                                               ng-model="k3.DeclarantID"
                                                                               ng-maxlength="70"
                                                                               logicon-limit />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-4">
                                                                        <label class="control-label pull-right">Declarant Name</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input type="text" name="k3.DeclarantName"
                                                                               ng-required="true"
                                                                               class="form-control input-sm"
                                                                               ng-model="k3.DeclarantName"
                                                                               ng-maxlength="70"
                                                                               logicon-limit />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-4">
                                                                        <label class="control-label pull-right">Declarant Designation</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input type="text" name="k3.DeclarantDesignation"
                                                                               ng-required="true"
                                                                               class="form-control input-sm"
                                                                               ng-model="k3.DeclarantDesignation"
                                                                               ng-maxlength="70"
                                                                               logicon-limit />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-4">
                                                                        <label class="control-label pull-right">Declarant NRIC</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input type="text" name="k3.DeclarantNRIC"
                                                                               ng-required="true"
                                                                               class="form-control input-sm"
                                                                               ng-model="k3.DeclarantNRIC"
                                                                               ng-maxlength="70"
                                                                               logicon-limit />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </uib-tab>
                                            <!--<uib-tab heading="Exemptions">
                                                <div class="row css10">
                                                    <div class="col-md-6">
                                                        <div class="box box-default box-solid">
                                                            <div class="box-header with-border">
                                                                <h3 class="box-title pull-left">GST Special Scheme</h3>
                                                            </div>
                                                            <div class="box-body">
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Treatment Type</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <select class="form-control input-sm" name="k3.declarationExcemption.SpecialTreatmentType"
                                                                                ng-model="k3.declarationExcemption.SpecialTreatmentType"
                                                                                ng-options="s.Value as s.Text for s in lookUpData.treatmentTypeList"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">[R]-Ref. No(03 Char)</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" ng-model="k3.declarationExcemption.SpecialRef1" name="k3.declarationExcemption.SpecialRef1" class="form-control input-sm" />
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <label class="control-label pull-left">Relief Order 2014</label>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">[A]-Ref. No(13 Char)</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" ng-model="k3.declarationExcemption.SpecialRef2" name="k3.declarationExcemption.SpecialRef2" class="form-control input-sm" />
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <label class="control-label pull-left">Approved Traders Schemes</label>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">[M]-Ref. No(35 Char)</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" ng-model="k3.declarationExcemption.SpecialRef3" name="k3.declarationExcemption.SpecialRef3" class="form-control input-sm" />
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <label class="control-label pull-left">Relief By Minister</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="box box-default box-solid">
                                                            <div class="box-header with-border">
                                                                <h3 class="box-title pull-left">Special Treatment</h3>
                                                            </div>
                                                            <div class="box-body">
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Exemption Type</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <select class="form-control input-sm" name="k3.declarationExcemption.SpecialExcemptionType"
                                                                                ng-model="k3.declarationExcemption.SpecialExcemptionType"
                                                                                ng-options="s.Value as s.Text for s in lookUpData.excemptionTypeList"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Reference No</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" ng-model="k3.declarationExcemption.SpecialExcemptionReason" name="k3.declarationExcemption.SpecialExcemptionReason" class="form-control input-sm" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="box box-default box-solid">
                                                            <div class="box-header with-border">
                                                                <h3 class="box-title pull-left">Sales Tax Exemption</h3>
                                                            </div>
                                                            <div class="box-body">
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Type</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <select class="form-control input-sm" name="k3.declarationExcemption.SalesTaxExcemptionType"
                                                                                ng-model="k3.declarationExcemption.SalesTaxExcemptionType"
                                                                                ng-options="s.Value as s.Text for s in lookUpData.salesTaxExcemptionList"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Reference No</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" ng-model="k3.declarationExcemption.SalesTaxReferenceNo" name="k3.declarationExcemption.SalesTaxReferenceNo" class="form-control input-sm" />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Registration Date</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="dropdown">
                                                                            <a class="dropdown-toggle" id="SalesTaxRegistrationDate" role="button" data-toggle="dropdown">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control input-sm datepicker" name="k3.declarationExcemption.SalesTaxRegistrationDate"
                                                                                           ng-model="k3.declarationExcemption.SalesTaxRegistrationDate"
                                                                                           date-time-input="{{dateFormat}}">
                                                                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                                                </div>
                                                                            </a>
                                                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                                <datetimepicker ng-model="k3.declarationExcemption.SalesTaxRegistrationDate"
                                                                                                data-datetimepicker-config="{ dropdownSelector: '#SalesTaxRegistrationDate', startView:'day', minView:'day' }" />
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="box box-default box-solid">
                                                            <div class="box-header with-border">
                                                                <h3 class="box-title pull-left">General/Treasury Exemption</h3>
                                                            </div>
                                                            <div class="box-body">
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Exemption Type</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <select class="form-control input-sm" name="k3.declarationExcemption.TreasuryExcemptionType"
                                                                                ng-model="k3.declarationExcemption.TreasuryExcemptionType"
                                                                                ng-options="s.Value as s.Text for s in lookUpData.excemptionTypeList"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Reference No</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" ng-model="k3.declarationExcemption.TreasuryExcemptionReferenceNo" name="k3.declarationExcemption.TreasuryExcemptionReferenceNo" class="form-control input-sm" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="box box-default box-solid">
                                                            <div class="box-header with-border">
                                                                <h3 class="box-title pull-left">Claiment Details</h3>
                                                            </div>
                                                            <div class="box-body">
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Name</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" ng-model="k3.declarationExcemption.ClaimentName" name="k3.declarationExcemption.ClaimentName" class="form-control input-sm" />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Company</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" ng-model="k3.declarationExcemption.ClaimentCompany" name="k3.declarationExcemption.ClaimentCompany" class="form-control input-sm" />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">NRIC</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" ng-model="k3.declarationExcemption.ClaimentNRIC" name="k3.declarationExcemption.ClaimentNRIC" placeholder="No space or - allow" class="form-control input-sm" />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Designation</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" ng-model="k3.declarationExcemption.ClaimentDesignation" name="k3.declarationExcemption.ClaimentDesignation" class="form-control input-sm" />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Status</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" ng-model="k3.declarationExcemption.ClaimentStatus" name="k3.declarationExcemption.ClaimentStatus" class="form-control input-sm" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </uib-tab>-->
                                            <uib-tab heading="Container Info.">
                                                <div class="row css10">
                                                    <div class="col-md-12">
                                                        <div class="pull-right"><button class="btn btn-primary" type="button" ng-click="editConInfo(-1)"><i class="fa fa-plus"></i>&nbsp;Add</button></div>
                                                    </div>
                                                </div>
                                                <div class="row css10">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered">
                                                            <thead class="thCss">
                                                                <tr>
                                                                    <th>Select</th>
                                                                    <th>Container No.</th>
                                                                    <th>Size</th>
                                                                    <th>Type</th>
                                                                    <th>Container Type</th>
                                                                    <th>Status</th>
                                                                    <th>Marks & Numbers</th>
                                                                    <th>#Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in k3.declarationContainers">
                                                                    <td>{{$index + 1}}</td>
                                                                    <td>{{item.ContainerNo}}</td>
                                                                    <td>{{(lookUpData.sizeList | filter : {Value:item.Size})[0].Text}}</td>
                                                                    <td>{{item.Type}}</td>
                                                                    <td>{{(lookUpData.jobTypeList | filter : {Value:item.EQDStatus})[0].Text}}</td>
                                                                    <td>{{(lookUpData.containerStatusList | filter : {Value:item.ContainerStatus})[0].Text}}</td>
                                                                    <td style="width:15%">{{item.MarksNos}}</td>
                                                                    <td>
                                                                        <button class="btn btn-primary btn-sm"
                                                                                type="button"
                                                                                ng-click="editConInfo($index)">
                                                                            <i class="fa fa-pencil-square-o"></i>&nbsp;Edit
                                                                        </button>
                                                                        <button ng-disabled="item.BranchID != null" class="btn btn-danger btn-sm"
                                                                                type="button"
                                                                                ng-click="deleteContainer($index)">
                                                                            <i class="fa fa-trash-o"></i>&nbsp;Delete
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </uib-tab>
                                            <uib-tab heading="Documents">

                                                <div class="row css10">


                                                    <div class="col-md-10"></div>
                                                    <div class="col-md-2">

                                                        <div class="pull-right"><button type="button" ng-click="editDocument(-1);" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Add</button></div>

                                                    </div>

                                                </div>
                                                <div class="row css10">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered">
                                                            <thead class="thCss">
                                                                <tr>
                                                                    <th>Select</th>
                                                                    <th>Code</th>
                                                                    <th>Reference No.</th>
                                                                    <th>Custom Station</th>
                                                                    <th>Date Type</th>
                                                                    <th>Doc. Date</th>
                                                                    <th>#Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in k3.declarationDocuments">
                                                                    <td>{{$index + 1}}</td>
                                                                    <td>{{(lookUpData.OGACodeList | filter : {Value:item.SupportingDocumentType})[0].Text}}</td>
                                                                    <td>{{item.ReferenceNo}}</td>
                                                                    <td>{{(lookUpData.customStationCodeList | filter : {Value:item.CustomStationCode})[0].Text}}</td>
                                                                    <td>{{(lookUpData.docDateTypeList | filter : {Value:item.DocDateType})[0].Text}}</td>
                                                                    <td>{{item.DocDate | date : 'dd/MM/yyyy'}}</td>
                                                                    <td>
                                                                        <button class="btn btn-primary btn-sm"
                                                                                type="button"
                                                                                ng-click="editDocument($index)">
                                                                            <i class="fa fa-pencil-square-o"></i>&nbsp;Edit
                                                                        </button>
                                                                        <button ng-disabled="item.BranchID != null" class="btn btn-danger btn-sm"
                                                                                type="button"
                                                                                ng-click="deleteDocument($index)">
                                                                            <i class="fa fa-trash-o"></i>&nbsp;Delete
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </uib-tab>
                                            <!--<uib-tab heading="Clause">
                                                <div class="row css10">

                                                    <div class="col-md-12">
                                                        <div class="col-md-10"></div>
                                                        <div class="col-md-2">
                                                            <div class="pull-right">
                                                                <button type="button"
                                                                        class="btn btn-default"
                                                                        popover-placement="bottom-right"
                                                                        uib-popover-template="'activities.html'">
                                                                    <i class="fa fa-bell"></i>
                                                                </button>
                                                            </div>
                                                            &nbsp;
                                                            <div class="pull-right">
                                                                <button type="button" ng-click="editClause(-1);" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Add</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row css10">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered">
                                                            <thead class="thCss">
                                                                <tr>
                                                                    <th>Select</th>
                                                                    <th>Clause Code</th>
                                                                    <th>Clause Text</th>
                                                                    <th>#Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in k3.declarationClauses">
                                                                    <td>{{$index + 1}}</td>
                                                                    <td>{{(lookUpData.clauseTypeList | filter : {Value:item.ClauseCode})[0].Text}}</td>
                                                                    <td style="width:60%">{{item.ClauseText}}</td>
                                                                    <td>
                                                                        <button class="btn btn-primary btn-sm"
                                                                                type="button"
                                                                                ng-click="editClause($index)">
                                                                            <i class="fa fa-pencil-square-o"></i>&nbsp;Edit
                                                                        </button>
                                                                        <button ng-disabled="item.BranchID != null" class="btn btn-danger btn-sm"
                                                                                type="button"
                                                                                ng-click="deleteClause($index)">
                                                                            <i class="fa fa-trash-o"></i>&nbsp;Delete
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </uib-tab>-->
                                            <uib-tab heading="Item Entries">
                                                <div class="row css10" ng-if="showAddBtn">
                                                    <div class="col-md-12">
                                                        <div class="pull-right"><button type="button" ng-click="editItem(-1);" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Add</button></div>
                                                    </div>
                                                </div>
                                                <div class="row css10">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered">
                                                            <thead class="thCss">
                                                                <tr>
                                                                    <th>Product Code</th>
                                                                    <th>Description</th>
                                                                    <th>Origin</th>
                                                                    <th>Amount</th>
                                                                    <th>#Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in k3.declarationItems">
                                                                    <td>{{item.ProductCode}}</td>
                                                                    <td>{{item.ItemDescription1}}</td>
                                                                    <td>{{item.OriginCountryCode}}</td>
                                                                    <td>{{item.ItemAmount}}</td>
                                                                    <td>
                                                                        <button class="btn btn-primary" type="button" ng-click="editItem($index)">
                                                                            <i class="fa fa-pencil-square-o"></i>&nbsp;Edit
                                                                        </button>
                                                                        <button ng-disabled="item.BranchID != null" class="btn btn-danger" type="button" ng-click="deleteItem($index)">
                                                                            <i class="fa fa-trash"></i>&nbsp;Delete
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </uib-tab>
                                            <uib-tab heading="Responses">
                                                <div class="row css10">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered">
                                                            <thead style="color:#fff;background-color:#97c5ea;">
                                                                <tr>
                                                                    <th>Reg No.</th>
                                                                    <th>Date</th>
                                                                    <th>Time</th>
                                                                    <th>Remark</th>
                                                                    <th>Code</th>
                                                                    <th>SNRF</th>
                                                                    <th>Status</th>
                                                                    <th>Office ID</th>
                                                                    <th>Office Name</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-6">
                                                        <div class="box box-default box-solid">
                                                            <div class="box-header with-border">
                                                                <h3 class="box-title">Customs Registration Details</h3>
                                                            </div>
                                                            <div class="box-body">
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-4">
                                                                        <label class="control-label pull-right">Registration No.</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" class="form-control input-sm" />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-4">
                                                                        <label class="control-label pull-right">Registration Date</label>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="dropdown">
                                                                            <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control input-sm datepicker"
                                                                                           ng-model="vs.ImpAvaliableDate" name="vs.ImpAvaliableDate"
                                                                                           date-time-input="{{dateFormat}}">
                                                                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                                                </div>
                                                                            </a>
                                                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                                <datetimepicker ng-model="vs.ImpAvaliableDate" ng-vs.ImpAvaliableDate
                                                                                                data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <label class="control-label pull-right">Time</label>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="dropdown">
                                                                            <a class="dropdown-toggle" id="ETA" role="button" data-toggle="dropdown">
                                                                                <div class="input-group">
                                                                                    <input type="text"
                                                                                           class="form-control input-sm datepicker" ng-model="vs.ETA" name="vs.ETA"
                                                                                           date-time-input="{{timeFormat}}">
                                                                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                                                </div>
                                                                            </a>
                                                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                                <datetimepicker ng-model="vs.ETA"
                                                                                                data-datetimepicker-config="{ dropdownSelector: '#ETA', startView:'hour', minView:'minute' }" />
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-4">
                                                                        <label class="control-label pull-right">Total Duty Amount(MYR)</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" class="form-control input-sm" />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-4">
                                                                        <label class="control-label pull-right">Total GST Amount(MYR)</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" class="form-control input-sm" />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-4">
                                                                        <label class="control-label pull-right text-nowrap">Total Duty Amount Amended(MYR)</label>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" class="form-control input-sm" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="box box-default box-solid">
                                                            <div class="box-header with-border">
                                                                <h3 class="box-title">Response(s) from Declaration and Customs</h3>
                                                            </div>
                                                            <div class="box-body">
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-12">
                                                                        <table class="table table-bordered">
                                                                            <thead style="color:#fff;background-color:#97c5ea;">
                                                                                <tr>
                                                                                    <th>Code</th>
                                                                                    <th>Description</th>
                                                                                    <th>Line No.</th>
                                                                                    <th>SNRF</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered">
                                                            <thead style="color:#fff;background-color:#97c5ea;">
                                                                <tr>
                                                                    <th>Code</th>
                                                                    <th>HS Original</th>
                                                                    <th>HS Amended</th>
                                                                    <th>Unit Price Original</th>
                                                                    <th>Unit Price Amended</th>
                                                                    <th>Item No.</th>
                                                                    <th>SNRF</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-12">
                        <button class="btn btn-primary" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                        <button class="btn btn-default" type="button" ng-click="submitted = true;"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                        <button class="btn btn-success" type="button" ng-click="GenerateFile(k3.DeclarationNo)"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;Generate File</button>
                        <span class="pull-right">
                            <button class="btn btn-primary" type="button" ng-click="back();">
                                <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <!--<div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>-->
        </div>
    </form>
</section>