﻿<form id="frmTransport" name="frmTransport" ng-class="{'submitted': submitted}" ng-submit="SaveTransport(tra)" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Transport</h4>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Size</label>
                    </div>
                    <div class="col-md-3">
                        <input type="hidden" ng-model="tra.DehireDate" ng-init="tra.DehireDate == null" />
                        <select class="form-control input-sm" ng-required="true" ng-model="tra.Size" ng-options="s.Value as s.Text for s in lookupData.sizeList" ng-change="sizeTransportChanged();"></select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right noWrapCss">Special Handling</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm"
                                ng-model="tra.SpecialHandling"
                                ng-required="true"
                                ng-options="s.Value as s.Text for s in lookupData.splHandlingList"
                                ng-change="tra.SpecialHandlingDesc=(lookupData.splHandlingList|filter:{Value:tra.SpecialHandling})[0].Text">
                            >
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Type</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm" ng-required="true" ng-model="tra.Type" ng-disabled="tra.Size == null" ng-options="s.Value as s.Text for s in lookupData.TypeList"></select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Temperature</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" ng-model="tra.temp" ng-required="true" class="form-control input-sm" logicon-decimal />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Cargo Type</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm"
                                ng-model="tra.CargoType"
                                ng-required="true"
                                ng-options="s.Value as s.Text for s in lookupData.cargoTypeList"
                                ng-change="tra.CargoTypeDescription=(lookupData.cargoTypeList|filter:{Value:tra.CargoType})[0].Text"></select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Gross Weight (KG)</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" ng-model="tra.GrossWeight" ng-required="true" class="form-control input-sm" logicon-decimal />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">IMO/UN Code</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm" 
                                ng-model="tra.IMOCode"
                                ng-required="true"
                                ng-options="s.Value as s.Text for s in lookupData.imoList"></select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Volume (M3)</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" ng-model="tra.Volume" ng-required="true" class="form-control input-sm" logicon-decimal />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Cargo Handling</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" ng-model="tra.CargoHandling" ng-required="true" class="form-control input-sm" />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Truck No.</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" ng-model="tra.ContainerNo" ng-required="true" class="form-control input-sm" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Req Date</label>
                    </div>
                    <div class="col-md-8">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="RequiredDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker"
                                           ng-model="tra.RequiredDate"
                                           ng-required="true"
                                           date-time-input="MM/DD/YYYY">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="tra.RequiredDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#RequiredDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Container Ref.</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" ng-model="tra.ContainerRef" ng-required="true" class="form-control input-sm" />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Dimension</label>
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control input-sm" ng-required="true" ng-model="tra.Dimension1"></textarea>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-4">
                        <label class="control-label pull-right"></label>
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control input-sm" ng-required="true" ng-model="tra.Dimension2"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>


