﻿
<form id="frmMerchant" name="frmMerchant" ng-class="{'submitted':submitted}" ng-submit="SaveMerchant(mp)" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Merchant</h4>
    </div>
    <div class="modal-body">
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">Merchant Name</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="mp.MerchantName" ng-required="true" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Registration No.</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="mp.RegNo" />
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">GST No.</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="mp.TaxID" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Contact Person</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="mp.BillingCustomer" />
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">Address</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="mp.address.Address1" ng-required="true"/>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Post Code</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="mp.address.ZipCode" ng-required="true" logicon-number />
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right"></label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="mp.address.Address2" ng-required="true"/>
            </div><div class="col-md-2">
                <label class="control-label pull-right">State</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="mp.address.State" ng-required="true" />
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">City / Suburb</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="mp.address.City" ng-required="true" />
            </div>

            <div class="col-md-2">
                <label class="control-label pull-right">Country</label>
            </div>
            <div class="col-md-4">
                <!--<select class="form-control input-sm"
                ng-model="address.CountryCode"
                ng-options="s.CompanyName as s.CompanyName for s in CountriesList"
                ng-required="true"></select>-->
                <input type="text"
                       class="form-control input-sm ac"
                       ng-class="{'loadinggif': address.CountryNameLoading}"
                       placeholder="Country"
                       ng-model="mp.address.CountryName"
                       typeahead-min-length="3"
                       uib-typeahead="s.Text as s.Text for s in countryResults($viewValue)"
                       typeahead-loading="mp.address.CountryNameLoading"
                       typeahead-wait-ms="100"
                       typeahead-editable="false"
                       typeahead-on-select="countrySelect($item)" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>
