﻿<form id="frmContainer" name="frmContainer" ng-class="{'submitted':submitted}" ng-submit="SaveContainer(con)" novalidate>
    <style type="text/css">
        .box.box-solid.box-default {
            border: 0px solid #d2d6de;
        }
    </style>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Add Container</h4>
    </div>
    <div class="modal-body">
        <div class="box box-default box-solid">
            <div class="box-body">
                <div class="row css10">
                    <div class="col-md-6">
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right">Size/Type</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control input-sm"
                                        ng-model="con.Size"
                                        ng-required="true"
                                        ng-options="s.Value as s.Text for s in lookupData.sizeList"
                                        ng-change="sizeChanged();"></select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control input-sm"
                                        ng-model="con.Type"
                                        ng-required="true"
                                        ng-disabled="con.Size == null"
                                        ng-options="s.Value as s.Text for s in lookupData.TypeList"></select>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right nowrapCss">Container No.</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-required="IsContainerMandatory"
                                       ng-model="con.ContainerNo"
                                       ng-maxlength="15"
                                       logicon-limit />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right nowrapCss">Gross Weight</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm"
                                       ng-model="con.GrossWeight"
                                       logicon-decimal
                                       placeholder="(KG)"
                                       ng-maxlength="18"
                                       logicon-limit />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right nowrapCss">Container Grade</label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control input-sm"
                                        ng-model="con.ContainerGrade"
                                        ng-options="s.Value as s.Text for s in lookupData.conGradeTypeList"></select>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right nowrapCss">Seal No.</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-sm"
                                       ng-model="con.SealNo"
                                       ng-maxlength="20"
                                       logicon-limit />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right nowrapCss">Temperature</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm"
                                       ng-model="con.Temprature"
                                       logicon-decimal
                                       ng-maxlength="10"
                                       logicon-limit />
                            </div>
                            <div class="col-md-4">
                                <select class="form-control input-sm"
                                        ng-model="con.TemperatureMode"
                                        ng-options="s.Value as s.Text for s in lookupData.tempratureTypeList"></select>
                            </div>

                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right nowrapCss">Cargo Handling</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="con.CargoHandling"
                                       ng-maxlength="20"
                                       logicon-limit />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right">Marks and Numbers</label>
                            </div>
                            <div class="col-md-8">
                                <textarea class="form-control input-sm"
                                          ng-model="con.Remarks"
                                          ng-maxlength="100"
                                          logicon-limit></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">VGM</h3>

                            </div>
                            <div class="box-body">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right nowrapCss">Verified Gross Mass</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-sm"
                                               ng-model="con.VGM"
                                               logicon-decimal
                                               ng-maxlength="18"
                                               logicon-limit />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right nowrapCss">Date Of Weighing</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" id="WeighingDate" role="button" data-toggle="dropdown">
                                                <div class="input-group">
                                                    <input type="text"
                                                           class="form-control input-sm datepicker"
                                                           ng-model="con.WeighingDate"
                                                           date-time-input="{{dateFormat}}">
                                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker ng-model="con.WeighingDate"
                                                                data-datetimepicker-config="{ dropdownSelector: '#WeighingDate', startView:'day', minView:'day' }" />
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right nowrapCss">Place of Weighing</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-sm"
                                               ng-model="con.WeighingPlace"
                                               ng-maxlength="50"
                                               logicon-limit />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right nowrapCss">SOLAS Method</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control input-sm"
                                                ng-model="con.SOLASMethod"
                                                ng-options="s.Value as s.Text for s in lookupData.solasList"></select>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right nowrapCss">Certification No.</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               class="form-control input-sm"
                                               ng-model="con.CertificateNo"
                                               ng-maxlength="50"
                                               logicon-limit />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-2">
                    <label class="control-label pull-right nowrapCss">Cargo Type</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"
                            ng-model="con.CargoType"
                            ng-options="s.Value as s.Text for s in lookupData.cargoTypeList"
                            ng-change="con.CargoTypeDescription=(lookupData.cargoTypeList|filter:{Value:con.CargoType})[0].Text"></select>
                </div>-->
                <!--<div class="row css10">

                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">Volume</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control input-sm"
                               ng-model="con.Volume"
                               logicon-decimal
                               placeholder="(M3)"
                               ng-maxlength="10"
                               logicon-limit />
                    </div>
                </div>-->
                <!--<div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">Require Date</label>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="RequiredDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control input-sm datepicker"
                                           ng-model="con.RequiredDate"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="con.RequiredDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#RequiredDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2"></div>

                </div>-->
                <!--<div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">Customer Ref</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text"
                               class="form-control input-sm"
                               ng-model="con.ContainerRef"
                               ng-maxlength="50"
                               logicon-limit />
                    </div>

                </div>-->

            </div>

            <!--<div class="row css10">

                <div class="col-md-2">
                    <label class="control-label pull-right text-nowrap">Country Of Verification</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"
                            ng-model="con.OriginCountry"
                            ng-options="s.Value as s.Text for s in lookupData.countryList"></select>

                </div>
            </div>-->
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3 pull-right"  style="margin-bottom: 10px; text-align:right;margin-right:10px;" >
                    <button class="btn btn-primary" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
                </div>
            </div>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</form>


