﻿
<form id="frmCargo" name="frmCargo" ng-class="{'submitted':submitted}" ng-submit="SaveCargo(c)" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Cargo</h4>
    </div>
    <div class="modal-body">
        <div class="row css10">
            <div class="col-md-2">
                <label ng-if="showTrucks" class="control-label pull-right">{{lblText}}</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm"
                        ng-if="showTrucks"
                        ng-model="c.ContainerNo"
                        ng-options="s.Value as s.Text for s in lookUpData.List" ng-required="true"></select>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2" style="margin-left:110px;">
                <md-checkbox ng-model="c.IsGST"
                             aria-label="Is GST Applicable">Is GST Applicable</md-checkbox>
            </div>
            <!--
            <div class="col-md-1" style="display:none">
                <label class="control-label pull-left">Line No.</label>
            </div>
            <div class="col-md-2" style="display:none">
                <input type="text" class="form-control input-sm"
                       ng-model="c.CargoLine"
                       ng-maxlength="10"
                       logicon-limit />
            </div>-->

        </div>
        <!--<div class="row css10">
            <div class="col-md-2" style="display:none">
                <label class="control-label pull-right">Customer</label>
            </div>
            <div class="col-md-4" style="display:none">
                <input type="text"
                       class="form-control input-sm ac"
                       ng-class="{'loadinggif': c.ShipperConsigneeNameLoading}"
                       placeholder="Customer"
                       ng-model="c.ShipperConsigneeName"
                       typeahead-min-length="3"
                       uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'ShipperConsignee')"
                       typeahead-loading="c.ShipperConsigneeNameLoading"
                       typeahead-wait-ms="100"
                       typeahead-editable="false"
                       typeahead-on-select="CustomerSelected($item, 'ShipperConsigneeCode')"
                       ng-required="true" />
            </div>
            <div class="col-md-7"></div>

            <div class="col-md-1"></div>
        </div>-->
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">Product Description</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm"
                       ng-model="c.ProductDescription"
                       ng-required="true"
                       ng-maxlength="100"
                       logicon-limit />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">GST Currency Code</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"
                        ng-model="c.GSTCurrencyCode"
                        ng-options="s.Value as s.Value for s in lookUpData.currencyList"></select>
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">Item Description</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm"
                       ng-model="c.ItemDescription"
                       ng-maxlength="100"
                       logicon-limit />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">No. Of Packages</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                       ng-model="c.PackageCount"
                       ng-maxlength="6"
                       logicon-limit
                       logicon-number
                       class="form-control input-sm" />
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">HS Code</label>
            </div>
            <div class="col-md-4">
                <input type="text"
                       ng-required="true"
                       class="form-control input-sm ac"
                       ng-class="{'loadinggif': c.HSCodeNameLoading}"
                       placeholder="HSCode"
                       ng-model="c.HSCodeDescription"
                       typeahead-min-length="3"
                       uib-typeahead="d.Text as d.Text for d in HSCodeResults($viewValue)"
                       typeahead-loading="c.HSCodeNameLoading"
                       typeahead-wait-ms="100"
                       typeahead-editable="false"
                       typeahead-on-select="CustomerSelected($item, 'HSCode')" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Type Of Package</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                       class="form-control input-sm"
                       ng-model="c.PackageType"
                       ng-maxlength="10"
                       logicon-limit />
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Quantity</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm"
                       ng-model="c.Qty"
                       logicon-decimal
                       ng-maxlength="18"
                       logicon-limit />
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right">UOM</label>
            </div>
            <div class="col-md-1">
                <select class="form-control input-sm" ng-model="c.UOM"
                        ng-options="s.Value as s.Text for s in lookUpData.uomList"
                        ng-change="c.UOMDescription = (lookUpData.uomList | filter: {Value: c.UOM})[0].Text"></select>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">IMO Code</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                       class="form-control input-sm"
                       ng-model="c.IMOCode"
                       ng-maxlength="5"
                       logicon-number
                       logicon-limit />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Volume (M3)</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                       class="form-control input-sm"
                       ng-model="c.GrossVolume"
                       logicon-decimal
                       ng-maxlength="18"
                       logicon-limit />
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right">Width</label>
            </div>
            <div class="col-md-1">
                <input type="text" class="form-control input-sm"
                       ng-model="c.Width"
                       logicon-decimal
                       ng-maxlength="5"
                       logicon-limit />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">UN No.</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                       class="form-control input-sm"
                       ng-model="c.UNNo"
                       ng-maxlength="10"
                       logicon-limit />
            </div>

        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Weight (Kg)</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                       class="form-control input-sm"
                       ng-model="c.GrossWeight"
                       logicon-decimal
                       ng-maxlength="18"
                       logicon-limit />
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right">Length</label>
            </div>
            <div class="col-md-1">
                <input type="text"
                       class="form-control input-sm"
                       ng-model="c.Len"
                       logicon-decimal
                       ng-maxlength="5"
                       logicon-limit />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Special Cargo handling</label>
            </div>
            <div class="col-md-3">
                <input type="text"
                       class="form-control input-sm"
                       ng-model="c.SpecialCargoHandling"
                       ng-maxlength="100"
                       logicon-limit />
            </div>

        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Stock Room</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"
                        ng-model="c.StockRoom"
                        ng-options="s.Value as s.Text for s in lookUpData.stockRoomList"></select>
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right">Height</label>
            </div>
            <div class="col-md-1">
                <input type="text"
                       class="form-control input-sm"
                       ng-model="c.Height"
                       logicon-decimal
                       ng-maxlength="5"
                       logicon-limit />
            </div>
            <!--<div class="col-md-2">
                <label class="control-label pull-right">Marks & Numbers</label>

            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm"
                       ng-model="c.MarksNumbers"
                       ng-maxlength="100"
                       logicon-limit />
            </div>-->
            <div class="col-md-2">
                <label class="control-label pull-right">Remarks</label>

            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm"
                       ng-model="c.Remarks"
                       ng-maxlength="100"
                       logicon-limit />
            </div>

        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Country Org.</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"
                        ng-model="c.CountryCode"
                        ng-options="s.CompanyCode as s.CompanyCode for s in lookUpData.CountriesList"></select>
            </div>
            <div class="col-md-1" ng-if="showPallet">
                <label class="control-label pull-left text-nowrap">Pallet Count</label>
            </div>
            <div class="col-md-1" ng-if="showPallet">
                <input type="text"
                       class="form-control input-sm"
                       ng-model="c.PalletCount"
                       logicon-decimals
                       ng-maxlength="5"
                       logicon-limit />
            </div>
            <div class="col-md-2" ng-if="!showPallet"></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Foreign Currency Code</label>
            </div>
            <div class="col-md-1">
                <select class="form-control input-sm"
                        ng-model="c.ForeignCurrencyCode"
                        ng-options="s.Value as s.Value for s in lookUpData.currencyList"></select>
            </div>

            <div class="col-md-2">
                <label class="control-label pull-right">Local Currency Code</label>
            </div>
            <div class="col-md-1">
                <select class="form-control input-sm"
                        ng-model="c.LocalCurrencyCode"
                        ng-options="s.Value as s.Value for s in lookUpData.currencyList"></select>
            </div>

        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right text-nowrap">Foreign Price</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                       class="form-control input-sm"
                       ng-model="c.ForeignPrice"
                       ng-maxlength="18"
                       ng-blur="CaluclateLocalCargoAmount()"
                       logicon-limit
                       decimal-Number />
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right">Ex. Rate</label>
            </div>
            <div class="col-md-1">
                <input type="text"
                       class="form-control input-sm"
                       ng-model="c.ExchangeRate"
                       ng-maxlength="18"
                       ng-blur="CaluclateLocalCargoAmount()"
                       logicon-limit
                       decimal-Number />
            </div>

        </div>
        <div class="row css10">
            <div class="col-md-4"></div>
            <div class="col-md-1">
                <label class="control-label pull-right">Local Price</label>
            </div>
            <div class="col-md-1">
                <input type="text"
                       class="form-control input-sm"
                       ng-model="c.LocalPrice"
                       ng-maxlength="18"
                       logicon-limit
                       decimal-Number />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>
