﻿
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="box box-default box-solid">
            <div class="box-body">                
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-1">
                        <label class="control-label pull-right">Currency</label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-sm"
                                ng-model="oe.CargoCurrencyCode"
                                ng-options="s.Value as s.Value for s in lookupData.currencyList"></select>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-right">Ex. Rate</label>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-left look-like-input">{{oe.orderCargoList | sumOfValue:'ExchangeRate'}}</label>
                        <!--<input type="text" class="form-control input-sm" ng-model="oe.CargoExchangeRate" ng-init="oe.CargoExchangeRate = (oe.orderCargoList | sumOfValue:'ExchangeRate')" />-->
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-right">Base Amt.</label>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-left look-like-input">{{oe.orderCargoList | sumOfValue:'ForeignPrice'}}</label>
                        <!--<input type="text" class="form-control input-sm" ng-model="oe.CargoBaseAmount" logicon-decimal />-->
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-right">Local Amt.</label>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-left look-like-input">{{oe.orderCargoList | sumOfValue:'LocalPrice'}}</label>
                        <!--<input type="text" class="form-control input-sm" ng-model="oe.CargoLocalAmount" logicon-decimal />-->
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label class="control-label pull-left">Total Summary:</label>
    </div>
    <div class="col-md-8">
        <div ng-if="oe.orderCargoList.length > 0">
            <button type="button" class="btn btn-success">QTY&nbsp;&nbsp;&nbsp;<span class="badge">{{oe.orderCargoList | sumOfValue:'Qty'}}</span></button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success">M3&nbsp;&nbsp;&nbsp;<span class="badge">{{oe.orderCargoList | sumOfValue:'GrossVolume'}}</span></button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success">KG&nbsp;&nbsp;&nbsp;<span class="badge">{{oe.orderCargoList | sumOfValue:'GrossWeight'}}</span></button>        
        </div>        
    </div>
    <div class="col-md-2">
        <div class="pull-right">
            <button class="btn btn-primary" type="button" ng-click="AddCargo(-1);"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button>
            <div class="btn-group" uib-dropdown is-open="status.cargoMenu">                
                <!--<md-button class="md-fab md-mini-1 md-primary btn-box-tool" uib-dropdown-toggle aria-label="button">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </md-button>-->
                <ul class="dropdown-menu" style="margin:2px -127px 0" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a ng-click="RemoveCargo()">Delete All</a></li>
                    <li role="menuitem"><a ng-click="CloneCargo()">Clone</a></li>
                </ul>
            </div>
        </div>
    </div>    
</div>
<div class="row" style="margin-top: 5px;">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead style="color:#fff;background-color: #97c5ea;">
                <tr>
                    <th>
                        <md-checkbox 
                                     ng-click="toggleChksCargo()"
                                     aria-label="Priority"></md-checkbox>
                    </th>                    
                    <th>Container No.</th>
                    <th>Line</th>
                    <th>Consignee Name</th>
                    <th>Cargo Description</th>
                    <th>Qty.</th>
                    <th>UOM</th>                    
                    <th>Volume</th>
                    <th>Weight</th>                    
                    <th ng-show="pallet">Pallet</th>
                    <th>Marks & No.</th>
                    <th>#Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cargo in oe.orderCargoList">  
                    <td>
                        <md-checkbox ng-model="cargo.chk"
                                     ng-init="cargo.chk = false"
                                     class="md-primary"
                                     aria-label="Priority"></md-checkbox>
                    </td>              
                    <td>{{cargo.ContainerNo}}</td>
                    <td>{{cargo.CargoLine}}</td>
                    <td>{{cargo.ShipperConsigneeName}}</td>
                    <td>{{cargo.ProductDescription}}</td>
                    <td>{{cargo.Qty}}</td>
                    <td>{{cargo.UOM}}</td>                   
                    <td>{{cargo.GrossVolume}}</td>
                    <td>{{cargo.GrossWeight}}</td>                    
                    <td ng-show="pallet">{{cargo.PalletCount}}</td>
                    <td>{{cargo.MarksNumbers}}</td>
                    <td style="padding: 0 0 0 5px">
                        <input type="hidden" ng-model="cargo.Index" ng-init="cargo.Index = $index" />
                        <md-button typeof="button" ng-click="AddCargo($index);" class="md-fab md-mini-1 md-primary btn-box-tool" aria-label="button">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </md-button>
                        <md-button typeof="button" ng-click="DeleteCargo($index);" class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" aria-label="button">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


