﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="pull-right">            
            <button type="button" class="btn btn-primary" ng-click="AddContainer(-1);"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button>            
            <div class="btn-group" uib-dropdown is-open="status.containerMenu">
                <!--<button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>-->
                <ul class="dropdown-menu" style="margin:2px -127px 0" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a ng-click="AddContainers()">Add Multiple</a></li>
                    <li role="menuitem"><a ng-click="UpdateContainers()">Update Multiple</a></li>
                    <li role="menuitem"><a ng-click="RemoveContainers()">Delete Multiple</a></li>
                    <li role="menuitem"><a ng-click="RemoveContainers()">Update VAS For Multiple</a></li>
                    <li role="menuitem"><a ng-click="CloneConatiner()">Clone</a></li>                    
                    <li role="menuitem"><a ng-click="ClearSelection()">Clear Selection</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead style="color:#fff;background-color:#97c5ea;">
                <tr>
                    <th>
                        <md-checkbox ng-click="toggleChksContainer()"
                                     aria-label="Priority"></md-checkbox>
                    </th>
                    <th>Container No.</th>
                    <th>Size</th>
                    <th>Seal No.</th>
                    <th>Req. Date</th>
                    <th>Container Ref.</th>
                    <th>Trailer Type</th>
                    <th>Cargo Type</th>
                    <th>Temperature</th>
                    <th>IMO</th>
                    <th>#Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="con in oe.orderContainerList" ng-dblclick="ContainerRowClick($index)" ng-class="{'selectedRow': con.activeCls}" ng-init="con.activeCls = false">
                    <td>
                        <md-checkbox 
                                     ng-model="con.chk" 
                                     ng-init="con.chk = false" 
                                     class="md-primary" 
                                     aria-label="Priority"></md-checkbox>
                    </td>
                    <td>{{con.ContainerNo}}</td>
                    <td>{{con.Size}}</td>
                    <td>{{con.SealNo}}</td>
                    <td>{{con.RequiredDate | date : 'dd/MM/yyyy'}}</td>
                    <td>{{con.ContainerRef}}</td>
                    <td>{{con.TrailerTypeDescription}}</td>
                    <td>{{con.CargoTypeDescription}}</td>
                    <td>{{con.Temprature}}</td>
                    <td>{{con.IMOCode}}</td>
                    <td style="padding: 0 0 0 5px">
                        <input type="hidden" ng-model="con.Index" ng-init="con.Index = $index" /> 
                        <md-button typeof="button" ng-click="AddContainer($index);"  class="md-fab md-mini-1 md-primary btn-box-tool" aria-label="button">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </md-button>
                        <md-button typeof="button" ng-click="DeleteContainer($index);" class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" aria-label="button">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>