﻿<section class="content">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-6">
            <div class="box box-default box-solid">
                <div class="box-body">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-3">
                            <label class="control-label pull-right">Document</label>
                        </div>
                        <div class="col-md-6">
                            <input type="file" id="file" name="file" multiple
                                   ng-required="true"
                                   onchange="angular.element(this).scope().getFileDetails(this)" />
                        </div>
                        <!--<div class="col-md-2">
                            <button type="button" class="btn btn-primary" ng-click="uploadFiles()"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Upload</button>
                        </div>-->
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <!--<p ng-repeat="file in files">
                            {{file.name}}
                        </p>-->
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <thead style="color:#fff;background-color:#97c5ea;">
                                            <tr>
                                                <th>S No.</th>
                                                <th>File Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in files">
                                                <td>{{$index + 1}}</td>
                                                <td>
                                                    {{item.name}}
                                                </td>
                                                <td>
                                                    <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple"
                                                            type="button"
                                                            ng-disabled="item.name == null || item.name == ''"
                                                            ng-click="DeleteDocument($index)"
                                                            aria-label="button">
                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        <div class="md-ripple-container"></div>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12" style="font-weight:400">
                            “Supported Format : pdf, jpg, jpeg, png, tif. Maximum size per file : 5 MB”
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" ng-if="docList.length>0">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>S No.</th>
                                <!--<th>Item No</th>-->
                                <th>File Name</th>
                                <th>Uploaded By</th>
                                <th>Uploaded On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in docList">
                                <td>{{$index + 1}}</td>
                                <!--<td>{{item.ItemNo}}</td>-->
                                <td>
                                    {{item.FileName}}
                                </td>
                                <td>
                                    {{item.CreatedBy}}
                                </td>
                                <td>
                                    {{item.CreatedOn | date : 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple"
                                            type="button"
                                            ng-disabled="item.FileName == null || item.FileName == ''"
                                            ng-click="DeleteImage(item.BranchID,item.OrderNo,item.ItemNo)"
                                            aria-label="button">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</section>