﻿<section class="content">
    <div class="box box-default box-solid">        
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <!--<img height="450" width="1100" src="../../../../images/eInsurance.png" />-->
                    <iframe height="450" width="1100">
                        Information has been sent to Insurance Agent. Awaiting proposal from Insurance Agent.
                    </iframe>
                </div>                
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>