﻿<div class="row" style="margin-top:10px;">
    <style>
        .custom-popup-wrapper {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            background-color: #f9f9f9;
        }

            .custom-popup-wrapper > .message {
                padding: 10px 20px;
                border-bottom: 1px solid #ddd;
                color: #868686;
            }

            .custom-popup-wrapper > .dropdown-menu {
                position: static;
                float: none;
                display: block;
                min-width: 160px;
                background-color: transparent;
                border: none;
                border-radius: 0;
                box-shadow: none;
            }

        tr.dropdown-menu {
            display: block;
        }

        .mytable {
            background-color: #fff;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.5);
            position: absolute;
            width: 550px;
            z-index: 99999;
        }

            .mytable thead tr {
                background-color: #367fa9;
                color: #fff;
            }

                .mytable thead tr td {
                    background-color: #367fa9;
                    color: #fff;
                    font-weight: bold;
                }

            .mytable > tbody > tr > td, .mytable > tbody > tr > th, .mytable > tfoot > tr > td, .mytable > tfoot > tr > th,
            .mytable > thead > tr > td, .mytable > thead > tr > th {
                padding: 3px;
            }
    </style>
    <script type="text/ng-template" id="add-merchant.html">
        <style type="text/css">
            .Rejectcontainer {
                width: 800px;
                margin: 10px;
            }
        </style>
        <div class="Rejectcontainer">
            <form id="oeCntrl.frmMerchant" name="oeCntrl.frmMerchant" ng-class="{'submitted':submitted}" ng-submit="SaveMerchant(mp)" novalidate>
                <!--<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="validateRecord(false);">&times;</button>
                    <h4 class="modal-title">Merchant</h4>
                </div>-->
                <h4 class="modal-title"><b>{{oeCntrl.modaltitle}}</b></h4>
                <div class="modal-body">
                    <div class="row css10">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Merchant Name</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" ng-model="mp.MerchantName" ng-required="true" />
                        </div>
                    </div>
                    <div class="row css10">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Registration No.</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" ng-model="mp.RegNo" />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">GST No.</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" ng-model="mp.TaxID" />
                        </div>
                        <!--<div class="col-md-2">
                            <label class="control-label pull-right">Contact Person</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" ng-model="mp.BillingCustomer" />
                        </div>-->
                    </div>
                    <div class="row css10">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Address</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" ng-model="mp.address.Address1" />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">Post Code</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" ng-model="mp.address.ZipCode" logicon-number />
                        </div>
                    </div>
                    <div class="row css10">
                        <div class="col-md-2">
                            <label class="control-label pull-right"></label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" ng-model="mp.address.Address2" />
                        </div><div class="col-md-2">
                            <label class="control-label pull-right">State</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" ng-model="mp.address.State" />
                        </div>
                    </div>
                    <div class="row css10">
                        <div class="col-md-2">
                            <label class="control-label pull-right">City / Suburb</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" ng-model="mp.address.City" />
                        </div>

                        <div class="col-md-2">
                            <label class="control-label pull-right">Country</label>
                        </div>
                        <div class="col-md-4">
                            <!--<select class="form-control input-sm"
                            ng-model="address.CountryCode"
                            ng-options="s.CompanyName as s.CompanyName for s in CountriesList"
                            ng-required="true"></select>-->
                            <input type="text"
                                   class="form-control input-sm ac"
                                   ng-class="{'loadinggif': address.CountryNameLoading}"
                                   placeholder="Country"
                                   ng-model="mp.address.CountryName"
                                   typeahead-min-length="3"
                                   uib-typeahead="s.Text as s.Text for s in countryResults($viewValue)"
                                   typeahead-loading="mp.address.CountryNameLoading"
                                   typeahead-wait-ms="100"
                                   typeahead-editable="false"
                                   typeahead-on-select="countrySelect($item)"
                                   autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-9"></div>
                        <div class="col-md-3 pull-right">
                            <button class="btn btn-primary btn-sm" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="validateRecord(false,'')"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="voyage-autocomplete.html">
        <table ng-show="isOpen() && !moveInProgress"
               aria-hidden="{{!isOpen()}}"
               class="table table-bordered table-hover table-bordered mytable"
               ng-style="{top: position().top+'px', left: position().left+'px'}"
               style="">
            <thead>
                <tr>
                    <th>Vessel ID</th>
                    <th>Vessel Name</th>
                    <th>ETA</th>
                    <th>ETD</th>
                    <th>Terminal</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="match in matches track by $index" ng-click="selectMatch($index)">
                    <td>{{match.model.VesselID}}</td>
                    <td>{{match.model.VesselName}}</td>
                    <td>{{match.model.ETA | date :  'dd/MM/yyyy hh:mm a' }}</td>
                    <td>{{match.model.ETD | date :  'dd/MM/yyyy hh:mm a' }}</td>
                    <td>{{match.model.TerminalName}}</td>
                </tr>
            </tbody>
        </table>
    </script>

    <div class="col-md-8">
        <div class="box box-default box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Open Date</label>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="OrderDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control input-sm datepicker"
                                           ng-model="oe.OrderDate"
                                           ng-required="true"
                                           date-time-input="{{dateFormat}}"
                                           ng-disabled="!IsNew">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="oe.OrderDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#OrderDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Transport Type</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm"
                                ng-model="oe.TransportType"
                                ng-options="s.Value as s.Text for s in lookupData.transportList"
                                ng-change="transportTypeChanged()"
                                ng-required="true"
                                ng-disabled="!IsNew"></select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Shipment Type</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm"
                                ng-model="oe.ShipmentType"
                                ng-options="s.Value as s.Text for s in lookupData.shipementTypeList"
                                ng-required="true" ng-change="jobTypeChanged(oe.JobType)"
                                ng-disabled="!IsNew"></select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">

                    <div class="col-md-3">
                        <label class="control-label pull-right">Job Type</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm"
                                ng-model="oe.JobType"
                                ng-disabled="oe.OrderCategory != null || oe.ShipmentType == null || !IsNew"
                                ng-required="true"
                                ng-options="s.Value as s.Text for s in lookupData.jobTypeList"
                                ng-change="jobTypeChanged(oe.JobType)"></select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Order Category</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm"
                                ng-disabled="oe.JobType == null || oe.orderContainerList.length > 0 || !IsNew"
                                ng-model="oe.OrderCategory"
                                ng-change="orderCategoryChanged()"
                                ng-required="true"
                                ng-options="s.Value as s.Text for s in lookupData.OrderCategoryList"></select>
                    </div>

                </div>
                <div class="row css10">

                    <div class="col-md-6">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">CUSTOMER&nbsp;</h3>
                                <md-button class="md-fab md-mini-1 md-primary btn-box-tool" popover-placement="bottom-left" ng-click="validateRecord(true, 'CUSTOMER')" popover-is-open="oeCntrl.isOpenMerchantPPCustomer" uib-popover-template="'add-merchant.html'" aria-label="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <div class="md-ripple-container"></div>
                                </md-button>
                                <div class="box-tools">
                                    <label class="control-label pull-right">{{oe.CustomerROCNo}}</label>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-12">
                                        <input type="text"
                                               ng-required="true"
                                               class="form-control input-sm ac"
                                               ng-class="{'loadinggif': oe.CustomerCodeTextLoading}"
                                               placeholder="Customer"
                                               ng-model="oe.CustomerName"
                                               typeahead-min-length="3"
                                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'billingCustomer','CustomerAddress')"
                                               typeahead-loading="oe.CustomerCodeTextLoading"
                                               typeahead-wait-ms="100"
                                               typeahead-editable="false"
                                               typeahead-on-select="CustomerSelected($item, 'CustomerCode','CustomerAddress','CustomerROCNo','CustomerAddressID')" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-12">
                                        <span class="pull-left" ng-bind-html="oe.CustomerAddress"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">NOTIFY PARTY&nbsp;</h3>
                                <md-button class="md-fab md-mini-1 md-primary btn-box-tool" popover-placement="bottom-middle" ng-click="validateRecord(true, 'NOTIFY PARTY')" popover-is-open="oeCntrl.isOpenMerchantPPNotifyParty" uib-popover-template="'add-merchant.html'" aria-label="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <div class="md-ripple-container"></div>
                                </md-button>
                                <div class="box-tools">
                                    <label class="control-label pull-right">{{oe.NotifyPartyROCNo}}</label>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-12">
                                        <input type="text"
                                               ng-required="true"
                                               class="form-control input-sm ac"
                                               ng-class="{'loadinggif': oe.NotifyPartyTextLoading}"
                                               placeholder="Notify Party"
                                               ng-model="oe.NotifyPartyName"
                                               typeahead-min-length="3"
                                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'billingCustomer','NotifyPartyAddress')"
                                               typeahead-loading="oe.NotifyPartyTextLoading"
                                               typeahead-wait-ms="100"
                                               typeahead-editable="false"
                                               typeahead-on-select="CustomerSelected($item, 'NotifyParty','NotifyPartyAddress','NotifyPartyROCNo','NotifyPartyAddressID')" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-12">
                                        <span class="pull-left" ng-bind-html="oe.NotifyPartyAddress"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">CONSIGNEE&nbsp;</h3>
                                <md-button class="md-fab md-mini-1 md-primary btn-box-tool" popover-placement="bottom-left" ng-click="validateRecord(true, 'CONSIGNEE')" popover-is-open="oeCntrl.isOpenMerchantPPConsignee" uib-popover-template="'add-merchant.html'" aria-label="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <div class="md-ripple-container"></div>
                                </md-button>
                                <div class="box-tools">
                                    <label class="control-label pull-right">{{oe.ConsigneeROCNo}}</label>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row" style="margin-top: 10px;">
                                    <!--<div class="col-md-4">
                                        <label class="control-label pull-right">Consignee</label>
                                    </div>-->
                                    <div class="col-md-12">
                                        <input type="text"
                                               class="form-control input-sm ac"
                                               ng-class="{'loadinggif': oe.ConsigneeNameLoading}"
                                               placeholder="Consignee"
                                               ng-model="oe.ConsigneeName"
                                               typeahead-min-length="3"
                                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'consignee','ConsigneeAddress')"
                                               typeahead-loading="oe.ConsigneeNameLoading"
                                               typeahead-wait-ms="100"
                                               typeahead-editable="false"
                                               typeahead-on-select="CustomerSelected($item, 'ConsigneeCode','ConsigneeAddress','ConsigneeROCNo','ConsigneeAddressID')"
                                               ng-required="true" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-12">
                                        <span class="pull-left" ng-bind-html="oe.ConsigneeAddress"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">CONSIGNOR&nbsp;</h3>
                                <md-button class="md-fab md-mini-1 md-primary btn-box-tool" popover-placement="bottom-middle" ng-click="validateRecord(true, 'CONSIGNOR')" popover-is-open="oeCntrl.isOpenMerchantPPConsignor" uib-popover-template="'add-merchant.html'" aria-label="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <div class="md-ripple-container"></div>
                                </md-button>
                                <div class="box-tools">
                                    <label class="control-label pull-right">{{oe.ShipperROCNo}}</label>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row" style="margin-top: 10px;">
                                    <!--<div class="col-md-4">
                                        <label class="control-label pull-right">Consignor</label>
                                    </div>-->
                                    <div class="col-md-12">
                                        <input type="text"
                                               class="form-control input-sm ac"
                                               ng-class="{'loadinggif': oe.ShipperNameLoading}"
                                               placeholder="Consignor"
                                               ng-model="oe.ShipperName"
                                               typeahead-min-length="3"
                                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'Shipper','ShipperAddress')"
                                               typeahead-loading="oe.ShipperNameLoading"
                                               typeahead-wait-ms="100"
                                               typeahead-editable="false"
                                               typeahead-on-select="CustomerSelected($item, 'ShipperCode','ShipperAddress','ShipperROCNo','ShipperAddressID')"
                                               ng-required="true" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-12">
                                        <span class="pull-left" ng-bind-html="oe.ShipperAddress"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row" ng-if="oe.TransportType == null || oe.TransportType == 1021">

                    <div class="col-md-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">VESSEL DETAILS</h3>
                            </div>
                            <div class="box-body">
                                <div class="row css10">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Loading Port</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               class="form-control input-sm ac"
                                               ng-class="{'loadinggif': oe.PortOfLoadingNameLoading}"
                                               placeholder="Loading Port"
                                               ng-model="oe.PortOfLoadingName"
                                               ng-required="true"
                                               typeahead-min-length="3"
                                               uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                                               typeahead-loading="oe.PortOfLoadingNameLoading"
                                               typeahead-wait-ms="100"
                                               typeahead-editable="false"
                                               typeahead-on-select="PortSelected($item, 'PortOfLoading')" />
                                    </div>

                                    <div class="col-md-3">
                                        <input type="text"
                                               class="form-control input-sm datepicker"
                                               ng-model="oe.ETA"
                                               date-time-input="{{dateFormat}}"
                                               readonly="readonly">
                                    </div>


                                </div>

                                <div class="row css10">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Discharge Port</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               class="form-control input-sm ac"
                                               ng-class="{'loadinggif': oe.PortOfDischargeNameLoading}"
                                               placeholder="Discharge Port"
                                               ng-model="oe.PortOfDischargeName"
                                               ng-required="true"
                                               typeahead-min-length="3"
                                               uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                                               typeahead-loading="oe.PortOfDischargeNameLoading"
                                               typeahead-wait-ms="100"
                                               typeahead-editable="false"
                                               typeahead-on-select="PortSelected($item, 'PortOfDischarge')" />
                                    </div>

                                    <div class="col-md-3">
                                        <input type="text"
                                               class="form-control input-sm datepicker"
                                               ng-model="oe.ETD"
                                               date-time-input="{{dateFormat}}"
                                               readonly="readonly">
                                    </div>

                                </div>

                                <div class="row css10">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Transhipment Port</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               class="form-control input-sm ac"
                                               ng-class="{'loadinggif': oe.PortOfTranshipmentNameLoading}"
                                               placeholder="Transhipment Port"
                                               ng-model="oe.TranshipmentPortName"
                                               typeahead-min-length="3"
                                               uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                                               typeahead-loading="oe.PortOfTranshipmentNameLoading"
                                               typeahead-wait-ms="100"
                                               typeahead-editable="false"
                                               typeahead-on-select="PortSelected($item, 'TranshipmentPort')" />
                                    </div>

                                    <div class="col-md-3">
                                        <input type="text"
                                               class="form-control input-sm datepicker"
                                               ng-model="oe.YardCutOffTime"
                                               date-time-input="{{dateFormat}}"
                                               readonly="readonly">
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Ship Call No.</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"
                                               class="form-control"
                                               ng-model="oe.SCNNo"
                                               ng-maxlength="50"
                                               logicon-limit
                                               ng-required="oe.JobType == 1060 || oe.JobType == 1061" />
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Voyage No.</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"
                                               class="form-control input-sm ac"
                                               ng-disabled="oe.JobType == null"
                                               ng-class="{'loadinggif': searchLoading}"
                                               placeholder="voyage no"
                                               ng-model="oe.Voyageno"
                                               typeahead-min-length="3"
                                               uib-typeahead="d for d in VoyageResults($viewValue)"
                                               typeahead-loading="searchLoading"
                                               typeahead-popup-template-url="voyage-autocomplete.html"
                                               typeahead-wait-ms="100"
                                               typeahead-editable="false"
                                               typeahead-on-select="VoyageSelected($item)" />
                                    </div>
                                </div>


                                <div class="row css10">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Vessel</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"
                                               class="form-control input-sm ac"
                                               ng-disabled="oe.JobType == null"
                                               ng-class="{'loadinggif': oe.VesselNameLoading}"
                                               placeholder="Vessel Name"
                                               ng-model="oe.VesselName"
                                               typeahead-min-length="3"
                                               uib-typeahead="d for d in VesselNameResults($viewValue)"
                                               typeahead-loading="oe.VesselNameLoading"
                                               typeahead-popup-template-url="voyage-autocomplete.html"
                                               typeahead-wait-ms="100"
                                               typeahead-editable="false"
                                               typeahead-on-select="vesselNameClick($item)" />
                                    </div>
                                </div>

                                <div class="row css10">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Vessel ID</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"
                                               class="form-control"
                                               ng-model="oe.VesselID"
                                               ng-maxlength="50"
                                               logicon-limit />
                                    </div>
                                </div>

                                <div class="row css10">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Vessel Call Sign</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"
                                               class="form-control"
                                               ng-model="oe.CallSignNo"
                                               ng-maxlength="50"
                                               logicon-limit />
                                    </div>
                                </div>

                                <div class="row css10">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Terminal</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control input-sm"
                                                ng-model="oe.PortOperator"
                                                ng-options="s.Value as s.Text for s in terminalList"></select>
                                    </div>
                                    <!--<div class="col-md-3">
                                        <label class="control-label pull-right">Terminal</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"
                                               class="form-control input-sm ac"
                                               ng-class="{'loadinggif': oe.PortOperatorNameLoading}"
                                               placeholder="Terminal"
                                               ng-model="oe.PortOperatorName"
                                               typeahead-min-length="3"
                                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'terminal')"
                                               typeahead-loading="oe.PortOperatorNameLoading"
                                               typeahead-wait-ms="100"
                                               typeahead-editable="false"
                                               typeahead-on-select="CustomerSelected($item, 'PortOperator','PortOperatorAddress','PortOperatorROCNo','PortOperatorAddressID')" />
                                    </div>-->
                                    <div class="col-md-1" ng-show="!IsNew">
                                        <button type="button" class="btn btn-primary" ng-click="GenerateBookingEntry()"><i class="fa fa-ship" aria-hidden="true"></i>&nbsp;Publish To Port</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="oe.TransportType == 1023">
                    <div class="col-md-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">ROAD DETAILS</h3>
                            </div>
                            <div class="box-body">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Vehicle Registration No. 1</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-sm" ng-model="oe.VehicleNo1" ng-maxlength="70" logicon-limit />
                                    </div>
                                </div>

                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Vehicle Registration No. 2</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-sm" ng-model="oe.VehicleNo2" ng-maxlength="70" logicon-limit />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="oe.TransportType == 1022">
                    <div class="col-md-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">RAIL DETAILS</h3>
                            </div>
                            <div class="box-body">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Wagon No.</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-sm" ng-model="oe.WagonNo" ng-maxlength="70" logicon-limit />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="oe.TransportType == 1020">
                    <div class="col-md-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">FLIGHT DETAILS</h3>
                            </div>
                            <div class="box-body">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Flight No.</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-sm" ng-model="oe.FlightNo" ng-maxlength="70" logicon-limit />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">ARN No.</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-sm" ng-model="oe.ARNNo" ng-maxlength="70" logicon-limit />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">ETA</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" id="ETA" role="button" data-toggle="dropdown">
                                                <div class="input-group">
                                                    <input type="text"
                                                           class="form-control input-sm datepicker" ng-model="oe.ETA" ng-required="true"
                                                           date-time-input="{{dateTimeFormat}}">
                                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker ng-model="oe.ETA"
                                                                data-datetimepicker-config="{ dropdownSelector: '#ETA', startView:'day', minView:'minute' }" />
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="oe.TransportType == 1024">
                    <div class="col-md-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">POST DETAILS</h3>
                            </div>
                            <div class="box-body">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">JK78 Information No.</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-sm" ng-model="oe.JKNo" ng-maxlength="70" logicon-limit />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--<div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Primary Yard</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" ng-model="oe.PrimaryYard" class="form-control input-sm" />
                    </div>
                </div>-->
                <!--<div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Shipper</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': oe.ShipperNameLoading}"
                               placeholder="Shipper"
                               ng-model="oe.ShipperName"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'Shipper')"
                               typeahead-loading="oe.ShipperNameLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="CustomerSelected($item, 'ShipperCode')"
                               ng-required="true" />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Consignee</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': oe.ConsigneeNameLoading}"
                               placeholder="Consignee"
                               ng-model="oe.ConsigneeName"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'consignee')"
                               typeahead-loading="oe.ConsigneeNameLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="CustomerSelected($item, 'ConsigneeCode')"
                               ng-required="true" />
                    </div>
                </div>-->
                <div class="row">

                    <div class="col-md-12">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="box box-default box-solid">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">FORWARDING AGENT&nbsp;</h3>
                                                <div class="box-tools">
                                                    <label class="control-label pull-right">{{oe.FwdAgentROCNo}}</label>
                                                </div>
                                            </div>
                                            <div class="box-body">
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-12">
                                                        <input type="text"
                                                               ng-required="true"
                                                               class="form-control input-sm ac"
                                                               ng-class="{'loadinggif': oe.ForwarderNameLoading}"
                                                               placeholder="Forwarding Agent"
                                                               ng-model="oe.ForwardingAgentName"
                                                               typeahead-min-length="3"
                                                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'freightForwarder','FwdAgentAddress')"
                                                               typeahead-loading="oe.ForwarderNameLoading"
                                                               typeahead-wait-ms="100"
                                                               typeahead-editable="false"
                                                               typeahead-on-select="CustomerSelected($item, 'FwdAgent','FwdAgentAddress','FwdAgentROCNo','FwdAgentAddressID')" />
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-12">
                                                        <span class="pull-left" ng-bind-html="oe.FwdAgentAddress"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="box box-default box-solid">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">SHIPPING AGENT&nbsp;</h3>
                                                <div class="box-tools">
                                                    <label class="control-label pull-right">{{oe.ShippingAgentROCNo}}</label>
                                                </div>
                                            </div>
                                            <div class="box-body">
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-12">
                                                        <input type="text"
                                                               class="form-control input-sm ac"
                                                               ng-class="{'loadinggif': oe.ShippingAgentNameLoading}"
                                                               placeholder="Shipping Agent"
                                                               ng-model="oe.ShippingAgentName"
                                                               typeahead-min-length="3"
                                                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'Liner','ShippingAgentAddress')"
                                                               typeahead-loading="oe.ShippingAgentNameLoading"
                                                               typeahead-wait-ms="100"
                                                               typeahead-editable="false"
                                                               typeahead-on-select="CustomerSelected($item, 'ShippingAgent','ShippingAgentAddress','ShippingAgentROCNo','ShippingAgentAddressID')" />
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-12">
                                                        <span class="pull-left" ng-bind-html="oe.ShippingAgentAddress"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!--<div class="row" style="margin-top: 10px;">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Forwarding Agent</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text"
                                               class="form-control input-sm ac"
                                               ng-class="{'loadinggif': oe.ForwarderNameLoading}"
                                               placeholder="Forwarding Agent"
                                               ng-model="oe.ForwardingAgentName"
                                               typeahead-min-length="3"
                                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'freightForwarder')"
                                               typeahead-loading="oe.ForwarderNameLoading"
                                               typeahead-wait-ms="100"
                                               typeahead-editable="false"
                                               typeahead-on-select="CustomerSelected($item, 'FwdAgent','FwdAgentAddress','FwdAgentROCNo','FwdAgentAddressID')" />
                                    </div>
                                </div>-->
                                <!--<div class="row" style="margin-top: 10px;">
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Shipping Agent</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text"
                                               class="form-control input-sm ac"
                                               ng-class="{'loadinggif': oe.ShippingAgentNameLoading}"
                                               placeholder="Shipping Agent"
                                               ng-model="oe.ShippingAgentName"
                                               typeahead-min-length="3"
                                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'Shipper')"
                                               typeahead-loading="oe.ShippingAgentNameLoading"
                                               typeahead-wait-ms="100"
                                               typeahead-editable="false"
                                               typeahead-on-select="CustomerSelected($item, 'ShippingAgent','ShippingAgentAddress','ShippingAgentROCNo','ShippingAgentAddressID')" />
                                    </div>
                                </div>-->

                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Empty Dehire</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': oe.DropOffNameLoading}"
                               placeholder="Empty Dehire"
                               ng-model="oe.DropOffName"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'yard')"
                               typeahead-loading="oe.DropOffNameLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="CustomerSelected($item, 'DropOffCode')" />
                    </div>
                </div>-->

                <div class="row" style="margin-top: 10px;" ng-if="showCoLoader">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Co-Loader</label>
                    </div>
                    <div class="col-md-9">

                        <input type="text"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': oe.CoLoaderNameLoading}"
                               placeholder="Co-Loader"
                               ng-model="oe.CoLoaderName"
                               ng-required="oe.TransportType == 1020"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'Liner')"
                               typeahead-loading="oe.CoLoaderNameLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="CustomerSelected($item, 'CoLoaderCode','CoLoaderCodeAddress','CoLoaderCodeROCNo','CoLoaderCodeAddressID')" />
                    </div>
                </div>
                <!--<div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Foreign Agent</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': oe.ForeignAgentNameLoading}"
                               placeholder="Foreign Agent"
                               ng-model="oe.ForeignAgentName"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'Liner')"
                               typeahead-loading="oe.ForeignAgentNameLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="CustomerSelected($item, 'ForeignAgent')" />
                    </div>
                </div>-->



                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Invoice Date</label>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="InvoiceDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control input-sm datepicker"
                                           ng-model="oe.InvoiceDate"
                                           ng-required="oe.JobType == 1060 || oe.JobType == 1061"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="oe.InvoiceDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#InvoiceDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Invoice No.</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text"
                               class="form-control input-sm"
                               ng-model="oe.InvoiceNo"
                               ng-required="oe.JobType == 1060 || oe.JobType == 1061"
                               ng-maxlength="70"
                               logicon-limit />
                    </div>
                </div>


                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Invoice Currency</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm"
                                ng-model="oe.InvoiceCurrency"
                                ng-options="s.Value as s.Value for s in lookupData.currencyList"></select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Invoice Amount</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text"
                               class="form-control input-sm"
                               ng-model="oe.InvoiceAmount"
                               ng-required="oe.JobType == 1060 || oe.JobType == 1061"
                               ng-maxlength="18"
                               ng-blur="CalulateLocalAmount()"
                               decimal-Number />
                    </div>
                </div>


                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Exchange Rate</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text"
                               class="form-control input-sm"
                               ng-model="oe.ExchangeRate"
                               ng-required="oe.JobType == 1060 || oe.JobType == 1061"
                               ng-maxlength="18"
                               ng-blur="CalulateLocalAmount()"
                               decimal-Number />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Local Amount</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" ng-model="oe.LocalAmount" ng-maxlength="18" decimal-Number />
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">PO No.</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" ng-model="oe.PONo" ng-maxlength="70" logicon-limit />
                    </div>
                    <div class="col-md-3" ng-if="oe.TransportType == 1020">
                        <label class="control-label pull-right">Co-Loded {{BLText}} No.</label>
                    </div>
                    <div class="col-md-3" ng-if="oe.TransportType == 1020">
                        <input type="text"
                               class="form-control input-sm"
                               ng-required="oe.TransportType == 1020"
                               ng-model="oe.COLoaderBLNo"
                               ng-maxlength="70" logicon-limit />
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">

                    <div class="col-md-3">
                        <label class="control-label pull-right">Sales Order No.</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" ng-model="oe.SalesOrderNo" ng-maxlength="70" logicon-limit />
                    </div>

                    <div class="col-md-3">
                        <label class="control-label pull-right">Sales Order Date</label>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="SalesOrderDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control input-sm datepicker"
                                           ng-model="oe.SalesOrderDate"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="oe.SalesOrderDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#SalesOrderDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Contract No.</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" ng-model="oe.ContractNo" ng-maxlength="70" logicon-limit />
                    </div>

                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Inco Term</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-sm" ng-model="oe.SalesTerm" ng-maxlength="200" logicon-limit />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Term of payment</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-sm" ng-model="oe.PaymentTerm" ng-maxlength="200" logicon-limit />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Remarks</label>
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control input-sm" ng-model="oe.Remarks" ng-maxlength="200" logicon-limit></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-default box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12" style="margin-left:20px;">
                        <span ng-if="oe.IsCFS">
                            <button uib-tooltip="CFS" class="md-fab md-mini-1 md-warning btn-box-tool md-button md-ink-ripple" type="button" aria-label="button">
                                <i class="fa fa-building" aria-hidden="true"></i>
                                <div class="md-ripple-container"></div>
                            </button>
                        </span>
                        <span ng-if="oe.IsDepot">
                            <button uib-tooltip="Depot" class="md-fab md-mini-1 md-warning btn-box-tool md-button md-ink-ripple" type="button" aria-label="button">
                                <i class="fa fa-anchor" aria-hidden="true"></i>
                                <div class="md-ripple-container"></div>
                            </button>
                        </span>
                        <span ng-if="oe.IsForwarding">
                            <button uib-tooltip="Forwarding" class="md-fab md-mini-1 md-warning btn-box-tool md-button md-ink-ripple" type="button" aria-label="button">
                                <i class="fa fa-street-view" aria-hidden="true"></i>
                                <div class="md-ripple-container"></div>
                            </button>
                        </span>
                        <span ng-if="oe.IsFreight">
                            <button uib-tooltip="Freight" class="md-fab md-mini-1 md-warning btn-box-tool md-button md-ink-ripple" type="button" aria-label="button">
                                <i class="fa fa-street-view" aria-hidden="true"></i>
                                <div class="md-ripple-container"></div>
                            </button>
                        </span>
                        <span ng-if="oe.IsHaulage">
                            <button uib-tooltip="Haulage" class="md-fab md-mini-1 md-warning btn-box-tool md-button md-ink-ripple" type="button" aria-label="button">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                                <div class="md-ripple-container"></div>
                            </button>
                        </span>
                        <span ng-if="oe.IsRail">
                            <button uib-tooltip="Rail" class="md-fab md-mini-1 md-warning btn-box-tool md-button md-ink-ripple" type="button" aria-label="button">
                                <i class="fa fa-train" aria-hidden="true"></i>
                                <div class="md-ripple-container"></div>
                            </button>
                        </span>
                        <span ng-if="oe.IsTransport">
                            <button uib-tooltip="Transport" class="md-fab md-mini-1 md-warning btn-box-tool md-button md-ink-ripple" type="button" aria-label="button">
                                <i class="fa fa-subway" aria-hidden="true"></i>
                                <div class="md-ripple-container"></div>
                            </button>
                        </span>
                        <span ng-if="oe.IsWareHouse">
                            <button uib-tooltip="WareHouse" class="md-fab md-mini-1 md-warning btn-box-tool md-button md-ink-ripple" type="button" aria-label="button">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <div class="md-ripple-container"></div>
                            </button>
                        </span>
                    </div>
                </div>
                <div ng-if="oe.TransportType != 1020">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label pull-left">Customer Reference No.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control input-sm" ng-model="oe.CustomerRef" ng-required="true" ng-maxlength="35" logicon-limit />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <label class="control-label pull-left">Master {{BLText}} No.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text"
                                   class="form-control input-sm"
                                   ng-model="oe.OceanBLNo"
                                   ng-required="oe.JobType != 1061"
                                   ng-maxlength="35"
                                   logicon-limit />
                        </div>
                    </div>
                    <!--<div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-left">Liner Ref</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control input-sm" ng-model="oe.ShippingLinerRefNo" ng-required="true" ng-maxlength="20" logicon-limit />
                        </div>
                        <div class="col-md-3">
                            <md-checkbox class="md-primary" ng-model="oe.IsBillable" ng-disabled="true" aria-label="Billable">Billable</md-checkbox>
                        </div>
                    </div>-->
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <label class="control-label pull-left">House {{BLText}} No.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control input-sm" ng-model="oe.HouseBLNo" ng-maxlength="35" logicon-limit />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <label class="control-label pull-left">Manifest No.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control input-sm" ng-model="oe.ManifestNo" ng-maxlength="35" logicon-limit />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <label class="control-label pull-left">Customs Acknowledgement No.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control input-sm" ng-model="oe.KANo" ng-maxlength="35" logicon-limit />
                        </div>
                    </div>
                    <!--<div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-left">Inco Term</label>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control input-sm"
                                    ng-model="oe.IncoTerm"
                                    ng-options="s.Value as s.Text for s in lookupData.incoTermsList"></select>
                        </div>
                    </div>-->
                </div>
                <div ng-if="oe.TransportType == 1020">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label pull-left">Master Airway {{BLText}} No.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control input-sm" ng-model="oe.MasterAWBNo" ng-required="true" ng-maxlength="35" logicon-limit />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <label class="control-label pull-left">House Airway {{BLText}} No.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control input-sm" ng-model="oe.HouseAWBNo" ng-required="true" ng-maxlength="35" logicon-limit />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <label class="control-label pull-left">Co-Load No.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text"
                                   class="form-control input-sm"
                                   ng-model="oe.AIRCOLoadNo"
                                   ng-maxlength="35"
                                   logicon-limit />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">MARKS & NUMBERS</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label pull-left">No. Of Package</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control input-sm"
                               ng-model="oe.orderText.NoOfpacks"
                               ng-maxlength="100"
                               logicon-limit />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <label class="control-label pull-left">Marks & Numbers</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div style="min-height:50px;" class="well well-sm" ng-bind-html="oe.orderText.MarksNumbers">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <label class="control-label pull-left">Cargo Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div style="min-height:50px;" class="well well-sm" ng-bind-html="oe.orderText.CargoDescription">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
