﻿<div class="row css10">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead style="color:#fff;background-color:#97c5ea;">
                <tr>
                    <th>Activity Date</th>
                    <th>Activity</th>
                    <th>Activity Party</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in oe.orderActivityList">
                    <td>{{activity.ActivityDate | date : 'dd/MM/yyyy HH:MM:ss a'}}</td>
                    <td>{{activity.Activity}}</td>
                    <td>{{activity.ActivityPartyDescription}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>