﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead style="color: #fff; background-color: #97c5ea;">
                <tr>
                    <th></th>
                    <th>Charge Code</th>
                    <th>Description</th>
                    <th>Internal Cost</th>
                    <th>Qty.</th>
                    <th>Billing Unit</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
