﻿<div class="row" style="margin-top: 10px;">    
    <div class="col-md-12">        
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-click="AddTransport(-1);"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button>
            <div class="btn-group" uib-dropdown is-open="status.transportMenu">
                <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>                
                <ul class="dropdown-menu" style="margin:2px -127px 0" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a ng-click="RemoveTransport()">Delete All</a></li>
                    <li role="menuitem"><a ng-click="CloneTransport()">Clone</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead style="color:#fff;background-color: #97c5ea;">
                <tr>
                    <th>
                        <md-checkbox 
                                     ng-click="toggleChksTransport()"
                                     aria-label="Priority"></md-checkbox>
                    </th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>Special Handling</th>
                    <th>Cargo Type</th>
                    <th>Gross Weight</th>
                    <th>#Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tra in oe.orderContainerList">
                    <td>
                        <md-checkbox ng-model="tra.chk"
                                     ng-init="tra.chk = false"
                                     class="md-primary"
                                     aria-label="Priority"></md-checkbox>
                    </td>
                    <td>{{tra.Size}}</td>
                    <td>{{tra.Type}}</td>
                    <td>{{tra.SpecialHandlingDesc}}</td>
                    <td>{{tra.CargoTypeDescription}}</td>
                    <td>{{tra.GrossWeight}}</td>
                    <td style="padding: 0 0 0 5px">
                        <input type="hidden" ng-model="tra.Index" ng-init="tra.Index = $index" />
                        <md-button typeof="button" ng-click="AddTransport($index);" class="md-fab md-mini-1 md-primary btn-box-tool" aria-label="button">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </md-button>
                        <md-button typeof="button" ng-click="DeleteTransport($index);" class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" aria-label="button">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>
