﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-6">
        <div class="box box-default box-solid">            
            <div class="box-body">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <uib-tabset>
                            <uib-tab heading="Shipper" active="true" disable="false">
                                <div ng-include="'Js/Freight/Templates/BillOfLad/shipper-consignee.html'"></div>
                            </uib-tab>
                            <uib-tab heading="Consignee" active="true" disable="false">
                                <div ng-include="'Js/Freight/Templates/BillOfLad/shipper-consignee.html'"></div>
                            </uib-tab>
                            <uib-tab heading="POD Agent" active="true" disable="false">
                                <div ng-include="'Js/Freight/Templates/BillOfLad/shipper-consignee.html'"></div>
                            </uib-tab>
                            <uib-tab heading="Notify Party" active="true" disable="false">
                                <div ng-include="'Js/Freight/Templates/BillOfLad/shipper-consignee.html'"></div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="col-md-6">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Order No.</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm"></select>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Date Issued</label>
            </div>
            <div class="col-md-4">
                <div class="input-group my-datepicker">
                    <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <md-radio-group ng-model="data.group1">
                    <md-radio-button value="Final" class="md-primary">Final</md-radio-button>
                    <md-radio-button value="Draft" class="md-primary">Draft</md-radio-button>
                </md-radio-group>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">POL Etd</label>
            </div>
            <div class="col-md-4">
                <div class="input-group my-datepicker">
                    <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Place Issued</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Freight Term</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Payable At</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">No. Of B/L</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">No. Of Packages</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Volume (M3)</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Weight (KG)</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" />
            </div>
            <div class="col-md-3">
                <md-checkbox class="md-primary" aria-label="Telex Release">Telex Release</md-checkbox>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Weight (MT)</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" />
            </div>
            <div class="col-md-3">
                <md-checkbox class="md-primary" aria-label="Replacement">Replacement</md-checkbox>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Pickup Place</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Loading Port</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Feeder Vessel</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Discharge Port</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Voyage No.</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Final Dest</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Mother Vessel</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Final Dest (Inland)</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Voyage No.</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Remarks</label>
    </div>
    <div class="col-md-10">
        <textarea class="form-control input-sm"></textarea>
    </div>
</div>
