﻿<section class="content" ng-controller="CurrencyCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Currency List</h3>
            <div class="box-tools pull-right">               
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="EditCurrency('NEW');">
                    <i class="fa fa-plus fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Currency Code</th>
                                <th>Description</th>
                                <th>#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="currency in currencyList">
                                <td>{{currency.CurrencyCode}}</td>
                                <td>{{currency.Description}}</td>
                                <td style="padding: 0 0 0 5px">
                                    <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="EditCurrency(currency.CurrencyCode);" aria-label="button">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                    <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" type="button" ng-click="DeleteCurrency(currency.CurrencyCode);" aria-label="button">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>                                    
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <uib-pagination ng-model="currentPage"
                                            total-items="totalItems"
                                            ng-change="pageChanged()"
                                            class="pagination-sm pull-right"
                                            max-size="10"
                                            items-per-page="limit">
                            </uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>