﻿<section class="content" ng-controller="CustomerQuotationCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Customer Quotation List</h3>.<div class="box-tools pull-right">               
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddQuotation('NEW');">
                    <i class="fa fa-plus fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </button>

            </div>
        </div>
        <div class="box-body">                        
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Quotation No.</th>
                                <th>Customer Name</th>
                                <th>Quoted Date</th>
                                <th>Effective</th>
                                <th>Expiry</th>
                                <th>Prepared By</th>
                                <th>Status</th>
                                <th>Approved By</th>
                                <th>#Action</th>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr ng-repeat="q in quotationlist">
                                <td>{{q.QuotationNo}}</td>
                                <td>{{q.CustomerName}}</td>
                                 <td>{{q.QuotedDate}}</td>
                                 <td>{{q.Effective}}</td>
                                 <td>{{q.Expiry}}</td>
                                 <td>{{q.PreparedBy}}</td>
                                 <td>{{q.Status}}</td>
                                 <td>{{q.ApprovedBy}}</td>
                                <td style="padding:0 0 0 5px">
                                    <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="AddQuotation(q.QuotationNo);" aria-label="button">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                    <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" type="button" ng-click="DeleteQuotation(q.QuotationNo);" aria-label="button">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>   
        
         <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-primary" onclick="location.href = '#/home/'"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back</button>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</section>