﻿
<section class="content" ng-controller="CustomerQuotationCntrl">
    <form id="frmCustomerQuotation"
          ng-submit="SaveCustomerQuotation(cq);"
          name="frmCustomerQuotation" ng-class="{'submitted': submitted}" novalidate>
        <input type="hidden" ng-model="cq.QuotationType" ng-init="cq.QuotationType = 3861" />
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Customer Quotaion&nbsp;<i ng-show="cq.showLoading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <uib-tabset>
                            <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}">
                                <div ng-include="tab.content"></div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left"><button type="submit" class="btn btn-primary" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button></div>
                        <div class="pull-right"><button type="button" class="btn btn-primary" ng-click="backToList()"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
