﻿<section class="content" ng-controller="AssociationTarrifCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Affiliation Tariff</h3>
            <div class="box-tools">                
                <md-button class="md-fab md-mini-1 md-primary btn-box-tool"  ng-click="addAssociationTariff('NEW')" aria-label="button">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </md-button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Quotation No.</th>
                                <th>Affiliation</th>
                                <th>Effective Date</th>
                                <th>Expiry Date</th>
                                <th>#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in tariffList">
                                <td>{{item.QuotationNo}}</td>   
                                <td>{{item.AssociationDescription}}</td>                           
                                <td>{{item.EffectiveDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                <td>{{item.ExpiryDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                <td>
                                    <md-button class="md-fab md-mini-1 md-primary btn-box-tool" ng-click="addAssociationTariff(item.QuotationNo)" aria-label="button">
                                        <i class="fa fa-pencil"></i>
                                    </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-default" type="button" onclick="location.href = '#/owner'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
