﻿<section class="content" ng-controller="UomCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">UOM List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="AddUom('NEW');">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12" ng-show="uomList.length > 0">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Mapping Code</th>
                                <th>ISO Code</th>
                                <th>#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="uom in uomList">
                                <td>{{uom.UOMCode}}</td>
                                <td>{{uom.UOMDescription}}</td>
                                <td>{{uom.MappingCode}}</td>
                                <td>{{uom.ISOCode}}</td>
                                <td>
                                    <button class="btn btn-primary input-sm" ng-click="AddUom(uom.UOMCode)">Edit</button>&nbsp;
                                    <button class="btn btn-danger input-sm" ng-click="DeleteUom(uom.UOMCode)">Delete</button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="col-md-12" ng-show="uomList.length <= 0">
                    <h2>No data found..</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <uib-pagination ng-model="currentPage"
                                            total-items="totalItems"
                                            ng-change="pageChanged()"
                                            class="pagination-sm pull-right"
                                            max-size="10"
                                            items-per-page="limit">
                            </uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
             <div class="row">
                <div class="col-md-12">
                     <md-button class="md-raised md-clear" onclick="location.href = '#/home/'"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</md-button> 
                    <!--<button class="btn btn-primary btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</button>
                    <button class="btn btn-info btn-sm"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                    <button class="btn btn-warning btn-sm"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</button>-->
                </div>
            </div>
        </div>
    </div>
</section>