﻿<section class="content" ng-controller="PortTimeSlot">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Port Time Slot Maintenance</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Port</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Vessel</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Voyage No.</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-5">
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Job Type</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Vessel Avl Date</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm datepicker"
                                       ng-model="vs.ImpAvaliableDate"
                                       ng-required="true"
                                       date-time-input="MM/DD/YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="vs.ImpAvaliableDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <table class="table table-bordered">
                            <thead style="color:#fff;background-color:#97c5ea;">
                                <tr>
                                    <th>Job</th>
                                    <th>Shp</th>
                                    <th>Movement</th>
                                    <th>Status</th>
                                    <th>Customer Name</th>
                                    <th>Container No.</th>
                                    <th>Size</th>
                                    <th>Cargo Type</th>
                                    <th>Slot Date</th>
                                    <th>Slot Time</th>
                                    <th>Port Ref</th>
                                    <th>Dehire Code</th>
                                    <th>Order Remarks</th>                                                                     
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>