﻿<section class="content" ng-controller="StandardQuotationCntrl">
    <form id="frmStandardCntrl"
          name="frmStandardCntrl"
          ng-class="{'submitted': submitted}"
          ng-submit="SaveStndQuotation(cq)" novalidate>
        <input type="hidden" ng-model="cq.QuotationType" ng-init="cq.QuotationType = 3860" />
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Standard Rate Profile</h3>
            </div>
            <div class="box-body">
                <div class="row">                    
                    <div class="col-md-12">
                        <uib-tabset>
                            <uib-tab heading="General">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-2">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label pull-right">
                                                    Effective Date
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="dropdown">
                                                    <a class="dropdown-toggle" id="EffectiveDate" role="button" data-toggle="dropdown">
                                                        <div class="input-group">
                                                            <input type="text"
                                                                   class="form-control input-sm datepicker"
                                                                   ng-model="cq.EffectiveDate"
                                                                   ng-required="true"
                                                                   date-time-input="{{dateFormat}}">
                                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                        </div>
                                                    </a>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                        <datetimepicker ng-model="cq.EffectiveDate"
                                                                        data-datetimepicker-config="{
                                        dropdownSelector: '#EffectiveDate',
                                        startView: 'day',
                                        minView: 'day' }" />
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="box box-default box-solid">
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <uib-tabset active="active">
                                                            <uib-tab heading="Storage Rules">
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Calculation Period</label>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <select class="form-control input-sm" ng-model="cq.CargoCalcPeriod" ng-options="s.Value as s.Text for s in lookupData.calPeriodType" ng-required="true"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Storage Section</label>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <select class="form-control input-sm" ng-model="cq.CargoStorageMethod" ng-options="s.Value as s.Text for s in lookupData.storageType" ng-required="true"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Trailer Detention Free Day</label>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control input-sm" ng-model="cq.TrailerDetentionFreeDays" ng-required="true" logicon-number />
                                                                    </div>
                                                                </div>
                                                            </uib-tab>
                                                            <uib-tab heading="Cargo Storage Free Days">
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Normal</label>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">DG</label>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-1">
                                                                        <label class="control-label pull-right">Export</label>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control input-sm" ng-model="cq.CargoFPExport" ng-required="true" logicon-number />
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control input-sm" ng-model="cq.CargoFPExportDG" ng-required="true" logicon-number />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-1">
                                                                        <label class="control-label pull-right">Import</label>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control input-sm" ng-model="cq.CargoFPImport" ng-required="true" logicon-number />
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control input-sm" ng-model="cq.CargoFPImportDG" ng-required="true" logicon-number />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-1">
                                                                        <label class="control-label pull-right">Local</label>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control input-sm" ng-model="cq.CargoFPLocal" ng-required="true" logicon-number />
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control input-sm" ng-model="cq.CargoFPLocalDG" ng-required="true" logicon-number />
                                                                    </div>
                                                                </div>
                                                            </uib-tab>
                                                            <uib-tab heading="Container Storage Free Days">
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-1"></div>
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">Normal</label>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <label class="control-label pull-right">DG</label>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-1">
                                                                        <label class="control-label pull-right">Export</label>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control input-sm" ng-model="cq.ContainerFPExport" ng-required="true" logicon-number />
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control input-sm" ng-model="cq.ContainerFPExportDG" ng-required="true" logicon-number />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-1">
                                                                        <label class="control-label pull-right">Import</label>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control input-sm" ng-model="cq.ContainerFPImport" ng-required="true" logicon-number />
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control input-sm" ng-model="cq.ContainerFPImportDG" ng-required="true" logicon-number />
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 10px;">
                                                                    <div class="col-md-1">
                                                                        <label class="control-label pull-right">Local</label>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control input-sm" ng-model="cq.ContainerFPLocal" ng-required="true" logicon-number />
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control input-sm" ng-model="cq.ContainerFPLocalDG" ng-required="true" logicon-number />
                                                                    </div>
                                                                </div>
                                                            </uib-tab>
                                                        </uib-tabset>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-footer">
                                                <div class="row">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Details">
                                <div class="row" style="margin-top:10px">
                                    <div class="col-md-12">
                                        <div class="pull-right"><button type="button" class="btn btn-primary" ng-click="AddCQDetails(-1);"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button></div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-12">
                                        <table class="table table-bordered">
                                            <thead style="color: #fff; background-color: steelblue;">
                                                <tr>
                                                    <th>Job</th>
                                                    <th>Shipment Type</th>
                                                    <th>Job Category</th>
                                                    <th>Description</th>
                                                    <th>Type Size </th>
                                                    <th>Curr.</th>
                                                    <th>Sell Rate</th>
                                                    <th>Est. Cost</th>
                                                    <th>Min. Amt.</th>
                                                    <th>Max. Amt.</th>
                                                    <th>Slab</th>
                                                    <th>#Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in cq.QuotationItems">
                                                    <td>{{item.JobTypeDescription}}</td>
                                                    <td>{{item.ShipmentTypeDescription}}</td>
                                                    <td>{{item.JobCategory}}</td>
                                                    <td>{{item.Remarks}}</td>
                                                    <td>{{item.Size}} - {{item.Type}}</td>
                                                    <td>{{item.CurrencyCode}}</td>
                                                    <td>{{item.SellRate}}</td>
                                                    <td>{{item.EstCost}}</td>
                                                    <td>{{item.MinAmt}}</td>
                                                    <td>{{item.MaxAmnt}}</td>
                                                    <td>{{item.IsSlabRate}}</td>
                                                    <td>
                                                        <a ng-click="AddCQDetails($index)">Edit</a>
                                                        <input type="hidden" ng-model="item.Index" ng-init="item.Index = $index" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button class="btn btn-primary" 
                                    onclick="location.href = '#/home/'">
                            <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back</button>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
