﻿<section class="content" ng-controller="CNSubmissionCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Customer Invoice/CN Submission</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Customer</label>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <select class="form-control input-sm"></select>
                        <span class="input-group-btn dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Acknowledge</md-button>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Select For</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right">Submission</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right">Batch</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Show Pending</md-button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Show All</md-button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="well well-sm" style="min-height: 250px;">
                                <table class="table table-bordered">                                    
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="well well-sm" style="min-height: 250px;">
                                <table class="table table-bordered">
                                    <thead style="color: #fff; background-color: #97c5ea;">
                                        <tr>
                                            <th>Invoice No.</th>
                                            <th>Inv. Date</th>
                                            <th>Term.</th>
                                            <th>Curr.</th>
                                            <th>Amount</th>
                                            <th>Prn</th>
                                            <th>Submit</th>
                                            <th>Date</th>
                                            <th>ID</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>
