﻿<section class="content" ng-controller="CompanyDetailsCntrl as Cntrl">
    <script type="text/ng-template" id="reject-status.html">
        <style type="text/css">
            .Rejectcontainer {
                width: 400px;
                margin: 10px;
            }
        </style>
        <div class="Rejectcontainer">
            <form id="Cntrl.frmReject" name="Cntrl.frmReject" ng-class="{'submitted': RejectSubmitted}" ng-submit="Reject(remarks)" novalidate>
                <div class="row">
                    <div class="col-md-5">
                        <label class="control-label pull-left">Remarks</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea ng-model="remarks" ng-required="true" class="form-control input-sm" rows="5"></textarea>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-6">
                        <button ng-click="Cntrl.isOpenRejectPP = false" type="button" class="btn btn-default btn-block">Cancel</button>
                    </div>
                    <div class="col-md-6">
                        <button ng-click="RejectSubmitted = true;" type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Company Details</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Company Info.</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row css10">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right">Company Name:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">{{registeredCompany.CompanyName}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10 division">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right"> Agent Name:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label pull-left">{{registeredCompany.AgentName}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right">Organisation Type:</label>
                                        </div>
                                        <div class="col-md-5">
                                            <label class="control-label pull-left">{{registeredCompany.OrganisationTypeDescription}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10 division">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right">Registration No.:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label pull-left">{{registeredCompany.RegistrationNo}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10 division">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right">GST Registration No.:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label pull-left">{{registeredCompany.GSTNo}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10 division">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right">GST Registration Date:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label pull-left">{{registeredCompany.GSTRegistrationDate | date : 'dd/MM/yyyy'}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10 division">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right">Dagangnet Account No.:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label pull-left">{{registeredCompany.CPAMAccountNo}}</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Company Address</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row css10 division">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Address:</label>
                                        </div>
                                        <div class="col-md-5">
                                            <label class="control-label pull-left">{{registeredCompany.companyAddress.Address1}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10">
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-5">
                                            <label class="control-label pull-left">{{registeredCompany.companyAddress.Address2}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10">
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-5">
                                            <label class="control-label pull-left">{{registeredCompany.companyAddress.Address3}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Postcode:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">{{registeredCompany.companyAddress.PostCode}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10 division">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">State:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">{{registeredCompany.companyAddress.State}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10 division">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">City / District:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">{{registeredCompany.companyAddress.City}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Billing Contact Person</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Name:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">{{registeredCompany.companyAddress.ContactPerson1}}</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Designation:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">{{registeredCompany.companyAddress.Designation1}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Phone No.:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">({{DailingCode1}}) {{registeredCompany.companyAddress.Phone1}}</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Ext.:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">{{registeredCompany.companyAddress.Extension1}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Mob. Ph No.:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">({{DailingCode2}}) {{registeredCompany.companyAddress.Mobile1}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Email:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">{{registeredCompany.companyAddress.ContactEmailID1}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Operations Contact Person</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Name:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">{{registeredCompany.companyAddress.ContactPerson2}}</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Designation:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">{{registeredCompany.companyAddress.Designation2}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Phone No.:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">({{DailingCode3}}) {{registeredCompany.companyAddress.Phone2}}</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Ext.:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">{{registeredCompany.companyAddress.Extension2}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Mob. Ph. No.:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">({{DailingCode4}}) {{registeredCompany.companyAddress.Mobile2}}</label>
                                        </div>
                                    </div>
                                    <div class="row css10">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Email:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-left">{{registeredCompany.companyAddress.ContactEmailID2}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Business Modules</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6" style="margin-top:10px;" ng-repeat="item in registeredCompany.CompanyRegistrationTypeList">
                                            <md-switch class="md-primary" ng-disabled="true" ng-model="item.IsSelected" aria-label="item.RegistrationTypeDescription">{{item.RegistrationTypeDescription}}</md-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Document Type</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in registeredCompany.RegisteredCompanyDocsList">
                                <td>{{$index + 1}}</td>
                                <td>{{item.FileName}}</td>
                                <td>{{item.RegistrationDocTypeDescription}}</td>
                                <td>
                                    <!--<a target="_blank" ng-href="{{BaseUrl + '/' + item.FileName}}" class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" ng-click="viewInfo(com.CompanyID);" aria-label="button">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </a>-->
                                    <button type="button"
                                            ng-disabled="item.FileName == ''"
                                            class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple"
                                            ng-click="downLoad(item.FileName, registeredCompany.CompanyID)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" ng-if="registeredCompany.RegistrationStatus == 4062">
                <div class="col-md-12">
                    <div uib-alert class="alert-danger" close="closeAlert($index)">
                        User didn't verify the email
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title text-center">Declaration</h3>
                        </div>
                        <div class="box-body">
                            <div class="row" style="padding-right:10px;font-size:14px;color:black;font-weight:600;height:450px;overflow-y:scroll;">
                                <div class="col-md-12">
                                    <p style="text-align:justify">
                                        I/We <span style="text-decoration:underline;">{{registeredCompany.CompanyName}}</span><span ng-show="registeredCompany.CompanyName == null">______________________________________</span> (name of company) having company registration number <span ng-show="registeredCompany.RegistrationNo == null">______________________________________</span><span style="text-decoration:underline">{{registeredCompany.RegistrationNo}}</span>, hereby confirm that I/We have read,  understood and accepted the Terms and Conditions as attached herewith.<br />
                                        <span style="font-weight:bold;text-decoration:underline;">Privacy Policy and Consent to Use Personal Data</span><br />
                                        At DNeXPORT, we are committed to protecting your privacy as our valued customers and pledge to comply with the Personal Data Protection Act (“PDPA”) 2010.<br />
                                        Please note that any personal information (“Personal Data”) in respect of commercial transactions that relates directly or indirectly to you as an individual, that had been collected, processed and retained by DNeXPORT is protected under our Privacy Policy, formulated in pursuant to the PDPA 2010.<br />
                                        Please refer to our Privacy Policy at <a style="color:blue;text-decoration:underline" href="www.dnex.com.my/privacy-policy">www.dnex.com.my/privacy-policy</a> to understand how we do this and feel free to reach us at pdpa@dnex.com.my should you have any additional enquiries.
                                        IMPORTANT: By submitting this form, you agree and consent to the use, processing and disclosure of your Personal Data by DNeXPORT for the purpose as described in this form.

                                    </p>
                                    <div ng-include="'Js/Default/Templates/declaration.html'"></div>
                                </div>
                                <div class="col-md-12">
                                    <md-checkbox ng-model="registeredCompany.IsDeclared" ng-disabled="true">I DECLARE THAT I HAVE READ AND UNDERSTOOD THE ABOVE DECLARATION</md-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="registeredCompany.RegistrationStatus != 4062">
                <div class="col-md-5"></div>
                <div class="col-md-1">
                    <button class="btn btn-primary btn-block" type="button" ng-click="Approve()" ng-disabled="approvedisable">Approve</button>
                </div>
                <div class="col-md-1">
                    <button popover-is-open="isOpenRejectPP" ng-click="isOpenRejectPP = true;" uib-popover-template="'reject-status.html'" class="btn btn-warning btn-block" type="button">Reject</button>
                </div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-primary" onclick="location.href = '#/operation/registrationlist'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>