﻿<div class="row" ng-controller="HomeController">
    <div class="col-md-12">
        <uib-tabset>
            <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" ng-if="tab.visible"> 
                <uib-tab-heading ng-if="tab.isRemove">
                    <i class="glyphicon glyphicon-bell"></i> Alert!
                </uib-tab-heading>
                <div ng-include="tab.content"></div>                
            </uib-tab>
        </uib-tabset>
    </div>
</div>