﻿<section class="content" ng-controller="RegisterCntrl as Cntrl">
    <style type="text/css">
        .userIdPopOverCss .popover {
            width: 300px;
            height: 50px;
            padding: 5px 5px 5px 5px;
            font-weight: 600;
        }

        .passwordPopOverCss .popover {
            width: 450px;
            height: 80px;
            padding: 5px 5px 5px 5px;
            font-weight: 600;
        }

        .isNotMatched {
            border: 1px solid red !important;
        }

        .fileCss {
            border: 0px solid #ccc;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Forgot Password</h3>
                </div>
                <div class="box-body">
                    <form id="Cntrl.frmEmail" name="Cntrl.frmEmail" ng-class="{'submitted': submittedEmail}" ng-submit="CheckEmailAvailability()" novalidate>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right userIdPopOverCss">Email ID</label>
                            </div>
                            <div class="col-md-3">
                                <input type="email"
                                       class="form-control input-sm"
                                       ng-model="pwd.Email"
                                       placeholder="(mandatory)"
                                       ng-required="true"
                                       ng-disabled="isUserEmailExists"
                                       ng-blur="CheckEmailAvailability()" />
                            </div>
                            <div class="col-md-2">
                                <span class="userIdPopOverCss">
                                    <a uib-popover="Please key in Email ID and press ENTER key"
                                       popover-trigger="mouseenter">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                </span>&nbsp;                                
                            </div>
                        </div>

                    </form>

                    <form id="Cntrl.frmQuestion" name="Cntrl.frmQuestion" ng-class="{'submitted': submittedQuestion}" ng-submit="Validate(pwd)" novalidate>
                        <div ng-show="EmailValid">
                            <div class="row css10">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Security Question</label>
                                </div>
                                <div class="col-md-5">
                                    <select class="form-control input-sm" ng-model="pwd.SecurityQuestion"
                                            ng-required="true"
                                            ng-options="s.Value as s.Text for s in lookUpData.securityQuestionsList"
                                            ng-disabled="securityQuestionValid"></select>
                                </div>
                            </div>
                            <div class="row css10">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Answer</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text"
                                           placeholder="(mandatory)"
                                           class="form-control input-sm"
                                           ng-model="pwd.Answer"
                                           ng-required="true"
                                           ng-disabled="securityQuestionValid" />
                                </div>
                            </div>
                            <div class="row css10">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-5">
                                    <md-button type="submit"
                                               class="md-raised md-primary"
                                               ng-disabled="securityQuestionValid"
                                               ng-click="submittedQuestion = true;">Validate Question</md-button>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="row" ng-if="ShowOTP" style="margin-top:10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">OTP</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" ng-model="OTP" class="form-control input-sm" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" ng-disabled="OTP == null || OTP == ''" type="button" ng-click="VerifyOTPForgotPassword(pwd.Email, OTP)">Verify OTP</button>
                        </div>
                    </div>
                    <form id="Cntrl.frmPassword" name="Cntrl.frmPassword" ng-class="{'submitted': submittedPwd}" ng-submit="UpdatePassword(pwd)" novalidate>
                        <div ng-show="securityQuestionValid">
                            <div class="row css10">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">New Password</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="password"
                                           placeholder="(mandatory)"
                                           class="form-control input-sm"
                                           ng-required="true"
                                           ng-model="pwd.Password"
                                           ng-class="{'isNotMatched': !isPasswordMatched}"
                                           ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                           ng-minlength="8" />
                                </div>
                                <div class="col-md-1">
                                    <span class="passwordPopOverCss">
                                        <a uib-popover="Password must have at least 8 characters and contain the following:
uppercase letters, lowercase letters, numbers and symbols"
                                           popover-trigger="mouseenter">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="row css10">
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Confirm New Password</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="password"
                                           placeholder="(mandatory)"
                                           class="form-control input-sm"
                                           ng-model="pwd.ConfirmPassword"
                                           ng-class="{'isNotMatched': !isPasswordMatchedFP}"
                                           ng-required="true"
                                           ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                           compare-to="pwd.Password"
                                           ng-minlength="8"
                                           ng-blur="ComparePasswordinFP()" />
                                </div>
                            </div>
                            <div class="row css10">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-5">
                                    <md-button type="submit"
                                               class="md-raised md-primary"
                                               ng-click="submittedPwd = true;">Update Password</md-button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</section>