﻿<section class="content" ng-controller="LoginCntrl">
    <div class="row" style="margin-top:60px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">DNeX</h3>                    
                </div>
                <div class="box-body">
                    <form id="frmLogin" name="frmLogin" ng-class="{'submitted': submitted}" ng-submit="Login(log)" novalidate>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <label class="control-label pull-left">Email</label>
                                <input type="email" class="form-control input-sm" ng-model="log.Email" ng-required="true" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <label class="control-label pull-left">Password</label>
                                <input type="password" 
                                       class="form-control input-sm" 
                                       ng-model="log.Password" 
                                       ng-required="true" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <button type="submit" 
                                        ng-click="submitted = true;" 
                                        class="btn btn-primary btn-block">Login</button>
                            </div>
                        </div>
                    </form>                    
                </div>   
                <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>              
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    
</section>

