﻿<section class="content">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Dnex Billing</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right">Merchant Name</label>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label" style="font-weight:bold">3D INTERNATIONAL MANUFACTURING SDN BHD</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right">Merchant Address</label>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label" style="font-weight:bold">Address: Unit B609, Block B, Phileo Damansara 2, 15, Jalan 16/11, off Jalan Damansara, 46350, Petaling Jaya, Selangor, 46350, Malaysia</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right">ROC No.</label>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label" style="font-weight:bold">3-7960 5236</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right" style="font-style:italic">Member Since</label>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label" style="font-weight:bold">March, 05 2016</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="images/map.png" width="600" height="200" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Business Modules</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4><button class="btn btn-primary btn-sm btn-round"><i class="fa fa-truck fa-2x"></i></button>&nbsp;<b>Haulage / Transport</b></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4><button class="btn btn-primary btn-sm btn-round"><i class="fa fa-ship fa-2x"></i></button>&nbsp;<b>Forwarding</b></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4><button class="btn btn-primary btn-sm btn-round"><i class="fa fa-edit fa-2x"></i></button>&nbsp;<b>Declaration Module</b></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">No. of Branches/Users</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2><button class="btn btn-primary btn-sm btn-round"><i class="fa fa-building fa-2x"></i></button>&nbsp;2</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2><button class="btn btn-primary btn-sm btn-round"><i class="fa fa-user fa-2x"></i></button>&nbsp;10</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <section class="col-lg-12 connectedSortable ui-sortable">
                            <!-- Custom tabs (Charts with tabs)-->
                            <div class="nav-tabs-custom" style="cursor: move;">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                    <li class="active"><a href="#revenue-chart" data-toggle="tab"><i class="fa fa-dollar"></i></a></li>
                                    <li class="pull-left header"> Revenue (MYR)</li>
                                </ul>
                                <div class="tab-content no-padding">
                                    <!-- Morris chart - Sales -->
                                    <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                        <svg height="300" version="1.1" width="623" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="50.5" y="261" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">0</tspan></text><path fill="none" stroke="#aaaaaa" d="M63,261H598" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="50.5" y="202" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">7,500</tspan></text><path fill="none" stroke="#aaaaaa" d="M63,202H598" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="50.5" y="143" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">15,000</tspan></text><path fill="none" stroke="#aaaaaa" d="M63,143H598" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="50.5" y="84.00000000000003" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.000000000000028">22,500</tspan></text><path fill="none" stroke="#aaaaaa" d="M63,84.00000000000003H598" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="50.5" y="25.00000000000003" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.000000000000028">30,000</tspan></text><path fill="none" stroke="#aaaaaa" d="M63,25.00000000000003H598" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="499.8408262454435" y="273.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">2016</tspan></text><text x="261.9185905224788" y="273.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4">2015</tspan></text><path fill="#74a5c1" stroke="none" d="M63,219.05493333333334C77.95139732685297,219.56626666666668,107.85419198055894,222.62345,122.8055893074119,221.10026666666667C137.75698663426488,219.57708333333335,167.65978128797084,209.1355825136612,182.6111786148238,206.86946666666668C197.40006075334145,204.6279825136612,226.97782503037666,204.88215,241.7667071688943,203.06986666666666C256.5555893074119,201.25758333333332,286.13335358444715,194.9129178506375,300.92223572296473,192.3712C315.8736330498177,189.80155118397084,345.77642770352367,182.51721666666668,360.72782503037666,182.6244C375.67922235722966,182.73158333333333,405.5820170109356,204.18057122040074,420.5334143377886,193.22866666666667C435.32229647630624,182.39580455373408,464.90006075334145,101.94395359116025,479.6889428918591,95.48533333333336C494.31530984204136,89.09768692449359,523.5680437424058,135.13802307692308,538.1944106925881,141.8436C553.1458080194411,148.69818974358975,583.048602673147,147.7554,598,149.726L598,261L63,261Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#3c8dbc" d="M63,219.05493333333334C77.95139732685297,219.56626666666668,107.85419198055894,222.62345,122.8055893074119,221.10026666666667C137.75698663426488,219.57708333333335,167.65978128797084,209.1355825136612,182.6111786148238,206.86946666666668C197.40006075334145,204.6279825136612,226.97782503037666,204.88215,241.7667071688943,203.06986666666666C256.5555893074119,201.25758333333332,286.13335358444715,194.9129178506375,300.92223572296473,192.3712C315.8736330498177,189.80155118397084,345.77642770352367,182.51721666666668,360.72782503037666,182.6244C375.67922235722966,182.73158333333333,405.5820170109356,204.18057122040074,420.5334143377886,193.22866666666667C435.32229647630624,182.39580455373408,464.90006075334145,101.94395359116025,479.6889428918591,95.48533333333336C494.31530984204136,89.09768692449359,523.5680437424058,135.13802307692308,538.1944106925881,141.8436C553.1458080194411,148.69818974358975,583.048602673147,147.7554,598,149.726" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="63" cy="219.05493333333334" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="122.8055893074119" cy="221.10026666666667" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="182.6111786148238" cy="206.86946666666668" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="241.7667071688943" cy="203.06986666666666" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="300.92223572296473" cy="192.3712" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="360.72782503037666" cy="182.6244" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="420.5334143377886" cy="193.22866666666667" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="479.6889428918591" cy="95.48533333333336" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="538.1944106925881" cy="141.8436" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="598" cy="149.726" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><path fill="#eaf2f5" stroke="none" d="M63,240.02746666666667C77.95139732685297,239.8072,107.85419198055894,241.35496666666666,122.8055893074119,239.1464C137.75698663426488,236.93783333333334,167.65978128797084,223.33676429872497,182.6111786148238,222.35893333333334C197.40006075334145,221.39173096539162,226.97782503037666,233.23263333333333,241.7667071688943,231.36626666666666C256.5555893074119,229.4999,286.13335358444715,209.2890577413479,300.92223572296473,207.428C315.8736330498177,205.54649107468123,345.77642770352367,214.4391666666667,360.72782503037666,216.39600000000002C375.67922235722966,218.35283333333334,405.5820170109356,232.37947613843355,420.5334143377886,223.08266666666668C435.32229647630624,213.88690947176687,464.90006075334145,148.22682412523022,479.6889428918591,142.42573333333334C494.31530984204136,136.6883907918969,523.5680437424058,170.47037838827842,538.1944106925881,176.92893333333336C553.1458080194411,183.53101172161175,583.048602673147,190.23343333333335,598,194.66826666666668L598,261L63,261Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#a0d0e0" d="M63,240.02746666666667C77.95139732685297,239.8072,107.85419198055894,241.35496666666666,122.8055893074119,239.1464C137.75698663426488,236.93783333333334,167.65978128797084,223.33676429872497,182.6111786148238,222.35893333333334C197.40006075334145,221.39173096539162,226.97782503037666,233.23263333333333,241.7667071688943,231.36626666666666C256.5555893074119,229.4999,286.13335358444715,209.2890577413479,300.92223572296473,207.428C315.8736330498177,205.54649107468123,345.77642770352367,214.4391666666667,360.72782503037666,216.39600000000002C375.67922235722966,218.35283333333334,405.5820170109356,232.37947613843355,420.5334143377886,223.08266666666668C435.32229647630624,213.88690947176687,464.90006075334145,148.22682412523022,479.6889428918591,142.42573333333334C494.31530984204136,136.6883907918969,523.5680437424058,170.47037838827842,538.1944106925881,176.92893333333336C553.1458080194411,183.53101172161175,583.048602673147,190.23343333333335,598,194.66826666666668" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="63" cy="240.02746666666667" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="122.8055893074119" cy="239.1464" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="182.6111786148238" cy="222.35893333333334" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="241.7667071688943" cy="231.36626666666666" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="300.92223572296473" cy="207.428" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="360.72782503037666" cy="216.39600000000002" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="420.5334143377886" cy="223.08266666666668" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="479.6889428918591" cy="142.42573333333334" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="538.1944106925881" cy="176.92893333333336" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="598" cy="194.66826666666668" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg><div class="morris-hover morris-default-style" style="left: 254.422px; top: 111px; display: none;">
                                            <div class="morris-hover-row-label">2012 Q1</div><div class="morris-hover-point" style="color: #a0d0e0">
                                                Item 1:
                                                6,810
                                            </div><div class="morris-hover-point" style="color: #3c8dbc">
                                                Item 2:
                                                1,914
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"><svg height="300" version="1.1" width="653" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#3c8dbc" d="M326.5,243.33333333333331A93.33333333333333,93.33333333333333,0,0,0,414.7277551949771,180.44625304313007" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#3c8dbc" stroke="#ffffff" d="M326.5,246.33333333333331A96.33333333333333,96.33333333333333,0,0,0,417.56364732624417,181.4248826052307L454.1151459070204,194.03833029452744A135,135,0,0,1,326.5,285Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#f56954" d="M414.7277551949771,180.44625304313007A93.33333333333333,93.33333333333333,0,0,0,242.78484627831412,108.73398312817662" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path><path fill="#f56954" stroke="#ffffff" d="M417.56364732624417,181.4248826052307A96.33333333333333,96.33333333333333,0,0,0,240.09400205154566,107.40757544301087L200.92726941747117,88.10097469226493A140,140,0,0,1,458.8416327924656,195.6693795646951Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#00a65a" d="M242.78484627831412,108.73398312817662A93.33333333333333,93.33333333333333,0,0,0,326.47067846904883,243.333328727518" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#00a65a" stroke="#ffffff" d="M240.09400205154566,107.40757544301087A96.33333333333333,96.33333333333333,0,0,0,326.46973599126824,246.3333285794739L326.4575884998742,284.9999933380171A135,135,0,0,1,205.4120097954186,90.31165416754118Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="326.5" y="140" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" font-size="15px" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: 800; font-stretch: normal; font-size: 15px; line-height: normal; font-family: Arial;" font-weight="800" transform="matrix(1,0,0,1,0,0)"><tspan dy="140" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">In-Store Sales</tspan></text><text x="326.5" y="160" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" font-size="14px" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 14px; line-height: normal; font-family: Arial;" transform="matrix(1,0,0,1,0,0)"><tspan dy="160" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan></text></svg></div>
                                </div>
                            </div>


                        </section>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>95<sup style="font-size: 20px">%</sup></h3>

                                    <p>User Traffic</p>
                                </div>
                                <!--<a class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <p>Account Suspended on</p>
                                    <p><b>NEVER</b></p>
                                    <p>Current Outstanding amount 5,000.00</p>
                                </div>
                                <!--<a class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-block">View Invoice</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-warning btn-block">Payment History</button>
                        </div>
                        <div class="col-md-4">
                            <a href="invoice.pdf" target="_blank" class="btn btn-info btn-block">Generate Invoice</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>