﻿<section class="content" ng-controller="ownerDashboardCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">DNeX Admin Dashboard</h3>
            <!--<div class="box-tools pull-right">
                <select class="form-control input-sm" 
                        ng-model="filter" 
                        ng-options="s.Value as s.Text for s in lookUpData.registrationStatusList"                        
                        ng-change="filterChanged()">
                </select>
            </div>-->
        </div>
        <div class="box-body">
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>95<sup style="font-size: 20px">%</sup></h3>

                            <p>User Traffic</p>
                        </div>
                        <!--<a class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <p>Account Suspended on</p>
                            <p><b>NEVER</b></p>
                            <p>Current Outstanding amount 5,000.00</p>
                        </div>
                        <!--<a class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="container1"></div>
                </div>
                <div class="col-md-6">
                    <div id="container2"></div>
                </div>
                <div class="col-md-6">
                    <div id="container3"></div>
                </div>
                <!--<div class="col-md-6">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td>Date</td>
                                        <td>Amount</td>
                                        <td>Outstanding</td>
                                        <td>Days Enjoying</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td>Date</td>
                                        <td>No Of Registration</td>
                                        <td>No Of Pending Approval</td>
                                        <td>No Approved</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>-->
            </div>
            <!--<div class="row" ng-if="companies.length > 0">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Company Name</th>
                                <th>Reg No</th>
                                <th>Reg Type</th>
                                <th>Org Type</th>
                                <th>CPAM A/C No</th>
                                <th>#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="com in companies">
                                <td>
                                    {{com.CompanyName}}
                                </td>
                                <td>{{com.RegistrationNo}}</td>
                                <td>{{ (lookUpData.registrationTypeList | filter: {Value: com.RegistrationType})[0].Text }}</td>
                                <td>{{ (lookUpData.organizationTypeList | filter: {Value: com.OrganisationType})[0].Text }}</td>
                                <td>{{com.CPAMAccountNo}}</td>
                                <td>
                                    <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="viewInfo(com.CompanyID);" aria-label="button">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                    <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="viewInfo2(com.CompanyID);" aria-label="button">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                                
            </div>-->
            <!--<div class="row" ng-if="companies.length > 0">
                <div class="col-md-12">
                    <uib-pagination ng-model="currentPage"
                                    total-items="totalItems"
                                    ng-change="pageChanged()"
                                    class="pagination-sm pull-right"
                                    max-size="10"
                                    items-per-page="limit">
                    </uib-pagination>
                </div>
            </div>-->
            <!--<div class="row" ng-if="companies.length == 0">
                <div class="col-md-12">
                    <label class="control-label pull-left">No items of type {{(lookUpData.registrationStatusList | filter: { Value: filter })[0].Text}} found.</label> 
                </div>
            </div>-->
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>