﻿<section class="content" ng-controller="RegisterCntrl as Cntrl">
    <style type="text/css">
        .userIdPopOverCss .popover {
            width: 300px;
            height: 50px;
            padding: 5px 5px 5px 5px;
            font-weight: 600;
        }

        .passwordPopOverCss .popover {
            width: 450px;
            height: 80px;
            padding: 5px 5px 5px 5px;
            font-weight: 600;
        }

        .isNotMatched {
            border: 1px solid red !important;
        }

        .fileCss {
            border: 0px solid #ccc;
        }
    </style>
    <div class="row" ng-show="isRegistration">
        <form id="frmSignUp" name="frmSignUp" ng-class="{'submitted': submitted}" novalidate>
            <div class="col-md-12">
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Login Information</h3>
                        <div class="box-tools">
                            <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="navToLogin()" aria-label="button">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                <div class="md-ripple-container"></div>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right userIdPopOverCss">Email ID</label>
                            </div>
                            <div class="col-md-3">
                                <input type="email"
                                       class="form-control input-sm"
                                       ng-model="reg.Email"
                                       placeholder="(mandatory)"
                                       ng-maxlength="60"
                                       logicon-limit
                                       ng-required="true" />
                            </div>
                            <div class="col-md-2">
                                <span class="userIdPopOverCss">
                                    <a uib-popover="please enter valid Email id for Email ID"
                                       popover-trigger="mouseenter">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                </span>&nbsp;
                                <button class="btn btn-default"
                                        type="button"
                                        ng-click="CheckAvailability()">
                                    Check Availability
                                </button>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Password</label>
                            </div>
                            <div class="col-md-3">
                                <input type="password"
                                       placeholder="(mandatory)"
                                       class="form-control input-sm"
                                       ng-required="true"
                                       ng-model="reg.Password"
                                       ng-disabled="!isUserExists"
                                       ng-class="{'isNotMatched': !isPasswordMatched}"
                                       ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                       ng-minlength="8"
                                       ng-maxlength="20" logicon-limit />
                            </div>
                            <div class="col-md-1">
                                <span class="passwordPopOverCss">
                                    <a uib-popover="Password must have at least 8 characters and contain the following:
uppercase letters, lowercase letters, numbers and symbols"
                                       popover-trigger="mouseenter">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Confirm Password</label>
                            </div>
                            <div class="col-md-3">
                                <input type="password"
                                       placeholder="(mandatory)"
                                       class="form-control input-sm"
                                       ng-model="reg.ConfirmPassword"
                                       ng-disabled="!isUserExists"
                                       ng-class="{'isNotMatched': !isPasswordMatched}"
                                       ng-required="true"
                                       ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                       compare-to="reg.Password"
                                       ng-minlength="8"
                                       ng-blur="ComparePassword()"
                                       ng-maxlength="20" logicon-limit />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Full Name</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text"
                                       placeholder="(mandatory)"
                                       class="form-control input-sm"
                                       ng-model="reg.FullName"
                                       ng-required="true"
                                       ng-disabled="!isUserExists"
                                       ng-maxlength="50" logicon-limit />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Mobile</label>
                            </div>
                            <div class="col-md-3">
                                <select ng-model="reg.CountryCode"
                                        ng-disabled="!isUserExists"
                                        ng-change="countryChanged()"
                                        class="form-control input-sm"
                                        ng-required="true"
                                        ng-options="s.Value as s.Text for s in lookUpData.countryCodeList"></select>
                            </div>
                            <!--<div class="col-md-1">
                                <input type="text"
                                       ng-model="reg.Extension"
                                       ng-disabled="!isUserExists"
                                       class="form-control input-sm" />
                            </div>-->
                            <div class="col-md-2">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="reg.MobileNo"
                                       ng-required="true"
                                       placeholder="(mandatory)"
                                       ng-disabled="!isUserExists"
                                       ng-maxlength="18"
                                       logicon-limit
                                       logicon-number />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">NRIC / Passport</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text"
                                       placeholder="(mandatory)"
                                       class="form-control input-sm"
                                       ng-model="reg.NRIC"
                                       ng-required="true"
                                       ng-disabled="!isUserExists"
                                       ng-maxlength="50"
                                       logicon-limit />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Security Question</label>
                            </div>
                            <div class="col-md-5">
                                <select class="form-control input-sm" ng-model="reg.SecurityQuestion"
                                        ng-required="true"
                                        ng-disabled="!isUserExists"
                                        ng-options="s.Value as s.Text for s in lookUpData.securityQuestionsList"></select>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Answer</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text"
                                       placeholder="(mandatory)"
                                       class="form-control input-sm"
                                       ng-model="reg.Answer"
                                       ng-required="true"
                                       ng-disabled="!isUserExists"
                                       ng-maxlength="200"
                                       logicon-limit />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <md-button type="button"
                                           class="md-raised md-primary"
                                           ng-click="SignUp(reg)">Sign Up</md-button>
                            </div>
                        </div>
                    </div>
                    <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="!isRegistration">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Application status</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <uib-tabset active="active">
                                    <uib-tab index="1" heading="User Information">
                                        <script type="text/ng-template" id="change-password.html">
                                            <style type="text/css">
                                                .ChangePasswordcontainer {
                                                    width: 400px;
                                                    margin: 10px;
                                                }
                                            </style>
                                            <div class="ChangePasswordcontainer">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <label class="control-label pull-right">Current Password</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="password" class="form-control input-sm" />
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:10px">
                                                    <div class="col-md-5">
                                                        <label class="control-label pull-right">New Password</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="password" class="form-control input-sm" />
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:10px">
                                                    <div class="col-md-5">
                                                        <label class="control-label pull-right">Confirm Password</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="password" class="form-control input-sm" />
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:10px">
                                                    <div class="col-md-6">
                                                        <button type="button" class="btn btn-block btn-default">Cancel</button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button type="button" class="btn btn-block btn-primary">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </script>
                                        <form id="Cntrl.frmUserInfo" name="Cntrl.frmUserInfo" ng-class="{'submitted':submittedUserInfo}" ng-submit="SaveUserInfo(registration)" novalidate>
                                            <div class="row css10">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">User ID</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input ng-disabled="true" type="email" ng-model="registration.Email" ng-required="true" class="form-control input-sm" />
                                                </div>
                                            </div>
                                            <div class="row css10 division">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Name</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text"
                                                           class="form-control input-sm"
                                                           ng-model="registration.FullName"
                                                           ng-required="true" ng-maxlength="50" logicon-limit />
                                                </div>
                                                <!--<div class="col-md-1">
                                                    <button uib-popover-template="'change-password.html'" type="button" class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple"><i class="fa fa-key" aria-hidden="true"> </i></button>

                                                </div>-->
                                            </div>
                                            <div class="row css10 division">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Security Question</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <select class="form-control input-sm" ng-model="registration.SecurityQuestion"
                                                            ng-options="s.Value as s.Text for s in lookUpData.securityQuestionsList" ng-required="true"></select>
                                                </div>
                                            </div>
                                            <div class="row css10 division">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Answer</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="hidden" ng-model="registration.UserID" />
                                                    <input type="text" class="form-control input-sm" ng-model="registration.Answer" ng-required="true" />
                                                </div>
                                            </div>
                                            <div class="row css10 division">
                                                <div class="col-md-11">
                                                </div>
                                                <div class="col-md-1">
                                                    <button type="submit" ng-disabled="disableTabs" class="btn btn-primary" ng-click="submittedUserInfo = true">Next</button>
                                                </div>
                                            </div>
                                        </form>
                                        <div ng-if="disableTabs">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">OTP</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" ng-model="OTP" class="form-control input-sm" />
                                                </div>
                                                <div class="col-md-2">
                                                    <button class="btn btn-primary" ng-disabled="OTP == null || OTP == ''" type="button" ng-click="VerifyOTP(OTP)">Verify OTP</button>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="2" heading="Company Information" disable="disableTabs">
                                        <form id="Cntrl.frmCompanyInfo" name="Cntrl.frmCompanyInfo" ng-class="{'submitted':submittedCompanyInfo}" ng-submit="SaveCompanyInfo(registeredCompany)" novalidate>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row css10">
                                                        <div class="col-md-4">
                                                            <label class="control-label pull-right">Company Name</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text"
                                                                   class="form-control input-sm"
                                                                   ng-model="registeredCompany.CompanyName"
                                                                   ng-disabled="registeredCompany.CompanyID"
                                                                   placeholder="(mandatory)"
                                                                   ng-required="true"
                                                                   ng-maxlength="100"
                                                                   logicon-limit />
                                                        </div>
                                                    </div>
                                                    <div class="row css10">
                                                        <div class="col-md-4">
                                                            <label class="control-label pull-right">Organisation Type</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <select class="form-control input-sm"
                                                                    ng-required="true"
                                                                    ng-model="registeredCompany.OrganisationType"
                                                                    ng-options="s.Value as s.Text for s in lookUpData.organizationTypeList"
                                                                    ng-change="OrganisationTypeChanged()"></select>
                                                        </div>
                                                    </div>
                                                    <div class="row css10 division">
                                                        <div class="col-md-4">
                                                            <label class="control-label pull-right">Company Registration No.</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text"
                                                                   class="form-control input-sm"
                                                                   ng-model="registeredCompany.RegistrationNo"
                                                                   ng-required="true"
                                                                   placeholder="(mandatory)"
                                                                   ng-maxlength="50"
                                                                   logicon-limit />
                                                        </div>
                                                    </div>
                                                    <div class="row css10 division">
                                                        <div class="col-md-4">
                                                            <label class="control-label pull-right">Agent Code</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text"
                                                                   class="form-control input-sm"
                                                                   ng-model="registeredCompany.AgentName"
                                                                   ng-maxlength="100"
                                                                   logicon-limit />
                                                        </div>
                                                    </div>
                                                    <div class="row css10 division">
                                                        <div class="col-md-4">
                                                            <label class="control-label pull-right">GST Registration Date</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="dropdown">
                                                                <a class="dropdown-toggle" id="GSTRegistrationDate" role="button" data-toggle="dropdown">
                                                                    <div class="input-group">
                                                                        <input type="text"
                                                                               class="form-control input-sm datepicker"
                                                                               ng-model="registeredCompany.GSTRegistrationDate"
                                                                               ng-required="true"
                                                                               placeholder="(mandatory)"
                                                                               date-time-input="{{dateFormat}}">
                                                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                                    </div>
                                                                </a>
                                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                    <datetimepicker ng-model="registeredCompany.GSTRegistrationDate"
                                                                                    data-datetimepicker-config="{ dropdownSelector: '#GSTRegistrationDate', startView:'day', minView:'day' }" />
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row css10 division">
                                                        <div class="col-md-4">
                                                            <label class="control-label pull-right">GST Registration No.</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text"
                                                                   class="form-control input-sm"
                                                                   ng-model="registeredCompany.GSTNo"
                                                                   ng-required="true"
                                                                   placeholder="(mandatory)"
                                                                   ng-maxlength="20"
                                                                   logicon-limit />
                                                        </div>                                                        
                                                    </div>
                                                    <div class="row css10 division">
                                                        <div class="col-md-4">
                                                            <label class="control-label pull-right">Dagangnet Account No.</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text"
                                                                   class="form-control input-sm"
                                                                   ng-model="registeredCompany.CPAMAccountNo" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-left">(! if any)</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row css10 division">
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Modules</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <div class="row">
                                                                <div class="col-md-6" ng-repeat="item in registeredCompany.CompanyRegistrationTypeList" style="margin-top:10px;">
                                                                    <md-checkbox ng-model="item.IsSelected" class="md-primary"
                                                                                 aria-label="{{item.RegistrationTypeDescription}}">
                                                                        {{item.RegistrationTypeDescription}}&nbsp;&nbsp;<span style="color:red;font-weight:bolder;font-style:italic;" ng-if="item.IsSelected">RM 5.00 Monthly</span>
                                                                    </md-checkbox>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                            
                                            <div class="row css10 division">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Address</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text"
                                                           class="form-control input-sm"
                                                           ng-model="registeredCompany.companyAddress.Address1"
                                                           ng-required="true"
                                                           placeholder="(mandatory)"
                                                           ng-maxlength="255"
                                                           logicon-limit />
                                                </div>
                                            </div>
                                            <div class="row css10">
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text"
                                                           class="form-control input-sm"
                                                           ng-model="registeredCompany.companyAddress.Address2"
                                                           ng-required="true"
                                                           placeholder="(mandatory)"
                                                           ng-maxlength="255"
                                                           logicon-limit />
                                                </div>
                                            </div>
                                            <div class="row css10">
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text"
                                                           class="form-control input-sm"
                                                           ng-model="registeredCompany.companyAddress.Address3"
                                                           ng-maxlength="255"
                                                           logicon-limit />
                                                </div>
                                            </div>
                                            <div class="row css10">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Postcode</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text"
                                                           class="form-control input-sm"
                                                           ng-model="registeredCompany.companyAddress.PostCode"
                                                           ng-required="true"
                                                           placeholder="(mandatory)"
                                                           ng-maxlength="10"
                                                           logicon-limit
                                                           logicon-number />
                                                </div>
                                            </div>
                                            <div class="row css10 division">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">City / District</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text"
                                                           class="form-control input-sm"
                                                           ng-model="registeredCompany.companyAddress.City"
                                                           placeholder="(mandatory))"
                                                           ng-required="true"
                                                           ng-maxlength="100"
                                                           logicon-limit />
                                                </div>
                                            </div>
                                            <div class="row css10 division">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">State</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text"
                                                           ng-model="registeredCompany.companyAddress.State"
                                                           class="form-control input-sm"
                                                           ng-required="true"
                                                           placeholder="(mandatory)"
                                                           ng-maxlength="100"
                                                           logicon-limit />
                                                </div>
                                            </div>
                                            <div class="row css10 division">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Country</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select class="form-control input-sm"
                                                            ng-model="registeredCompany.Country"
                                                            ng-required="true"
                                                            ng-options="s.CompanyCode as s.CompanyName for s in lookUpData.CountriesList"></select>
                                                </div>
                                            </div>

                                            <div class="row css10 division">
                                                <div class="col-md-6">
                                                    <div class="box box-default box-solid">
                                                        <div class="box-header with-border">
                                                            <h3 class="box-title">Billing Contact Person</h3>
                                                        </div>
                                                        <div class="box-body">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label class="control-label pull-right">Name</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="text"
                                                                           class="form-control input-sm"
                                                                           ng-model="registeredCompany.companyAddress.ContactPerson1"
                                                                           ng-required="true"
                                                                           placeholder="(mandatory)"
                                                                           ng-maxlength="50"
                                                                           logicon-limit />
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <md-checkbox aria-label="Same as above"
                                                                                 ng-model="Cntrl.sameasabove1"
                                                                                 ng-init="sameasabove1 = false"
                                                                                 ng-change="SameAbove1()">Same as above</md-checkbox>
                                                                </div>
                                                            </div>
                                                            <div class="row css10">
                                                                <div class="col-md-2">
                                                                    <label class="control-label pull-right">Designation</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="text"
                                                                           class="form-control input-sm"
                                                                           ng-model="registeredCompany.companyAddress.Designation1" />
                                                                </div>
                                                            </div>
                                                            <div class="row css10">
                                                                <div class="col-md-2">
                                                                    <label class="control-label pull-right">Phone No.</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <select ng-model="registeredCompany.companyAddress.Phone1CountryCode"
                                                                            class="form-control input-sm"
                                                                            ng-required="true"
                                                                            ng-options="s.Value as s.Text for s in lookUpData.countryCodeList"></select>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <input type="text"
                                                                           class="form-control input-sm"
                                                                           ng-model="registeredCompany.companyAddress.Phone1"
                                                                           ng-required="true"
                                                                           placeholder="(mandatory)"
                                                                           ng-maxlength="18"
                                                                           logicon-limit
                                                                           logicon-number />
                                                                </div>

                                                            </div>
                                                            <div class="row css10">
                                                                <div class="col-md-2">
                                                                    <label class="control-label pull-right">Ext.</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="text"
                                                                           class="form-control input-sm"
                                                                           ng-model="registeredCompany.companyAddress.Extension1" />
                                                                </div>
                                                            </div>
                                                            <div class="row css10">
                                                                <div class="col-md-2">
                                                                    <label class="control-label pull-right">Mobile</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <select ng-model="registeredCompany.companyAddress.Mobile1CountryCode"
                                                                            class="form-control input-sm"
                                                                            ng-required="true"
                                                                            ng-options="s.Value as s.Text for s in lookUpData.countryCodeList"></select>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <input type="text"
                                                                           class="form-control input-sm"
                                                                           ng-model="registeredCompany.companyAddress.Mobile1"
                                                                           ng-required="true"
                                                                           placeholder="(mandatory)"
                                                                           ng-maxlength="20"
                                                                           logicon-limit />
                                                                </div>
                                                            </div>
                                                            <div class="row css10">
                                                                <div class="col-md-2">
                                                                    <label class="control-label pull-right">Email ID</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="email"
                                                                           class="form-control input-sm"
                                                                           ng-model="registeredCompany.companyAddress.ContactEmailID1"
                                                                           ng-required="true"
                                                                           placeholder="(mandatory)"
                                                                           ng-maxlength="50"
                                                                           logicon-limit />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="box box-default box-solid">
                                                        <div class="box-header with-border">
                                                            <h3 class="box-title">Operations Contact Person</h3>
                                                        </div>
                                                        <div class="box-body">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label class="control-label pull-right">Name</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="text" class="form-control input-sm" ng-model="registeredCompany.companyAddress.ContactPerson2" />
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <md-checkbox aria-label="Same as above"
                                                                                 ng-model="Cntrl.sameasabove2"
                                                                                 ng-init="sameasabove2 = false"
                                                                                 ng-change="SameAbove2()">Same as above</md-checkbox>
                                                                </div>
                                                            </div>
                                                            <div class="row css10">
                                                                <div class="col-md-2">
                                                                    <label class="control-label pull-right">Designation</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="text" class="form-control input-sm" ng-model="registeredCompany.companyAddress.Designation2" />
                                                                </div>
                                                            </div>
                                                            <div class="row css10">
                                                                <div class="col-md-2">
                                                                    <label class="control-label pull-right">Phone No.</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <select ng-model="registeredCompany.companyAddress.Phone2CountryCode"
                                                                            class="form-control input-sm"
                                                                            ng-options="s.Value as s.Text for s in lookUpData.countryCodeList"></select>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <input type="text" class="form-control input-sm" ng-model="registeredCompany.companyAddress.Phone2" />
                                                                </div>

                                                            </div>
                                                            <div class="row css10">
                                                                <div class="col-md-2">
                                                                    <label class="control-label pull-right">Ext.</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="text" class="form-control input-sm" ng-model="registeredCompany.companyAddress.Extension2" />
                                                                </div>
                                                            </div>
                                                            <div class="row css10">
                                                                <div class="col-md-2">
                                                                    <label class="control-label pull-right">Mobile</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <select ng-model="registeredCompany.companyAddress.Mobile2CountryCode"
                                                                            class="form-control input-sm"
                                                                            ng-options="s.Value as s.Text for s in lookUpData.countryCodeList"></select>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <input type="text" class="form-control input-sm" ng-model="registeredCompany.companyAddress.Mobile2" />
                                                                </div>
                                                            </div>
                                                            <div class="row css10">
                                                                <div class="col-md-2">
                                                                    <label class="control-label pull-right">Email ID</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="text" class="form-control input-sm" ng-model="registeredCompany.companyAddress.ContactEmailID2" />
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row css10 division">
                                                <div class="col-md-11">
                                                </div>
                                                <div class="col-md-1">
                                                    <button type="submit" class="btn btn-primary" ng-click="submittedCompanyInfo = true">Next</button>
                                                </div>
                                            </div>
                                        </form>

                                    </uib-tab>
                                    <uib-tab index="3" heading="Documents" disable="disableTabs">
                                        <form id="Cntrl.frmDocs" name="Cntrl.frmDocs" ng-class="{'submitted': submittedDocs}" ng-submit="SaveDocuments()" novalidate>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="pull-left" style="font-weight:600">Required Supporting Document</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered">
                                                        <thead style="color:#fff;background-color:#97c5ea;">
                                                            <tr>
                                                                <th>S No.</th>
                                                                <th>Document Type</th>
                                                                <th>File Name</th>
                                                                <th>Upload</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in docList">
                                                                <td>{{$index + 1}}</td>
                                                                <td>{{item.Text}}</td>
                                                                <td>
                                                                    <a target="_blank"
                                                                       style="text-decoration:underline;"
                                                                       ng-disabled="registeredCompany.CompanyID == 0"
                                                                       ng-href="{{Url + '/' + item.FileName}}">{{item.FileName}}</a>
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" ng-model="item.Value" />
                                                                    <input type="file"
                                                                           id="docs_{{$index}}"
                                                                           name="docs_{{$index}}"
                                                                           ng-model="item.FileName"
                                                                           class="form-control input-sm fileCss"
                                                                           onchange="angular.element(this).scope().fileChanged(this.files, this.id.split('_')[1])"
                                                                           ng-required="item.IsMandatory" />
                                                                </td>
                                                                <td>
                                                                    <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple"
                                                                            type="button"
                                                                            ng-disabled="item.FileName == null || item.FileName == ''"
                                                                            ng-click="DeleteImage(item.RegistrationDocType, item.ItemNo, $index)"
                                                                            aria-label="button">
                                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                                        <div class="md-ripple-container"></div>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-12" style="font-weight:400">
                                                    “Supported Format : pdf, jpg, jpeg, png, tif. Maximum size per file : 5 MB”
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-11"></div>
                                                <div class="col-md-1">
                                                    <button class="btn btn-primary" ng-click="submittedDocs = true;">Next</button>
                                                </div>
                                            </div>
                                        </form>

                                        <!--<div class="row" data-ng-controller="DemoFileUploadController">
                                            <div class="col-md-12">
                                                <form id="fileupload" method="POST" enctype="multipart/form-data" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                                                    <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                                                    <div class="row fileupload-buttonbar">
                                                        <div class="col-lg-8">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <select ng-model="docTypeId"
                                                                            class="form-control input-sm"
                                                                            ng-options="s.Value as s.Text for s in lookUpData.registrationDocTypeList"></select>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}" ng-disabled="docTypeId == null">
                                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                                        <span>Add files...</span>
                                                                        <input type="file" name="files[]" ng-disabled="disabled">
                                                                    </span>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <button type="button" class="btn btn-primary start" data-ng-click="submit();UploadFileUploadFlag();" ng-disabled="docTypeId == null">
                                                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                                                        <span>Start upload</span>
                                                                    </button>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()" ng-disabled="docTypeId == null">
                                                                        <i class="fa fa-ban" aria-hidden="true"></i>
                                                                        <span>Cancel upload</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <span class="fileupload-process"></span>
                                                        </div>
                                                        <div class="col-lg-4 fade" data-ng-class="{in: active()}">
                                                            <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                                            <div class="progress-extended">&nbsp;</div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <table class="table table-striped files ng-cloak">
                                                                <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}" ng-init="initFile(imagesArr[$index], file, $index, docTypeId)" ng-show="imagesArr[$index].show">
                                                                    <td data-ng-switch data-on="!!file.thumbnailUrl">
                                                                        <div class="preview" data-ng-switch-when="true">
                                                                            <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                                                                        </div>
                                                                        <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                                                                    </td>
                                                                    <td>{{ imagesArr[$index].RegistrationDocTypeText }}</td>
                                                                    <td>
                                                                        <p class="name" data-ng-switch data-on="!!file.url">
                                                                            <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                                                                <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                                                                                <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                                                                            </span>
                                                                            <span data-ng-switch-default>{{file.name}}</span>
                                                                        </p>
                                                                        <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                                                                    </td>
                                                                    <td>
                                                                        <p class="size">{{file.size | formatFileSize}}</p>
                                                                        <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                                                    </td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                                                            <i class="fa fa-ban"></i>
                                                                            <span>Cancel</span>
                                                                        </button>
                                                                        <button type="button" class="btn btn-danger destroy" data-ng-click="DeleteImage(imagesArr[$index].CompanyID, imagesArr[$index].RegistrationDocType, imagesArr[$index].ItemNo, $index);">
                                                                            <i class="fa fa-trash-o"></i>
                                                                            <span>Delete</span>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="col-md-12" style="font-weight:400">
                                                            “Supported Format : pdf, doc, docx, xls, xlsx, jpg, jpeg, png, tif, bmp. Maximum size per file : 5MB”
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:10px;">
                                                        <div class="col-md-12 pull-center">
                                                            <input type="hidden" name="hdnUserid" value="{{userid}}" />
                                                            <a href="javascript:;" class="btn btn-primary" ng-click="SaveDocuments()">Next</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>-->
                                    </uib-tab>
                                    <uib-tab index="4" heading="Declaration" ng-show="!showApplicationStatusTab" disable="disableTabs">
                                        <div class="row" style="padding-right:10px;font-size:14px;color:black;font-weight:600;height:450px;overflow-y:scroll;">
                                            <div class="col-md-12">
                                                <p style="text-align:justify">
                                                    <h4 class="text-center" style="color:blue;font-weight:bold">Declaration</h4>
                                                    I/We <span style="text-decoration:underline;">{{registeredCompany.CompanyName}}</span><span ng-show="registeredCompany.CompanyName == null">______________________________________</span> (name of company) having company registration number <span ng-show="registeredCompany.RegistrationNo == null">______________________________________</span><span style="text-decoration:underline">{{registeredCompany.RegistrationNo}}</span>, hereby confirm that I/We have read,  understood and accepted the Terms and Conditions as attached herewith.<br />
                                                    <span style="font-weight:bold;text-decoration:underline;">Privacy Policy and Consent to Use Personal Data</span><br />
                                                    At DNeXPORT, we are committed to protecting your privacy as our valued customers and pledge to comply with the Personal Data Protection Act (“PDPA”) 2010.<br />
                                                    Please note that any personal information (“Personal Data”) in respect of commercial transactions that relates directly or indirectly to you as an individual, that had been collected, processed and retained by DNeXPORT is protected under our Privacy Policy, formulated in pursuant to the PDPA 2010.<br />
                                                    Please refer to our Privacy Policy at <a target="_blank" style="color:blue;text-decoration:underline" href="http://www.dnex.com.my/privacy-policy">www.dnex.com.my/privacy-policy</a> to understand how we do this and feel free to reach us at pdpa@dnex.com.my should you have any additional enquiries.
                                                    IMPORTANT: By submitting this form, you agree and consent to the use, processing and disclosure of your Personal Data by DNeXPORT for the purpose as described in this form.

                                                </p>
                                                <div ng-include="'Js/Default/Templates/declaration.html'"></div>
                                            </div>
                                            <div class="col-md-12">
                                                <md-checkbox ng-model="registeredCompany.IsDeclared">BY TICKING THIS BOX, YOU DECLARE THAT YOU HAVE READ, UNDERSTOOD AND ACCEPT THE TERMS AND CONDITIONS AS STATED.</md-checkbox>
                                            </div>
                                            <div class="col-md-12">
                                                <md-checkbox ng-model="registeredCompany.IsMailCopy">PLEASE SEND A COPY OF THE DECLARATION TO MY EMAIL.</md-checkbox>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <button class="btn btn-success" ng-disabled="!registeredCompany.IsDeclared || disableRegister" type="button" ng-click="Save()">Register</button>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="5" heading="Application Status" ng-show="showApplicationStatusTab" disable="disableTabs">
                                        <div class="row css10">
                                            <div class="col-md-12">
                                                <table class="table table-bordered">
                                                    <thead class="thCss">
                                                        <tr>
                                                            <th>No.</th>
                                                            <th>Status Description</th>
                                                            <th>Date & Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in registrationStatusList">
                                                            <td>{{$index + 1}}</td>
                                                            <td>{{item.RegistrationDocTypeDescription}}</td>
                                                            <td>{{item.ActivityDate | date :  'dd/MM/yyyy hh:mm a'}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <button class="btn btn-success" ng-disabled="!registeredCompany.IsDeclared" type="button" ng-click="Save()">Save</button>
                                            </div>
                                            <div class="col-md-10"></div>
                                            <div class="col-md-1">
                                                <button class="btn btn-primary" ng-click="nextTab()">Next</button>
                                            </div>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </div>
                    </div>
                    <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>