﻿<section class="content" ng-controller="TransportMonitorCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Transport Monitoring</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Pending Delivery" class="md-primary">
                            <md-content class="md-padding">
                                <table class="table table-bordered">
                                    <thead style="color: #fff; background-color: #97c5ea;">
                                        <tr>
                                            <th>Master Job No.</th>
                                            <th>Order No.</th>
                                            <th>Transporter Name</th>
                                            <th>Job No.</th>
                                            <th>Master Job</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </md-content>                            
                        </md-tab>
                        <md-tab label="Pending POD" class="md-primary">
                            <md-content class="md-padding">
                                <table class="table table-bordered">
                                    <thead style="color: #fff; background-color: #97c5ea;">
                                        <tr>
                                            <th>Master Job No.</th>
                                            <th>Order No.</th>
                                            <th>Truck No.</th>
                                            <th>Type</th>
                                            <th>Trailer</th>
                                            <th>Transporter Name</th>
                                            <th>Req Date & Time</th>
                                            <th>Customer</th>
                                            <th>Shipper/Consignee</th>
                                            <th>Pickup From</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-content>                            
                        </md-tab>
                    </md-tabs>
                </div>                
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>


