﻿<section class="content" ng-controller="OrderEntryListCntrl as oelCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Order Entry List</h3>
            <div class="box-tools pull-right">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple"
                        type="button"
                        aria-label="button"
                        onclick="location.href = '#/operation/orderentry'">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Advanced Search" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <uib-accordion-heading>
                        <i class="pull-left fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                    </uib-accordion-heading>
                    <form id="oelCntrl.frmSearch" name="oelCntrl.frmSearch" ng-class="{'submitted': SearchSubmitted}"
                          ng-submit="SearchOrderEntries()" novalidate>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Voyage No.</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.VoyageNo" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Manifest No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.ManifestNo" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date From</label>
                            </div>
                            <div class="col-md-2">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="FromDate" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="Search.DateFrom"
                                                   date-time-input="{{dateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="Search.DateFrom"
                                                        data-datetimepicker-config="{ dropdownSelector: '#FromDate', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date To</label>
                            </div>
                            <div class="col-md-2">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="ToDate" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="Search.DateTo"
                                                   date-time-input="{{dateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="Search.DateTo"
                                                        data-datetimepicker-config="{ dropdownSelector: '#ToDate', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">House B/L No.</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.HouseBLNo" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Shipper</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.Shipper" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Consignee</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.Consignee" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Vessel Name</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.vesselName" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <button ng-click="SearchSubmitted = true;" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </uib-accordion>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Order No.</th>
                                <th>Voyage No.</th>
                                <th>Manifest No.</th>
                                <th>House B/L No.</th>
                                <th>Vessel ID</th>
                                <th>#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="orderentry in orderentries">
                                <td>{{orderentry.OrderNo}}</td>
                                <td>{{orderentry.Voyageno}}</td>
                                <td>{{orderentry.ManifestNo}}</td>
                                <td>{{orderentry.HouseBLNo }}</td>
                                <td>{{orderentry.VesselName }}</td>
                                <td>
                                    <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple"
                                            type="button"
                                            ng-click="viewInfo2(orderentry.OrderNo);"
                                            aria-label="button">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                    <!--<button class="btn btn-primary"
                                            type="button"
                                            ng-click="viewInfo2(orderentry.OrderNo);">
                                    <i class="fa fa-pencil-square-o"></i></button>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12" ng-if="orderentries.length == 0">
                        <label class="control-label pull-left">{{dataGridNorecords}}</label>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <button type="button" class="btn btn-info" ng-click="refresh()"><i class="fa fa-refresh "></i> Refresh</button>
                </div>
                <div class="col-md-6">
                    <uib-pagination ng-model="currentPage"
                                    total-items="totalItems"
                                    ng-change="pageChanged()"
                                    class="pagination-sm pull-right"
                                    max-size="10"
                                    items-per-page="limit">
                    </uib-pagination>
                </div>
            </div>
            <!--<div class="row" ng-show="orderentries.length > 0">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" ng-click="ExportData('excel','application/vnd.ms-excel');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Excel</button>
                    <button type="button" class="btn btn-primary" ng-click="ExportData('pdf','application/pdf');"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;Pdf</button>
                </div>
            </div>-->
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>