﻿<section class="content" ng-controller="OrderEntryController as oeCntrl">
    <style type="text/css">
        .marronCss, .marronCss:hover {
            background-color: #dd4b39;
        }

            .marronCss a, .marronCss a:hover {
                color: #fff;
            }
            .userIdPopOverCss .popover {
            width: 200px;
            height: 50px;
            padding: 5px 5px 5px 5px;
            font-weight: 600;
        }
    </style>
    <script type="text/ng-template" id="myPopoverTemplate.html">
        <div>{{dynamicPopover.content}}</div>
        <div class="form-group">
            <label>Popup Title:</label>
            <input type="text" ng-model="dynamicPopover.title" class="form-control">
        </div>
    </script>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Order Entry</h3>
            <div class="box-tools pull-right">
                <div class="userIdPopOverCss">
                    <button type="button" ng-show="!IsNew" uib-popover="Copy to new Order Entry Form" popover-trigger="mouseenter"
                            popover-placement="left" class="btn btn-default" ng-click="CloneOrderEntry(oe.OrderNo)" ng-disabled="IsCloneBtnDisabled">
                        <i class="fa fa-clone" aria-hidden="true"></i>
                    </button>
                </div> 
                <!--<md-button class="md-fab md-mini-1 md-primary btn-box-tool" aria-label="button">
                    <i class="fa fa-paperclip fa-rotate-90" aria-hidden="true"></i>
                </md-button>-->
                &nbsp;
                <!--<div class="btn-group" uib-dropdown is-open="status.mainMenu">
                    <md-button class="md-fab md-mini-1 md-primary btn-box-tool" aria-label="button" uib-dropdown-toggle>
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </md-button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="#/billing/costsheet/{{oe.OrderNo}}">Cost Sheet</a></li>
                        <li role="menuitem"><a href="#/inquires/orderinquiry">Order Inquiry</a></li>
                        <li role="menuitem"><a href="#">Set As Non-Billable</a></li>
                        <li role="menuitem"><a href="#">Order Hold Status</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Order Transfer</a></li>
                        <li role="menuitem"><a href="#">Transfer Container to New Order</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Change Job Category</a></li>
                        <li role="menuitem"><a href="#">Change Customer</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Email Notification</a></li>
                        <li role="menuitem"><a href="#">Customs Declaration</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Assign Haulier</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Close Order</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2 oeDropDown">
                    <input type="text"
                           class="form-control input-sm ac"
                           ng-class="{'loadinggif': oe.OrderNoLoading}"
                           placeholder="Order No."
                           ng-model="oe.OrderNo"
                           typeahead-min-length="3"
                           uib-typeahead="d.Text as d.Text for d in OrderResults($viewValue)"
                           typeahead-loading="oe.OrderNoLoading"
                           typeahead-wait-ms="100"
                           typeahead-editable="false"
                           typeahead-on-select="orderNoSelected($item)"
                           ng-required="true" />
                </div>
            </div>
            <form id="frmOrderEntry" name="frmOrderEntry"
                  ng-class="{'submitted':submitted}"
                  ng-submit="SaveOrderEntry(oe)"
                  novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <uib-tabset>
                            <uib-tab ng-repeat="tab in tabs"
                                     heading="{{tab.title}}"
                                     disabled="tab.disabled"
                                     class="{{tab.eInsurance ? 'marronCss': ''}}"
                                     ng-style="{'display': tab.visible ? 'block' : 'none'}">
                                <div ng-include="tab.content"></div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--has-permission data-securable="Save" data-linkid="OrderEntry"-->
                        <button  type="submit" class="btn btn-primary" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save Order</button>
                        <button type="button" ng-show="!IsNew" class="btn btn-default" ng-click="DeleteOrderEntry()"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete Order</button>
                        <span ng-if="companyType == 'TRADER'">
                            <button class="btn btn-primary" ng-click="SendToAgent()" type="button" ng-disabled="oe.WebOrderStatus != 4300 && (oe.OrderNo != null || oe.OrderNo != '')"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;Send To Agent</button>
                        </span>
                        <span ng-if="companyType == 'AGENT'">
                            <button class="btn btn-success" ng-click="ApproveWebOrder(true);" type="button"><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;Accept</button>
                            <button class="btn btn-danger" ng-click="ApproveWebOrder(false);" type="button"><i class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;Reject</button>
                        </span>
                        <span ng-if="isForwardingAgent && !IsNew">
                            <button type="button" class="btn btn-primary" ng-click="GenerateDeclaration()"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;Generate Declaration</button>
                        </span>
                        <!--<span ng-if="isShippingAgent" style="display:none;">
                            <button type="button" class="btn btn-primary" ng-click="GenerateDeclaration()"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;Generate Manifest</button>
                        </span>-->
                        <span class="pull-right">
                            <button class="btn btn-default" type="button" ng-click="clear();">
                                <i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear
                            </button>
                            <button class="btn btn-primary" type="button" ng-click="back();">
                                <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>
