﻿<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3">
                <label class="label-control pull-right">Product Category</label>
            </div>
            <div class="col-md-3">
                <select class="form-control input-sm"
                    ng-model="productmaster.ProductCategory"
                    ng-required="true"
                    ng-options="s.Value as s.Text for s in lookUpData.productcatList">
                </select>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control input-sm" ng-model="productmaster.ProductCategoryDescription" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3">
                <label class="label-control pull-right">Commodity</label>
            </div>
            <div class="col-md-3">
                <select class="form-control input-sm"
                    ng-model="productmaster.CommodityCode"
                    ng-required="true"
                    ng-options="s.Value as s.Text for s in lookUpData.commodityList">
                </select>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control input-sm" ng-model="productmaster.CommodityDescription"/>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3">
                <label class="label-control pull-right">Bar Code</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control input-sm" ng-model="productmaster.BarCode" ng-required="true" />
            </div>
            <!-- <div class="col-md-3">
                <label class="label-control pull-right">Country Of Origin</label>
            </div>
            <div class="col-md-3">
                <select class="form-control input-sm"></select>
            </div>-->
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3">
                <label class="label-control pull-right">Remarks</label>
            </div>
            <div class="col-md-9">
                <textarea class="form-control input-sm"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Control Fields</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="label-control pull-right">Consignment No.</label>
                                    </div>
                                    <div class="col-md-6">                                        
                                         <select class="form-control input-sm"
                                             ng-model="productmaster.ConsignmentControlMode"
                                             ng-required="true"
                                             ng-options="s.Value as s.Text for s in lookUpData.productControlList">
                                         </select>                                        
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="label-control pull-right">Batch / Lot No.</label>
                                    </div>
                                    <div class="col-md-6">
                                         <select class="form-control input-sm"
                                             ng-model="productmaster.BatchNoControlMode"
                                             ng-required="true"
                                             ng-options="s.Value as s.Text for s in lookUpData.productControlList">
                                         </select>                                          
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="label-control pull-right">P / O No.</label>
                                    </div>
                                    <div class="col-md-6">
                                         <select class="form-control input-sm"
                                             ng-model="productmaster.PONoControlMode"
                                             ng-required="true"
                                             ng-options="s.Value as s.Text for s in lookUpData.productControlList">
                                         </select>                                          
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="label-control pull-right">Expiry Date</label>
                                    </div>
                                    <div class="col-md-6">
                                         <select class="form-control input-sm"
                                             ng-model="productmaster.ExpiryDateControlMode"
                                             ng-required="true"
                                             ng-options="s.Value as s.Text for s in lookUpData.productControlList">
                                         </select>     
                                       
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="label-control pull-right">Serial No.</label>
                                    </div>
                                    <div class="col-md-6">
                                         <select class="form-control input-sm"
                                             ng-model="productmaster.SerialNoControlMode"
                                             ng-required="true"
                                             ng-options="s.Value as s.Text for s in lookUpData.productControlList">
                                         </select>                                        
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="label-control pull-right">Manufacture Date</label>
                                    </div>
                                    <div class="col-md-6">                                        
                                         <select class="form-control input-sm"
                                             ng-model="productmaster.SerialNoControlMode"
                                             ng-required="true"
                                             ng-options="s.Value as s.Text for s in lookUpData.productControlList">
                                         </select>   
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <md-switch class="md-primary" aria-label="Active Product" ng-model="IsActive">Active Product</md-switch>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

