﻿<div class="row">
    <div class="col-md-8">
        <div class="box box-default box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2">
                        <label class="label-control pull-right">Base Unit</label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-sm"
                            ng-model="productmaster.BaseUOM"
                            ng-required="true"
                            ng-options="s.Value as s.Text for s in lookUpData.baseuniList">
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="label-control pull-right">Storage Unit</label>
                    </div>
                    <div class="col-md-2">                        
                        <select class="form-control input-sm"
                            ng-model="productmaster.StorageUOM"
                            ng-required="true"
                            ng-options="s.Value as s.Text for s in lookUpData.baseuniList">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control input-sm" placeholder="TI" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control input-sm" placeholder="HI" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control input-sm" placeholder="Unit Size" ng-model="productmaster.UnitSize" ng-required="true" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <label class="label-control pull-right">Width (cm)</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" placeholder="0.000" ng-model="productmaster.BaseWidth" ng-required="true" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="label-control pull-right">Length (cm)</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" placeholder="0.000" ng-required="true" ng-model="productmaster.BaseSQFt" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="label-control pull-right">Height (cm)</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" placeholder="0.000" ng-required="true" ng-model="productmaster.BaseHeight" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="label-control pull-right">M3 Per Unit (cm)</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" placeholder="0.000" ng-required="true" />
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-8">
        <div class="col-md-2">
            <label class="label-control pull-right">1 Packing Unit</label>
        </div>
        <div class="col-md-2">            
            <select class="form-control input-sm"
                ng-model="productmaster.StorageUOM"
                ng-required="true"
                ng-options="s.Value as s.Text for s in lookUpData.baseuniList">
            </select>
        </div>
        <div class="col-md-1">
            <label class="label-control" style="font-weight: bold;">=</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" placeholder="0" />
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-8">
        <div class="col-md-2">
            <label class="label-control pull-right">1 Storage Unit</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" placeholder="PLT" />
        </div>
        <div class="col-md-1">
            <label class="label-control" style="font-weight: bold;">=</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" placeholder="0" />
        </div>
    </div>
</div>
