﻿<section class="content" ng-controller="ProductMasterController">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Product Master</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label pull-right">Principal</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <md-switch class="md-primary" aria-label="Inventory Item">Inventory Item</md-switch>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Product Code</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <md-switch class="md-primary" aria-label="Kitting Item">Kitting Item</md-switch>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" class="md-primary">
                            <md-content class="md-padding">
                                <div ng-include="tab.content"></div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </div>
            </div>
        </div>
    </div>
</section>