﻿<form id="frmClause" name="frmClause" ng-class="{'submitted':submitted}" ng-submit="SaveClause(cl)" novalidate>
    <style type="text/css">
        .box.box-solid.box-default {
            border: 0px solid #d2d6de;
        }
    </style>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Conveyance </h4>
    </div>
    <div class="modal-body">
        <div class="box box-default box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Conveyance ID</label>
                            </div>
                            <div class="col-md-9">
                                <input ng-model="ie.declarationsubItems[$index].ItemCode" type="text" class="form-control input-sm" />

                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Conveyance Type</label>
                            </div>
                            <div class="col-md-9">
                                <input ng-model="ie.declarationsubItems[$index].ItemCode" type="text" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Custome Station</label>
                            </div>
                            <div class="col-md-9">
                                <input ng-model="ie.declarationsubItems[$index].ItemCode" type="text" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Licence No.</label>
                            </div>
                            <div class="col-md-9">
                                <input ng-model="ie.declarationsubItems[$index].ItemCode" type="text" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Year</label>
                            </div>
                            <div class="col-md-9">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="ImportDate" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="k8.ImportDate"
                                                   name="k8.ImportDate"
                                                   ng-required="true"
                                                   date-time-input="{{dateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="k8.ImportDate"
                                                        data-datetimepicker-config="{ dropdownSelector: '#ImportDate', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-6"></div>
            <div class="col-md-6 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true;" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>

</form>
