﻿<style type="text/css">
    .ellipsisCss, .ellipsisCss:hover {
        text-overflow:ellipsis !important;
        white-space: nowrap;
        color:black;
        width:100px !important;
        z-index:999999 !important;
    }

    .tooltipCss {
        z-index:999999 !important;
    }
</style>
<section class="content" ng-controller="CompanyCntrl as Cntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Other Profiles</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Companies</h3>
                            <!--<div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" ng-click="AddCompany();">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>-->
                        </div>
                        <div class="box-body" style="max-height: 500px;overflow-y:auto;min-height:500px;">
                            <treecontrol class="tree-light" tree-model="treedata" expanded-nodes="expandedNodes" on-selection="showSelected(node)">
                                <a tabindex="0" class="ellipsisCss">{{node.label}}</a><!-- uib-tooltip="{{node.label}}" -->
                            </treecontrol>
                        </div>
                    </div>
                </div>
                <div class="col-md-8" ng-show="isSelected">
                    <div ng-show="detailsUrl == 'Js/MasterData/Templates/Company/companydetails.html' + Version" ng-include="detailsUrl"></div>
                    <div ng-show="detailsUrl == 'Js/MasterData/Templates/Company/branchdetails.html' + Version" ng-include="detailsUrl"></div>                    
                </div>
            </div>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>

