﻿<section class="content" ng-controller="BookingInquiryCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Booking Inquiry</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-1">
                                        <label class="control-label pull-right">Agent</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"
                                               class="form-control input-sm ac"
                                               ng-class="{'loadinggif': bi.AgentCodeNameLoading}"
                                               placeholder="Search Agent"
                                               ng-model="bi.AgentName"
                                               typeahead-min-length="3"
                                               uib-typeahead="d.Text as d.Text for d in AgentResults($viewValue)"
                                               typeahead-loading="bi.AgentCodeNameLoading"
                                               typeahead-wait-ms="1000"
                                               typeahead-editable="false"
                                               ng-required="true"
                                               typeahead-on-select="CustomerSelected($item, 'AgentCode')" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label pull-right">Booking Type</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control input-sm" ng-model="bi.BookingType"
                                                ng-options="s.Value as s.Text for s in lookUpData.bookingTypeList"></select>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px">
                                    <div class="col-md-1">
                                        <label class="control-label pull-right">Forwarder</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"
                                               class="form-control input-sm ac"
                                               ng-class="{'loadinggif': bi.ForwarderCodeNameLoading}"
                                               placeholder="Search Forwarder"
                                               ng-model="bi.ForwarderName"
                                               typeahead-min-length="3"
                                               uib-typeahead="d.Text as d.Text for d in ForeignAgentsResults($viewValue)"
                                               typeahead-loading="bi.ForwarderCodeNameLoading"
                                               typeahead-wait-ms="1000"
                                               typeahead-editable="false"
                                               ng-required="true"
                                               typeahead-on-select="CustomerSelected($item, 'CustomerCode')" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label pull-right">Booking B/L No.</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px">
                                    <div class="col-md-1">
                                        <label class="control-label pull-right">Customer</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"
                                               class="form-control input-sm ac"
                                               ng-class="{'loadinggif': bi.CustomerCodeNameLoading}"
                                               placeholder="Search Customer"
                                               ng-model="bi.CustomerName"
                                               typeahead-min-length="3"
                                               uib-typeahead="d.Text as d.Text for d in MerchantResults($viewValue)"
                                               typeahead-loading="bi.CustomerCodeNameLoading"
                                               typeahead-wait-ms="1000"
                                               typeahead-editable="false"
                                               ng-required="true"
                                               typeahead-on-select="CustomerSelected($item, 'CustomerCode')" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label pull-right">Container No.</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px">
                                    <div class="col-md-2">
                                        <label class="control-label pull-right">Vessel Code</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control input-sm ac" />
                                    </div>
                                    <div class="col-md-1">
                                        <label class="control-label pull-right">Voyage No.</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control input-sm" />
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary">Search</button>
                                        <button class="btn btn-primary">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Order No.</th>
                                <th>Container No.</th>
                                <th>Container Key</th>
                                <th>Booking Date</th>
                                <th>Booking-B/L No.</th>
                                <th>Booking Type</th>
                                <th>Agent Code</th>
                                <th>Customer</th>
                                <th>Vessel Code</th>
                                <th>Voyage No.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Movement</th>
                                <th>Transaction No</th>
                                <th>Mvmt Date</th>
                                <th>Status</th>                                
                                <th>Yard Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>