﻿<form name="frmAddPUDOMaster" id="frmAddPUDOMaster" ng-submit="AddPUDOMaster(pudomaster)" ng-class="{'submitted':submitted}" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Add/Edit PUDO Master </h4>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Booking Type</label>                
            </div>
            <div class="col-md-4">
               <select class="form-control input-sm" ng-model="pudomaster.JobType" ng-options="c.Value as c.Text for c in bookingtypeList" ng-change="GetPUDOCodes(pudomaster.JobType);"  ng-required="true"></select>
            </div>
        </div>   
       <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">PU/DO Mode</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm" ng-model="pudomaster.PUDOMode" ng-options="c.Value as c.Text for c in pudomodeList" ng-change="pudomaster.PUDOModeDesc=(pudomodeList|filter:{Value:pudomaster.PUDOMode})[0].Text"  ng-required="true"></select>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Order Type</label>                
            </div>
            <div class="col-md-6">
                <select class="form-control input-sm" ng-model="pudomaster.OrderType" ng-options="c.Value as c.Text for c in ordertypeList" ng-change="GetMovementCodes(pudomaster.OrderType);"  ng-required="true"></select>
              
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Movement Code</label>
            </div>
            <div class="col-md-6">
                <select class="form-control input-sm" ng-model="pudomaster.MovementCode" ng-options="c.Value as c.Text for c in movementcodeList"  ng-required="true"></select>
               
            </div>
        </div>  
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-6"></div>
            <div class="col-md-6 pull-right">
                <button  class="btn btn-primary btn-sm" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>

