﻿<section class="content" ng-controller="DriverPaymentVendorCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Driver Payment By Vendor (Transport)</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Vendor Code</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Prepare Date</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Remarks</label>
                </div>      
                <div class="col-md-6">
                    <textarea class="form-control input-sm"></textarea>
                </div>         
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Movement Date</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">To</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="well well-sm" style="min-height:250px;">
                        <table class="table table-bordered">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th>Vendor Code</th>
                                    <th>Vendor Name</th>
                                    <th>Total Driver</th>
                                    <th>Total Generated</th>
                                    <th>Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="well well-sm" style="min-height: 250px;">
                        <table class="table table-bordered">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th>Payment No.</th>
                                    <th>Driver ID</th>
                                    <th>Driver Name</th>
                                    <th>Amount</th>
                                    <th>Remarks</th>
                                    <th>Time From</th>
                                    <th>Time To</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>