﻿<section class="content" ng-controller="truckmvmtinquiryCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Truck Movement Inquiry</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default box-solid">                        
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-1">
                                    <label class="control-label pull-right">Agent</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"
                                           class="form-control input-sm ac"
                                           ng-class="{'loadinggif': ti.AgentCodeNameLoading}"
                                           placeholder="Search Agent"
                                           ng-model="ti.AgentName"
                                           typeahead-min-length="3"
                                           uib-typeahead="d.Text as d.Text for d in AgentResults($viewValue)"
                                           typeahead-loading="ti.AgentCodeNameLoading"
                                           typeahead-wait-ms="1000"
                                           typeahead-editable="false"
                                           ng-required="true"
                                           typeahead-on-select="CustomerSelected($item, 'AgentCode')" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Booking Type</label>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control input-sm" ng-model="ti.BookingType"
                                            ng-options="s.Value as s.Text for s in lookUpData.bookingTypeList"></select>
                                </div>
                                <div class="col-md-1">
                                    <label class="control-label pull-right">Date From</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group my-datepicker">
                                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <div class="col-md-1">
                                    <label class="control-label pull-right">Haulier</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"
                                           class="form-control input-sm ac"
                                           ng-class="{'loadinggif': ti.HaulierCodeNameLoading}"
                                           placeholder="Search Haulier"
                                           ng-model="ti.HaulierName"
                                           typeahead-min-length="3"
                                           uib-typeahead="d.Text as d.Text for d in HaulierResults($viewValue)"
                                           typeahead-loading="ti.HaulierCodeNameLoading"
                                           typeahead-wait-ms="1000"
                                           typeahead-editable="false"
                                           ng-required="true"
                                           typeahead-on-select="CustomerSelected($item, 'HaulierCode')" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Order Type</label>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control input-sm" ng-model="ti.OrderType"
                                            ng-options="s.Value as s.Text for s in lookUpData.orderTypeList"></select>
                                </div>
                                <div class="col-md-1">
                                    <label class="control-label pull-right">Date To</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group my-datepicker">
                                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <div class="col-md-1">
                                    <label class="control-label pull-right">Customer</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"
                                           class="form-control input-sm ac"
                                           ng-class="{'loadinggif': ti.CustomerCodeNameLoading}"
                                           placeholder="Search Customer"
                                           ng-model="ti.CustomerName"
                                           typeahead-min-length="3"
                                           uib-typeahead="d.Text as d.Text for d in MerchantResults($viewValue)"
                                           typeahead-loading="ti.CustomerCodeNameLoading"
                                           typeahead-wait-ms="1000"
                                           typeahead-editable="false"
                                           ng-required="true"
                                           typeahead-on-select="CustomerSelected($item, 'HaulierCode')" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pull-right">Movement</label>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control input-sm"></select>
                                </div>                                
                            </div>
                            <div class="row" style="margin-top:10px">
                                <div class="col-md-1">
                                    <label class="control-label pull-right">Vessel</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control input-sm ac" />
                                </div>
                                <div class="col-md-1">
                                    <label class="control-label pull-right">Voyage No.</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control input-sm ac" />
                                </div>
                                <div class="col-md-1">
                                    <label class="control-label pull-right">Booking B/L No.</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control input-sm ac" />
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary">Search</button>
                                    <button class="btn btn-primary">Reset</button>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Truck No.</th>
                                <th>Date Time</th>
                                <th>Min(s)</th>
                                <th>Haulier</th>
                                <th>Trip Type</th>
                                <th>Booking-B/L No.</th>
                                <th>Size</th>
                                <th>Container No.</th>
                                <th>Agent</th>
                                <th>Order No.</th>
                                <th>Size</th>
                                <th>Type</th>
                                <th>Movement</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</section>