﻿<section class="content" ng-controller="CollectionAdviceCntrl">
    <script type="text/ng-template" id="filtertemplate.html">
        <div style="margin: 5px 5px 5px 5px">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-5">
                    <label class="control-label pull-right">Filter By</label>
                </div>
                <div class="col-md-7">
                    <select class="form-control input-sm"
                            ng-model="filterBy"
                            ng-options="s.Value as s.Text for s in lookUpData.filterTypeList"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-5">
                    <label class="control-label pull-right nowrapCss">Movement Status</label>
                </div>
                <div class="col-md-7">
                    <select class="form-control input-sm"
                            ng-model="movementStatus"
                            ng-options="s.Value as s.Text for s in lookUpData.stateTypeList"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-5">
                    <label class="control-label pull-right">Trailer Type</label>
                </div>
                <div class="col-md-7">
                    <select class="form-control input-sm"
                            ng-model="trailerType"
                            ng-options="s.Value as s.Text for s in lookUpData.trailerTypeList"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-5">
                    <label class="control-label pull-right">Order No.</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-5">
                    <label class="control-label pull-right">Container No.</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-5">
                    <label class="control-label pull-right">Liner Ref.</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-5">
                    <label class="control-label pull-right">Pickup From</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-5">
                    <label class="control-label pull-right">Deliver To</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-5">
                    <label class="control-label pull-right">Pickup Area</label>
                </div>
                <div class="col-md-7">
                    <input type="text"
                           class="form-control input-sm ac"
                           ng-class="{'loadinggif': PortOfLoadingNameLoading}"
                           placeholder="Loading Port"
                           ng-model="PortOfLoadingName"
                           typeahead-min-length="3"
                           uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                           typeahead-loading="PortOfLoadingNameLoading"
                           typeahead-wait-ms="100"
                           typeahead-editable="false"
                           typeahead-on-select="PortSelected($item, 'PortOfLoading')"
                           ng-required="true" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-primary" type="button" ng-click="filterPOIsOpen = false;">Ok</button>
                    </div>
                </div>                             
            </div>
        </div>
    </script>
    <style type="text/css">
        .filterPopOver .popover-inner {
            width: 300px;
        }
    </style>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Collection Advice</h3>
            <div class="box-tools pull-right filterPopOver">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button"
                        uib-popover-template="'filtertemplate.html'"                        
                        popover-placement="left-top"
                        popover-is-open="filterPOIsOpen" 
                        popover-trigger="click outsideClick">
                    <i class="fa fa-plus fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </button>                
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color: #fff; background-color: #97c5ea;">
                            <tr>
                                <th>Select</th>
                                <th>New</th>
                                <th>Closing/Dehire Date & Time</th>
                                <th>Request Date & Time</th>
                                <th>Container No.</th>
                                <th>Type Size</th>
                                <th>Job No.</th>
                                <th>Customer Name</th>
                                <th>Pickup From</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Job No.</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Empty Dehire</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control input-sm"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Container No.</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Movement</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Pickup From</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Delivery To</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Calling Date</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Acknowledge By</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Request Date</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Acknowledge Date</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Remarks</label>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control input-sm"></textarea>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-1">
                    <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                </div>
                <div class="col-md-1">
                    <md-button class="md-raised md-primary"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print</md-button>
                </div>
            </div>
        </div>
    </div>
</section>