﻿<section class="content" ng-controller="StandardTarrifCntrl">
    <form id="frmDiscountTariff" name="frmDiscountTariff" ng-class="{'submitted':submitted}" ng-submit="SaveDiscountTariff(th)" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Standard Tariff</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Quotation No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" 
                                       ng-model="th.QuotationNo" 
                                       readonly="readonly" 
                                       class="form-control input-sm" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label  pull-right" for="EffectiveDate">Effective Date</label>
                            </div>
                            <div class="dropdown col-md-2">
                                <a class="dropdown-toggle" id="EffectiveDate" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control input-sm datepicker"
                                               ng-model="th.EffectiveDate"
                                               ng-required="true"
                                               date-time-input="{{dateFormat}}">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="th.EffectiveDate"
                                                    data-datetimepicker-config="{
                                        dropdownSelector: '#EffectiveDate',
                                        startView: 'day',
                                        minView: 'day' }" />
                                </ul>
                            </div>

                            <div class="col-md-1">
                                <label class="control-label  pull-right" for="ExpiryDate">Expiry Date</label>
                            </div>
                            <div class="dropdown col-md-2">
                                <a class="dropdown-toggle" id="ExpiryDate" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control input-sm datepicker"
                                               ng-model="th.ExpiryDate"                                               
                                               date-time-input="{{dateFormat}}">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="th.ExpiryDate"
                                                    data-datetimepicker-config="{
                                        dropdownSelector: '#ExpiryDate',
                                        startView: 'day',
                                        minView: 'day' }" />
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" ng-click="AddDetail(-1)"><i class="fa fa-plus"></i>&nbsp;Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <!--<table class="table table-bordered">
                                    <thead style="color:#fff;background-color:#97c5ea;">
                                        <tr>
                                            <th>Module</th>
                                            <th>Selling Price </th> 
                                            <th>#Action</th>                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in th.tariffDetails">
                                            <td>{{item.ModuleDescription}}</td>
                                            <td>{{item.SellingPrice}}</td>                                            
                                            <td>
                                                <button class="btn btn-primary" type="button" ng-click="AddDetail($index)"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
                                                <button class="btn btn-danger" type="button" ng-click="DeleteDetail($index)"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>-->
                                <table class="table table-bordered">
                                    <thead style="color:#fff;background-color:#97c5ea;">
                                        <tr>
                                            <th>Module</th>
                                            <th>Tariff Mode</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Tariff</th>
                                          <th>Tarif Rate <th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in th.tariffDetails">
                                            <td>{{item.ModuleDescription}}</td>
                                            <td>{{item.TariffMode}}</td>
                                            <td>{{item.SlabFrom}}</td>
                                            <td>{{item.SlabTo}}</td>
                                            <td>{{item.Percentage}}</td>
                                            <td>
                                                <button class="btn btn-primary" type="button" ng-click="AddDetail($index)"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
                                                <button class="btn btn-danger" type="button" ng-click="DeleteDetail($index)"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="submit" ng-click="submitted = true" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                                    <button type="button" class="btn btn-default" onclick="location.href = '#/owner'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
