﻿<form id="frmAddress" name="frmAddress" ng-class="{'submitted':submitted}" ng-submit="AddAddress(address)" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">{{title}} Address</h4>
        <input type="hidden" ng-model="address.AddressId" ng-init="-1" />        
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Address</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-sm" ng-model="address.Address1"  ng-required="true" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right"></label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-sm" ng-model="address.Address2"  ng-required="true" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Post Code</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" ng-model="address.ZipCode"  ng-required="true" logicon-number />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">City / Suburb</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" ng-model="address.City"  ng-required="true"/>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">State</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-sm" ng-model="address.State"  ng-required="true"/>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Country</label>
                    </div>
                    <div class="col-md-9">
                        <!--<select class="form-control input-sm" 
                                ng-model="address.CountryCode" 
                                ng-options="s.CompanyName as s.CompanyName for s in CountriesList"  
                                ng-required="true"></select>-->
                        <input type="text"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': address.CountryNameLoading}"
                               placeholder="Country"
                               ng-model="address.CountryName"
                               typeahead-min-length="3"
                               uib-typeahead="s.Text as s.Text for s in countryResults($viewValue)"
                               typeahead-loading="address.CountryNameLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="countrySelect($item)" />
                    </div>                    
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Tel No.</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" ng-model="address.TelNo" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Fax No.</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" ng-model="address.FaxNo" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Mobile No.</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" ng-model="address.MobileNo" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Email</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-sm" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-model="address.Email" />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Website</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-sm" ng-model="address.WebSite" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <md-switch class="md-primary" aria-label="Billing" ng-model="address.IsBilling" ng-init="address.IsBilling = false">Billing</md-switch>
                    </div>
                    <div class="col-md-4">
                        <md-switch class="md-primary" aria-label="Active" ng-model="address.IsActive" ng-init="address.IsActive = false">Active</md-switch>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <md-switch class="md-primary" aria-label="Operation" ng-model="address.IsOperation" ng-init="address.IsOperation = false">Operation</md-switch>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <md-switch class="md-primary" aria-label="Operation" ng-model="address.IsPickup" ng-init="address.IsPickup = false">Pickup / Delivery</md-switch>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">EDI Mapping</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" ng-model="address.EDIMapping" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Area Code</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control input-sm" ng-model="address.AreaCode"></select>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Zone Code</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control input-sm" ng-model="address.ZoneCode"></select>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" type="button" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>


