﻿
<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Address</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" ng-click="AddAddress();">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>            
            <div class="box-body">
                <!--<div ui-grid="gridOptions" class="grid"></div>-->
                <table class="table table-bordered">
                    <thead style="color:#fff;background-color: #97c5ea;">
                        <tr>
                            <th>Active</th>
                            <th>Bill</th>
                            <th>Opr</th>
                            <th>Pck</th>
                            <th>Contact Person</th>
                            <th>Tel No.</th>
                            <th>Area Code</th>
                            <th>Address Type</th>
                            <th>Delivery Window</th>
                            <th>Address 1</th>
                            <th>Address 2</th>
                            <th>Address 3</th>
                            <th>Address 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="address in mp.AddressList">
                            <th><md-checkbox class="md-primary" ng-model="address.Active" ng-disabled="true" aria-label="Active"></md-checkbox></th>
                            <th><md-checkbox class="md-primary" ng-model="address.Bill" ng-disabled="true" aria-label="Active"></md-checkbox></th>
                            <th><md-checkbox class="md-primary" ng-model="address.Opr" ng-disabled="true" aria-label="Active"></md-checkbox></th>
                            <th><md-checkbox class="md-primary" ng-model="address.Pck" ng-disabled="true" aria-label="Active"></md-checkbox></th>
                            <th>{{address.ContactPerson}}</th>
                            <th>{{address.TelNo}}</th>
                            <th>{{address.AreaCode}}</th>
                            <th>{{address.AddressType}}</th>
                            <th>{{address.DeliveryWindow}}</th>
                            <th>{{address.Address1}}</th>
                            <th>{{address.Address2}}</th>
                            <th>{{address.Address3}}</th>
                            <th>{{address.Address4}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>