﻿<div class="row">
    <div class="col-md-8" style="margin-top:10px;">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Billing</h3>
            </div>
            <div class="box-body">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right" >Debtor Code</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="mp.DebtorCode"  ng-required="true"/>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Creditor Code</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="mp.CreditorCode"  ng-required="true" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Default Currency</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm" ng-model="mp.DefaultCurrency"  ng-required="true"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">GST No.</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="mp.GSTNo"   ng-required="true"/>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Credit Term</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm" ng-model="mp.CreditTerm"  ng-required="true"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Billing Method</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm" ng-model="mp.BillingMethod"  ng-required="true"></select>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Credit Limit</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm"  ng-model="mp.CreditLimit"  ng-required="true"/>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Current Balance</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="mp.CurrentBalance"  ng-required="true"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>