﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Currency</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <label class="control-label pull-right">Currency Code</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control input-sm" ng-model="currency.CurrencyCode" ng-required="true" ng-readonly="true"/>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <label class="control-label pull-right">Currency Description</label>
        </div>
        <div class="col-md-8">
            <textarea class="form-control input-sm" ng-model="currency.Description" ng-required="true"></textarea>
        </div>
    </div>    
</div>
<div class="modal-footer">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4"></div>
        <div class="col-md-6 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="SaveCurrency(currency);"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>