﻿<section class="content" ng-controller="EquipmentPlanning">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Equipment Planning</h3>
            <div class="box-tools pull-right">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddEquipment();">
                    <i class="fa fa-plus fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well well-sm">
                                <table class="table table-bordered">
                                    <thead style="color:#fff;background-color:#97c5ea;">
                                        <tr>
                                            <th>Hold</th>
                                            <th>Job No.</th>
                                            <th>Movement</th>
                                            <th>Priority</th>
                                            <th>Cargo Type</th>
                                            <th>IMO Code</th>
                                            <th>UN Code</th>
                                            <th>Truck ID</th>
                                            <th>Trailer ID</th>
                                            <th>Container ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <uib-tabset>
                                <uib-tab heading="Trucks">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-top:10px;">
                                            <md-checkbox aria-label="Show all trucks">Show all trucks</md-checkbox>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" style="margin-top:10px;">
                                            <table class="table table-bordered">
                                                <thead style="color:#fff;background-color:#97c5ea;">
                                                    <tr>
                                                        <th>Trailer ID</th>
                                                        <th>Branch Code</th>
                                                        <th>Trailer Type</th>
                                                        <th>Size</th>
                                                        <th>DG</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab heading="Trailers">

                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>