﻿<section class="content" ng-controller="PUDOMasterCntrl">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Pick Up/Drop Off Master</h3>
                    <div class="box-tools pull-right">
                        <!-- <button type="button" class="btn btn-box-tool" ng-click="AddPUDOMaster(-1);">
                            <i class="fa fa-plus"></i>
                        </button>-->
                        <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddPUDOMaster(-1);">
                            <i class="fa fa-plus fa-1x ng-scope"></i>
                            <div class="md-ripple-container"></div>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead style="color: #fff; background-color: steelblue;">
                                    <tr>
                                        <th>Booking Type </th>
                                        <th>PU/DO Mode</th>
                                        <th>Order Type</th>
                                        <th>Movement Code</th>
                                        <th>#Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pudomaster in pudomasterList">
                                        <td>{{pudomaster.JobTypeDescription}}</td>
                                        <td>{{pudomaster.PUDOModeDescription}}</td>
                                        <td>{{pudomaster.OrderTypeDescription}}</td>
                                        <td>{{pudomaster.MovementCode}}</td>
                                        <td style="padding: 0 0 0 5px">
                                            <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="AddPUDOMaster(pudomaster);" aria-label="button">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                <div class="md-ripple-container"></div>
                                            </button>
                                            <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" type="button" ng-click="DeletePUDOMaster(pudomaster);" aria-label="button">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                <div class="md-ripple-container"></div>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <uib-pagination ng-model="currentPage"
                                total-items="totalItems"
                                ng-change="pageChanged()"
                                class="pagination-sm pull-right"
                                max-size="10"
                                items-per-page="limit">
                    </uib-pagination>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <md-button class="md-raised md-clear" onclick="location.href = '#/home/'"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</md-button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
