﻿<form id="Cntrl.frmBranchDetails" name="Cntrl.frmBranchDetails" ng-class="{'submitted':submitted}" ng-submit="SaveBranch(BranchDetails);" novalidate>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Branch Details &nbsp;<span style="text-align: right;">Company Code [ {{ BranchDetails.CompanyCode }} ]</span></h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;New Company</md-button>
                </div>
                <div class="col-md-2">
                    <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;New Branch zxcv</md-button>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Branch Code</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.BranchCode" />
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    <md-switch class="md-primary" aria-label="Active Account" ng-model="BranchDetails.IsActive">Active Account</md-switch>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Branch Name</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.BranchName" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Registration No.</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.RegNo" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">GST No.</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Address</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.ContactItems[0].Address1" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.ContactItems[0].Address2" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Post Code</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.ContactItems[0].PostCode" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">City/Suburb</label>
                </div>
                <div class="col-md-5">
                    <select class="form-control input-sm"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">State</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control input-sm"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Country</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Tel No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.ContactItems[0].PhoneNumber" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Contact</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Fax No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.ContactItems[0].FaxNumber" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Mobile No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.ContactItems[0].MobilePhoneNumber" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Email</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.ContactItems[0].EmailID" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Remarks</label>
                </div>
                <div class="col-md-10">
                    <textarea class="form-control input-sm"></textarea>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Website</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.ContactItems[0].WebSite" />
                </div>
            </div>
        </div>
    </div>
</form>
