﻿<form id="Cntrl.frmCompanyDetails" name="Cntrl.frmCompanyDetails" ng-class="{'submitted':submitted}" ng-submit="Cntrl.SaveCompany(CompanyDetails);" novalidate>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Company Details</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <md-button class="md-raised md-primary" ng-click="Cntrl.AddCompany(CompanyDetails.CompanyCode)"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;New Company</md-button>
                </div>
                <div class="col-md-2">
                    <md-button class="md-raised md-warning"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;New Branch</md-button>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Company Code</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.CompanyCode" required />
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    <md-switch class="md-primary" aria-label="Active Account" ng-model="CompanyDetails.IsActive" required>Active Account</md-switch>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Company Name</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.CompanyName" required />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Registration No.</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.RegNo" required />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">GST No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">TAX ID</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.TaxId" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Address</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Post Code</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">City/Suburb</label>
                </div>
                <div class="col-md-5">
                    <select class="form-control input-sm"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">State</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control input-sm"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Country</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Tel No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Contact</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Fax No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Mobile No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Email</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Remarks</label>
                </div>
                <div class="col-md-10">
                    <textarea class="form-control input-sm"></textarea>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Website</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Company Logo</label>
                </div>
                <div class="col-md-10">
                    <input type="file" class="form-control input-sm" />
                </div>
            </div>            
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <md-button class="md-raised md-primary" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                    <md-button class="md-raised md-clear"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</md-button>
                </div>
            </div>
        </div>
    </div>
</form>



