﻿<section class="content" ng-controller="bookingEntryController">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Booing Entry</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top:10px;">
                <div class="col-md-12">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" class="md-primary">
                            <md-content class="md-padding">
                                <div ng-include="tab.content"></div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </div>
            </div>
        </div>
    </div>
</section>