﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Code</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
        <md-button class="md-raised md-primary"><i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;Address</md-button>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Name</label>
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Address</label>
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Post Code</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2">
        <label class="control-label pull-right">City/Subrub</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">State</label>
    </div>
    <div class="col-md-10">
        <select class="form-control input-sm"></select>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Country</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-8">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Tel No.</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Contact</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Fax No.</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Mobile No.</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Email</label>
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Remarks</label>
    </div>
    <div class="col-md-10">
        <textarea class="form-control input-sm"></textarea>
    </div>
</div>
