﻿<section class="content" ng-controller="DriverRateTblCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Driver Rate Table (Transport)</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="AddDriverRateTbl();">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="well well-sm" style="min-height: 250px;">
                        <table class="table table-bordered">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th>Job</th>
                                    <th>Shp</th>
                                    <th>Job Category</th>
                                    <th>Charge Code</th>
                                    <th>Description</th>
                                    <th>Pickup From</th>
                                    <th>Deliver To</th>
                                    <th>Type Size</th>
                                    <th>Rate</th>
                                    <th>Customer</th>
                                    <th>Billing Unit</th>
                                    <th>Movement Code</th>
                                    <th>Movement T...</th>
                                    <th>Back to Back</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>
