﻿<section class="content" ng-controller="EquipmentPlanCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Transport Equipment Planning</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
        <div class="col-md-7">
            <div class="box box-default box-solid">
                <div class="box-body">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Filter</md-button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="well well-sm" style="min-height: 250px;">
                                <table class="table table-bordered">
                                    <thead style="color: #fff; background-color: #97c5ea;">
                                        <tr>
                                            <th>Hold</th>
                                            <th>Priority</th>
                                            <th>Job No.</th>
                                            <th>Movement</th>
                                            <th>Truck ID</th>
                                            <th>Trailer ID</th>
                                            <th>Container/Reg No.</th>
                                            <th>Size</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Trucks" class="md-primary">
                    <md-content class="md-padding">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-4">
                                <md-checkbox class="md-primary" aria-label="Show All Trucks">Show All Trucks</md-checkbox>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="well well-sm" style="min-height:250px;">
                                    <table class="table table-bordered">
                                        <thead style="color:#fff;background-color:#97c5ea;">
                                            <tr>
                                                <th>Truck ID</th>
                                                <th>Branch Code</th>
                                                <th>Base Location</th>
                                                <th>Current Area</th>
                                                <th>Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Trailers" class="md-primary">
                    <md-content class="md-padding">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-4">
                                <md-checkbox class="md-primary" aria-label="Show All Trailers">Show All Trailers</md-checkbox>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="well well-sm" style="min-height:250px;">
                                    <table class="table table-bordered">
                                        <thead style="color:#fff;background-color:#97c5ea;">
                                            <tr>
                                                <th>Trailer ID</th>
                                                <th>Branch Code</th>
                                                <th>Trailer Type</th>
                                                <th>Size</th>
                                                <th>DG</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label pull-right">Job No.</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" />
                        <span class="input-group-btn dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right nowrapCss">Truck ID</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <select class="form-control input-sm"></select>
                        <span class="input-group-btn dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right nowrapCss">Est Start Date</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Movement</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right nowrapCss">Trailer Id</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <select class="form-control input-sm"></select>
                        <span class="input-group-btn dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right nowrapCss">Est Start Time</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right nowrapCss">Container No.</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <select class="form-control input-sm"></select>
                        <span class="input-group-btn dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Driver Id</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <select class="form-control input-sm"></select>
                        <span class="input-group-btn dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Pickup From</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" />
                        <span class="input-group-btn dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Req. Date</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Req. Time</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Delivery To</label>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" />
                        <span class="input-group-btn dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Driver ID 2</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Attendant</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
            </div>
        </div>
    </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
    
</section>
