﻿<section class="content" ng-controller="LookupConfigController">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Other Profiles</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Common Tables</h3>
                        </div>
                        <div class="box-body" style="max-height: 500px;overflow-y:auto;min-height:500px;">
                            <treecontrol class="tree-light" tree-model="treedata" expanded-nodes="expandedNodes" on-selection="showSelected(node)">
                                {{node.label}}
                            </treecontrol>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-3">
                            <label class="control-label pull-right">Search By Country Code</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

