﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Collection Advice</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Job No.</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Empty Dehire</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Container No.</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Movement</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Pickup From</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control input-sm" />
        </div>  
        <div class="col-md-2">
            <label class="control-label pull-right">Delivery To</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control input-sm" />
        </div>        
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Call Date</label>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm datepicker"
                               ng-model="vs.ImpAvaliableDate"
                               ng-required="true"
                               date-time-input="MM/DD/YYYY">
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="vs.ImpAvaliableDate"
                                    data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm datepicker"
                               ng-model="vs.ImpAvaliableDate"
                               ng-required="true"
                               date-time-input="MM/DD/YYYY">
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="vs.ImpAvaliableDate"
                                    data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Acknowledged By</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Request Date</label>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm datepicker"
                               ng-model="vs.ImpAvaliableDate"
                               ng-required="true"
                               date-time-input="MM/DD/YYYY">
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="vs.ImpAvaliableDate"
                                    data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm datepicker"
                               ng-model="vs.ImpAvaliableDate"
                               ng-required="true"
                               date-time-input="MM/DD/YYYY">
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="vs.ImpAvaliableDate"
                                    data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Acknowledgement Date</label>
        </div>
        <div class="col-md-4">
            <div class="dropdown">
                <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm datepicker"
                               ng-model="vs.ImpAvaliableDate"
                               ng-required="true"
                               date-time-input="MM/DD/YYYY">
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="vs.ImpAvaliableDate"
                                    data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Remarks</label>
        </div>
        <div class="col-md-10">
            <textarea class="form-control input-sm"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-8"></div>
        <div class="col-md-4 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>