﻿<form id="frmItemEntry" name="frmItemEntry" ng-class="{'submitted':submitted}" ng-submit="SaveItemEntry(ie)" novalidate>
    <style type="text/css">
        .box.box-solid.box-default {
            border: 0px solid #d2d6de;
        }
    </style>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Item Entry</h4>
    </div>
    <div class="modal-body">
        <div class="box box-default box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Product</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text"
                                       ng-required="true"
                                       ng-model="ie.ProductCode"
                                       class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right text-nowrap">Country Of Origin</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm"
                                        ng-required="true"
                                        ng-model="ie.OriginCountryCode"
                                        ng-options="s.Value as s.Text for s in lookUpData.countryList" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label pull-right">HS Code</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm"
                                        ng-required="true"
                                        ng-model="ie.HSCode"
                                        ng-options="s.Value as s.Text for s in lookUpData.hsCodeList"
                                        ng-change="HSCodeChange(ie.HSCode)"></select>

                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Statistical Qty.</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text"
                                       ng-required="true"
                                       logicon-decimal
                                       ng-model="ie.StatisticalQty"
                                       class="form-control input-sm" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label pull-right">Statistical UOM</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm"
                                        ng-required="true"
                                        ng-model="ie.StatisticalUOM"
                                        ng-options="s.Value as s.Text for s in lookUpData.UOMList"></select>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Declared Qty.</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text"
                                       ng-required="true"
                                       logicon-decimal
                                       ng-model="ie.DeclaredQty"
                                       class="form-control input-sm" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label pull-right">Declared UOM</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm"
                                        ng-required="true"
                                        ng-model="ie.DeclaredUOM"
                                        ng-options="s.Value as s.Text for s in lookUpData.UOMList"></select>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Item Amount</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text"
                                       ng-required="true"
                                       ng-model="ie.ItemAmount"
                                       logicon-decimal
                                       class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Item Description</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text"
                                       ng-required="true"
                                       ng-model="ie.ItemDescription1" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Extra Item Description</label>
                            </div>
                            <div class="col-md-9">
                                <textarea class="form-control input-sm"
                                          ng-required="true"
                                          ng-model="ie.ItemDescription2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">


                        <div class="row">
                            <div class="col-md-6">
                                <div class="box box-default box-solid collapsed-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Item Code</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label pull-right">Type</label>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-right">Code</label>
                                            </div>
                                        </div>
                                        <div class="row css10" ng-repeat="i in [1, 2, 3, 4, 5]">
                                            <div class="col-md-6">
                                                <input ng-model="ie.declarationsubItems[$index].ItemType" type="text" class="form-control input-sm" />
                                            </div>
                                            <div class="col-md-6">
                                                <input ng-model="ie.declarationsubItems[$index].ItemCode" type="text" class="form-control input-sm" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="box box-default box-solid collapsed-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Vehicle</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="control-label pull-right">Type</label>
                                            </div>
                                            <div class="col-md-8">
                                                <select class="form-control input-sm"
                                                        ng-model="ie.VehicleType"
                                                        ng-options="s.Value as s.Text for s in lookUpData.vehicleTypeList"></select>
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-4">
                                                <label class="control-label pull-right">Brand</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input ng-model="ie.VehicleBrand" type="text" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-4">
                                                <label class="control-label pull-right">Model</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input ng-model="ie.VehicleModel" type="text" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-4">
                                                <label class="control-label pull-right">Engine No.</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input ng-model="ie.VehicleEngineNo" type="text" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-4">
                                                <label class="control-label pull-right">Chassis No.</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input ng-model="ie.VehicleChassisNo" type="text" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-4">
                                                <label class="control-label pull-right">CC</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input ng-model="ie.VehicleCC" type="text" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-4">
                                                <label class="control-label pull-right">Year</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input ng-model="ie.VehicleYear"
                                                       logicon-number
                                                       type="text" class="form-control input-sm" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true;" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>

</form>
