﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <label class="control-label pull-left">Cargo Import</label>
        <textarea class="form-control input-sm"></textarea>
    </div>    
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <label class="control-label pull-left">Container Remarks</label>
        <textarea class="form-control input-sm"></textarea>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-4">
        <label class="control-label pull-left">Header</label>
        <textarea class="form-control input-sm"></textarea>
    </div>
    <div class="col-md-8">
        <label class="control-label pull-left">Footer</label>
        <textarea class="form-control input-sm"></textarea>
    </div>
</div>
