﻿<div class="row">
    <div class="col-md-12">
        <uib-tabset>
            <uib-tab heading="Shipper" active="true" disable="false">
                <div ng-include="'Js/Freight/Templates/Documentation/shipper-consignee.html'"></div>
            </uib-tab>
            <uib-tab heading="Consignee" active="true" disable="false">
                <div ng-include="'Js/Freight/Templates/Documentation/shipper-consignee.html'"></div>
            </uib-tab>
            <uib-tab heading="POD Agent" active="true" disable="false">
                <div ng-include="'Js/Freight/Templates/Documentation/shipper-consignee.html'"></div>
            </uib-tab>
            <uib-tab heading="Notify Party" active="true" disable="false">
                <div ng-include="'Js/Freight/Templates/Documentation/shipper-consignee.html'"></div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
