﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <label class="control-label pull-left">Marks & Numbers</label>
        <textarea class="form-control input-sm"></textarea>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <label class="control-label pull-left">Cargo Description</label>
        <textarea class="form-control input-sm"></textarea>
    </div>
</div>
