﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Origin Criterion</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Demurrage Amt.</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Cargo Value (RM)</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">New Depot</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Inland Origin</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Old Depot</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">FOB Value</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">ID No.</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Commodity Code</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Cntr Qty. Type</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Lorry No.</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Container Collect Date</label>
    </div>
    <div class="col-md-3">
        <div class="input-group my-datepicker">
            <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">LA No.</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Invoice No.</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-3">
        <div class="input-group my-datepicker">
            <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-7">
        <div class="box box-default box-solid">            
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5><b>Previous Information</b></h5>
                    </div>     
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label pull-right">Feeder Vessel</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>               
                </div>
                <div class="row" style="margin-top: 10px;">                        
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label pull-right">Feeder Voyage</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>               
                </div>
                <div class="row" style="margin-top: 10px;">                        
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label pull-right">SCN</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>               
                </div>
                <div class="row" style="margin-top: 10px;">                        
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label pull-right">Port Of Loading</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>               
                </div>
                <div class="row" style="margin-top: 10px;">                        
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label pull-right">Place Of Delivery</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>               
                </div>
                <div class="row" style="margin-top: 10px;">                        
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label pull-right">ETA Date</label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group my-datepicker">
                                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>               
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>




