﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Pickup Place</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Date Issued</label>
    </div>
    <div class="col-md-3">
        <div class="input-group my-datepicker">
            <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Loading Port</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">ETD</label>
    </div>
    <div class="col-md-3">
        <div class="input-group my-datepicker">
            <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Discharge Port</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Place Issued</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Final Dest</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Freight Term</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Feeder Vessel</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Payable At</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Voyage No.</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">No. Of B/L</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Mother Vessel</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">No. Of Pkg.</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Voyage No.</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right"></label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">House B/L No.</label>
    </div>
    <div class="col-md-3">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <md-checkbox class="md-primary" aria-label="Telex Release">Telex Release</md-checkbox>
    </div>
    <div class="col-md-2">
        <md-checkbox class="md-primary" aria-label="Replacement">Replacement</md-checkbox>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Weight (KG)</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Net Weight (KG)</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Volume (M3)</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <label class="control-label pull-left">Remarks</label>
        <textarea class="form-control input-sm"></textarea>
    </div>
</div>


