﻿<section class="content" ng-controller="ShippingInstructionCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Shipping Instruction</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" class="md-primary">
                            <md-content class="md-padding">
                                <div ng-include="tab.content"></div>
                            </md-content>                            
                        </md-tab>
                    </md-tabs>
                </div> 
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-1">
                    <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                </div>
                <div class="col-md-1">
                    <md-button class="md-raised md-warning"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Browse</md-button>
                </div>
                <div class="col-md-1">
                    <md-button class="md-raised md-clear"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</md-button>
                </div>
            </div>
        </div>
    </div>
</section>
