﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Driver Rate table</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Charge Code</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Job Type</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Job Category</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">To Area</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Shipment Type</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Customer</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Transport Type</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Billing Unit</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Size/Type</label>
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Trailer Type</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Incentive Unit</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>        
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Handling</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Percentage</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" placeholder="%" />
        </div>        
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Movement Code</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Fixed Rate</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>        
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Movement Type</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Remarks</label>
        </div>
        <div class="col-md-6">
            <textarea class="form-control input-sm"></textarea>
        </div>        
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Cargo Type</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>            
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Back to Back</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>            
    </div>
</div>
<div class="modal-footer">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>
