﻿<section class="content" ng-controller="ContainerRequestCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Container Request</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Haulier Code</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right nowrapCss">Request Date</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right">Consignee</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Pickup From</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right nowrapCss">Request Time</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right nowrapCss">Shipping Agent</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Drop Off To</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right nowrapCss">ROT No.</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right nowrapCss">Vessel</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Bill To</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right">Commodity</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right">ETA</label>
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Remarks</label>
                </div>
                <div class="col-md-4">
                    <textarea class="form-control input-sm"></textarea>
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right">Liner Ref.</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right">Ship Call No.</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-11"></div>
                <div class="col-md-1">
                    <md-button class="md-raised md-primary" ng-click="AddContainerRequest();"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</md-button>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color: #fff; background-color: #97c5ea;">
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Type Size</th>
                                <th>Container No.</th>
                                <th>Order No.</th>
                                <th>Status</th>
                                <th>Delivery To</th>
                                <th>Delivery Address 1</th>
                                <th>Delivery Address 2</th>
                                <th>Req Date/Time</th>
                                <th>Empty Dehire</th>
                                <th>Trailer Type</th>
                                <th>Container Opr.</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-1">
                    <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                </div>
                <div class="col-md-1">
                    <md-button class="md-raised md-warning"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Browse</md-button>
                </div>
                <div class="col-md-1">
                    <md-button class="md-raised md-clear"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</md-button>
                </div>
            </div>
        </div>
    </div>
</section>