﻿<section class="content" ng-controller="GateInCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Gate In</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Registration No.</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Truck Category</label>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">GateIn Date</label>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="input-group my-datepicker">
                                                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Haulier Code</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-2">
                                            <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Update Truck</md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Trip Type</label>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Empty/Loaded</label>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Booking Type</label>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Booking-B/L No.</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Agent Code</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Order Type</label>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Customer Code</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Container No.</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Size-Type</label>
                                        </div>
                                        <div class="col-md-1">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-md-1">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Order Type</label>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Container Class</label>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Status#1</label>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Voyage No.</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Temparature</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-1">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Status#2</label>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Tare Weight</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Vent</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-1">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Lock</label>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Max Gross Weight</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Agent Seal</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Meaterial/Height</label>
                                        </div>
                                        <div class="col-md-1">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-md-1">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Year Built</label>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Cust Seal</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Surveyor</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Next Loc</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Remarks</label>
                                        </div>
                                        <div class="col-md-2">
                                            <textarea class="form-control input-sm"> </textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Pre Clear</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">Genset No.</label>
                                        </div>
                                        <div class="col-md-1">
                                            <select class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-md-1">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label pull-right">PaperLess Code</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-default box-solid">
                                        <div class="box-body">
                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered">
                                                        <thead style="color: #fff; background-color: steelblue;">
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Code</th>
                                                                <th>Description</th>
                                                                <th>Payment</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-default box-solid">
                                        <div class="box-body">
                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered">
                                                        <thead style="color: #fff; background-color: steelblue;">
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Code</th>
                                                                <th>Description</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead style="color: #fff; background-color: steelblue;">
                                                    <tr>
                                                        <th>Trip Type</th>
                                                        <th>Booking-B/L No.</th>
                                                        <th>Container No.</th>
                                                        <th>Size</th>
                                                        <th>Type</th>
                                                        <th>E/F</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead style="color: #fff; background-color: steelblue;">
                                                    <tr>
                                                        <th>Charge Code</th>
                                                        <th>Sell Rate</th>
                                                        <th>VAT</th>
                                                        <th>Sell Amt.</th>
                                                        <th>Payment Term</th>
                                                        <th>Container No.</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Receipt No.</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Amount</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">VAT</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Total Amount</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label pull-right">Net Amount</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-md-1">
                <md-button class="md-raised md-warning"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
            </div>
            <div class="col-md-1">
                <md-button class="md-raised md-clear"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print</md-button>
            </div>
            <div class="col-md-1">
                <md-button class="md-raised md-clear"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</md-button>
            </div>
            <div class="col-md-1">
                <md-button class="md-raised md-clear"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete</md-button>
            </div>
            <div class="col-md-1">
                <md-button class="md-raised md-clear"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</md-button>
            </div>
            <div class="col-md-3">
                <md-checkbox class="md-primary" aria-label="Telex Release">Split Coupon Invoice</md-checkbox>
            </div>
        </div>
    </div>
</section>
