﻿<div class="row" style="padding-right:10px">
    <div class="col-md-12" style="font-size:14px;color:black;font-weight:600;height:450px;overflow-y:scroll;">
        <p style="text-align:justify">
            <h4>Declaration</h4>
            I/We <span style="text-decoration:underline;">{{Cntrl.registeredCompany.CompanyName}}</span> (name of company) having company registration number ______________________________________, hereby confirm that I/We have read,  understood and accepted the Terms and Conditions as attached herewith.<br />
            <span style="font-weight:bold;text-decoration:underline;">Privacy Policy and Consent to Use Personal Data</span><br />
            At DNeXPORT, we are committed to protecting your privacy as our valued customers and pledge to comply with the Personal Data Protection Act (“PDPA”) 2010.<br />
            Please note that any personal information (“Personal Data”) in respect of commercial transactions that relates directly or indirectly to you as an individual, that had been collected, processed and retained by DNeXPORT is protected under our Privacy Policy, formulated in pursuant to the PDPA 2010.<br />
            Please refer to our Privacy Policy at <a style="color:blue;text-decoration:underline" href="www.dnex.com.my/privacy-policy">www.dnex.com.my/privacy-policy</a> to understand how we do this and feel free to reach us at pdpa@dnex.com.my should you have any additional enquiries.
            IMPORTANT: By submitting this form, you agree and consent to the use, processing and disclosure of your Personal Data by DNeXPORT for the purpose as described in this form.

        </p>
        <p style="text-align:justify">
            <h4><b>TERMS AND CONDITIONS</b></h4>
            1.		GENERAL <br />
            1.1	This Terms and Conditions are binding on you (“Subscriber”).<br />
            1.2	This Terms and Conditions including the Schedules, contain the complete and exclusive understanding of the Subscriber with respect to the subject matter hereof and become effective upon signing and returning the Registration Form (as defined) by the Subscriber to DNeXPORT Sdn. Bhd. (“DP”) (the receipt of which must have been duly acknowledged by DP) and User ID (as defined) is provided to the Subscriber (“Effective Date”).<br />
            1.3	DP is entitled to reject an application from the Subscriber for the Services (as defined) at its sole discretion without assigning any reason.<br />
            1.4	All prior representations whether made orally, in writing or electronically are hereby superseded. No waiver or amendment of any of the provisions hereof will be binding unless made in writing and signed by a duly authorized representative of DP.<br />
            1.5	This Terms and Conditions may be amended by DP from time to time by prior written notice to the Subscriber.<br />
            1.6	If any provision of this Terms and Conditions is held to be invalid or unenforceable for any reason whatsoever, such provision is deemed deleted and the remaining Terms and Conditions herein shall remain valid and enforceable apart from such provision.<br />

            2.		DEFINITIONS AND INTERPRETATION<br />
            2.1	In this Terms and Conditions, except where inconsistent with the subject or context:<br />
            a)	“Agent” means any representative, agent, professional adviser, contractor or third party service provider;<br />
            b)	“Business Day” means a day on which DP is open for business for the Services;<br />
            c)	“Holding Company” means Dagang NeXchange Berhad (Company No. 10039-P), a company incorporated in Malaysia and having its office address at Tower 3, Avenue 5, The Horizon, Bangsar South No. 8, Jalan Kerinchi, 59200 Kuala Lumpur, Malaysia;<br />
            d)	“Loss” means all loss, liability, damage, costs and expense (including tax, legal costs, investigation cost, litigation, arbitration, settlement, judgement, interest/charges and penalties;<br />
            e)	"DP" means DNeXPORT Sdn. Bhd. (Company No. 1093694H), a company incorporated in Malaysia and having its office address at Tower 3, Avenue 5, The Horizon, Bangsar South, No. 8, Jalan Kerinchi, 59200 Kuala Lumpur, Malaysia;<br />
            f)	“Payment Instrument” means online payment, cheque, bank draft, money order, traveller’s cheque or other paper instrument issued to one or more persons;<br />
            g)	“Registration Form” means an instrument attached to this Terms and Conditions which contain details information of the Subscriber duly signed and submitted by the Subscriber to DP;<br />
            h)	“Related Corporations” means in relation to any person, a subsidiary of that 	person or a holding company of that person or any other subsidiary of that holding company;<br />
            i)	“Representative” means a person’s directors, officers or employees;<br />
            j)	“Security Code” means any confidential password, security code or other identifier issued by DP, directly or indirectly to access or facilitates access to the Services;<br />
            k)	"Services" means products and services offering as indicated under Section 6 of this Registration Form and shall include additional services offered by DP to the Subscriber from time to time;<br />
            l)	“Subscriber" means any person or other legal entity utilising the Services;
            m)	"User ID" means a unique identification provided by DP to the Subscriber which enables the Subscriber to obtain the Services;
            n)	"DNT" means Dagang Net Technologies Sdn. Bhd. (Company No. 177974-T), a company incorporated in Malaysia and having its office address at Tower 3, Avenue 5, The Horizon, Bangsar South, No. 8, Jalan Kerinchi, 59200 Kuala Lumpur, Malaysia and DNT has appointed DP as its Business Partner to provide the relevant services including myCargo.
            2.2	In this Terms and Conditions:<br />
            a)	 Person shall include any individual, body whether corporate or unincorporated, firm or partnership.<br />
            b)	 Words importing the masculine gender shall include the feminine and neuter genders.<br />
            c)	Words importing the singular shall include the plural.<br />
            d)	Headings are for convenience of reference only.<br />

            3.	APPLICABLE FEES/CHARGES<br />
            3.1	DP has authorized DNT as its billing and collection agent for the Services.<br />
            3.2	The Subscriber shall pay all fees and charges to DNT for the Services as per the price list annexed hereto. The fees and charges payable by the Subscriber are non refundable for any reason whatsoever. The fees and charges shall include Government Services Tax (GST) and other applicable taxes (if any) payable by the Subscriber.<br />
            3.3	All payments shall be made to DNT by any modes of Payment Instrument.<br />
            3.4	All payments of fees and charges for the Services shall be made in Ringgit Malaysia.<br />
            3.5	DP reserves the right to review such fees and charges annually and to vary the same by giving 30 days notice to the Subscriber. The date of coming into force of the new fees and charges shall be the date stated in the notice.<br />
            3.6	The Subscriber shall pay or reimburse DP or DNT for any taxes, deduction, charges, stamp, transaction and withholdings (together with any related interest/charges, penalties, fines and expenses) in connection with the Services. The Subscriber shall provide DP or DNT with such documentation, declarations, certifications and information as DP or DNT may require in connection with any taxes. The Subscriber warrants that such information is true and correct in every respect and shall immediately notify DP or DNT if any information requires updating or correction.<br />

            4.		VARIATION OF SERVICES<br />
            The Services provided by DP may be modified, enhanced, substituted, suspended or removed by DP by giving 30 days prior written notice to the Subscriber.<br />


            5.		SECURITY RESPONSIBILITIES<br />
            5.1	Each Subscriber is responsible for the confidentiality of the password, user identification number or other security device assigned by DP to that Subscriber. Each Subscriber shall ensure that only duly authorized persons shall use such password, user identification number or other security device.<br />
            5.2	DP hereby disclaims all responsibility and liability for the acts or omissions of the 	Subscriber in this area.<br />

            6.	LIABILITY LIMITATION<br />
            6.1	DP shall not be liable for any Loss that the Subscriber may suffer or incur arising from or in connection with our execution, non-execution or delayed execution of any incorrect or incomplete information or instruction from the Subscriber.<br />
            6.2	DP shall have no liability for any Loss that the Subscriber may suffer or incur arising from any loss or theft of any Payment Instrument or Security Code.<br />
            6.3	DP shall not be liable for any Loss of any nature which the Subscriber may suffer or incur in relation to the Services that DP provides, save for any direct Loss attributable to DP’s gross negligence or wilful misconduct. The Subscriber agrees that unless otherwise expressly provided, DP will provide the Services as independent contractor, not as agent and the Subscriber agrees that the Services which DP provides to the Subscriber will not give rise to any fiduciary or trustee duties on its part.<br />
            6.4	Failure by DP to demand performance of any terms herein shall not be deemed a waiver of any of DP's rights under any provision of this Terms and Conditions and in particular, without limiting the generality of the foregoing, shall not be deemed 	a waiver of DP's right to demand performance of any provision of this Terms and Conditions at any time and further shall not render DP liable to the Subscriber for the default of any other Subscriber.<br />

            7.		INDEMNITY<br />
            7.1	The Subscriber shall indemnify and hold DP, harmless from and against any and 	all Losses resulting directly or indirectly from DP providing the Services to the Subscriber including those arising from: (a) DP’s acceptance or execution of any instruction issued by the Subscriber’s authorized person; (b) DP’s payment of any taxes interest/charges or penalty otherwise due from the Subscriber and paid on behalf of the Subscriber or from which DP has incurred on the Subscriber’s behalf as a result of the provision of the Services. Any amount due from the Subscriber to DP under this paragraph is payable on DP’s demand.<br />
            7.2	The Subscriber shall indemnify DP from any claims, suits, actions, liabilities, and 	costs of any kind resulting directly or indirectly from any acts or omissions by the Subscriber.<br />


            8.		INFORMATION<br />
            8.1	The Subscriber agrees that any information provided to DP is accurate, complete and up-to-date. If there is/are changes to the information provided, the Subscriber must immediately notify and provide details of such changes to DP.<br />
            8.2	DP shall treat all information provided by the Subscriber as confidential. DP will only process and use the personal information that DP’s collect from the Subscriber for the purposes of providing the Services, update the information about the Services and other services which DP consider may be of the interest to the Subscriber.<br />
            8.3	The Subscriber agrees and consents that DP may disclose, share or submit the information such as Purchase Order, Invoices, Bill of Lading, Insurance, trading or transaction information etc. to: (i) the Holding Company, (ii) any associated or subsidiaries corporation of the Holding Company, (iii) insurance company and licensed financial institutions which provide or will be providing the financing in relation to the Services and insurance company, (iv) DP’s service provider or professional advisor, who is under a duty of confidentiality in respect of such information, (v) any actual or potential participant or transferee of DP’s rights and obligations under this Agreement, or (vi) Government of Malaysia or other regulatory body or as required by laws.<br />
            8.4	For the purpose of providing the Services herein, the Subscriber hereby agrees, consents and expressly authorizes DP to: (i) procure or obtain all its relevant data or information including the Customs and trading or transaction data or information from other corporation(s) who retain such data or information, (ii) analyze its data and generate Business Intelligence (BI) report, and (iii) provide BI report to the relevant financial institutions and insurance company.<br />

            9.	CONFIDENTIALITY AND USE OF DATA<br />
            9.1	Save as provided herein DP shall as far as reasonably practicable take all appropriate steps as to safeguards and maintain the confidentiality of all information provided or transmitted in relation to the Services.<br />
            9.2	DP shall be entitled to use all the relevant data as stated in clause 8.4 above for the purposes of building up, updating, and providing its database access service or other value-added service that it may introduce from time to time. DP shall ensure that access to the information provided by such Services shall be limited only to information or data which are not prejudicial to the commercial interests of the Subscriber. No warranty or representation is, however, given as to the accuracy; completeness or usefulness of any data and each Subscriber using such Services assumes sole responsibility for use of the same.<br />

            10.		AUDIT<br />
            DP shall cause to be undertaken a regular audit both by its own internal auditors and independent external auditors of its computer systems to ensure integrity and security.<br />

            11.		SUBSCRIPTION PERIOD<br />
            The Subscription of the Services shall be valid for a minimum period of one (1) year from the Effective Date. It shall be automatically renewed on yearly basis unless otherwise terminated by either party by giving thirty (30) days written notice.<br />

            12.		TERMINATION OF SERVICES<br />
            12.1	The subscription of the Subscriber to the Services may be terminated without cause or reason by DP by giving 30 days notice in writing to the Subscriber after one (1) year from the Effective Date.<br />
            12.2	DP reserves the right to cease immediately to provide the Services and terminate the Subscriber's subscription forthwith if that Subscriber shall go into liquidation or commit an act of bankruptcy or a receiver or receiver and manager or official assignee is appointed over the assets of the Subscriber or the 	Subscriber fails to pay any amounts due and payable to DP or the Subscriber (intentionally or not intentionally) provides wrong or false information or breaches any of this Terms and Conditions.<br />
            12.3	Any termination of the Services pursuant to Clause 12.1 or 12.2 above shall be without prejudice to any other rights or remedies of DP may be entitled herein or at law including recovering from the Subscriber any Loss resulting from the termination.<br />

            13.	ASSIGNMENT<br />
            The rights and obligations of the Subscriber to the provision of the Services by DP shall not be transferred, assigned, novated, leased or licensed to any other person, body or entity without the prior written consent of DP.<br />

            14.		NOTICE<br />
            Any notice which is required or permitted to be given by one party to the other may be given by hand delivery, by registered mail directed to the other party's address set forth in this Agreement or to such other address as may be substituted by notice to the other party, or by means of an electronic transmission (i.e. by facsimile or electronic-mail) followed by a hard copy within seven (7) days. Notices will be deemed effective on the same business day if delivered by hand or sent by electronic means and on the date of posting if sent by post.<br />

            15.		LEGAL COSTS AND GOVERNMENT TAXES<br />
            The Subscriber shall bear all legal cost of expenses incurred by DP on a solicitor and client basis in recovering any monies, charges, costs or expenses due and payable by the Subscriber for the Services or in bringing any action or proceeding to recover any monies, charges, costs or expenses payable by the Subscriber. The Subscriber shall also bear all Governmental Taxes, Levies and any cost imposed by Law.<br />


            16.		GOVERNING LAW<br />
            This Terms and Conditions shall be governed by and construed in accordance with the laws of Malaysia and the parties hereto agree to submit to the jurisdiction of the courts of Malaysia.<br />

            17.		PERSONAL DATA PROTECTION ACT 2010<br />
            17.1	DP is committed to protecting the Subscriber’s privacy as its valued customers and pledge to comply with the Personal Data Protection Act (“PDPA”) 2010.<br />
            17.2	Any personal information (“Personal Data”) in respect of commercial transactions that relates directly or indirectly to the Subscriber as an individual, that had been collected, processed and retained by DP is protected under DP’s Privacy Policy, formulated in pursuant to the PDPA 2010.<br />
            17.3	The Subscriber may refer to DP’s Privacy Policy at www.dnex.com.my/privacy-policy to understand how DP manages the Personal Data. The Subscriber may email to pdpa@dnex.com.my  for additional enquiries.<br />

        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 pull-center">
        <a href="javascript:;" class="btn btn-primary" ng-click="nextTab()">Next</a>
    </div>
</div>
