﻿<section class="content">
    <div class="row" style="margin-top: 0px;">
        <div class="col-md-1">
            <label class="control-label pull-right">Origin</label>
        </div>
        <div class="col-md-2">
            <input type="text"
                   class="form-control input-sm ac"
                   ng-class="{'loadinggif': vs.LoadingPortTextLoading}"
                   placeholder="Loading Port"
                   ng-model="vs.LoadingPortText"
                   typeahead-min-length="3"
                   uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                   typeahead-loading="vs.LoadingPortTextLoading"
                   typeahead-wait-ms="1000"
                   typeahead-on-select="PortSelected($item, 'LoadingPort')" />
        </div>
        <div class="col-md-1">
            <label class="control-label pull-right nowrapCss">Destination</label>
        </div>
        <div class="col-md-2">
            <input type="text"
                   class="form-control input-sm ac"
                   ng-class="{'loadinggif': vs.DestinationPortTextLoading}"
                   placeholder="Destination Port"
                   ng-model="vs.DestinationPortText"
                   typeahead-min-length="3"
                   uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                   typeahead-loading="vs.DestinationPortTextLoading"
                   typeahead-wait-ms="1000"
                   typeahead-on-select="PortSelected($item, 'DestinationPort')" />
        </div>
        <div class="col-md-1">
            <label class="control-label pull-right">ETD</label>
        </div>
        <div class="col-md-2">
            <div class="input-group"
                 moment-picker="vs.ETD"
                 format="MM/DD/YYYY" min-view="month">
                <input class="form-control input-sm"
                       placeholder="Start Date"
                       ng-model="vs.ETD"
                       ng-model-options="{ updateOn: 'blur' }">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary input-sm" ng-click="Search(vs);">
                <i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search
            </button>
        </div>
    </div>
    <section class="content">
        <!--
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3" ng-repeat="vessel in results">
                <div class="small-box bg-light-blue disabled color-palette">
                    <div class="inner">
                        {{vessel.VesselName}} / {{vessel.VoyageNo}}<br />
                        {{vessel.LoadingPortName}} - {{vessel.DestinationPortName}}<br />
                        {{vessel.AgentName}} - {{vessel.TerminalName}}<br />
                        {{vessel.ETD | date:'medium'}}
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-3" ng-show="results.length <= 0" style="padding-left:50px;">
                <h4>No data found...</h4>
            </div>
        </div>
            -->
        <!--
        <div class="row" style="margin-top: 10px;" ng-repeat="vessel in results">
            <div class="col-md-3">
                <div class="well">
                    <div class="inner">                        
                        {{vessel.ETD | date:'medium'}}
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-9">
                <div ng-repeat="detail in vessel.vesselScheduleList" class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        <i class="fa fa-ship" aria-hidden="true"></i>&nbsp;<b>VesselScheduleID</b>&nbsp;{{detail.VesselScheduleID}} / <b>VoyageNo</b>&nbsp;{{detail.VoyageNo}}<br/>
                        <b>Terminal</b>&nbsp;{{detail.VesselScheduleID}} / <b>DestinationPortName</b>&nbsp; {{detail.DestinationPortName}} <span style="text-decoration:underline">({{detail.ActualETD}})</span>
                    </div>                    
                </div>
            </div>
        </div>
            -->

        <div class="row" ng-repeat="vessel in results">
            <div class="box box-default box-solid">                
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="">
                                <div style="text-align:center;vertical-align:central !important;display:block;">
                                    <b>ETA: {{vessel.ETD | date:'medium'}}</b>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div ng-repeat="detail in vessel.vesselScheduleList" class="row">
                                <div class="col-md-12">

                                    <img src="../../../images/Vessel-Image.png" height="100" width="150" />&nbsp;<b>Vessel Name</b>&nbsp;{{detail.VesselName}} / <b>Voyage No</b>:&nbsp;{{detail.VoyageNoInWard}}<br />
                                    <b>Terminal</b>&nbsp;{{detail.VesselScheduleID}} / <b>&nbsp;&nbsp;Destination Port</b>&nbsp; {{detail.DestinationPortName}} <span style="text-decoration:underline">({{detail.ActualETD}})</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            
        </div>
    </section>
</section>
