﻿<form id="frmHoldStatus" name="frmHoldStatus" ng-class="{'submitted': submitted}" ng-submit="SaveHoldStatus(hs);" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Add Hold Status</h4>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3">
                <label class="control-label pull-right">Code</label>
            </div>
            <div class="col-md-9">
                <input type="text" ng-model="hs.Code" ng-required="true" class="form-control input-sm" ng-readonly="truefalse"/>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3">
                <label class="control-label pull-right">Description</label>
            </div>
            <div class="col-md-9">
                <textarea type="text" ng-model="hs.Description" ng-required="true" class="form-control input-sm"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <md-switch class="md-primary" aria-label="Is Order" ng-model="hs.IsOrder">Is Order</md-switch>
            </div>
            <div class="col-md-3">
                <md-switch class="md-primary" aria-label="Is Container" ng-model="hs.IsContainer">Is Container</md-switch>
            </div>
            <div class="col-md-3">
                <md-switch class="md-primary" aria-label="Is Cargo" ng-model="hs.IsCargo">Is Cargo</md-switch>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">            
            <div class="col-md-3">
                <label class="control-label pull-right">Mapping Code</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="hs.MappingCode" ng-required="true" class="form-control input-sm" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-7"></div>
            <div class="col-md-5 pull-right">
                <button class="btn btn-primary" type="submit" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>