<section class="content" ng-controller="DriverAssignmentCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Driver Assignment</h3>
        </div>
        <div class="box-body">
            <div class="row">
            	<div class="col-md-2">
            		<label class="control-label pull-right">Group</label>
            	</div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right">Year</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-2">
                    <table  class="table table-bordered">
                        <thead style="color:#fff;background-color: #97c5ea;">
                            <tr>
                                <th>Day</th>
                                <th>Zone</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-10">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color: #97c5ea;">
                            <tr>
                                <th>Select</th>
                                <th>Driver Id</th>
                                <th>Driver Name</th>
                                <th>Truck Id</th>
                                <th>Reg No</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>            
        </div>
    </div>
</section>