﻿<form id="frmClause" name="frmClause" ng-class="{'submitted':submitted}" ng-submit="SaveClause(cl)" novalidate>
    <style type="text/css">
        .box.box-solid.box-default {
            border: 0px solid #d2d6de;
        }
    </style>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Clause</h4>
    </div>
    <div class="modal-body">
       
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Clause Code</label>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control input-sm"
                                        ng-model="cl.ClauseCode" name="cl.ClauseCode"
                                        ng-required="true"
                                        ng-options="s.Value as s.Text for s in lookUpData.clauseTypeList"
                                        ng-change="cl.ClauseText=(lookUpData.clauseTypeList | filter : {Value:cl.ClauseCode})[0].ClauseText"></select>

                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Clause Text</label>
                            </div>
                            <div class="col-md-9">
                                <textarea class="form-control input-sm" rows="5" ng-model="cl.ClauseText" name="cl.ClauseText"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
          
            <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        

    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-6"></div>
            <div class="col-md-6 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true;" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>

</form>
