<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Add CFS</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top:10px;">
        <div class="row">
        	<div class="col-md-2">
        		<label class="control-label pull-right">Code</label>
        	</div>
        	<div class="col-md-4">
        		<input type="text" class="form-control input-sm" />
        	</div>
        </div>
        <div class="row" style="margin-top:10px;">
        	<div class="col-md-2">
        		<label class="control-label pull-right">Description</label>
        	</div>
        	<div class="col-md-9">
        		<textarea class="form-control input-sm"></textarea>
        	</div>
        </div>
        <div class="row" style="margin-top:10px;">
        	<div class="col-md-2">
        		<label class="control-label pull-right">VAS Charge Code</label>
        	</div>
        	<div class="col-md-4">
        		<select class="form-control input-sm"></select>
        	</div>
        	<div class="col-md-5">
        		<input type="text" class="form-control input-sm" />
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-6">
        		<div class="row" style="margin-top:10px;">
		        	<div class="col-md-4">
		        		<label class="control-label pull-right">Permit No.</label>
		        	</div>
		        	<div class="col-md-8">
		        		<select class="form-control input-sm"></select>
		        	</div>
		        </div>
		        <div class="row" style="margin-top:10px;">
		        	<div class="col-md-4">
		        		<label class="control-label pull-right">Location Code</label>
		        	</div>
		        	<div class="col-md-8">
		        		<select class="form-control input-sm"></select>
		        	</div>
		        </div>
		        <div class="row" style="margin-top:10px;">
		        	<div class="col-md-4">
		        		<label class="control-label pull-right">Stock Room</label>
		        	</div>
		        	<div class="col-md-8">
		        		<select class="form-control input-sm"></select>
		        	</div>
		        </div>
		        <div class="row" style="margin-top:10px;">
		        	<div class="col-md-4">
		        		<label class="control-label pull-right">Quantity</label>
		        	</div>
		        	<div class="col-md-8">
		        		<select class="form-control input-sm"></select>
		        	</div>
		        </div>
		    </div>
		    <div class="col-md-6">
		    	<div class="row" style="margin-top:10px;">
		    		<div class="col-md-11">
		    			<div class="box box-default box-solid">
				    		<div class="box-body">
					            <div class="row">
					            	<div class="col-md-12">
					            		<md-checkbox class="md-primary" aria-label="Fumigation">Fumigation</md-checkbox>
					            	</div>
					            </div>
					            <div class="row" style="margin-top:10px;">
					            	<div class="col-md-5">
					            		<label class="control-label pull-right">Default Stock Room</label>
					            	</div>
					            	<div class="col-md-7">
					            		<select class="form-control input-sm"></select>
					            	</div>
					            </div>
					            <div class="row" style="margin-top:10px;">
					            	<div class="col-md-5">
					            		<label class="control-label pull-right">Default Location Code</label>
					            	</div>
					            	<div class="col-md-7">
					            		<select class="form-control input-sm"></select>
					            	</div>
					            </div>
					        </div>
				    	</div>
		    		</div>		    		
		    	</div>		    	
		    </div>
        </div>   
        <div class="row" style="margin-top:10px;">
        	<div class="col-md-1"></div>
        	<div class="col-md-11">
        		<md-checkbox class="md-primary" aria-label="Stop Storage Calculation">Stop Storage Calculation</md-checkbox>
        	</div>        	
        </div>
        <div class="row" style="margin-top:10px;">
        	<div class="col-md-1"></div>
        	<div class="col-md-11">
        		<md-checkbox class="md-primary" aria-label="Required Work Flow">Required Work Flow</md-checkbox>
        	</div>        	
        </div>     
    </div>
</div>
<div class="modal-footer">
    <div class="row" style="margin-top:10px;">
        <div class="col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>
