﻿
<form id="frmCustomerCashBill" name="frmCustomerCashBill" ng-class="{'submitted':submitted}" ng-submit="SaveCustomerCashBill(cb)" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Customer Cash Bill</h4>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Order No.</label>
            </div>
            <div class="col-md-2">
                 <input type="text"
                    class="form-control input-sm"
                    placeholder="Search Order No"
                    ng-model="cb.OrderNo"
                    typeahead-min-length="3"
                    uib-typeahead="d.Text as d.Text for d in OrderNoResults($viewValue)"
                    typeahead-loading="loading"
                    typeahead-wait-ms="1000"
                    typeahead-on-select="OrderNoSelected($item, 'OrderNo')" />               
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Job No.</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm" ng-model="cb.JobNo"></select>
            </div>
            <!--<div class="col-md-4">
            <label class="control-label pull-left">Remarks</label>
            <textarea class="form-control input-sm"></textarea>
        </div>-->
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Container No.</label>
            </div>
            <div class="col-md-2">
                 <input type="text"
                    class="form-control input-sm"
                    placeholder="Search Container No"
                    ng-model="cb.ContainerNo"
                    typeahead-min-length="3"
                    uib-typeahead="d.Text as d.Text for d in ContainerNoResults($viewValue)"
                    typeahead-loading="loading"
                    typeahead-wait-ms="1000"
                   typeahead-on-select="ContainerNoSelected($item, 'ContainerNo')" />
            
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Prd Category</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm" ng-model="cb.ProductCategory" ng-options="s.Value as s.Text for s in lookupData.productCategoryList" ng-required="required"></select>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Charge Code</label>
            </div>
            <div class="col-md-6">              
                <input type="text"
                    class="form-control input-sm"
                    placeholder="Search Charge Code"
                    ng-model="cb.ChargeCode"
                    typeahead-min-length="3"
                    uib-typeahead="d.Text as d.Text for d in ChargeCodeResults($viewValue)"
                    typeahead-loading="loading"
                    typeahead-wait-ms="1000"
                    ng-required="required"
                    typeahead-on-select="ChargeCodeSelected($item, 'ChargeCode')" />
            </div>            
        </div>
         <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="label-control pull-right">Output GST Code</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" ng-model="cb.OutPutGSTDescription" ng-required="required"/>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="label-control pull-right">Input GST Code</label>
                    </div>
                    <div class="col-md-6">
                       <input type="text" class="form-control input-sm" ng-model="cb.InPutGSTDescription" ng-required="required"/>
                    </div>
                </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Billing Unit</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"
                    ng-model="cb.BillingUnit"
                    ng-required="required"
                    ng-options="s.Value as s.Text for s in lookupData.billingUnitList"
                    ng-change="cb.BillingUnitDescription=(lookupData.billingUnitList | filter : {Value:cs.BillingUnit})[0].Text">
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Currency</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"
                    ng-model="cb.CurrencyCode"
                    ng-required="required"
                    ng-options="s.Value as s.Text for s in lookupData.currencyList"
                    ng-change="SelectCurrencyCode(cb.CurrencyCode)"
                    <!--ng-change="cb.CurrencyCodeDescription=(lookupData.currencyList | filter : {Value:cs.CurrencyCode})[0].Text">-->
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Amount With Tax</label>
            </div>
            <div class="col-md-2">                
                 <label class="control-label" ng-model="cb.TotalAmount">{{cb.TotalAmount}} </label>    
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Quantity</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm logiconNumber" ng-model="cb.Qty" ng-change="CaliculateAmounts()" ng-required="required"/>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Exchange Amount</label>
            </div>
            <div class="col-md-2">
                
                 <label class="control-label logiconDecimal" ng-model="cb.ExRate">{{cb.ExRate}} </label>    
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Local Amount</label>
            </div>
            <div class="col-md-2">
                <label class="control-label" ng-model="cb.LocalAmount">{{cb.LocalAmount}} </label>                
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Unit Price</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm logiconDecimal" ng-model="cb.Price" ng-change="CaliculateAmounts()" ng-required="required"/>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Tax Amount</label>
            </div>
            <div class="col-md-2">
                <label class="control-label" ng-model="cb.TaxAmount">{{cb.TaxAmount}} </label>  
            </div>
        </div>
       <!-- <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">GST Code</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-model="cb.OutPutGSTDescription"/>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="cb.InPutGSTDescription"/>
            </div>
        </div>-->
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Remarks</label>
            </div>
            <div class="col-md-9">
                <textarea class="form-control input-sm" ></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">

                <button class="btn btn-primary btn-sm" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>





<!--<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Cost Sheet</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top:10px;">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    <label class="label-control pull-right">Container No.</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control input-sm" ng-model="cs.ContainerNo"></select>
                </div>
                <div class="col-md-3">
                    <label class="label-control pull-right">Job No.</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control input-sm" ng-model="cs.JobNo"></select>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3">
                    <label class="label-control pull-right">Container Key</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control input-sm" ng-model="cs.ContainerKey"></select>
                </div>
                <div class="col-md-3">
                    <label class="label-control pull-right">Prd Category</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control input-sm" ng-model="cs.ProductCategory" ng-options="s.Value as s.Text for s in lookupData.productCategoryList"></select>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3">
                    <label class="label-control pull-right">Charge Code</label>
                </div>
                <div class="col-md-9">
                    <select class="form-control input-sm" ng-model="cs.ChargeCode"></select>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3">
                    <label class="label-control pull-right">Output GST Code</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-3">
                    <label class="label-control pull-right">Input GST Code</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3">
                    <label class="label-control pull-right">Vendor</label>
                </div>
                <div class="col-md-9">
                    <select class="form-control input-sm" ng-model="cs.VendorCode" ng-options="s.Value as s.Text for s in lookupData.vendorList"></select>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3">
                    <label class="label-control pull-right">Remarks</label>
                </div>
                <div class="col-md-9">
                    <textarea type="text" class="form-control input-sm" ng-model="cs.Remark"></textarea>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3">
                    <label class="label-control pull-right">Billing Unit</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control input-sm" ng-model="cs.BillingUnit" ng-options="s.Value as s.Text for s in lookupData.billingUnitList"></select>
                </div>
                <div class="col-md-3">
                    <label class="label-control pull-right">Currency</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control input-sm" ng-model="cs.CurrencyCode" ng-options="s.Value as s.Text for s in lookupData.currencyList"></select>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3">
                    <label class="label-control pull-right">Quantity</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" ng-model="cs.Qty" />
                </div>
                <div class="col-md-3">
                    <label class="label-control pull-right">Exchange Rate</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" ng-model="cs.ExchangeRate" />
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3">
                    <label class="label-control pull-right">Price</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" ng-model="cs.Price" />
                </div>
                <div class="col-md-3">
                    <label class="label-control pull-right">Tax Amount</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" ng-model="cs.TaxAmount" />
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="label-control pull-right">Actual Amount</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" ng-model="cs.ActualAmount" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-6">
                            <label class="label-control pull-right">Discount Type</label>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control input-sm" ng-model="cs.DiscountType" ng-options="s.Value as s.Text for s in lookupData.discountTypeList" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-6">
                            <label class="label-control pull-right">Discount Amount</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" ng-model="cs.DiscountAmount" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-6">
                            <label class="label-control pull-right">Total Amount</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" ng-model="cs.TotalAmount" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row" style="margin-top:10px;">
        <div class="col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="SaveCoseSheet(cs);"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>


-->
