﻿<section class="content" ng-controller="FuelUsageCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Fuel Usage (Transport)</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="AddFuelUsage();">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Truck ID</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <select class="form-control input-sm"></select>
                        <span class="input-group-btn dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="well well-sm" style="min-height: 250px;">
                        <table class="table table-bordered">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th>Voucher No.</th>
                                    <th>Vendor Code</th>
                                    <th>Vendor Name</th>
                                    <th>Driver ID</th>
                                    <th>Driver Name</th>
                                    <th>Odometer</th>
                                    <th>Distance Travel</th>
                                    <th>Usage Date</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total Amt.</th>
                                    <th>Remark</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>
