﻿<section class="content" ng-controller="driverpaymentbreakdown">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Driver Payment Breakdown(Haulage)</h3>
            <div class="box-tools pull-right">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddBreakdown();">
                    <i class="fa fa-plus fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Driver ID</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Prepare Date</label>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm datepicker"
                                       ng-model="vs.ImpAvaliableDate"
                                       ng-required="true"
                                       date-time-input="MM/DD/YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="vs.ImpAvaliableDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Remarks</label>
                </div>
                <div class="col-md-4">
                    <textarea class="form-control input-sm"></textarea>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Date From</label>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm datepicker"
                                       ng-model="vs.ImpAvaliableDate"
                                       ng-required="true"
                                       date-time-input="MM/DD/YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="vs.ImpAvaliableDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm datepicker"
                                       ng-model="vs.ImpAvaliableDate"
                                       ng-required="true"
                                       date-time-input="MM/DD/YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="vs.ImpAvaliableDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                   <div class="well well-sm">
                       <table class="table table-bordered">
                           <thead style="color:#fff;background-color:#97c5ea;">
                               <tr>
                                   <th>Order No.</th>
                                   <th>JOb No.</th>
                                   <th>Container No.</th>
                                   <th>Size</th>
                                   <th>Movement</th>
                                   <th>End Date</th>
                                   <th>End Time</th>
                                   <th>Amount</th>
                                   <th>Adjustment</th>
                                   <th>Pickup Area</th>
                                   <th>Delivery Area</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>