﻿<div style="margin: 5px 5px 5px 5px">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-5">
            <label class="control-label pull-right">Filter By</label>
        </div>
        <div class="col-md-7">
            <select class="form-control input-sm"
                    ng-model="filterBy"
                    ng-options="s.Value as s.Text for s in lookUpData.filterTypeList"></select>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-5">
            <label class="control-label pull-right nowrapCss">Movement Status</label>
        </div>
        <div class="col-md-7">
            <select class="form-control input-sm"
                    ng-model="movementStatus"
                    ng-options="s.Value as s.Text for s in lookUpData.stateTypeList"></select>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-5">
            <label class="control-label pull-right">Trailer Type</label>
        </div>
        <div class="col-md-7">
            <select class="form-control input-sm"
                    ng-model="trailerType"
                    ng-options="s.Value as s.Text for s in lookUpData.trailerTypeList"></select>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-5">
            <label class="control-label pull-right">Order No.</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-5">
            <label class="control-label pull-right">Container No.</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-5">
            <label class="control-label pull-right">Liner Ref.</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-5">
            <label class="control-label pull-right">Pickup From</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-5">
            <label class="control-label pull-right">Deliver To</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-5">
            <label class="control-label pull-right">Pickup Area</label>
        </div>
        <div class="col-md-7">
            <select class="form-control input-sm"></select>
        </div>
    </div> 
</div>
