﻿<form name="frmVesselMaster" id="frmVesselMaster" ng-submit="AddVesselMaster(vessel)" ng-class="{'submitted':submitted}" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Add/Edit Vessel Master </h4>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Vessel ID</label>
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="vessel.VesselID" class="form-control input-sm" ng-required="true" ng-readonly="truefalse"/>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Vessel Name</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="vessel.VesselName" class="form-control input-sm" ng-required="true" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Lloyds No.</label>
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="vessel.LloydID" class="form-control input-sm" ng-required="true" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Country Code</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm" ng-model="vessel.CountryCode" ng-options="c.CountryCode as c.CountryName for c in countryDataList" ng-required="true"></select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-6"></div>
            <div class="col-md-6 pull-right">
                <button class="btn btn-primary btn-sm" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>
