﻿<form id="frmTruck" name="frmTruck" ng-class="{'submitted': submitted}" ng-submit="SaveTruck(t)" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Add Truck</h4>
    </div>
    <div class="modal-body" style="width:1000px;">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-7">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Truck ID</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="t.TruckID" class="form-control input-sm" ng-readonly="truefalse"/>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">Freight Mode</label>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="t.FreightMode"
                                ng-options="s.Value as s.Text for s in lookUpData.freightModeList" class="form-control input-sm" ng-required="true"></select>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Reg. No.</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="t.RegistrationNo" class="form-control input-sm" ng-required="true"/>
                    </div>
                    
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">Truck Size</label>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="t.TruckSize" 
                                ng-options="s.Value as s.Text for s in lookUpData.sizeList"
                                ng-change="sizeChanged()"
                                class="form-control input-sm" ng-required="true"></select>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Model</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="t.Model" class="form-control input-sm" ng-required="true"/>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">Truck Type</label>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="t.TruckType" ng-disabled="t.TruckSize == null"
                                ng-options="s.Value as s.Text for s in lookUpData.TypeList" class="form-control input-sm" ng-required="true"></select>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Engine No.</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="t.EngineNo" class="form-control input-sm" ng-required="true"/>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Status</label>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="t.TruckStatus" ng-options="s.Value as s.Text for s in lookUpData.truckStatusTypeList" class="form-control input-sm" ng-required="true"></select>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">Default Trailer</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" ng-model="t.TrailerID1" class="form-control input-sm ac" ng-required="true"/>                        
                    </div>                    
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">Default Driver</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': t.DriverID1NameLoading}"
                               placeholder="Search Driver"
                               ng-model="t.DriverID1Name"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in DriverResults($viewValue)"
                               typeahead-loading="t.DriverID1NameLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               ng-required="true"
                               typeahead-on-select="CustomerSelected2($item, 'DriverID1')" />                        
                    </div>                    
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">Vendor</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': t.VendorNameLoading}"
                               placeholder="Search Agent"
                               ng-model="t.VendorName"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in VendorResults($viewValue)"
                               typeahead-loading="t.VendorNameLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               ng-required="true"
                               typeahead-on-select="CustomerSelected2($item, 'VendorCode')" />
                    </div>                    
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">Remarks</label>
                    </div>
                    <div class="col-md-10">
                        <textarea class="form-control input-sm" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right nowrapCss">Base Location</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm" ng-model="t.BaseLocation" ng-required="true">
                            <option value="1001">location 1</option>
                            <option value="1002">location 2</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <md-switch class="md-primary" ng-model="t.IsOwn" aria-label="Own Truck">Own Truck</md-switch>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right nowrapCss">Current Area</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="t.CurrentArea" class="form-control input-sm" ng-required="true"/>
                    </div>
                    <div class="col-md-5">
                        <md-switch class="md-primary" ng-model="t.IsDGEquipped" aria-label="DG Equipped">DG Equipped</md-switch>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right nowrapCss">Last Odometer</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="t.LastOdoMeter" class="form-control input-sm" ng-required="true"/>
                    </div>
                    <div class="col-md-5">
                        <md-switch class="md-primary" ng-model="t.IsRequireTrailer" aria-label="DG Equipped">Req. Trailer</md-switch>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right nowrapCss">Next Service</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="t.NextServiceKM" class="form-control input-sm" ng-required="true"/>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right nowrapCss">Next Service Date</label>
                    </div>
                    <div class="col-md-4">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="NextServiceDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control input-sm datepicker"
                                           ng-model="t.NextServiceDate"
                                           ng-required="true"
                                           date-time-input="MM/DD/YYYY">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="t.NextServiceDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#NextServiceDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right nowrapCss">Manufactured Date</label>
                    </div>
                    <div class="col-md-4">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="ManufactureDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control input-sm datepicker"
                                           ng-model="t.ManufactureDate"
                                           ng-required="true"
                                           date-time-input="MM/DD/YYYY">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="t.ManufactureDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#ManufactureDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>


