﻿<section class="content" ng-controller="DriverMasterCntrl">
    <form id="frmDriver" name="frmDriver" ng-class="{'submitted': submitted}" ng-submit="SaveDriver(d)" novalidate>


        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Driver Master</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Driver ID</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" ng-model="d.DriverID" class="form-control input-sm" ng-readonly="truefalse"/>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Branch Code</label>
                            </div>
                            <div class="col-md-4">
                                <select ng-model="d.BranchID" ng-required="true"
                                        ng-options="s.Value as s.Text for s in lookUpData.branchList"
                                        class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Driver Name</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" ng-model="d.DriverName" ng-required="true" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <md-switch ng-model="d.IsActive" class="md-primary" md-no-ink aria-label="Active Account">Active Account</md-switch>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Details" class="md-primary">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Vendor</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text"
                                                           class="form-control input-sm ac"
                                                           ng-class="{'loadinggif': d.VendorNameLoading}"
                                                           placeholder="Search Agent"
                                                           ng-model="d.VendorName"
                                                           typeahead-min-length="3"
                                                           uib-typeahead="d.Text as d.Text for d in VendorResults($viewValue)"
                                                           typeahead-loading="d.VendorNameLoading"
                                                           typeahead-wait-ms="100"
                                                           typeahead-editable="false"
                                                           ng-required="true"
                                                           typeahead-on-select="CustomerSelected2($item, 'VendorCode')" />
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Driver Type</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select ng-model="d.DriverType" ng-required="true"
                                                            ng-options="s.Value as s.Text for s in lookUpData.driverTypeList"
                                                            class="form-control input-sm"></select>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Freight Mode</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select ng-model="d.FreightMode" ng-required="true"
                                                            ng-options="s.Value as s.Text for s in lookUpData.freightModeList"
                                                            class="form-control input-sm"></select>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Date Joined</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" id="JoinDate" role="button" data-toggle="dropdown">
                                                            <div class="input-group">
                                                                <input type="text"
                                                                       class="form-control input-sm datepicker"
                                                                       ng-model="d.JoinDate"
                                                                       ng-required="true"
                                                                       date-time-input="MM/DD/YYYY">
                                                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker ng-model="d.JoinDate"
                                                                            data-datetimepicker-config="{ dropdownSelector: '#JoinDate', startView:'day', minView:'day' }" />
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Date Resigned</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" id="ResignDate" role="button" data-toggle="dropdown">
                                                            <div class="input-group">
                                                                <input type="text"
                                                                       class="form-control input-sm datepicker"
                                                                       ng-model="d.ResignDate"
                                                                       ng-required="true"
                                                                       date-time-input="MM/DD/YYYY">
                                                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker ng-model="d.ResignDate"
                                                                            data-datetimepicker-config="{ dropdownSelector: '#ResignDate', startView:'day', minView:'day' }" />
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">IC No.</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" ng-model="d.ICNo" ng-required="true" class="form-control input-sm" />
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:10px;">

                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Address</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" ng-model="d.address.Address1" class="form-control input-sm" ng-required="true"/>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right"></label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" ng-model="d.address.Address2" class="form-control input-sm" ng-required="true"/>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Post Code</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" ng-model="d.address.ZipCode" class="form-control input-sm" ng-required="true"/>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="control-label pull-right">City / Suburb</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" ng-model="d.address.City" class="form-control input-sm" ng-required="true"/>                                                    
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">State</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" ng-model="d.address.State" class="form-control input-sm" ng-required="true"/>                                                    
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Country</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select ng-model="d.address.CountryCode"
                                                            ng-options="s.CompanyCode as s.CompanyName for s in CountriesList" class="form-control input-sm" ng-required="true"></select>
                                                </div>                                                
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Tel No.</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input ng-model="d.address.TelNo" type="text" class="form-control input-sm" ng-required="true"/>
                                                </div>
                                                
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Fax No.</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input ng-model="d.address.FaxNo" type="text" class="form-control input-sm" ng-required="true"/>
                                                </div>
                                                <div class="col-md-1">
                                                    <label class="control-label pull-right" style="white-space:nowrap;">Mobile No.</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input ng-model="d.address.MobileNo" type="text" class="form-control input-sm" ng-required="true"/>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-2">
                                                    <label class="control-label pull-right">Email</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input ng-model="d.address.Email" type="text" class="form-control input-sm" ng-required="true"/>
                                                </div>
                                            </div>                                           
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col-md-12">
                                                    <md-radio-group ng-model="d.IsDriver">
                                                        <md-radio-button value="true" class="md-primary">Driver</md-radio-button>
                                                        <md-radio-button value="false" class="md-primary"> Attendant </md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-sm" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                        <button class="btn btn-danger btn-sm" ng-click=""><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</button>
                        <button class="btn btn-info btn-sm" ng-click=""><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                        <button class="btn btn-warning btn-sm" ng-click=""><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>