﻿<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Company Details</h3>
    </div>
    <div class="box-body">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-1"><md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;New Company</md-button></div>
            <div class="col-md-1"><md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;New Branch</md-button></div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Company Code</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control input-sm" />
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-3">
                <md-switch class="md-primary" aria-label="Active Account">Active Account</md-switch>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Company Name</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Registration No.</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">GST No.</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Address</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Post Code</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control input-sm" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">City/Suburb</label>
            </div>
            <div class="col-md-5">
                <select class="form-control input-sm"></select>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">State</label>
            </div>
            <div class="col-md-10">
                <select class="form-control input-sm"></select>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Country</label>
            </div>
            <div class="col-md-3">
                <select class="form-control input-sm"></select>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Tel No.</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Contact</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Fax No.</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Mobile No.</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Email</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Remarks</label>
            </div>
            <div class="col-md-10">
                <textarea class="form-control input-sm"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Website</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Company Logo</label>
            </div>
            <div class="col-md-10">
                <input type="file" class="form-control input-sm" />
            </div>
        </div>
    </div>
</div>