﻿<form name="frmAddJobCategory" id="frmAddJobCategory" ng-controller="addEditJobCategoryCntrl" ng-submit="AddJobCategory(jc)" ng-class="{'submitted':submitted}" novalidate>

    <section class="content">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Add Job Category</h3>
            </div>
            <div class="box-body">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Code</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control input-sm" ng-model="jc.Code" ng-required="true" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Description</label>
                            </div>
                            <div class="col-md-9">
                                <textarea class="form-control input-sm" ng-model="jc.Description"></textarea>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Transport Type</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm"
                                        ng-model="jc.TransportMode"
                                        ng-options="s.Value as s.Text for s in lookupData.transportList"
                                        ng-change="transportTypeChanged()"
                                        ng-required="true"></select>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Job Type</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm" ng-model="jc.JobType" ng-options="s.Value as s.Text for s in lookupData.jobTypeList" ng-required="true"></select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label pull-right">Lead Time</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" placeholder="(Hour)" ng-model="jc.MinLeadTime" class="form-control input-sm" ng-required="true" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Shipment Type</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm" ng-model="jc.ShipmentType" ng-options="s.Value as s.Text for s in lookupData.shipmentTypeList" ng-required="true"></select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label pull-right">Freight Mode</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm" ng-model="jc.FreightMode" ng-options="s.Value as s.Text for s in lookupData.freightModeList" ng-required="true"></select>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Billing Rule</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm" ng-model="jc.BillingRule" ng-options="s.Value as s.Text for s in lookupData.billingRuleList" ng-required="true"></select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label pull-right">Haulage Charge Code (%)</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control input-sm" ng-model="jc.ChargePercent" ng-required="true" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <div class="box box-default box-solid">
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5>&nbsp;&nbsp;&nbsp;Modules Required</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" style="margin-top:10px;" ng-repeat="item in SubscriptionmodulesList">
                                                <md-switch class="md-primary" ng-model="jc['Is' + toCamelCase(item.Text)]" aria-label="item.ModuleID" ng-click="module(item.ModuleID, item.Text,jc.TransportMode)">{{item.Text}}</md-switch>
                                            </div>
                                            <!--<div class="col-md-6">
                                                <md-switch class="md-primary" aria-label="Freight/Fwd" ng-model="jc.IsFreight" ng-init="jc.IsFreight = false" ng-click="module('4058','IsFreight')">Freight/Fwd</md-switch>
                                            </div>
                                            <div class="col-md-6">
                                                <md-switch class="md-primary" aria-label="Haulage/Transport" ng-model="jc.IsHualage" ng-init="jc.IsHualage = false" ng-click="module('4054','IsHualage')">Haulage/Transport</md-switch>
                                            </div>
                                            <div class="col-md-6">
                                                <md-switch class="md-primary" aria-label="CY" ng-model="jc.IsDepot" ng-init="jc.IsDepot = false" ng-click="module('4055','IsDepot')">DEPOT</md-switch>
                                            </div>
                                            <div class="col-md-6">
                                                <md-switch class="md-primary" aria-label="Warehouse" ng-model="jc.IsWarehouse" ng-init="jc.IsWarehouse = false" ng-click="module('4056','IsWarehouse')">Warehouse</md-switch>
                                            </div>
                                            <div class="col-md-6">
                                                <md-switch class="md-primary" aria-label="CFS" ng-model="jc.IsCFS" ng-init="jc.IsCFS = false" ng-click="module('9151','IsCFS')">CFS</md-switch>
                                            </div>-->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <uib-tabset>
                            <uib-tab heading="Work Rules">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">Module</label>
                                            </div>
                                            <div class="col-md-8">
                                                <select class="form-control input-sm"
                                                        ng-model="selectedMovementItem"
                                                        ng-options="s.Value as s.Text group by s.ModuleTypeDescription for s in moduleList"
                                                        ng-change="movementTypeChange(selectedMovementItem)"></select><!--selectedModuleItem = (moduleList | filter:{Value:selectedMovementItem})[0].Module-->
                                            </div>
                                            <div class="col-md-2">
                                                <md-button class="md-raised md-primary" ng-disabled="jc.Code == null || selectedMovementItem == null" ng-click="addMovementItem()"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</md-button>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-12">
                                                <table class="table table-bordered table-hover">
                                                    <thead style="color:#fff;background-color: #97c5ea;">
                                                        <tr>
                                                            <td>Seq No</td>
                                                            <td>Movement Code</td>
                                                            <td>Code</td>
                                                            <td>#Action</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="mvt in JobCategoryMovements">
                                                            <td>{{mvt.SeqNo}}</td>
                                                            <td>{{mvt.MovementCode}}</td>
                                                            <td>{{mvt.Code}}</td>
                                                            <td>
                                                                <a ng-click="removeMovementItem(mvt.Code);">Remove</a>&nbsp;|&nbsp;<a ng-click="editMovementItem(mvt.MovementCode);">Edit</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Settings">
                                <div class="row">
                                    <div class="col-md-6" style="margin-top:10px" ng-repeat="jcRuleType in lookupData.jobCategoryRuleDTOList">
                                        <div class="box box-default box-solid">
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <md-checkbox aria-label="Select All"
                                                                     ng-checked="isChecked(jcRuleType.jobCategoryRuleType)"
                                                                     md-indeterminate="isIndeterminate(jcRuleType.jobCategoryRuleType)"
                                                                     ng-click="toggleAll(jcRuleType.jobCategoryRuleType)"
                                                                     class="md-primary">
                                                            <span>{{jcRuleType.jobCategoryRuleTypeDesc}}</span>
                                                        </md-checkbox>
                                                        <div ng-repeat="ruleType in jcRuleType.ruleTypeList" style="margin-left:20px;margin-top:10px;">
                                                            <div class="demo-select-all-checkboxes" flex="100">
                                                                <md-checkbox ng-checked="exists(ruleType, selected)"
                                                                             ng-click="toggle(ruleType, selected)" class="md-primary">
                                                                    {{ ruleType.ruleTypeDesc }}
                                                                </md-checkbox>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>

                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        <md-button class="md-raised md-primary" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                        <md-button class="md-raised md-clear" ng-click="backClick();"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</md-button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>