﻿<style>
    .deleted
    {
        color:red;
        text-decoration:line-through;
    }
</style>

<section class="content" ng-controller="JobCategoryCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Job Category</h3>
            <div class="box-tools pull-right">
               <!-- <button type="button" class="btn btn-box-tool" ng-click="AddJobCategory();">
                    <i class="fa fa-plus"></i>
                </button>-->
                 <md-button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddJobCategory(-1);">
                    <i class="fa fa-plus fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </md-button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="" style="min-height:250px;">
                        <table class="table table-bordered">
                            <thead style="color:#fff;background-color: #97c5ea;">
                                <tr>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Job Type</th>
                                    <th>Shipment Type</th>
                                    <th>Freight Mode</th>
                                    <th>CY</th>
                                    <th>WH</th>
                                    <th>CFS</th>
                                    <th>Rail</th>
                                    <th>#Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="jc in jcList" ng-class="IsDeleted(jc)">
                                    <td>{{jc.Code}}</td>
                                    <td>{{jc.Description}}</td>
                                    <td>{{jc.JobTypeDescription}}</td>
                                    <td>{{jc.ShipmentTypeDescription}}</td>
                                    <td>{{jc.FreightModeDescription}}</td>
                                    <td><md-checkbox class="md-primary" ng-disabled="true" aria-label="IsDepot" ng-model="jc.IsDepot"></md-checkbox></td>
                                    <td><md-checkbox class="md-primary" ng-disabled="true" aria-label="IsWarehouse" ng-model="jc.IsWarehouse"></md-checkbox></td>
                                    <td><md-checkbox class="md-primary" ng-disabled="true" aria-label="IsCFS" ng-model="jc.IsCFS"></md-checkbox></td>
                                    <td><md-checkbox class="md-primary" ng-disabled="true" aria-label="IsRail" ng-model="jc.IsRail"></md-checkbox></td>
                                    <td style="padding:0 0 0 5px" ng-hide="">   
                                        <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="editCategory(jc.Code)" aria-label="button" >
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            <div class="md-ripple-container"></div>
                                        </button>
                                        <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" type="button" ng-click="DeleteJobCategory(jc.Code)" aria-label="button" >
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            <div class="md-ripple-container"></div>
                                        </button>                                    
                                        <!--<a class="btn btn-default input-sm" style="border-radius:50%" href="#/masterdata/jobcategory/add/{{jc.Code}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a class="btn btn-danger input-sm" ng-click="DeleteJobCategory(jc.Code)"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</a>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <uib-pagination ng-model="currentPage"
                                    total-items="totalItems"
                                    ng-change="pageChanged()"
                                    class="pagination-sm pull-right"
                                    max-size="10"
                                    items-per-page="limit">
                    </uib-pagination>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <md-button class="md-raised md-clear" onclick="location.href = '#/home/'"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</md-button>                     
                </div>
            </div>
        </div>
    </div>
</section>
