﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Job No.</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-4">
        <select class="form-control input-sm"></select>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Charge Code</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-7">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Equipment Size</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Billing Unit</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Currency</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Quantity</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Ex Rate</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Selling Rate</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">        
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Base Amount</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2">        
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-4">        
    </div>    
    <div class="col-md-2"> 
        <label class="control-label pull-right">Accrual Amt.</label>       
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-4">        
    </div>    
    <div class="col-md-2"> 
        <label class="control-label pull-right">Output GST</label>       
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="well well-sm" style="min-height: 250px;">
            <table class="table table-bordered">
                <thead style="color: #fff; background-color: #97c5ea;">
                    <tr>
                        <th>Type</th>
                        <th>Job No.</th>
                        <th>Charge</th>
                        <th>Curr.</th>
                        <th>Ex. Rate</th>
                        <th>Qty.</th>
                        <th>Unit</th>
                        <th>Selling</th>
                        <th>Base Amt.</th>
                        <th>Tax Amt.</th>
                        <th>Category</th>
                        <th>Eq. Size</th>
                        <th>Remarks</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

