﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-8">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Principal/Vendor</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <select class="form-control input-sm"></select>
                    <span class="input-group-btn dropdown">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Customer</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <select class="form-control input-sm"></select>
                    <span class="input-group-btn dropdown">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Remarks</label>
            </div>
            <div class="col-md-10">
                <textarea class="form-control input-sm"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <div class="box box-default box-solid">                    
                    <div class="box-body">
                        <div class="row" >
                            <div class="col-md-12">
                                <h5>Generate New Invoice</h5>
                                <div class="box box-default box-solid">                                    
                                    <div class="box-body">
                                        <div class="row" style="margin-top: 10px;">                                            
                                            <div class="col-md-12">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <md-checkbox class="md-primary" aria-label="Storage Charge">Storage Charge</md-checkbox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">Bill From</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group my-datepicker">
                                                    <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">To</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group my-datepicker">
                                                    <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                                <div class="box box-default box-solid">                                    
                                    <div class="box-body">
                                        <div class="row" style="margin-top: 10px;">                                            
                                            <div class="col-md-12">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <md-checkbox class="md-primary" aria-label="Storage Charge">Handling Charge</md-checkbox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">Bill From</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group my-datepicker">
                                                    <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">To</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group my-datepicker">
                                                    <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Warehouse</label>
            </div>
            <div class="col-md-8">
                <select class="form-control input-sm"></select>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Invoice Date</label>
            </div>
            <div class="col-md-8">
                <div class="input-group my-datepicker">
                    <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Credit Term</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Currency</label>
            </div>
            <div class="col-md-8">
                <select class="form-control input-sm"></select>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Ex. Rate</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Tax Amt.</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Local Amt.</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Storage Calculation</h3>
                    </div>
                    <div class="box-body">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <label class="control-label pull-right">Rate Profile</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" />
                                    <span class="input-group-btn dropdown">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <label class="control-label pull-right">Quotation No.</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" />
                                    <span class="input-group-btn dropdown">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <label class="control-label pull-right">Cal Period</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <label class="control-label pull-right nowrapCss">Storage Selection</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <label class="control-label pull-left">Free Period</label>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <label class="control-label pull-right">Import</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <label class="control-label pull-right">Export</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <label class="control-label pull-right">Local</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-4">
                                <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Check</md-button>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
