﻿<section class="content" ng-controller="ProductMasterCntrl">
    <form id="frmProductMaster" name="frmProductMaster" ng-class="{'submitted': submittedDetail}" ng-submit="AddProductMaster(productmaster)" novalidate>
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Product Master</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Principal</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text"
                            class="form-control input-sm ac"
                            ng-class="{'loadinggif': PrincipalNamePrincipalName.PrincipalLoading}"
                            placeholder="Search Pricipal"
                            ng-model="productmaster.PrincipalCode"
                            typeahead-min-length="3"
                            uib-typeahead="d.Text as d.Text for d in PrincipalCodeResults($viewValue)"
                            typeahead-loading="productmaster.PrincipalLoading"
                            typeahead-wait-ms="1000"
                            typeahead-editable="false"
                            ng-required="true"
                            typeahead-on-select="PrinicipalSelected($item, 'PrincipalCode')" />

                    </div>
                    <div class="col-md-4">
                       <!-- <input type="text" class="form-control input-sm" ng-model="productmaster.PrincipalName" ng-required="true"/>-->
                    </div>
                    <div class="col-md-2">
                        <md-switch class="md-primary" aria-label="Inventory Item" ng-model="productmaster.IsInventoryItem">Inventory Item</md-switch>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Product Code</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control input-sm" ng-model="productmaster.ProductCode" ng-change="GetProductMasterDetails()" ng-required="true"/>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="productmaster.Description" ng-required="true"/>
                    </div>
                    <div class="col-md-2">
                        <md-switch class="md-primary" aria-label="Kitting Item">Kitting Item</md-switch>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" class="md-primary">
                            <md-content class="md-padding">
                                <div ng-include="tab.content"></div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                        <button type="button"class="btn btn-danger" ng-click="DeleteProductMasterDetails()" ng-hide="enableDelete"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</button>
                        <button type="button" class="btn btn-default" ng-click="backToList()"><i class="fa fa-undo ng-scope" aria-hidden="true"></i>&nbsp;Back</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

