﻿<form name="frmAddCommodityCode" id="frmAddCommodityCode" ng-submit="AddCommodityCode(cmc)" ng-class="{'submitted':submitted}" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Add/Edit Commodity Code </h4>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label">Code</label>
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="cmc.CommodityCode" class="form-control input-sm" ng-required="true" ng-readonly="truefalse"/>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label">Description</label>
            </div>
            <div class="col-md-4">
                <input type="text" ng-model="cmc.Description" class="form-control input-sm" ng-required="true"/>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">                
            </div>
            <div class="col-md-4">
                  <md-switch class="md-primary" aria-label="Staging" ng-init="cmc.IsWeightCargo = false" ng-model="cmc.IsWeightCargo">Weight Cargo</md-switch>                
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-6"></div>
            <div class="col-md-6 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>
