﻿<section class="content" ng-controller="VesselScheduleController as vm">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Vessel Schedule</h3>
            <div class="box-tools pull-right">                
                <select class="form-control input-sm">
                    <option>Active</option>
                    <option>In Active</option>
                </select>
            </div>
        </div>
        <div class="box-body">
            
            <div class="row" style="margin-top:10px;">
                <div class="col-md-1">
                    <img class="iconCss"  src="../../../../images/icons/ship.png" />
                </div>
                <div class="col-md-10"></div>
                <div class="col-md-1">
                    <md-button class="md-raised md-primary pull-right" ng-click="addSchedule(-1);"><img class="iconCss" src="../../../../images/icons/ship.png" />&nbsp;Add</md-button>
                </div>
            </div>            
            <div class="row">
                <h2 class="text-center">{{ vm.calendarTitle }}</h2>
                <div class="col-md-6">
                    <div class="btn-group">
                        <button class="btn btn-primary"
                                mwl-date-modifier
                                date="vm.viewDate"
                                decrement="vm.calendarView"
                                ng-click="vm.MonthChanged()">
                            Previous
                        </button>
                        <button class="btn btn-default"
                                mwl-date-modifier
                                date="vm.viewDate"
                                set-to-today>
                            Today
                        </button>
                        <button class="btn btn-primary"
                                mwl-date-modifier
                                date="vm.viewDate"
                                increment="vm.calendarView"
                                ng-click="vm.MonthChanged()">
                            Next
                        </button>
                    </div>
                </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        <mwl-calendar events="vm.events" ng-dblclick="vm.DoubleClick(calendarEvent)"
                                      view="vm.calendarView"
                                      view-title="vm.calendarTitle"
                                      view-date="vm.viewDate"
                                      on-event-click="vm.eventClicked(calendarEvent)"
                                      on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                                      edit-event-html="'<i class=\'fa fa-pencil-square-o\'></i>'"
                                      delete-event-html="'<i class=\'fa fa-trash\'></i>'"
                                      on-edit-event-click="vm.eventEdited(calendarEvent)"
                                      on-delete-event-click="vm.eventDeleted(calendarEvent)"
                                      cell-is-open="vm.isCellOpen"                                      
                                      cell-modifier="vm.modifyCell(calendarCell)"
                                      on-view-change-click="vm.viewChangeClicked(calendarNextView)">
                            <!--day-view-start="06:00"
                              day-view-end="22:00"
                              day-view-split="30"-->

                        </mwl-calendar>
                    </div>
                </div>
            </div>
    </div>
</section>
