﻿<section class="content" ng-controller="ShipperInvoiceCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Shipper Invoice</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Order No.</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-1">
                    <label class="control-label pull-right">Total Weight</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right nowrapCss">Container No.</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-1">
                    <label class="control-label pull-right">Total Volume</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Details" class="md-primary">
                            <md-content class="md-padding">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-12">
                                        <table class="table table-bordered">
                                            <thead style="color: #fff; background-color: #97c5ea;">
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Description</th>
                                                    <th>Qty.</th>
                                                    <th>Uom</th>
                                                    <th>Curr.</th>
                                                    <th>Price</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </md-content>                            
                        </md-tab>
                        <md-tab label="Remarks" class="md-primary">
                            <md-content class="md-padding">
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-12">
                                        <label class="control-label pull-left">Remarks</label>
                                        <textarea class="form-control input-sm"></textarea>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-1">
                    <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                </div>
                <div class="col-md-1">
                    <md-button class="md-raised md-primary"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</md-button>
                </div>
            </div>
        </div>
    </div>
</section>


