﻿<section class="content" ng-controller="OperationMonitor">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Haulage Operation Monitor</h3>
            <div class="box-tools pull-right">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddOperationMonitor();">
                    <i class="fa fa-plus fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Container No.</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary" type="button">Search</button>
                        </div>
                        <div class="col-md-2">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm datepicker"
                                               ng-model="vs.ImpAvaliableDate"
                                               ng-required="true"
                                               date-time-input="MM/DD/YYYY">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="vs.ImpAvaliableDate"
                                                    data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-1 pull-right">
                            <button class="btn btn-primary " type="button">Trucks</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="">
                                <table class="table table-bordered">                                    
                                    <tbody>
                                        <tr>
                                            <td>GI001</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>GI003</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>GI006</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>GI007</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>GI018</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">Planned</button>
                                <button type="button" class="btn btn-success">In Progress</button>
                                <button type="button" class="btn btn-warning">Completed</button>
                                <button type="button" class="btn btn-info">Staging</button>
                                <button type="button" class="btn btn-danger">Back To Back</button>
                            </div>
                            <div class="pull-right">
                                <md-checkbox aria-label="Show Tool Tip">Show Tool Tip</md-checkbox>
                            </div>
                        </div>                                                
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-primary">Filter</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead style="color:#fff;background-color:#97c5ea;">
                                    <tr>
                                        <th>Hold</th>
                                        <th>Job</th>
                                        <th>Job No.</th>
                                        <th>Movement</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>