﻿<section class="content" ng-controller="SubscriberInquiryCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Subscriber Inquiry</h3>
        </div>
        <div class="box-body">
            <form id="frmSearchPendingBilling" name="frmSearchPendingBilling" ng-class="{'submitted':submitted}" ng-submit="SearchPendingBilling(pb)" novalidate>
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Subscriber Name</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text"
                               ng-required="true"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': pb.nameLoading}"
                               placeholder="Search Subscriber"
                               ng-model="pb.name"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in CompanyResults($viewValue, 'billingCustomer')"
                               typeahead-loading="pb.nameLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="CompanySelected($item, 'CompanyCode')" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Subscription Type</label>
                    </div>
                    <div class="col-md-2">
                        <select ng-model="pb.type"
                                ng-required="true"
                                ng-options="s.Value as s.Text for s in lookupData.registrationTypeList"
                                class="form-control input-sm"></select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Date From</label>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="FromDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker"
                                           ng-model="pb.FromDate"
                                           ng-required="true"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="pb.FromDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#FromDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Date To</label>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="ToDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker"
                                           ng-model="pb.ToDate"
                                           ng-required="true"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="pb.ToDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#ToDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary" ng-click="submitted = true"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                    </div>
                </div>
                <div class="row" ng-if="showSubscriber" style="margin-top:10px;">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead style="color:#fff;background-color:#97c5ea;">
                                <tr>
                                    <th>Company Name</th>
                                    <th>Reg. No.</th>
                                    <th>Gst. No.</th>
                                    <th>
                                        #Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="com in subscriberList">
                                    <td>{{com.CompanyName}}</td>
                                    <td>{{com.RegNo}}</td>
                                    <td>{{com.GSTNo}}</td>
                                    <td>
                                        <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="viewInfo(com.CompanyCode);" aria-label="button">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <div class="md-ripple-container"></div>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>