﻿<section class="content" ng-controller="CollectionAdvice">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Collection Advice</h3>
            <div class="box-tools pull-right">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddCollectionAdvice();">
                    <i class="fa fa-plus fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Select</th>
                                <th>New</th>
                                <th>Closing/Dehire Date & Time</th>
                                <th>Request Date & Time</th>
                                <th>Container No.</th>
                                <th>Type Size</th>
                                <th>Job No.</th>
                                <th>Customer Name</th>
                                <th>Pickup From</th>
                                <th>Pickup Area/Zone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>