﻿<section class="content" ng-controller="SubscribersListCntrl as SubscribersCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Subscribers List</h3>
        </div>
        <div class="box-body">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Advanced Search" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <uib-accordion-heading>
                        <i class="pull-left fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                    </uib-accordion-heading>
                    <form id="SubscribersCntrl.frmSearch" name="SubscribersCntrl.frmSearch" ng-class="{'submitted': SearchSubmitted}" ng-submit="SearchCompanies(Search.CompanyName,Search.RegistrationNo,Search.DateFrom,Search.DateTo, Search.Email)" novalidate>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Company Name</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.CompanyName" />

                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Registration No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.RegistrationNo" />
                            </div>
                            <div class="col-md-1">
                                <label class="control-label pull-right">Email</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.Email" />
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date From</label>
                            </div>
                            <div class="col-md-2">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="FromDate" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="Search.DateFrom"
                                                   date-time-input="{{DateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="Search.DateFrom"
                                                        data-datetimepicker-config="{ dropdownSelector: '#FromDate', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date To</label>
                            </div>
                            <div class="col-md-2">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="ToDate" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="Search.DateTo"
                                                   date-time-input="{{DateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="Search.DateTo"
                                                        data-datetimepicker-config="{ dropdownSelector: '#ToDate', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <button ng-click="SearchSubmitted = true;" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </uib-accordion>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Company Name</th>
                                <th>Reg. No.</th>
                                <!--<th>Registration Type</th>-->
                                <th>
                                    #Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="com in CompanyList">
                                <td>{{com.CompanyName}}</td>
                                <td>{{com.RegNo}}</td>
                                <!--<td>{{com.RegistrationTypeDescription}}</td>-->
                                <td>
                                    <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="viewInfo(com.CompanyCode);" aria-label="button">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-primary" onclick="location.href = '#/owner'" type="button">&nbsp;<i class="fa fa-backward"></i>&nbsp;Back</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>
