﻿<section class="content" ng-controller="k1InquiryCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">K1 Inquiry</h3>
            <div class="box-tools pull-right">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple"
                        type="button"
                        aria-label="button"
                        onclick="location.href = '#/declaration/k1declaration/NEW'">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <uib-accordion-heading>
                        <i class="pull-left fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                    </uib-accordion-heading>
                    <form id="RegistrationListCntrl.frmSearch" name="RegistrationListCntrl.frmSearch" ng-class="{'submitted': SearchSubmitted}" ng-submit="SearchRegisteredCompanies(Search.CompanyName,Search.RegistrationNo,Search.DateFrom,Search.DateTo,Search.filter)" novalidate>

                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Declaration No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="i.declarationNo" class="form-control input-sm" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Manifest No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="i.manifestNo" class="form-control input-sm" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Ocean B/L No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="i.oceanBLNo" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">House B/L No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="i.houseBLNo" class="form-control input-sm" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Voyage No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="i.voyageNo" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date From</label>
                            </div>
                            <div class="col-md-2">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dateFrom" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="i.dateFrom"
                                                   ng-required="true"
                                                   date-time-input="{{dateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="i.dateFrom"
                                                        data-datetimepicker-config="{ dropdownSelector: '#dateFrom', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date To</label>
                            </div>
                            <div class="col-md-2">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dateTo" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="i.dateTo"
                                                   ng-required="true"
                                                   date-time-input="{{dateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="i.dateTo"
                                                        data-datetimepicker-config="{ dropdownSelector: '#dateTo', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <input type="hidden"
                                       ng-model="i.declarationType"
                                       ng-init="i.declarationType = 9101" />
                                <button type="button"
                                        class="btn btn-primary"
                                        ng-click="Search(i)">
                                    <i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </uib-accordion>
            <div class="row css10">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Declaration No.</th>
                                <th>Manifest No.</th>
                                <th>Ocean B/L No.</th>
                                <th>House B/L No.</th>
                                <th>Voyage No.</th>
                                <th>Vessel Name</th>
                                <th>Local Trader</th>
                                <th>LP</th>
                                <th>DP</th>
                                <th>TP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in declarations">
                                <td>
                                    <a ng-href="#/declaration/k1declaration/{{item.DeclarationNo}}">{{item.DeclarationNo}}</a>
                                </td>
                                <td>{{item.ManifestNo}}</td>
                                <td>{{item.OceanBLNo}}</td>
                                <td>{{item.HouseBLNo}}</td>
                                <td>{{item.VoyageNo}}</td>
                                <td>{{item.VesselName}}</td>
                                <td>{{item.LocalTraderName}}</td>
                                <td>{{item.LoadingPortName}}</td>
                                <td>{{item.DischargePortName}}</td>
                                <td>{{item.TranshipmentPortName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="col-md-12" ng-if="declarations.length == 0">
                        <label class="control-label pull-left">{{dataGridNorecords}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-info" ng-click="refresh()"> <i class="fa fa-refresh"></i>  Refresh</button>
                </div>
                <div class="col-md-6">
                    <uib-pagination ng-model="currentPage"
                                    total-items="totalItems"
                                    ng-change="pageChanged()"
                                    class="pagination-sm pull-right"
                                    max-size="10"
                                    items-per-page="limit">
                    </uib-pagination>
                </div>
            </div>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>