﻿<form id="frmQuotationDetails" name="frmQuotationDetails" ng-class="{'submitted': submitted}" ng-submit="addCqDetails(details);" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Customer Quotation Details&nbsp;<i ng-show="details.showLoading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></h4>
        <input type="hidden" ng-model="details.ItemId" />
        <input type="hidden" ng-model="details.Index" />
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-9">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Job Type</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm"
                                ng-model="details.JobTypeDescription"
                                ng-options="s.Text as s.Text for s in lookupData.jobTypeList"
                                ng-change="details.JobType = (lookupData.jobTypeList | filter: { Text: details.JobTypeDescription})[0].Value"
                                ng-required="true"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Currency</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm"
                                ng-model="details.CurrencyCode"
                                ng-options="s.Value as s.Text for s in lookupData.defaultCurrency"
                                ng-required="true"></select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Job Category</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm"
                                ng-model="details.JobCategory"
                                ng-options="s.Value as s.Text for s in lookupData.jobCategoryList"
                                ng-required="true"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Selling Rate</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text"
                               class="form-control input-sm"
                               ng-model="details.SellRate"
                               ng-required="true" logicon-decimal />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Shipment Type</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm"
                                ng-model="details.ShipmentTypeDescription"
                                ng-options="s.Text as s.Text for s in lookupData.shipmentTypeList"
                                ng-change="details.ShipmentType = (lookupData.shipmentTypeList | filter: { Text: details.ShipmentTypeDescription})[0].Value"
                                ng-required="true"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Est Cost</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text"
                               class="form-control input-sm"
                               ng-model="details.EstCost"
                               ng-required="true" logicon-decimal />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Charge Code</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text"
                               class="form-control input-sm ac"
                               ng-model="details.CargoTypeDescription"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in ChargeCodeResults($viewValue, 'freightForwarder')"
                               typeahead-on-select="details.ChargeCode = ($item.Value)"
                               typeahead-loading="details.showLoading"
                               typeahead-wait-ms="1000"
                               typeahead-editable="false" ng-required="true" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Payment Term</label>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="details.PaymentTerm"
                                class="form-control input-sm"
                                ng-options="s.Text as s.Text for s in lookupData.paymentTermList"></select>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Billing Unit</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm"
                                ng-model="details.BillingUnit"
                                ng-options="s.Value as s.Text for s in lookupData.billingUnitList"
                                ng-required="true"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Payment To</label>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="details.PaymentTerm"
                                class="form-control input-sm"
                                ng-options="s.Text as s.Text for s in lookupData.paymentToList"></select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Transport Type</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm"
                                ng-model="details.TransportType"
                                ng-options="s.Value as s.Text for s in lookupData.transportModeList"
                                ng-required="true"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Min. Amt.</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text"
                               class="form-control input-sm"
                               ng-model="details.MinAmt"
                               ng-required="true" logicon-decimal />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Trailer Type</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm"
                                ng-model="details.TrailerType"
                                ng-options="s.Value as s.Text for s in lookupData.trailerType"
                                ng-required="true"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Max. Amt.</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text"
                               class="form-control input-sm"
                               ng-model="details.MaxAmnt"
                               ng-required="true" logicon-decimal />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Special Handling</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm"
                                ng-model="details.SpecialHandling"
                                ng-options="s.Value as s.Text for s in lookupData.splHandlingList"
                                ng-required="true"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Size/Type</label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-sm"
                                ng-model="details.Size"
                                ng-options="s.Value as s.Text for s in lookupData.sizeList"
                                ng-change="sizeChanged();"
                                ng-required="true"></select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-sm"
                                ng-model="details.Type"
                                ng-disabled="details.Size == null"
                                ng-options="s.Value as s.Text for s in lookupData.TypeList"
                                ng-required="true"></select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Cargo Handling</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm"
                                ng-model="details.CargoHandling"
                                ng-options="s.Value as s.Text for s in lookupData.cargoHandlingList"
                                ng-required="true"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Cargo Type</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm"
                                ng-model="details.CargoType"
                                ng-options="s.Value as s.Text for s in lookupData.cargoTypeList"
                                ng-required="true"></select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Commodity</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm"
                                ng-model="details.Commodity"
                                ng-required="true">
                            <option value="1000">COMMODITY</option>
                        </select>
                    </div>

                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Remarks</label>
                    </div>
                    <div class="col-md-10">
                        <textarea class="form-control" ng-model="details.Remarks"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <md-checkbox class="md-primary"
                                     aria-label="Telex Release"
                                     ng-model="details.IsSlabRate">Slab-Rate</md-checkbox>
                    </div>
                    </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-12">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-6">
                                        <md-checkbox class="md-primary"
                                                     aria-label="Telex Release"
                                                     ng-model="details.IsFlatRate">Flat Rate</md-checkbox>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-12">
                                        <md-checkbox class="md-primary"
                                                     aria-label="Telex Release"
                                                     ng-model="details.IsRoundTrip">Roundup To Zero Decimal</md-checkbox>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-6">
                                        <label class="control-label pull-right">From Range</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               class="form-control input-sm"
                                               ng-model="details.SlabFrom"
                                               ng-required="true"
                                               logicon-decimal />
                                        <!--
                            <div class="dropdown dtcss">
                                <a class="dropdown-toggle" id="SlabFrom" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control input-sm datepicker"
                                               ng-model="details.SlabFrom"
                                               ng-required="true"
                                               date-time-input="MM/DD/YYYY">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="details.SlabFrom"
                                                    data-datetimepicker-config="{
                                dropdownSelector: '#SlabFrom',
                                startView: 'day',
                                minView: 'day' }" />
                                </ul>
                            </div>
                        </div>
                        -->
                                    </div>

                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-6">
                                        <label class="control-label pull-right">To Range</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text"
                                               class="form-control input-sm"
                                               ng-model="details.SlabTo"
                                               ng-required="true"
                                               logicon-decimal />
                                        <!--
                        <div class="dropdown dtcss">
                            <a class="dropdown-toggle" id="SlabTo" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control input-sm datepicker"
                                           ng-model="details.SlabTo"
                                           ng-required="true"
                                           date-time-input="MM/DD/YYYY">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="details.SlabTo"
                                                data-datetimepicker-config="{
                            dropdownSelector: '#SlabTo',
                            startView: 'day',
                            minView: 'day' }" />
                            </ul>
                        </div>
                        -->
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-6">
                                        <label class="control-label pull-right">Base Quantity</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-sm" ng-model="details.a29" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-6">
                                        <label class="control-label pull-right">Base Amount</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-sm" ng-model="details.a30" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>