﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-6">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Quotation No</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control input-sm" ng-model="cq.QuotationNo" ng-disabled="true" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Vendor</label>
            </div>
            <div class="col-md-10">                
                <div class="input-group address">
                    <input type="text"
                           ng-class="{'loadinggif': cq.CustomerNameLoading}"
                           class="form-control input-sm ac"
                           ng-model="cq.CustomerName"
                           typeahead-min-length="3"
                           uib-typeahead="d.Text as d.Text for d in CustomerResults($viewValue, 'ShipperConsignee')"
                           typeahead-on-select="cq.CustomerCode = ($item.Value)"
                           typeahead-loading="cq.CustomerNameLoading"
                           typeahead-wait-ms="1000"
                           typeahead-editable="false" ng-required="true" />
                    <span class="input-group-btn"> 
                         <button 
                            class="btn btn-default" 
                            type="button"  
                            ng-click="searchClick('CustomerCode')"                           
                            uib-popover-template="'js/masterdata/directives/customer-address.html'"                            
                            popover-placement="right" 
                            ng-disabled="cq.CustomerCode == null">
                        <i class="fa fa-map-marker" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div> 
            
        </div>        
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Remarks</label>
            </div>
            <div class="col-md-10">
                <textarea class="form-control input-sm" ng-model="cq.Remarks"></textarea>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Quotation Date</label>
            </div>
            <div class="col-md-4">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="QuotationDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="cq.QuotationDate"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="cq.QuotationDate"
                                        data-datetimepicker-config="{
                                        dropdownSelector: '#QuotationDate',
                                        startView: 'day',
                                        minView: 'day' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Effective Date</label>
            </div>
            <div class="col-md-4">
                <div class="dropdown dtcss">
                    <a class="dropdown-toggle" id="EffectiveDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="cq.EffectiveDate"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="cq.EffectiveDate"
                                        data-datetimepicker-config="{
                                        dropdownSelector: '#EffectiveDate',
                                        startView: 'day',
                                        minView: 'day' }" />
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Expiry Date</label>
            </div>
            <div class="col-md-4">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ExpiryDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="cq.ExpiryDate"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="cq.ExpiryDate"
                                        data-datetimepicker-config="{
                                        dropdownSelector: '#ExpiryDate',
                                        startView: 'day',
                                        minView: 'day' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Prepared By</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="cq.PreparedBy" ng-required="true" />
            </div>
        </div>

        
    </div>
</div>