﻿<section class="content" ng-controller="LookupCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Lookup</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Lookup Category</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control input-sm"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12 well well-sm" style="min-height:250px;">
                    <table class="table table-bordered">
                        <thead style="color: #fff; background-color: #97c5ea;">
                            <tr>
                                <th>Lookup Code</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>ISO Code</th>
                                <th>Mapping Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>