﻿<section class="content" ng-controller="UnBilledOrdersCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Unbilled Orders</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-6">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Customer</label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select class="form-control input-sm"></select>
                                <span class="input-group-btn dropdown">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Vessel ID</label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select class="form-control input-sm"></select>
                                <span class="input-group-btn dropdown">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <select class="form-control input-sm"></select>
                                <span class="input-group-btn dropdown">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right nowrapCss">Charge Code</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Customer No.</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right nowrapCss">Customer Ref.</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right nowrapCss">Master Job No.</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Job Type</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right nowrapCss">Filter Date By</label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group my-datepicker">
                                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right nowrapCss">Job Category</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">From</label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group my-datepicker">
                                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Module</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">To</label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group my-datepicker">
                                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Movement</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">Credit Term</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control input-sm"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="well well-sm" style="min-height: 250px;">
                        <table class="table table-bordered">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th></th>
                                    <th>Alert</th>
                                    <th>Order No.</th>
                                    <th>Order Date</th>
                                    <th>Job</th>
                                    <th>Shp</th>
                                    <th>Job Category</th>
                                    <th>Transport Type</th>
                                    <th>Customer Name</th>
                                    <th>Master Job No.</th>
                                    <th>Pickup From</th>
                                    <th>Deliver To</th>
                                    <th>Zone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="well well-sm" style="min-height: 250px;">
                        <table class="table table-bordered">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th>Container No.</th>
                                    <th>Size</th>
                                    <th>Job No.</th>
                                    <th>Package</th>
                                    <th>Charge Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Est Sell</th>
                                    <th>Act Sell</th>
                                    <th>Balance</th>
                                    <th>Int</th>
                                    <th>Zone</th>
                                    <th>Area Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>
