﻿<form tabindex="-1" id="frmVesselSchedule" name="frmVesselSchedule" ng-submit="SaveVesselSchedule(vs);" ng-class="{'submitted':submitted}" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Vessel Schedule&nbsp;<i ng-show="showLoading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></h4>
    </div>
    <div class="modal-body">

        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Vessel Id</label>
            </div>
            <div class="col-md-3">
                <input type="text"
                       class="form-control input-sm ac"
                       placeholder="Vessel ID"
                       typeahead-loading="showLoading"
                       ng-model="vs.VesselID"
                       typeahead-min-length="1"
                       uib-typeahead="d.Value as d.Value for d in VesselIDResults($viewValue)"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="vesselIDClick($item)"
                       typeahead-editable="false" ng-required="true" ng-disabled="isEdit" />
            </div>
            <div class="col-md-4">
                <input type="text"
                       class="form-control input-sm ac"
                       placeholder="Vessel Name"
                       ng-model="vs.VesselName"
                       typeahead-min-length="3"
                       uib-typeahead="d.Text as d.Text for d in VesselNameResults($viewValue)"
                       typeahead-loading="showLoading"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="vesselNameClick($item)"
                       typeahead-editable="false" ng-required="true" ng-disabled="isEdit" />
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-md-2">
                <label class="control-label pull-right">Voyage No. Inward</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control input-sm" ng-model="vs.VoyageNoInWard" ng-required="true" ng-disabled="isEdit" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Voyage No. Outward</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control input-sm" ng-model="vs.VoyageNoOutWard" ng-required="true" ng-disabled="isEdit" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Custom Station Code</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vs.CustomStationCode" class="form-control input-sm" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Ship Call No.</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vs.ShipCallNo" ng-required="true" class="form-control input-sm" />
            </div>

            <!--<div class="col-md-2">
                <button type="button" ng-click="isCallNewPort = true;" class="btn btn-default btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Calling to New Port</button>
            </div>-->
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Place Of Arrival</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vs.PlaceOfArrival" class="form-control input-sm" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Loading Port</label>
            </div>
            <div class="col-md-3">
                <input type="text"
                       class="form-control input-sm ac"
                       placeholder="Loading Port"
                       ng-model="vs.LoadingPortName"
                       typeahead-min-length="3"
                       uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                       typeahead-loading="showLoading"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="PortSelected($item, 'LoadingPort')"
                       typeahead-editable="false" ng-required="true" ng-disabled="isEdit && !isCallNewPort" />
            </div>

        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Entry Point</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vs.EntryPoint" class="form-control input-sm" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Discharge Port</label>
            </div>
            <div class="col-md-3">
                <input type="text"
                       class="form-control input-sm ac"
                       placeholder="Discharge Port"
                       ng-model="vs.DischargePortName"
                       typeahead-min-length="3"
                       uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                       typeahead-loading="showLoading"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="PortSelected($item, 'DischargePort')"
                       typeahead-editable="false" ng-required="true" ng-disabled="isEdit" />
            </div>

        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Terminal</label>
            </div>
            <div class="col-md-3">
                <!--<input type="text" class="form-control input-sm" ng-model="vs.Terminal" ng-required="true" ng-disabled="isEdit && !isChangeTerminal" />-->
                <select class="form-control input-sm"
                        ng-model="vs.TerminalText"
                        ng-options="s.Text as s.Text for s in vesselClassList"
                        ng-disabled="isEdit && !isChangeTerminal"
                        ng-change="terminalChange()"></select>

            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Destination Port</label>
            </div>
            <div class="col-md-3">
                <input type="text"
                       class="form-control input-sm ac"
                       placeholder="Destination Port"
                       ng-model="vs.DestinationPortName"
                       typeahead-min-length="3"
                       uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                       typeahead-loading="showLoading"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="PortSelected($item, 'DestinationPort')"
                       typeahead-editable="false" ng-required="true" ng-disabled="isEdit" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">ETA</label>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ETA" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker" ng-model="vs.ETA" ng-required="true" date-time-input="{{dateTimeFormat12}}">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="vs.ETA" data-datetimepicker-config="{ dropdownSelector: '#ETA', startView:'day', minView:'minute' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Imp available date</label>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="vs.ImpAvaliableDate"
                                   ng-required="true"
                                   date-time-input="{{dateFormat}}">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="vs.ImpAvaliableDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Imp storage date</label>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ImportStorageStartDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="vs.ImportStorageStartDate"
                                   ng-required="true"
                                   date-time-input="{{dateFormat}}">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="vs.ImportStorageStartDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#ImportStorageStartDate', startView:'day', minView:'day' }" />
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">ETD</label>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ETD" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="vs.ETD"
                                   ng-required="true"
                                   date-time-input="{{dateTimeFormat12}}">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="vs.ETD"
                                        data-datetimepicker-config="{ dropdownSelector: '#ETD', startView:'day', minView:'minute' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Exp available date</label>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ExpAvailableDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="vs.ExpAvailableDate"
                                   ng-required="true"
                                   date-time-input="{{dateFormat}}">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="vs.ExpAvailableDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#ExpAvailableDate', startView:'day', minView:'day' }" />
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Actual Arrival</label>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ActualETA" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="vs.ActualETA"
                                   date-time-input="{{dateTimeFormat12}}">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="vs.ActualETA"
                                        data-datetimepicker-config="{ dropdownSelector: '#ActualETA', startView:'day', minView:'minute' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Closing Date</label>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ClosingDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="vs.ClosingDate"
                                   ng-required="true"
                                   date-time-input="{{dateTimeFormat12}}">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="vs.ClosingDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#ClosingDate', startView:'day', minView:'minute' }" />
                    </ul>
                </div>
            </div>

        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Yard CutOff</label>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="YardCutOffDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="vs.YardCutOffDate"
                                   ng-required="true"
                                   date-time-input="{{dateTimeFormat12}}">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="vs.YardCutOffDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#YardCutOffDate', startView:'day', minView:'minute' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Actual Depature</label>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ActualETD" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="vs.ActualETD"
                                   date-time-input="{{dateTimeFormat12}}">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="vs.ActualETD"
                                        data-datetimepicker-config="{ dropdownSelector: '#ActualETD', startView:'day', minView:'minute' }" />
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">


            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Closing Date RF</label>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ClosingDateRF" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="vs.ClosingDateRF"
                                   ng-required="true"
                                   date-time-input="{{dateTimeFormat12}}">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="vs.ClosingDateRF"
                                        data-datetimepicker-config="{ dropdownSelector: '#ClosingDateRF', startView:'day', minView:'minute' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right nowrapCss">Yard CutOff(RF)</label>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="YardCutOffDateRF" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="vs.YardCutOffDateRF"
                                   ng-required="true"
                                   date-time-input="{{dateTimeFormat12}}">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="vs.YardCutOffDateRF"
                                        data-datetimepicker-config="{ dropdownSelector: '#YardCutOffDateRF', startView:'day', minView:'minute' }" />
                    </ul>
                </div>
            </div>

        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">PSA Code</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vs.PSACode" class="form-control input-sm" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">PSA Code</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vs.PSACode" class="form-control input-sm" />
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">PSA Name</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vs.PSAName" class="form-control input-sm" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right text-nowrap">PSA Address</label>
            </div>
            <div class="col-md-3">
                <input type="text" ng-model="vs.PSAAddress" class="form-control input-sm" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary" ng-click="submitted = true;"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                <button class="btn btn-default" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>