﻿<form tabindex="-1" id="frmVesselSchedule" name="frmVesselSchedule" ng-submit="SaveVesselSchedule(vs);" ng-class="{'submitted':submitted}" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Vessel Schedule&nbsp;<i ng-show="showLoading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></h4>
    </div>
    <div class="modal-body">

        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Vessel Id</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                class="form-control input-sm ac"
                placeholder="Vessel ID"
                typeahead-loading="showLoading"
                ng-model="vs.VesselID"
                typeahead-min-length="3"
                uib-typeahead="d.VesselID as d.VesselID for d in VesselIDResults($viewValue)"
                typeahead-wait-ms="1000"
                typeahead-on-select="vesselIDClick($item)"
                typeahead-editable="false" ng-required="true" ng-disabled="isEdit" />
            </div>
            <div class="col-md-4">
                <input type="text"
                       class="form-control input-sm ac"
                       placeholder="Vessel Name"
                       ng-model="vs.VesselName"
                       typeahead-min-length="3"
                       uib-typeahead="d.VesselName as d.VesselName for d in VesselNameResults($viewValue)"
                       typeahead-loading="showLoading"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="vesselNameClick($item)"
                       typeahead-editable="false" ng-required="true" ng-disabled="isEdit" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Total Orders</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-required="true" ng-disabled="isEdit" />
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-md-2">
                <label class="control-label pull-right">Voyage No.</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-model="vs.VoyageNo" ng-required="true" ng-disabled="isEdit" />
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Ship Call No.</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-model="vs.ShipCallNo" ng-required="true" ng-disabled="isEdit" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Loading Port</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                       class="form-control input-sm ac"
                       placeholder="Loading Port"
                       ng-model="vs.LoadingPortName"
                       typeahead-min-length="3"
                       uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                       typeahead-loading="showLoading"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="PortSelected($item, 'LoadingPort')"
                       typeahead-editable="false" ng-required="true" ng-disabled="isEdit && !isCallNewPort" />
            </div>
            <div class="col-md-2">
                <button type="button" ng-click="isCallNewPort = true;" class="btn btn-default btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Calling to New Port</button>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Discharge Port</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                       class="form-control input-sm ac"
                       placeholder="Discharge Port"
                       ng-model="vs.DischargePortName"
                       typeahead-min-length="3"
                       uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                       typeahead-loading="showLoading"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="PortSelected($item, 'DischargePort')"
                       typeahead-editable="false" ng-required="true" ng-disabled="isEdit" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Destination Port</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                       class="form-control input-sm ac"
                       placeholder="Destination Port"
                       ng-model="vs.DestinationPortName"
                       typeahead-min-length="3"
                       uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                       typeahead-loading="showLoading"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="PortSelected($item, 'DestinationPort')"
                       typeahead-editable="false" ng-required="true" ng-disabled="isEdit" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Terminal</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-model="vs.Terminal" ng-required="true" ng-disabled="isEdit && !isChangeTerminal" />
            </div>
            <div class="col-md-2">
                <button type="button" ng-click="isChangeTerminal = true;" class="btn btn-default btn-primary"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Change Terminal</button>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">ETA</label>
            </div>
            <div class="col-md-2">
                <div class="input-group"
                     moment-picker="vs.ETA"
                     format="MM/DD/YYYY HH:mm" min-view="month">
                    <input class="form-control input-sm datepicker"
                    ng-model="vs.ETA"
                    ng-model-options="{ updateOn: 'blur' }" ng-required="true">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Imp available dt</label>
            </div>
            <div class="col-md-2">
                <div class="input-group"
                     moment-picker="vs.ImpAvaliableDate"
                     format="MM/DD/YYYY" min-view="month" max-view="month">
                    <input class="form-control input-sm datepicker"
                    ng-model="vs.ImpAvaliableDate"
                    ng-model-options="{ updateOn: 'blur' }" ng-required="true">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Imp storage dt</label>
            </div>
            <div class="col-md-2">
                <div class="input-group"
                     moment-picker="vs.ImportStorageStartDate"
                     format="MM/DD/YYYY" min-view="month" max-view="month">
                    <input class="form-control input-sm datepicker"
                    ng-model="vs.ImportStorageStartDate"
                    ng-model-options="{ updateOn: 'blur' }" ng-required="true">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">ETD</label>
            </div>
            <div class="col-md-2">
                <div class="input-group"
                     moment-picker="vs.ETD"
                     format="MM/DD/YYYY HH:mm" min-view="month">
                    <input class="form-control input-sm datepicker"
                    ng-model="vs.ETD"
                    ng-model-options="{ updateOn: 'blur' }" ng-required="true">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Exp available dt</label>
            </div>
            <div class="col-md-2">
                <div class="input-group"
                     moment-picker="vs.ExpAvailableDate"
                     format="MM/DD/YYYY" min-view="month" max-view="month">
                    <input class="form-control input-sm datepicker"
                    ng-model="vs.ExpAvailableDate"
                    ng-model-options="{ updateOn: 'blur' }" ng-required="true">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Actual Arrival</label>
            </div>
            <div class="col-md-2">
                <div class="input-group"
                     moment-picker="vs.ActualETA"
                     format="MM/DD/YYYY HH:mm" min-view="month">
                    <input class="form-control input-sm datepicker"
                    ng-model="vs.ActualETA"
                    ng-model-options="{ updateOn: 'blur' }" ng-required="true">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Closing Dt</label>
            </div>
            <div class="col-md-2">
                <div class="input-group"
                     moment-picker="vs.ClosingDate"
                     format="MM/DD/YYYY HH:mm" min-view="month">
                    <input class="form-control input-sm datepicker"
                    ng-model="vs.ClosingDate"
                    ng-model-options="{ updateOn: 'blur' }" ng-required="true">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Yard CutOff</label>
            </div>
            <div class="col-md-2">
                <div class="input-group"
                     moment-picker="vs.YardCutOffDate"
                     format="MM/DD/YYYY HH:mm" min-view="month">
                    <input class="form-control input-sm datepicker"
                    ng-model="vs.YardCutOffDate"
                    ng-model-options="{ updateOn: 'blur' }" ng-required="true">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Actual Depature</label>
            </div>
            <div class="col-md-2">
                <div class="input-group"
                     moment-picker="vs.ActualETD"
                     format="MM/DD/YYYY HH:mm" min-view="month">
                    <input class="form-control input-sm datepicker"
                    ng-model="vs.ActualETD"
                    ng-model-options="{ updateOn: 'blur' }" ng-required="true">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Closing Dt RF</label>
            </div>
            <div class="col-md-2">
                <div class="input-group"
                     moment-picker="vs.ClosingDateRF"
                     format="MM/DD/YYYY HH:mm" min-view="month">
                    <input class="form-control input-sm datepicker"
                    ng-model="vs.ClosingDateRF"
                    ng-model-options="{ updateOn: 'blur' }" ng-required="true">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Yard CutOff(RF)</label>
            </div>
            <div class="col-md-2">
                <div class="input-group"
                     moment-picker="vs.YardCutOffDateRF"
                     format="MM/DD/YYYY HH:mm" min-view="month">
                    <input class="form-control input-sm datepicker"
                    ng-model="vs.YardCutOffDateRF"
                    ng-model-options="{ updateOn: 'blur' }" ng-required="true">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-default btn-primary" ng-click="submitted = true;"><i class="fa fa-floppy" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>