﻿<form tabindex="-1" id="frmVesselSchedule" name="frmVesselSchedule" ng-submit="SaveVesselSchedule(vs);" ng-class="{'submitted':submitted}" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Vessel Schedule&nbsp;<i ng-show="showLoading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></h4>
    </div>
    <div class="modal-body">

        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Vessel Id</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                class="form-control input-sm ac"
                placeholder="Vessel ID"
                typeahead-loading="showLoading"
                ng-model="vs.VesselID"
                typeahead-min-length="3"
                uib-typeahead="d.VesselID as d.VesselID for d in VesselIDResults($viewValue)"
                typeahead-wait-ms="1000"
                typeahead-on-select="vesselIDClick($item)"
                typeahead-editable="false" ng-required="true" ng-disabled="isEdit" />
            </div>
            <div class="col-md-4">
                <input type="text"
                       class="form-control input-sm ac"
                       placeholder="Vessel Name"
                       ng-model="vs.VesselName"
                       typeahead-min-length="3"
                       uib-typeahead="d.VesselName as d.VesselName for d in VesselNameResults($viewValue)"
                       typeahead-loading="showLoading"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="vesselNameClick($item)"
                       typeahead-editable="false" ng-required="true" ng-disabled="isEdit" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Total Orders</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-required="true" ng-disabled="isEdit" />
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-md-2">
                <label class="control-label pull-right">Voyage No.</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-model="vs.VoyageNo" ng-required="true" ng-disabled="isEdit" />
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Ship Call No.</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-model="vs.ShipCallNo" ng-required="true" ng-disabled="isEdit" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Loading Port</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                       class="form-control input-sm ac"
                       placeholder="Loading Port"
                       ng-model="vs.LoadingPortName"
                       typeahead-min-length="3"
                       uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                       typeahead-loading="showLoading"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="PortSelected($item, 'LoadingPort')"
                       typeahead-editable="false" ng-required="true" ng-disabled="isEdit && !isCallNewPort" />
            </div>
            <div class="col-md-2">
                <button type="button" ng-click="isCallNewPort = true;" class="btn btn-default btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Calling to New Port</button>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Discharge Port</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                       class="form-control input-sm ac"
                       placeholder="Discharge Port"
                       ng-model="vs.DischargePortName"
                       typeahead-min-length="3"
                       uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                       typeahead-loading="showLoading"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="PortSelected($item, 'DischargePort')"
                       typeahead-editable="false" ng-required="true" ng-disabled="isEdit" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Destination Port</label>
            </div>
            <div class="col-md-2">
                <input type="text"
                       class="form-control input-sm ac"
                       placeholder="Destination Port"
                       ng-model="vs.DestinationPortName"
                       typeahead-min-length="3"
                       uib-typeahead="d.PortName as d.PortName for d in portResults($viewValue)"
                       typeahead-loading="showLoading"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="PortSelected($item, 'DestinationPort')"
                       typeahead-editable="false" ng-required="true" ng-disabled="isEdit" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Terminal</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-model="vs.Terminal" ng-required="true" ng-disabled="isEdit && !isChangeTerminal" />
            </div>
            <div class="col-md-2">
                <button type="button" ng-click="isChangeTerminal = true;" class="btn btn-default btn-primary"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Change Terminal</button>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">ETA</label>
            </div>
            <div class="col-md-2">                
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ETA" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="cq.ETA"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY hh:mm A">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker 
                            ng-model="cq.ETA"
                            data-datetimepicker-config="{ 
                                        dropdownSelector: '#ETA', 
                                        startView:'day', 
                                        minView:'minute' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Imp available dt</label>
            </div>
            <div class="col-md-2">                
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="cq.ImpAvaliableDate"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker 
                            ng-model="cq.ImpAvaliableDate"
                            data-datetimepicker-config="{ 
                                        dropdownSelector: '#ImpAvaliableDate', 
                                        startView:'day', 
                                        minView:'day' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Imp storage dt</label>
            </div>
            <div class="col-md-2">                
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ImportStorageStartDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="cq.ImportStorageStartDate"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="cq.ImportStorageStartDate"
                                        data-datetimepicker-config="{
                                        dropdownSelector: '#ImportStorageStartDate',
                                        startView:'day',
                                        minView:'day' }" />
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">ETD</label>
            </div>
            <div class="col-md-2">                
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ETD" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="cq.ETD"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY hh:mm A">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="cq.ETD"
                                        data-datetimepicker-config="{
                                        dropdownSelector: '#ETD',
                                        startView:'day',
                                        minView:'minute' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Exp available dt</label>
            </div>
            <div class="col-md-2">                
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ExpAvailableDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="cq.ExpAvailableDate"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="cq.ExpAvailableDate"
                                        data-datetimepicker-config="{
                                        dropdownSelector: '#ExpAvailableDate',
                                        startView:'day',
                                        minView:'day' }" />
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Actual Arrival</label>
            </div>
            <div class="col-md-2">                
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ActualETA" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="cq.ActualETA"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY hh:mm A">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="cq.ActualETA"
                                        data-datetimepicker-config="{
                                        dropdownSelector: '#ActualETA',
                                        startView:'day',
                                        minView:'minute' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Closing Dt</label>
            </div>
            <div class="col-md-2">                
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ClosingDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="cq.ClosingDate"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY hh:mm A">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="cq.ClosingDate"
                                        data-datetimepicker-config="{
                                        dropdownSelector: '#ClosingDate',
                                        startView:'day',
                                        minView:'minute' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Yard CutOff</label>
            </div>
            <div class="col-md-2">                
                <div class="dropdown">
                    <a class="dropdown-toggle" id="YardCutOffDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="cq.YardCutOffDate"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY hh:mm A">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="cq.YardCutOffDate"
                                        data-datetimepicker-config="{
                                        dropdownSelector: '#YardCutOffDate',
                                        startView:'day',
                                        minView:'minute' }" />
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Actual Depature</label>
            </div>
            <div class="col-md-2">                
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ActualETD" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="cq.ActualETD"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY hh:mm A">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="cq.ActualETD"
                                        data-datetimepicker-config="{
                                        dropdownSelector: '#ActualETD',
                                        startView:'day',
                                        minView:'minute' }" />
                    </ul>
                </div>
            </div>

            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Closing Dt RF</label>
            </div>
            <div class="col-md-2">                
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ClosingDateRF" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="cq.ClosingDateRF"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY hh:mm A">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="cq.ClosingDateRF"
                                        data-datetimepicker-config="{
                                        dropdownSelector: '#ClosingDateRF',
                                        startView:'day',
                                        minView:'minute' }" />
                    </ul>
                </div>
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right nowrapCss">Yard CutOff(RF)</label>
            </div>
            <div class="col-md-2">                
                <div class="dropdown">
                    <a class="dropdown-toggle" id="YardCutOffDateRF" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="cq.YardCutOffDateRF"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY hh:mm A">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="cq.YardCutOffDateRF"
                                        data-datetimepicker-config="{
                                        dropdownSelector: '#YardCutOffDateRF',
                                        startView:'day',
                                        minView:'minute' }" />
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-default btn-primary" ng-click="submitted = true;"><i class="fa fa-floppy" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>