﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-1">
        <label class="control-label pull-right">Customer</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-1">
        <label class="control-label pull-right nowrapCss">Job Category</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-1">
        <label class="control-label pull-right">Planned By</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-1">
        <label class="control-label pull-right">Truck ID</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-1">
        <label class="control-label pull-right nowrapCss">Trailer ID</label>
    </div>
    <div class="col-md-1">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-1">
        <label class="control-label pull-right">Type Size</label>
    </div>
    <div class="col-md-1">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-1">
        <label class="control-label pull-right nowrapCss">Shipment Type</label>
    </div>
    <div class="col-md-1">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-1">
        <label class="control-label pull-right nowrapCss">Planned Date</label>
    </div>
    <div class="col-md-2">
        <div class="input-group my-datepicker">
            <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-1">
        <label class="control-label pull-right">Driver ID</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-1">
        <label class="control-label pull-right nowrapCss">Transport Type</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-1">
        <md-checkbox class="md-primary" aria-label="Billable">Billable</md-checkbox>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-1">
        <label class="control-label pull-right">Commodity</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-1">
        <label class="control-label pull-right">Cargo Type</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-1">
        <label class="control-label pull-right">Pickup From</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-1">
        <label class="control-label pull-right">Spl Handling</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-1">
        <label class="control-label pull-right">Deliver To</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-1">
        <label class="control-label pull-right">Est Start Date</label>
    </div>
    <div class="col-md-2">
        <div class="input-group my-datepicker">
            <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
    <div class="col-md-1">
        <label class="control-label pull-right">ETA Date</label>
    </div>
    <div class="col-md-2">
        <div class="input-group my-datepicker">
            <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-1">
        <label class="control-label pull-right">Remarks</label>
    </div>
    <div class="col-md-5">
        <textarea class="form-control input-sm"></textarea>
    </div>
    <div class="col-md-1">
        <label class="control-label pull-right nowrapCss">Est Start Time</label>
    </div>
    <div class="col-md-2">
        <div class="input-group my-datepicker">
            <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
    <div class="col-md-1">
        <label class="control-label pull-right">ETA Time</label>
    </div>
    <div class="col-md-2">
        <div class="input-group my-datepicker">
            <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="well well-sm" style="min-height: 250px;">
            <table class="table table-bordered">
                <thead style="color: #fff; background-color: #97c5ea;">
                    <tr>
                        <th></th>
                        <th>Drop Seq.</th>
                        <th>Req. Date</th>
                        <th>Req. Time</th>
                        <th>Customer Name</th>
                        <th>Customer Ref.</th>
                        <th>Pickup From</th>
                        <th>Deliver To</th>
                        <th>Pickup Zone</th>
                        <th>Pickup Area</th>
                        <th>Delivery Zone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
</div>
