﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-1">
        <label class="control-label pull-right">Filtered By</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="well well-sm" style="min-height:250px;">
            <table class="table table-bordered">
                <thead style="color: #fff; background-color: #97c5ea;">
                    <tr>
                        <th>Total Job</th>
                        <th>Total Qty.</th>
                        <th>Total M3</th>
                        <th>Total KG</th>
                        <th>Total Pallet</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label class="control-label pull-right">Search By Customer Name</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-1">
        <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Search</md-button>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="well well-sm" style="min-height:250px;">
            <table class="table table-bordered">
                <thead style="color: #fff; background-color: #97c5ea;">
                    <tr>
                        <th>Column1</th>
                        <th></th>
                        <th>Job No.</th>
                        <th>Transport Type</th>
                        <th>Order Date Time</th>
                        <th>Req. Date</th>
                        <th>Req. Time</th>
                        <th>Customer Name</th>
                        <th>Pickup From</th>
                        <th>Deliver To</th>
                        <th>Shipper Invoice</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
</div>

