﻿<section class="content" ng-controller="PowerBICntrl">
    <style type="text/css">
        iframe {
            border-width: 0px;
            border-style: inset;
            border-color: initial;
            border-image: initial;
        }
    </style>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Report</h3>
        </div>
        <div class="box-body">
            <!--
                <div class="row">
                    <div class="col-md-1">
                        <label class="control-label pull-right">From Date</label>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="fromDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker"
                                           ng-model="report.fromDate"
                                           ng-required="true"
                                           date-time-input="MM/DD/YYYY">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="report.fromDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#fromDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-right">To Date</label>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="toDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker"
                                           ng-model="report.toDate"
                                           ng-required="true"
                                           date-time-input="MM/DD/YYYY">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="report.toDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#toDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary" ng-click="GenerateReport()"><i class="fa fa-cogs"></i>&nbsp;Generate Report</button>
                    </div>
                </div>
            -->
            <div class="row">
                <div class="col-md-12">
                    <iframe width="1300" height="900"
                            ng-src="{{reportPath | trustAsResourceUrl}}"></iframe>
                </div>
                <!--<div class="col-md-6">
                    <div id="HSCodePortOfLoading"></div>
                </div>
                <div class="col-md-6">
                    <div id="JobTypeByDate"></div>
                </div>
                <div class="col-md-6">
                    <div id="Declaration" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    <div>                        
                        <table id="datatable" style="display:none;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Declaration Type</th>
                                </tr>
                            </thead>
                            <tbody id="tableID">
                                
                            </tbody>
                        </table>
                    </div>                    
                </div>-->
            </div>

        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>