﻿<form id="frmContainerInfo" name="frmContainerInfo" ng-class="{'submitted':submitted}" ng-submit="SaveContainerInfo(dc)" novalidate>
    <style type="text/css">
        .box.box-solid.box-default {
            border: 0px solid #d2d6de;
        }
    </style>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Container Info.</h4>
    </div>
    <div class="modal-body">
      
                <input type="hidden" ng-model="dc.ContainerKey" ng-init="dc.ContainerKey = ''" name="dc.ContainerKey" />
                <div class="row css10">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <md-checkbox aria-label="Containerised Cargo ?" ng-model="dc.IsSOC" name="dc.IsSOC">SOC Type ?</md-checkbox>
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Container No.</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" ng-model="dc.ContainerNo" name="dc.ContainerNo" class="form-control input-sm" ng-required="true"/>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Size / Type</label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-sm" name="dc.Size"
                                ng-model="dc.Size"
                                ng-required="true"
                                ng-options="s.Value as s.Text for s in lookUpData.sizeList"
                                ng-change="sizeChanged()"></select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-sm" name="dc.Type"
                                ng-disabled="dc.Size == null"
                                ng-model="dc.Type"
                                ng-options="s.Value as s.Text for s in lookUpData.TypeList"></select>
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Container Type</label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-sm" name="dc.EQDStatus"
                                ng-model="dc.EQDStatus"
                                ng-options="s.Value as s.Text for s in lookUpData.jobTypeList"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Status</label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-sm" name="dc.ContainerStatus"
                                ng-model="dc.ContainerStatus"
                                ng-required="true"
                                ng-options="s.Value as s.Text for s in lookUpData.containerStatusList"></select>
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Marks & Numbers</label>
                    </div>
                    <div class="col-md-10">
                        <textarea class="form-control input-sm" ng-model="dc.MarksNos" ng-required="true" name="dc.MarksNos" rows="5"></textarea>
                    </div>                    
                </div>
           
            <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        

    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true;" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>

</form>
