﻿<form id="frmItemEntry" name="frmItemEntry" ng-class="{'submitted':submitted}" ng-submit="SaveItemEntry(ie)" novalidate>
    <style type="text/css">
        .box.box-solid.box-default {
            border: 0px solid #d2d6de;
        }
    </style>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Item Entry</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Product</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text"
                               ng-required="true"
                               ng-model="ie.ProductCode"
                               class="form-control input-sm" />
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-4">
                        <label class="control-label pull-right text-nowrap">Country Of Origin</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control input-sm"
                                ng-required="true"
                                ng-model="ie.OriginCountryCode"
                                ng-options="s.Value as s.Text for s in lookUpData.countryList" />
                    </div>

                </div>
                <div class="row css10">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Item Amount</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text"
                               ng-required="true"
                               ng-model="ie.ItemAmount"
                               ng-maxlength="18"
                               logicon-limit
                               decimal-Number
                               class="form-control input-sm" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">HS Code</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text"
                               ng-required="true"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': c.HSCodeNameLoading}"
                               placeholder="HSCode"
                               ng-model="c.HSCodeDescription"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in HSCodeResults($viewValue)"
                               typeahead-loading="c.HSCodeNameLoading"
                               typeahead-wait-ms="100"
                               typeahead-editable="false"
                               typeahead-on-select="HSCodeChange($item)" />

                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Statistical Qty.</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text"
                               ng-required="true"
                               logicon-decimal
                               ng-model="ie.StatisticalQty"
                               class="form-control input-sm" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Statistical UOM</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm"
                                ng-required="true"
                                ng-model="ie.StatisticalUOM"
                                ng-options="s.Value as s.Text for s in lookUpData.UOMList"></select>
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Declared Qty.</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text"
                               ng-required="true"
                               logicon-decimal
                               ng-model="ie.DeclaredQty"
                               ng-blur="ImportDutyCalculation()"
                               class="form-control input-sm" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Declared UOM</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm"
                                ng-required="true"
                                ng-model="ie.DeclaredUOM"
                                ng-options="s.Value as s.Text for s in lookUpData.UOMList"></select>
                    </div>
                </div>

                <div class="row css10">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Item Description</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text"
                               ng-required="true"
                               ng-model="ie.ItemDescription1" class="form-control input-sm" />
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Extra Item Description</label>
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control input-sm"
                                  ng-required="true"
                                  ng-model="ie.ItemDescription2"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-default box-solid collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Import Duty</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Method</label>
                                        <select ng-model="ie.ImportDutyMethod"
                                                class="form-control input-sm"
                                                ng-options="s.Value as s.Text for s in lookUpData.dutyMethodList"
                                                ng-change="ImportDutyMethodChange()"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Tariff Code Type</label>
                                        <select ng-model="ie.ImportDutyTariffCode"
                                                class="form-control input-sm"
                                                ng-disabled="IsImportDutyTariffCodeDisable"
                                                ng-change="ImportDutyCalculation()"
                                                ng-options="s.Value as s.Text for s in lookUpData.tariffCodeTypeList"></select>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Percentage(%)</label>
                                        <input type="text"
                                               ng-model="ie.ImportDutyPercentage"
                                               logicon-decimal
                                               class="form-control input-sm" placeholder="0.000" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Rate Exempted(%)</label>
                                        <input type="text"
                                               logicon-decimal
                                               ng-model="ie.ImportDutyExcemption"
                                               class="form-control input-sm" placeholder="0.000" />
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Specific</label>
                                        <input type="text"
                                               logicon-decimal
                                               ng-model="ie.ImportDutySpecific"
                                               class="form-control input-sm" placeholder="0.0000000" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Rate Exempted(%)</label>
                                        <input type="text"
                                               logicon-decimal
                                               ng-model="ie.ImportDutySpecificExcemption"
                                               class="form-control input-sm" placeholder="0.0000000" />
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        Import Duty
                                    </div>
                                    <div class="col-md-6">
                                        {{ie.ImportDutyAmount}}
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        Import Duty Specific
                                    </div>
                                    <div class="col-md-6">
                                        {{ie.ImportDutySpecificAmount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-default box-solid collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title">GST</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Method</label>
                                        <select ng-model="ie.GSTMethod"
                                                class="form-control input-sm"
                                                ng-change="GSTDutyMethodChange()"
                                                ng-options="s.Value as s.Text for s in lookUpData.dutyMethodList"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Tariff Code Type</label>
                                        <select ng-model="ie.GSTTariffCode"
                                                class="form-control input-sm"
                                                ng-disabled="IsGSTDutyTariffCodeDisable"
                                                ng-change="ImportDutyCalculation()"
                                                ng-options="s.Value as s.Text for s in lookUpData.tariffCodeTypeList"></select>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Percentage(%)</label>
                                        <input type="text"
                                               ng-model="ie.GSTPercentage"
                                               logicon-decimal
                                               class="form-control input-sm" placeholder="0.000" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Rate Exempted(%)</label>
                                        <input type="text"
                                               logicon-decimal
                                               ng-model="ie.GSTExcemption"
                                               class="form-control input-sm" placeholder="0.000" />
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        GST Duty
                                    </div>
                                    <div class="col-md-6">
                                        {{ie.GSTDutyAmount}}
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        GST Duty Specific
                                    </div>
                                    <div class="col-md-6">
                                        {{ie.GSTDutySpecificAmount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-default box-solid collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Sales Tax</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Method</label>
                                        <select ng-model="ie.SalesTaxMethod"
                                                class="form-control input-sm"
                                                ng-options="s.Value as s.Text for s in lookUpData.dutyMethodList"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Tariff Code Type</label>
                                        <select ng-model="ie.SalesTaxTariffCode"
                                                class="form-control input-sm"
                                                ng-options="s.Value as s.Text for s in lookUpData.tariffCodeTypeList"></select>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Percentage(%)</label>
                                        <input ng-model="ie.SalesTaxPercentage"
                                               logicon-decimal
                                               type="text"
                                               class="form-control input-sm" placeholder="0.000" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Rate Excempted(%)</label>
                                        <input ng-model="ie.SalesTaxExcemption"
                                               logicon-decimal
                                               type="text"
                                               class="form-control input-sm" placeholder="0.000" />
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Specific</label>
                                        <input ng-model="ie.SalesTaxSpecific"
                                               logicon-decimal
                                               type="text"
                                               class="form-control input-sm" placeholder="0.0000000" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Rate Exempted(%)</label>
                                        <input ng-model="ie.SalesTaxSpecificExcemption"
                                               logicon-decimal
                                               type="text"
                                               class="form-control input-sm" placeholder="0.0000000" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-default box-solid collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Anti Dumping</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Method</label>
                                        <select ng-model="ie.AntiDumpingMethod"
                                                class="form-control input-sm"
                                                ng-options="s.Value as s.Text for s in lookUpData.dutyMethodList"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Tariff Code Type</label>
                                        <select ng-model="ie.AntiDumpingTariffCode"
                                                class="form-control input-sm"
                                                ng-options="s.Value as s.Text for s in lookUpData.tariffCodeTypeList"></select>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Percentage(%)</label>
                                        <input ng-model="ie.AntiDumpingPercentage"
                                               logicon-decimal
                                               type="text"
                                               class="form-control input-sm" placeholder="0.000" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Rate Exempted(%)</label>
                                        <input ng-model="ie.AntiDumpingExcemption"
                                               logicon-decimal
                                               type="text"
                                               class="form-control input-sm" placeholder="0.000" />
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Specific</label>
                                        <input ng-model="ie.AntiDumpingSpecific"
                                               logicon-decimal
                                               type="text"
                                               class="form-control input-sm" placeholder="0.0000000" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Rate Exempted(%)</label>
                                        <input ng-model="ie.AntiDumpingSpecificExcemption"
                                               logicon-decimal
                                               type="text"
                                               class="form-control input-sm"
                                               placeholder="0.0000000" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-default box-solid collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Excise Duty</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Method</label>
                                        <select ng-model="ie.ExciseDutyMethod"
                                                class="form-control input-sm"
                                                ng-change="ExciseDutyMethodChange()"
                                                ng-options="s.Value as s.Text for s in lookUpData.dutyMethodList"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Tariff Code Type</label>
                                        <select ng-model="ie.ExciseDutyTariffCode"
                                                class="form-control input-sm"
                                                ng-disabled="IsExciseDutyTariffCodeDisable"
                                                ng-change="ImportDutyCalculation()"
                                                ng-options="s.Value as s.Text for s in lookUpData.tariffCodeTypeList"></select>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Percentage(%)</label>
                                        <input ng-model="ie.ExciseDutyPercentage"
                                               logicon-decimal
                                               type="text"
                                               class="form-control input-sm" placeholder="0.000" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Rate Exempted(%)</label>
                                        <input ng-model="ie.ExciseDutyExcemption"
                                               logicon-decimal
                                               type="text"
                                               class="form-control input-sm" placeholder="0.000" />
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Specific</label>
                                        <input ng-model="ie.ExciseDutySpecific"
                                               logicon-decimal
                                               type="text"
                                               class="form-control input-sm" placeholder="0.0000000" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Rate Exempted(%)</label>
                                        <input ng-model="ie.ExciseDutySpecificExcemption"
                                               logicon-decimal
                                               type="text"
                                               class="form-control input-sm" placeholder="0.0000000" />
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Alcohol Method</label>
                                        <input ng-model="ie.AlcoholMethod" type="text" class="form-control input-sm" placeholder="0.0000000" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-left">Proof Of Spirit</label>
                                        <input ng-model="ie.ProofOfSpirit" type="text" class="form-control input-sm" placeholder="0.0000000" />
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        Excise Duty
                                    </div>
                                    <div class="col-md-6">
                                        {{ie.ExciseDutyAmount}}
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-6">
                                        Excise Duty Specific
                                    </div>
                                    <div class="col-md-6">
                                        {{ie.ExciseDutySpecificAmount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-default box-solid collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Vehicle</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Type</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control input-sm"
                                                ng-model="ie.VehicleType"
                                                ng-options="s.Value as s.Text for s in lookUpData.vehicleTypeList"></select>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Brand</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input ng-model="ie.VehicleBrand" type="text" class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Model</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input ng-model="ie.VehicleModel" type="text" class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Engine No.</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input ng-model="ie.VehicleEngineNo" type="text" class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Chassis No.</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input ng-model="ie.VehicleChassisNo" type="text" class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">CC</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input ng-model="ie.VehicleCC" type="text" class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">Year</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input ng-model="ie.VehicleYear"
                                               logicon-number
                                               type="text" class="form-control input-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-default box-solid collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Item Code</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body" style="display: none;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label pull-right">Type</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-right">Code</label>
                                    </div>
                                </div>
                                <div class="row css10" ng-repeat="i in [1, 2, 3, 4, 5]">
                                    <div class="col-md-6">
                                        <input ng-model="ie.declarationsubItems[$index].ItemType" type="text" class="form-control input-sm" />
                                    </div>
                                    <div class="col-md-6">
                                        <input ng-model="ie.declarationsubItems[$index].ItemCode" type="text" class="form-control input-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="showPetrolPnl">
                    <div class="col-md-12">
                        <div class="box box-default box-solid collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Petroleum Working Note</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body" style="display: none;">
                                <div class="row css10">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">Meter FIG</label>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label pull-right">S/Tank FIG</label>
                                    </div>
                                </div>
                                <div class="row css10" ng-repeat="i in [1, 2, 3, 4, 5]">
                                    <div class="col-md-2">
                                        <label class="control-label pull-right">Type {{$index + 1}}</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input ng-model="ie.declarationsubItems[$index].PType" type="text" class="form-control input-sm" />
                                    </div>
                                    <div class="col-md-3">
                                        <input ng-model="ie.declarationsubItems[$index].PMeterFigure"
                                               logicon-decimal
                                               type="text"
                                               placeholder="0.000" class="form-control input-sm" />
                                    </div>
                                    <div class="col-md-3">
                                        <input ng-model="ie.declarationsubItems[$index].PTankFigure"
                                               logicon-decimal
                                               type="text" placeholder="0.000" class="form-control input-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>


    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true;" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>

</form>
