﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Add Charges</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <uib-tabset>
                <uib-tab heading="Charges">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Charge Code</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"
                                    ng-model="charges.ChargeCode"
                                    ng-options="s.Value as s.Text for s in lookUpData.chargeCodeList" ng-required="true"></select>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">Payment Term</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"
                                    ng-model="charges.PaymentTerm"
                                    ng-options="s.Value as s.Text for s in lookUpData.paymentTypeList"
                                    ng-change="charges.PaymentTermDesc=(lookUpData.paymentTypeList | filter: {Value:charges.PaymentTerm})[0].Text"  ng-required="true"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Billed To</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"
                                    ng-model="charges.PaymentTo"
                                    ng-options="s.Value as s.Text for s in lookUpData.paymentToList"
                                    ng-change="charges.PaymentToDesc=(lookUpData.paymentToList | filter: {Value:charges.PaymentTo})[0].Text"  ng-required="true"></select>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <md-switch class="md-primary"
                                           aria-label="Cargo Charge"
                                           ng-model="charges.IsCargoCharge">
                                    Cargo Charge
                                </md-switch>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" ng-click="addCharges(charges);" class="btn btn-primary">{{buttonText}}</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <table class="table table-bordered table-hover">
                                <thead style="color:#fff;background-color:#97c5ea;">
                                    <tr>
                                        <th>Charge Code</th>
                                        <th>Movement</th>
                                        <th>Payment</th>
                                        <th>Billed To</th>
                                        <th>Cargo Charges</th>
                                        <th>#Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="charge in chargesList" ng-show="DTOObj.mvtCode == charge.MovementCode">
                                        <td>{{charge.ChargeCodeDesc = (lookUpData.chargeCodeList | filter: {Value:charge.ChargeCode})[0].Text}}</td>
                                        <td>{{charge.MovementCode}}</td>
                                        <td>{{charge.PaymentTermDesc = (lookUpData.paymentTypeList | filter: {Value:charge.PaymentTerm})[0].Text}}</td>
                                        <td>{{charge.PaymentToDesc = (lookUpData.paymentToList | filter: {Value:charge.PaymentTo})[0].Text}}</td>
                                        <td>{{charge.IsCargoCharge}}</td>
                                        <td><a ng-click="editCharges(charge);">Edit</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="VAS">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Charge Code</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"
                                    ng-model="vas.ChargeCode"
                                    ng-options="s.Value as s.Text for s in lookUpData.chargeCodeVasList"  ng-required="true"></select>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">Payment Term</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"
                                    ng-model="vas.PaymentTerm"
                                    ng-options="s.Value as s.Text for s in lookUpData.paymentTypeList"
                                    ng-change="vas.PaymentTermDesc=(lookUpData.paymentTypeList | filter: {Value:vas.PaymentTerm})[0].Text"  ng-required="true"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Billed To</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"
                                    ng-model="vas.PaymentTo"
                                    ng-options="s.Value as s.Text for s in lookUpData.paymentToList"
                                    ng-change="vas.PaymentToDesc=(lookUpData.paymentToList | filter: {Value:vas.PaymentTo})[0].Text"  ng-required="true"></select>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <md-switch class="md-primary"
                                           aria-label="IsLoad At Gate"
                                           ng-model="vas.IsLoadAtGate">
                                    IsLoad At GateIn
                                </md-switch>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" ng-click="addvas(vas);" class="btn btn-primary">{{buttonvasText}}</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <table class="table table-bordered table-hover">
                                <thead style="color:#fff;background-color:#97c5ea;">
                                    <tr>
                                        <th>Charge Code</th>                                        
                                        <th>Payment</th>
                                        <th>Billed To</th>
                                        <th>IsLoad At GateIn</th>
                                        <th>#Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="vas in vasList">
                                        <td>{{vas.ChargeCodeDesc = (lookUpData.chargeCodeVasList | filter: {Value: vas.ChargeCode})[0].Text}}</td>                                        
                                        <td>{{vas.PaymentTermDesc = (lookUpData.paymentTypeList | filter: {Value:vas.PaymentTerm})[0].Text}}</td>
                                        <td>{{vas.PaymentToDesc = (lookUpData.paymentToList | filter: {Value:vas.PaymentTo})[0].Text}}</td>
                                        <td>{{vas.IsLoadAtGate}}</td>
                                        <td><a ng-click="editvas(vas);">Edit</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="SaveCharges();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" type="button" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>