﻿<form name="frmAddJobCategory" id="frmAddJobCategory" ng-submit="AddJobCategory(jc)" ng-class="{'submitted':submitted}" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Job Category</h4>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Code</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control input-sm" ng-model="jc.Code"  ng-required="true" ng-readonly="truefalse"/>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Description</label>
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control input-sm" ng-model="jc.Description"  ng-required="true"></textarea>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Job Type</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm" ng-model="jc.JobType" ng-options="s.Value as s.Text for s in lookupData.jobTypeList"  ng-required="true"></select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Lead Time</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" placeholder="(Hour)" ng-model="jc.MinLeadTime" class="form-control input-sm"  ng-required="true" logicon-decimal/>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Shipment Type</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm" ng-model="jc.ShipmentType" ng-options="s.Value as s.Text for s in lookupData.shipmentTypeList"  ng-required="true"></select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Freight Mode</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm" ng-model="jc.FreightMode" ng-options="s.Value as s.Text for s in lookupData.freightModeList" required></select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Billing Rule</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control input-sm" ng-model="jc.BillingRule" ng-options="s.Value as s.Text for s in lookupData.billingRuleList"  ng-required="true"></select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label pull-right">Haulage Charge Code (%)</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" ng-model="jc.ChargePercent"  ng-required="true"  logicon-decimal />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>&nbsp;&nbsp;&nbsp;Modules Required</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <md-switch class="md-primary" aria-label="Freight/Fwd" ng-model="jc.IsFreight" ng-init="jc.IsFreight = false" ng-click="module('1001','IsFreight')">Freight/Fwd</md-switch>
                                    </div>
                                    <div class="col-md-6">
                                        <md-switch class="md-primary" aria-label="Haulage/Transport" ng-model="jc.IsHualage" ng-init="jc.IsHualage = false" ng-click="module('1000','IsHualage')">Haulage/Transport</md-switch>
                                    </div>
                                    <div class="col-md-6">
                                        <md-switch class="md-primary" aria-label="CY" ng-model="jc.IsDepot" ng-init="jc.IsDepot = false" ng-click="module('1004','IsDepot')">CY</md-switch>
                                    </div>
                                    <div class="col-md-6">
                                        <md-switch class="md-primary" aria-label="Warehouse" ng-model="jc.IsWarehouse" ng-init="jc.IsWarehouse = false" ng-click="module('1002','IsWarehouse')">Warehouse</md-switch>
                                    </div>
                                    <div class="col-md-6">
                                        <md-switch class="md-primary" aria-label="CFS" ng-model="jc.IsCFS" ng-init="jc.IsCFS = false" ng-click="module('1003','IsCFS')">CFS</md-switch>
                                    </div>
                                    <div class="col-md-6">
                                        <md-switch class="md-primary" aria-label="Rail" ng-model="jc.IsRail" ng-init="jc.IsRail = false" ng-click="module('','IsRail')">Rail</md-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <select class="form-control input-sm" ng-model="selectedProcessMaster" ng-options="s.Module as s.Code group by s.ModuleTypeDescription for s in moduleList"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>
