﻿<form name="frmAddHoliday" id="frmAddHoliday" ng-submit="AddHoliday(holiday)" ng-class="{'submitted':submitted}" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Add/Edit Holiday </h4>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Holiday </label>
            </div>
            <div class="col-md-4">
                <!--<input type="text" ng-model="holiday.HolidayDate" class="form-control input-sm" required />-->

                <div class="dropdown">
                    <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                class="form-control input-sm datepicker"
                                ng-model="holiday.HolidayDate"
                                ng-required="true"
                                date-time-input="MM/DD/YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="holiday.HolidayDate"
                            data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                    </ul>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Description</label>
            </div>
            <div class="col-md-4">
                <textarea ng-model="holiday.HolidayDescription" class="form-control input-sm"  ng-required="true"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Country Code</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm" ng-model="holiday.CountryCode" ng-options="c.CountryCode as c.CountryName for c in countryDataList"  ng-required="true"></select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-6"></div>
            <div class="col-md-6 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>
