﻿<section class="content" ng-controller="HolidayCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Holiday</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6">
                            <label class="control-label pull-right">Holiday's Year</label>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control input-sm"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-default box-solid">
                       <div class="box-body">
                           <h5 style="font-weight:bold">Working Days</h5>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-4">
                                    <md-switch class="md-primary" aria-label="Friday">Friday</md-switch>
                                </div>
                                <div class="col-md-4">
                                    <md-switch class="md-primary" aria-label="Saturday">Saturday</md-switch>
                                </div>
                                <div class="col-md-4">
                                    <md-switch class="md-primary" aria-label="Sunday">Sunday</md-switch>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color: #fff; background-color: #97c5ea;">
                            <tr>
                                <th>Holiday Date</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2"> 
                    <label class="control-label pull-right">Date</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Description</label>
                </div>
                <div class="col-md-2">
                    <textarea class="form-control input-sm"></textarea>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>



