﻿<form id="Cntrl.frmBranchDetails" name="Cntrl.frmBranchDetails" ng-class="{'submitted':submitted}" ng-submit="SaveBranch(BranchDetails);" novalidate>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Branch Details &nbsp;<span style="text-align: right;">Company Code [<b>{{ BranchDetails.CompanyCode }}</b>]</span></h3>
            <input type="hidden" ng-model="BranchDetails.CompanyCode" />
        </div>
        <div class="box-body">            
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Branch Code</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" ng-minlength="3" maxlength="3" ng-model="BranchDetails.BranchCode" ng-required="true" />
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    <md-switch class="md-primary" aria-label="Active Account" ng-model="BranchDetails.IsActive" >Active Account</md-switch>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Branch Name</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.BranchName" ng-required="true"  />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Registration No.</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.RegNo" ng-required="true"  />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">GST No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.GSTNo" ng-required="true" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">TAX ID</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.TaxID" ng-required="true"  />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Address</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.Address1" ng-required="true"  />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.Address2" ng-required="true"  />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Post Code</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.ZipCode" ng-required="true" logicon-number/>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">City/Suburb</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.City" ng-required="true"/>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">State</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.State" ng-required="true"/>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Country</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control input-sm" ng-model="BranchDetails.address.CountryCode" ng-options="s.CompanyCode as s.CompanyName for s in CountriesList" ng-required="true"></select>
                </div>
                <!--<div class="col-md-7">
                    <input type="text" class="form-control input-sm" />
                </div>-->
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Tel No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.TelNo" ng-required="true" logicon-number/>
                </div>
                <!--<div class="col-md-2">
                    <label class="control-label pull-right">Contact</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>-->
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Fax No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.FaxNo" ng-required="true"/>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Mobile No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.MobileNo" ng-required="true" logicon-number/>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Email</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.Email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-required="true"/>
                </div>
            </div>
            <!--<div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Remarks</label>
                </div>
                <div class="col-md-10">
                    <textarea class="form-control input-sm"></textarea>
                </div>
            </div>-->
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Website</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="BranchDetails.address.WebSite" />
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12">
                        <md-button class="md-raised md-primary" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                        <md-button class="md-raised md-clear"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
