﻿<script type="text/ng-template" id="modules.html">
    <style type="text/css">
        .Modulescontainer {
            width: 400px;
            margin: 10px;
        }
    </style>
    <div class="Modulescontainer">
        <form id="Cntrl.frmModules" name="Cntrl.frmModules" ng-class="{'submitted': ModulesSubmitted}" ng-submit="SaveModules(modulesList)" novalidate>
            <div class="row">
                <div class="col-md-5">
                    <label class="control-label pull-left">Modules</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" ng-repeat="module in modulesList">
                    <md-switch aria-label="module.ModuleText" ng-model="module.IsActive" class="md-primary">
                        {{module.Text}}
                    </md-switch>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-6">
                    <button type="button" ng-click="closeModulesPopOver()" class="btn btn-default btn-block">Cancel</button>
                </div>
                <div class="col-md-6">
                    <button ng-click="ModulesSubmitted = true;" type="submit" class="btn btn-primary btn-block">Subscribe</button>
                </div>
            </div>
        </form>
    </div>
</script>

<form id="Cntrl.frmCompanyDetails" name="Cntrl.frmCompanyDetails" enctype="multipart/form-data" ng-class="{'submitted':submitted}" ng-submit="SaveCompany(CompanyDetails);" novalidate>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Company Details</h3>
            <div class="box-tools pull-right">
                <md-button class="md-fab md-mini-1 md-primary btn-box-tool"
                           aria-label="button"
                           ng-disabled="!isDisabledCompany"
                           popover-placement="left-top"
                           popover-is-open="Cntrl.ModulesPopOver"
                           uib-popover-template="'modules.html'">
                    <i class="fa fa-database" aria-hidden="true"></i>
                </md-button>
                <md-button class="md-fab md-mini-1 md-primary btn-box-tool" 
                           aria-label="button"
                           ng-disabled="!isDisabledCompany"
                           ng-click="AddBranch(CompanyDetails.CompanyCode, CompanyDetails.CompanyName)">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </md-button>                
            </div>
        </div>
        <div class="box-body">
            <!--<div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <md-button class="md-raised md-warning" ng-disabled="!isDisabledCompany" ng-click="AddBranch(CompanyDetails.CompanyCode)"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;New Branch</md-button>
                </div>
                <div class="col-md-2">
                    <md-button class="md-raised md-warning" 
                            type="button"
                               ng-disabled="!isDisabledCompany" 
                               popover-placement="right-top"
                               popover-is-open="Cntrl.ModulesPopOver"
                               uib-popover-template="'modules.html'">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Modules</md-button>
                </div>
            </div>-->
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Company Code</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" ng-disabled="isDisabledCompany" ng-model="CompanyDetails.CompanyCode" />
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    <md-switch class="md-primary" aria-label="Active Account" ng-model="CompanyDetails.IsActive" ng-required="true">Active Account</md-switch>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Company Name</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.CompanyName" ng-required="true" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Registration No.</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.RegNo" ng-required="true" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">GST No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.GSTNo" ng-required="true" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">TAX ID</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.TaxId" ng-required="true" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Address</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.address.Address1" ng-required="true" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.address.Address2" ng-required="true" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Post Code</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.address.ZipCode" ng-required="true" logicon-number />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">City/Suburb</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.address.City" ng-required="true"/>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">State</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.address.State" ng-required="true" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Country</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control input-sm" ng-model="CompanyDetails.address.CountryCode" ng-options="s.CompanyCode as s.CompanyName for s in CountriesList" ng-required="true"></select>
                </div>
                <!--<div class="col-md-7">
                    <input type="text" class="form-control input-sm" />
                </div>-->
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Tel No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.address.TelNo" ng-required="true" logicon-number/>
                </div>
                <!--<div class="col-md-2">
                    <label class="control-label pull-right">Contact</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>-->
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Fax No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.address.FaxNo" ng-required="true"/>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Mobile No.</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.address.MobileNo" ng-required="true" logicon-number/>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Email</label>
                </div>
                <div class="col-md-10">
                    <input type="email" class="form-control input-sm" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-model="CompanyDetails.address.Email" ng-required="true" />
                </div>
            </div>
            <!--<div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Remarks</label>
                </div>
                <div class="col-md-10">
                    <textarea class="form-control input-sm"></textarea>
                </div>
            </div>-->
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Website</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="CompanyDetails.address.WebSite" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Company Logo</label>
                </div>
                <div class="col-md-8">
                    <input type="file" 
                           id="companyLogo"
                           name="companyLogo"
                           class="form-control input-sm" 
                           ng-model="CompanyDetails.Logo" 
                           onchange="angular.element(this).scope().fileChanged(this.files)"                            
                           ng-required="true"/>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-danger" type="button" ng-click="DeleteLogo()" ng-if="CompanyDetails.Logo != null && CompanyDetails.Logo != ''">
                    <i class="fa fa-trash-o"></i>&nbsp;Delete Logo</button>
                </div>
            </div>            
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <!--has-permission data-securable="Save" data-linkid="Company"-->
                    <md-button class="md-raised md-primary" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                    <md-button class="md-raised md-clear"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</md-button>
                </div>
            </div>
        </div>
    </div>
</form>



