﻿<section class="content" ng-controller="BookingEntryCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Booking Entry List</h3>.<div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" onclick="location.href = '#/tms/bookingentry/NEW'">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Order No.</th>
                                <th>Booking BL No.</th>
                                <th>Sub Booking BL No.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="bh in bookingHeaderList">
                                <td><a href="#/tms/bookingentry/{{bh.OrderNo}}">{{bh.OrderNo}}</a></td>
                                <td>{{bh.BookingBLNo}}</td>
                                <td>{{bh.SubBookingBLNo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <uib-pagination ng-model="currentPage"
                                    total-items="totalItems"
                                    ng-change="pageChanged()"
                                    class="pagination-sm pull-right"
                                    max-size="10"
                                    items-per-page="limit">
                    </uib-pagination>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>