﻿<section class="content" ng-controller="BookingEntryCntrl">
    <form id="frmBookingEntry" name="frmBookingEntry" ng-class="{'submitted': submitted}" ng-submit="SaveBookingEntry(bookingHeader);" novalidate>
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Booking Entry</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <uib-tabset>
                            <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled" uib-tooltip="{{tab.tooltip}}">
                                <div ng-include="tab.content"></div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-9"></div>
                    <div class="col-md-2 pull-right">
                        <button class="btn btn-primary" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                        <button class="btn btn-default" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
                    </div>
                </div>
            </div>
            <div class="overlay" style="opacity: 0.8;" ng-show="showLoading" aria-hidden="true">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </form>
</section>
