﻿<section class="content" ng-controller="OperationalReportsCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Operational Reports</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Reports</h3>
                        </div>
                        <div class="box-body" style="max-height: 500px;overflow-y:auto;min-height:500px; ">
                            <treecontrol class="tree-light" tree-model="treedata" expanded-nodes="expandedNodes" on-selection="showSelected(node)">
                                <a tabindex="0" class="ellipsisCss">{{node.label}}</a><!-- uib-tooltip="{{node.label}}" -->
                            </treecontrol>
                        </div>
                    </div>
                </div>

                <form id="frmReport" name="frmReport" ng-class="{'submitted': submitted}" ng-submit="GenerateReport(ope)" novalidate>
                    <div class="col-md-8" ng-show="isSelected">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date From</label>
                            </div>
                            <div class="col-md-3">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="DateFrom" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="ope.DateFrom"
                                                   ng-required="true"
                                                   date-time-input="{{dateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="ope.DateFrom"
                                                        data-datetimepicker-config="{ dropdownSelector: '#DateFrom', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date To</label>
                            </div>
                            <div class="col-md-3">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="DateTo" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="ope.DateTo"
                                                   ng-required="true"
                                                   date-time-input="{{dateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="ope.DateTo"
                                                        data-datetimepicker-config="{ dropdownSelector: '#DateTo', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row css10"></div>
                        <div class="row css10">
                            <div class="col-md-12">
                                <button class="btn btn-default" type="button" ng-click="submitted = true;"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                                <span class="pull-right">
                                    <button class="btn btn-success" type="submit" ng-click="submitted = true;"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;Generate Report</button>
                                </span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>