﻿<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Charge Code</label>
            </div>
            <div class="col-md-8">
                <input type="text" ng-model="cc.ChargeCode" ng-required="true" class="form-control input-sm" />
            </div>            
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <textarea class="form-control input-sm" ng-model="cc.ChargeDescription" ng-required="true"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Module</label>
            </div>
            <div class="col-md-8">
                <select 
                        class="form-control input-sm" 
                        ng-model="cc.Module" 
                        ng-options="s.Value as s.Text for s in lookupData.moduleList" ng-required="true"></select>
            </div>            
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Charge Type</label>
            </div>
            <div class="col-md-8">
                <select class="form-control input-sm" ng-model="cc.ChargeType" ng-options="s.Value as s.Text for s in lookupData.chargeTypeList" ng-required="true"></select>
            </div>            
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Charge Method</label>
            </div>
            <div class="col-md-8">
                <select class="form-control input-sm" ng-model="cc.ChargeMethod" ng-options="s.Value as s.Text for s in lookupData.chargeMethodList" ng-required="true"></select>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Billing Unit</label>
            </div>
            <div class="col-md-8">
                <select class="form-control input-sm" ng-model="cc.BillingUnit" ng-options="s.Value as s.Text for s in lookupData.billingUnitList" ng-required="true"></select>
            </div>
        </div>        
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <label class="control-label pull-right">Abbrevation</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control input-sm" ng-model="cc.ShortName"  ng-required="true"/>
            </div>
        </div>
    </div>    
</div>