﻿<div class="row">
    <div class="col-md-12">        
        <div class="row" style="margin-top:10px;">
            <div class="col-md-3">
                <label class="control-label pull-right">Credit Term</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" placeholder="Days" ng-model="cc.CreditTerm" logicon-number  ng-required="true"/>
            </div>
        </div>        
        <div class="row" style="margin-top:10px;">
            <div class="col-md-3">
                <label class="control-label pull-right">Revenue Code</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="cc.RevenueCode" ng-required="true"/>
            </div>            
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-3">
                <label class="control-label pull-right">Expense Code</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="cc.ExpensesCode" ng-required="true"/>
            </div>           
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-3">
                <label class="control-label pull-right">G / L Department</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="cc.GLCode" ng-required="true"/>
            </div>            
        </div>
    </div>    
</div>