﻿<div class="row" style="margin-top:10px;">
 <div class="col-md-9">
	<div class="row" style="margin-top:10px;">
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Pre-load For Export">Pre-load For Export</md-switch></div>
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Pre-load For Import">Pre-load For Import</md-switch></div>
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Pre-load For Local">Pre-load For Local</md-switch></div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Job Category Driven">Job Category Driven</md-switch></div>
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Product Category Driven">Product Category Driven</md-switch></div>
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Internal Cost">Internal Cost</md-switch></div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Revenue">Revenue</md-switch></div>
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Value Added Service">Value Added Service</md-switch></div>
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Pre-load For Inward">Pre-load For Inward</md-switch></div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Pre-load For Outward">Pre-load For Outward</md-switch></div>
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Requires Work Order">Requires Work Order</md-switch></div>
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Requires Approval">Requires Approval</md-switch></div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Charge For Cross Dock">Charge For Cross Dock</md-switch></div>
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Charge For Full Pallet">Charge For Full Pallet</md-switch></div>
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Load To Truck In">Load To Truck In</md-switch></div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-4"><md-switch class="md-primary" aria-label="Active">Active</md-switch></div>
</div>
 </div>
</div>
