﻿<div class="row" style="margin-top:10px;">
    <div class="col-md-6">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Output Tax</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label pull-right">GST Code</label>
                    </div>                    
                    <div class="col-md-9">
                        <select 
                                class="form-control input-sm" 
                                ng-model="cc.OutPutGSTCode" 
                                ng-options="s.Value as s.Text for s in lookupData.gstCodeList"
                                ng-change="gstChange('OutPutGSTRate', 'OutPutGSTCode')"
                                ng-required="true"></select>
                    </div>
                </div>                
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Tax Rate</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" placeholder="%" ng-model="cc.OutPutGSTRate" ng-disabled="true" logicon-decimal ng-required="true"/>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Surcharge</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label pull-right nowrapCss">Charge Code</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control input-sm" ng-model="cc.SurChargeCode" ng-options="s.Value as s.Text for s in lookupData.chargeCodeList" ng-required="true"></select>
                    </div>
                </div>                
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Percentage</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" placeholder="%" ng-model="cc.Percentage" ng-disabled="cc.SurChargeCode == null" logicon-decimal ng-required="true"/>
                    </div> 
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;">   
    <div class="col-md-6">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Input Tax</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label pull-right">GST Code</label>
                    </div>
                    <div class="col-md-9">
                        <select 
                                class="form-control input-sm"
                                 ng-model="cc.InputGSTCode"
                                 ng-options="s.Value as s.Text for s in lookupData.gstCodeList"
                                 ng-change="gstChange('InputGSTRate', 'InputGSTCode')"
                                 ng-required="true"></select>
                    </div>
                </div>                
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Tax Rate</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" placeholder="%" ng-model="cc.InputGSTRate" ng-disabled="true" logicon-decimal />
                    </div>
                    <div class="col-md-1">                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
