﻿<section class="content" ng-controller="CostSheetController">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Cost Sheet</h3>
            <div class="box-tools pull-right">
                 <!--<div class="btn-group" uib-dropdown is-open="status.isopen">
                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
                            More.. <span class="caret"></span>
                        </button>href="#/billing/customercashbill/1"
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">-->
                <div class="btn-group" uib-dropdown is-open="status.mainMenu">
                        <md-button class="md-fab md-mini-1 md-primary btn-box-tool" aria-label="button" uib-dropdown-toggle>
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </md-button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <!--<li role="menuitem"><a href="#/billing/customerinvoice">New Customer Invoice</a></li>-->
                            <li role="menuitem"><a ng-click="ExistingCustometInvoice()">New Customer Invoice</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#/billing/customercashbill/2">New Cash Bill</a></li>
                            <li role="menuitem"><a href="#">Existing Cash Bill</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#">New Vendor Invoice</a></li>
                            <li role="menuitem"><a href="#">Existing Vendor Invoice</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#">New Payment Request</a></li>
                            <li role="menuitem"><a href="#">Existing Payment Request</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#">Select All Charges</a></li>
                            <li role="menuitem"><a href="#">Select Cash Charges</a></li>
                            <li role="menuitem"><a href="#">Select Credit Charges</a></li>
                        </ul>
                    </div>
                
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                   <input type="text" class="form-control input-sm" placeholder="Order No." />
                </div>
                <!--<div class="col-md-1">
                    <md-button class="md-raised md-primary pull-right" ng-click="CostSheetDetails(-1);"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</md-button>
                </div>-->
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-1">
                    <label class="control-label pull-right">Customer</label>
                </div>
                <div class="col-md-2">
                    <input type="text"
                        class="form-control input-sm"
                        placeholder="Search Customer"
                        ng-model="orderHeaderDetails.CustomerCodeText"
                        typeahead-min-length="3"
                        uib-typeahead="d.Text as d.Text for d in MerchantResults($viewValue)"
                        typeahead-loading="loadingcustomers"
                        typeahead-wait-ms="1000"
                        typeahead-on-select="CustomerSelected($item, 'CustomerCode')" />
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right nowrapCss">Customer Ref.</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" ng-model="orderHeaderDetails.CustomerRef" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Billing Status</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-primary" type="button" ng-click="CostSheetDetails(-1);"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button>
                        <div class="btn-group" uib-dropdown is-open="status.cargoMenu">
                            <button id="Button1" type="button" class="btn btn-default" uib-dropdown-toggle>
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" style="margin: 2px -222px 0" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a ng-click="RemoveCostSheet()">Delete All</a></li>
                                <li role="menuitem"><a ng-click="CloneCostSheet()">Clone</a></li>
                                <li role="menuitem"><a ng-click="AddOtherContainers()">Add for other Continers</a></li>
                                <li role="menuitem"><a ng-click="ChangeCreditTerm()">Change credit term for all containers</a></li>
                                <li role="menuitem"><a ng-click="ChangeSellingRate()">Change selling rate for all conatiners</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color: #fff; background-color: #97c5ea;">
                            <tr>
                                <th>
                                    <md-checkbox class="md-primary"
                                        ng-click="toggleCostSheet()"
                                        aria-label="Priority"></md-checkbox>
                                </th>
                                <th>Order No.</th>
                                <th>Container No.</th>
                                <th>Container Key</th>
                                <th>Charge Code</th>
                                <th>Curr.</th>
                                <th>Ex. Rate</th>
                                <th>Billing Unit</th>
                                <th>Qty.</th>
                                <th>Price</th>
                                <th>Actual Amt.</th>
                                <th>Discount Amt.</th>
                                <th>Total Amt.</th>
                                <th>Output GSTCode</th>
                                <th>Input GSTCode</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in costSheetList">
                                <td>
                                    <md-checkbox ng-model="item.chk"
                                        ng-init="item.chk = false"
                                        class="md-primary"
                                        aria-label="Priority"></md-checkbox>
                                    <!--<md-checkbox aria-label="{{'chk' + $index }}" ng-model="chkArr[item.ContainerKey]"></md-checkbox>-->
                                </td>
                                <td>{{item.OrderNo}}</td>
                                <td>{{item.ContainerNo}}</td>
                                <td>{{item.ContainerKey}}</td>
                                <td>{{item.ChargeCode}}</td>
                                <td>{{item.CurrencyCodeDesc}}</td>
                                <td>{{item.ExchangeRate}}</td>
                                <td>{{item.BillingUnitDesc}}</td>
                                <td>{{item.Qty}}</td>
                                <td>{{item.Price}}</td>
                                <td>{{item.ActualAmount}}</td>
                                <td>{{item.DiscountAmount}}</td>
                                <td>{{item.TotalAmount}}</td>
                                <td>{{item.OutPutGSTDescription}}</td>
                                <td>{{item.InPutGSTDescription}}</td>
                                <td>{{item.Remark}}</td>

                                <td style="padding: 0 0 0 5px">
                                    <input type="hidden" ng-model="item.Index" ng-init="item.Index = $index" />
                                    <md-button typeof="button" ng-click="CostSheetDetails($index);" class="md-fab md-mini-1 md-primary btn-box-tool" aria-label="button">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </md-button>
                                    <md-button typeof="button" ng-click="DeleteCostSheet($index);" class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" aria-label="button">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <md-button class="md-raised md-primary" ng-click="SaveCostSheet()"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                </div>
            </div>
        </div>
    </div>
</section>
