﻿<section class="content" ng-controller="RegistrationListCntrl as RegistrationListCntrl">
    
    <script type="text/ng-template" id="delete-status.html">
        <style type="text/css">
            .Rejectcontainer {
                width: 400px;
                margin: 10px;
            }
        </style>
        <div class="Rejectcontainer">
            <form id="RegistrationListCntrl.frmDelete" name="RegistrationListCntrl.frmDelete" ng-class="{'submitted': DeleteSubmitted}" ng-submit="Delete(remarks)" novalidate>
                <div class="row">
                    <div class="col-md-5">
                        <label class="control-label pull-left">Remarks</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea ng-model="remarks" ng-required="true" class="form-control input-sm" rows="5"></textarea>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-6">
                        <button ng-click="isOpenRemarksPP = false" type="button" class="btn btn-default btn-block">Cancel</button>
                    </div>
                    <div class="col-md-6">
                        <button ng-click="DeleteSubmitted = true;" type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Registration List</h3>            
        </div>
        <div class="box-body">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <uib-accordion-heading>
                        <i class="pull-left fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                    </uib-accordion-heading>
                    <form id="RegistrationListCntrl.frmSearch" name="RegistrationListCntrl.frmSearch" ng-class="{'submitted': SearchSubmitted}" ng-submit="SearchRegisteredCompanies(Search.CompanyName,Search.RegistrationNo,Search.DateFrom,Search.DateTo,Search.filter, Search.Email)" novalidate>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Company Name</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.CompanyName" />

                            </div>
                            <div class="col-md-1">
                                <label class="control-label pull-right text-nowrap">Registration No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.RegistrationNo" />
                            </div>
                            <div class="col-md-1">
                                <label class="control-label pull-right text-nowrap">Email</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.Email" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">GST No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.GSTNo" />

                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Invoice No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.InvoiceNo" />

                            </div>
                            <div class="col-md-1">
                                <label class="control-label pull-right">Receipt No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="Search.ReceiptNo" />

                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date From</label>
                            </div>
                            <div class="col-md-2">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="FromDate" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="Search.DateFrom"
                                                   date-time-input="{{DateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="Search.DateFrom"
                                                        data-datetimepicker-config="{ dropdownSelector: '#FromDate', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date To</label>
                            </div>
                            <div class="col-md-2">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="ToDate" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="Search.DateTo"
                                                   date-time-input="{{DateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="Search.DateTo"
                                                        data-datetimepicker-config="{ dropdownSelector: '#ToDate', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Registration Status</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm"
                                        ng-model="Search.filter"
                                        ng-options="s.Value as s.Text for s in lookUpData.registrationStatusList">
                                    <option value="">All</option>

                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <button ng-click="SearchSubmitted = true;" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </uib-accordion>
            <div class="row" ng-show="companies.length > 0">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Email ID</th>
                                <th>Company Name</th>
                                <th>Reg. No.</th>
                                <th>Reg. Type</th>
                                <th>Org. Type</th>
                                <th>CPAM A/C No.</th>
                                <th>Status</th>
                                <th>#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="com in companies">
                                <td>
                                    {{com.RegisteredEmailID}}
                                </td>
                                <td>
                                    {{com.CompanyName}}
                                </td>
                                <td>{{com.RegistrationNo}}</td>
                                <td>{{com.RegistrationTypeDescription }}</td>
                                <td>{{com.OrganisationTypeDescription }}</td>
                                <td>{{com.CPAMAccountNo}}</td>
                                <td>{{com.RegistrationStatusDescription}}</td>
                                <td>
                                    <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="viewInfo(com.CompanyID);" aria-label="button">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                    <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple ppCss" type="button" popover-placement="top-right" ng-click="validateRecord(com.CompanyID)" popover-is-open="isOpenRemarksPP" uib-popover-template="'delete-status.html'" aria-label="button">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <uib-pagination ng-model="currentPage"
                                    total-items="totalItems"
                                    ng-change="pageChanged()"
                                    class="pagination-sm pull-right"
                                    max-size="10"
                                    items-per-page="limit">
                    </uib-pagination>
                </div>
            </div>
            <div class="row" ng-show="companies.length > 0">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" ng-click="ExportData('excel','application/vnd.ms-excel');"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Excel</button>
                    <button type="button" class="btn btn-primary" ng-click="ExportData('pdf','application/pdf');"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;Pdf</button>
                </div>
            </div>
            <div class="row" ng-if="companies.length == 0">
                <div class="col-md-12">
                    <label class="control-label pull-left">No. items of type {{(lookUpData.registrationStatusList | filter: { Value: filter })[0].Text}} found.</label>
                </div>
            </div>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>