﻿<form id="frmBookingConInfo" name="frmBookingConInfo" ng-class="{'submitted': submitted }" ng-submit="SaveBookingContainer(bc);" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Container Info</h4>
    </div>
    <div class="modal-body">
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">Container No.</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="bc.ContainerNo" ng-required="true" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Container Class</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm"
                        ng-model="bc.ContainerGrade"
                        ng-options="s.Value as s.Text for s in lookUpData.ContainerClassList"></select>
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">Container Status</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"
                        ng-model="bc.Status"
                        ng-options="s.Value as s.Text for s in lookUpData.efIndicatorList" ng-required="true"></select>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <label class="control-label pull-right">Size Type</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"
                        ng-change="sizeChanged()"
                        ng-model="bc.Size"
                        ng-options="s.Value as s.Text for s in lookUpData.SizeList" ng-required="true"></select>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"
                        ng-model="bc.Type"
                        ng-disabled="bc.Size == null"
                        ng-options="s.Text as s.Text for s in lookUpData.TypeList" ng-required="true"></select>
            </div>
        </div>

        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">IMO/UN No.</label>
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"
                        ng-model="bc.IMOCode"
                        ng-options="s.Value as s.Text for s in lookUpData.IMOCodeList"></select>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-model="bc.UNNumber" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Cargo Category</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm"
                        ng-model="bc.CargoCategory"
                        ng-options="s.Value as s.Text for s in lookUpData.CargoCategoryList"></select>
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">Weight/Volume</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-model="bc.Weight" logicon-decimal />
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-model="bc.Volume" logicon-decimal />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Pickup Date</label>
            </div>
            <div class="col-md-4">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="PickupDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="bc.PickupDate"
                                   date-time-input="{{dateFormat}}">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="bc.PickupDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#PickupDate', startView:'day', minView:'day' }" />
                    </ul>
                </div>
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">Temperature</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-model="bc.Temperature" logicon-decimal />
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"
                        ng-model="bc.TempratureMode"
                        ng-options="s.Value as s.Text for s in lookUpData.TmpTypeList">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Agent Seal</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="bc.SealNo1" />
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">Vent</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-model="bc.Vent" />
            </div>
            <div class="col-md-2">
                <select class="form-control input-sm"
                        ng-model="bc.VentMode"
                        ng-options="s.Value as s.Text for s in lookUpData.VentTypeList">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Customer Seal</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="bc.SealNo2" />
            </div>

        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">Verified Gross Mass</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control input-sm" ng-model="bc.VGM" logicon-decimal ng-maxlength="18" logicon-limit />
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Stowage Cell</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="bc.StowageCell" />
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">Commodity</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control input-sm" ng-model="bc.Commodity" />
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">Special Instruction</label>
            </div>
            <div class="col-md-10">
                <textarea class="form-control input-sm" ng-model="bc.SpecialInstructions"></textarea>
            </div>
        </div>
        <div class="row css10">
            <div class="col-md-2">
                <label class="control-label pull-right">Remarks</label>
            </div>
            <div class="col-md-10">
                <textarea class="form-control input-sm" ng-model="bc.Remarks"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>
