﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Charge VAS</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead style="color: #fff; background-color: #97c5ea;">
                    <tr>
                        <th>#</th>
                        <th>Charge Code</th>
                        <th>Payment Term</th>
                        <th>Payment To</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in chargesVasList">
                        <td><md-checkbox aria-label="{{item.ChargeCode}}"
                                         ng-checked="exists(item, selected)"
                                         ng-click="toggle(item, selected)"></md-checkbox></td>
                        <td>{{item.ChargeCode}}</td>
                        <td>{{item.PaymentTerm}}</td>
                        <td>{{item.PaymentTo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-sm" type="button" ng-click="SaveVasCharges();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>
