﻿<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Container Details</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" ng-click="AddContainerDetails(-1);">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th>Container No.</th>
                                    <th>Container Class</th>
                                    <th>Container Status</th>
                                    <th>Size</th>
                                    <th>Type</th>
                                    <th>P/U Mode</th>
                                    <th>Pickup Date</th>
                                    <th>IMO</th>
                                    <th>UNNo</th>
                                    <th>Cargo Category</th>
                                    <th>Weight</th>
                                    <th>Volume</th>
                                    <th>Agent Seal</th>
                                    <th>Customer Seal</th>
                                    <th>Vent</th>
                                    <th>Temperature</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="bc in bookingHeader.BookingContainers" ng-click="containerDetailRowClick(bc.ContainerKey)">
                                    <td>{{bc.ContainerNo}}</td>
                                    <td>{{(lookUpData.ContainerClassList | filter : {Value:bc.ContainerGrade})[0].Text}}</td>
                                    <td>{{(lookUpData.efIndicatorList | filter : {Value:bc.Status})[0].Text}}</td>
                                    <td>{{(lookUpData.SizeList | filter : {Value:bc.Size})[0].Text}}</td>
                                    <td>{{(lookUpData.TypeList | filter : {Value:bc.Type})[0].Text}}</td>
                                    <td>{{(lookUpData.puModeList | filter : {Value:bc.PickupDropOffMode})[0].Text}}</td>
                                    <td>{{bc.RequiredDate | date : 'dd/MM/yyyy'}}</td>
                                    <td>{{(lookUpData.IMOCodeList | filter : {Value:bc.IMOCode})[0].Text}}</td>
                                    <td>{{bc.UNNumber}}</td>
                                    <td>{{(lookUpData.CargoCategoryList | filter : {Value:bc.CargoCategory})[0].Text}}</td>
                                    <td>{{bc.Weight}}</td>
                                    <td>{{bc.Volume}}</td>
                                    <td>{{bc.SealNo1}}</td>
                                    <td>{{bc.SealNo2}}</td>
                                    <td>{{bc.Vent}}</td>
                                    <td>{{bc.Temperature}}</td>
                                    <td>
                                        <button class="btn btn-primary" type="button" ng-click="AddContainerDetails($index)">Edit</button>
                                        <input type="hidden" ng-model="bc.index" ng-init="bc.index = $index" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box box-default box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="box-title">Movements</h5>
                        <table class="table table-bordered table-hover">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th>Movement</th>
                                    <th>Transaction No.</th>
                                    <th>Movement Date</th>
                                    <!--<th>Container Key</th>-->
                                    <th>Sequence No.</th>
                                    <th>Movement Date</th>
                                    <!--<th>Status</th>
                                    <th>Yard Location</th>
                                    <th>Truck Transaction No</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="mvt in bookingHeader.BookingMovements | filter:{ContainerKey: tblSearch.ContainerKey}">
                                    <td>{{mvt.MovementCode}}</td>
                                    <td></td>
                                    <td></td>
                                    <!--<td>{{mvt.ContainerKey}}</td>-->
                                    <td>{{mvt.Sequence}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
