﻿<style>
    .custom-popup-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        background-color: #f9f9f9;
    }

        .custom-popup-wrapper > .message {
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
            color: #868686;
        }

        .custom-popup-wrapper > .dropdown-menu {
            position: static;
            float: none;
            display: block;
            min-width: 160px;
            background-color: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;
        }

    tr.dropdown-menu {
        display: block;
    }

    .mytable {
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.5);
        position: absolute;
        width: 800px;
        z-index: 99999;
    }

        .mytable thead tr {
            background-color: #367fa9;
            color: #fff;
        }
</style>
<div class="row" style="margin-top:10px">

    <div class="col-sm-12 col-md-5">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">General</h3>
            </div>
            <div class="box-body">

                <div class="row css10">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Mode of Transport</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control input-sm"
                                ng-model="bookingHeader.TransportType"
                                ng-options="s.Value as s.Text for s in lookUpData.transportList"
                                ng-required="true"
                                ng-change="transportTypeChanged()"></select>
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-4">
                        <label class="control-label pull-right nowrapCss">Booking Type</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control input-sm"
                                ng-model="bookingHeader.BookingType"
                                ng-options="s.Value as s.Text for s in lookUpData.bookingType"
                                ng-change="bookingTypeChange()" ng-required="true"></select>
                    </div>

                </div>
                <div class="row css10">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Order Type</label>
                    </div>
                    <div class="col-md-8">
                        <select ng-disabled="bookingHeader.BookingType == null"
                                class="form-control input-sm"
                                ng-model="bookingHeader.OrderType"
                                ng-options="s.Value as s.Text for s in lookUpData.orderTypeList" ng-required="true"></select>
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-4">
                        <label class="control-label pull-right nowrapCss">Booking No.</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control input-sm" ng-model="bookingHeader.BookingNo" ng-required="true" />
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-4">
                        <label class="control-label pull-right nowrapCss">Booking Date</label>
                    </div>
                    <div class="col-md-8">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="OrderDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control input-sm datepicker"
                                           ng-model="bookingHeader.OrderDate"
                                           ng-required="true"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="bookingHeader.OrderDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#OrderDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-4">
                        <label class="control-label pull-right nowrapCss">BL No.</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control input-sm"
                               ng-model="bookingHeader.BLNo"
                               ng-required="true"
                               ng-maxlength="5"
                               logicon-limit />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default box-solid">
                    <div class="box-body">
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right nowrapCss">Forwarder</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text"
                                       class="form-control input-sm ac"
                                       ng-class="{'loadinggif': bookingHeader.FFNameLoading}"
                                       placeholder="Forwarder"
                                       ng-model="bookingHeader.ForwarderName"
                                       typeahead-min-length="3"
                                       uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue,'freightForwarder')"
                                       typeahead-loading="bookingHeader.FFNameLoading"
                                       typeahead-wait-ms="1000"
                                       typeahead-editable="false"
                                       ng-required="true"
                                       typeahead-on-select="CustomerSelected($item, 'ForwarderCode')" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right nowrapCss">Shipping Liner</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text"
                                       class="form-control input-sm ac"
                                       ng-class="{'loadinggif': bookingHeader.ShippingAgentLoading}"
                                       placeholder="Shipping Liner"
                                       ng-model="bookingHeader.ShippingAgentName"
                                       typeahead-min-length="3"
                                       uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue,'Liner')"
                                       typeahead-loading="bookingHeader.ShippingAgentLoading"
                                       typeahead-wait-ms="1000"
                                       typeahead-editable="false"
                                       ng-required="true"
                                       typeahead-on-select="CustomerSelected($item, 'ShippingAgent')" />
                            </div>
                        </div>

                        <!--<div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right nowrapCss">Owner Code</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control input-sm"
                                       ng-model="bookingHeader.OwnerCode"
                                       ng-required="true"
                                       ng-maxlength="18"
                                       logicon-limit
                                       logicon-number />
                            </div>
                        </div>-->

                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right nowrapCss">Billing Customer</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text"
                                       class="form-control input-sm ac"
                                       ng-class="{'loadinggif': bookingHeader.CustomerNameLoading}"
                                       placeholder="Customer"
                                       ng-model="bookingHeader.CustomerName"
                                       typeahead-min-length="3"
                                       uib-typeahead="d.Text as d.Text for d in GenericMerchantResults($viewValue, 'billingCustomer')"
                                       typeahead-loading="bookingHeader.CustomerNameLoading"
                                       typeahead-wait-ms="1000"
                                       typeahead-editable="false"
                                       ng-required="true"
                                       typeahead-on-select="CustomerSelected($item, 'CustomerCode')" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-default box-solid">
                    <div class="box-body">
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right nowrapCss">Loading Port</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text"
                                       class="form-control input-sm ac"
                                       ng-class="{'loadinggif': bookingHeader.LoadingPortNameLoading}"
                                       placeholder="Loading Port"
                                       ng-model="bookingHeader.LoadingPortName"
                                       typeahead-min-length="3"
                                       uib-typeahead="d.PortName as d.PortName for d in PortResults($viewValue)"
                                       typeahead-loading="bookingHeader.LoadingPortNameLoading"
                                       typeahead-wait-ms="1000"
                                       typeahead-editable="false"
                                       ng-required="true"
                                       typeahead-on-select="PortSelected($item, 'LoadingPort')" />
                            </div>

                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right nowrapCss">Discharge Port</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text"
                                       class="form-control input-sm ac"
                                       ng-class="{'loadinggif': bookingHeader.DischargePortNameLoading}"
                                       placeholder="Discharge Port"
                                       ng-model="bookingHeader.DischargePortName"
                                       typeahead-min-length="3"
                                       uib-typeahead="d.PortName as d.PortName for d in PortResults($viewValue)"
                                       typeahead-loading="bookingHeader.DischargePortNameLoading"
                                       typeahead-wait-ms="1000"
                                       typeahead-editable="false"
                                       ng-required="true"
                                       typeahead-on-select="PortSelected($item, 'DischargePort')" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right nowrapCss">Destination Port</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text"
                                       class="form-control input-sm ac"
                                       ng-class="{'loadinggif': bookingHeader.DestinationPortNameLoading}"
                                       placeholder="Destination Port"
                                       ng-model="bookingHeader.DestinationPortName"
                                       typeahead-min-length="3"
                                       uib-typeahead="d.PortName as d.PortName for d in PortResults($viewValue)"
                                       typeahead-loading="bookingHeader.DestinationPortNameLoading"
                                       typeahead-wait-ms="1000"
                                       typeahead-editable="false"
                                       ng-required="true"
                                       typeahead-on-select="PortSelected($item, 'DestinationPort')" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-md-6">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Other Information</h3>
            </div>
            <div class="box-body">
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Total Qty</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm"
                               ng-model="bookingHeader.TotalQty"
                               ng-maxlength="5"
                               logicon-limit
                               logicon-number />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">UOM</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm"
                                ng-model="bookingHeader.UOM"
                                ng-options="s.Value as s.Text for s in lookUpData.UOMList"></select>
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">Total Volume</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="bookingHeader.TotalVolume" logicon-decimal />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Total Weight</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" ng-model="bookingHeader.TotalWeight" logicon-decimal />
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Commodity</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control input-sm" ng-model="bookingHeader.Commodity" />
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Marks & No.</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control input-sm" ng-model="bookingHeader.MarksNos" />
                    </div>
                </div>


                <div class="row css10">
                    <div class="col-md-12">
                        <label class="control-label pull-left">Special Instruction</label>
                        <textarea class="form-control input-sm" ng-model="bookingHeader.SpecialInstructions"></textarea>
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-12">
                        <label class="control-label pull-left">Remarks</label>
                        <textarea class="form-control input-sm" ng-model="bookingHeader.Remarks"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="col-md-7 col-sm-12" ng-if="bookingHeader.TransportType == 1021">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Vessel & Voyage Details</h3>
            </div>
            <div class="box-body">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">Vessel Name</label>
                    </div>
                    <div class="col-md-6">
                        <script type="text/ng-template" id="customTemplate.html">
                            <table ng-show="isOpen() && !moveInProgress"
                                   aria-hidden="{{!isOpen()}}"
                                   class="table table-bordered table-hover table-bordered mytable"
                                   ng-style="{top: position().top+'px', left: position().left+'px'}"
                                   style="">
                                <thead>
                                    <tr>
                                        <th>Voyage</th>
                                        <th>Vessel Name</th>
                                        <th>ETA</th>
                                        <th>ETD</th>
                                        <th>Terminal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="match in matches track by $index" ng-click="selectMatch($index)">
                                        <td>{{match.model.VoyageNo}}</td>
                                        <td>{{match.model.VesselName}}</td>
                                        <td>{{match.model.ETA | date :  'dd/MM/yyyy hh:mm a' }}</td>
                                        <td>{{match.model.ETD | date :  'dd/MM/yyyy hh:mm a' }}</td>
                                        <td>{{match.model.TerminalName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </script>

                        <input type="text"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': bookingHeader.VesselCodeLoading}"
                               placeholder="Vessel Name"
                               ng-model="bookingHeader.VesselName"
                               typeahead-min-length="3"
                               uib-typeahead="d.Text as d.Text for d in VesselCodeLoadingResults($viewValue)"
                               typeahead-loading="bookingHeader.VesselCodeLoading"
                               typeahead-wait-ms="1000"
                               typeahead-editable="false"
                               ng-required="bookingHeader.TransportType == 1021"
                               typeahead-on-select="CustomerSelected($item, 'VesselID')" />                        <!--ng-blur="OnBlur('VesselName','VesselID')"-->
                    </div>
                    <div class="col-md-4">
                        <md-checkbox class="md-primary" aria-label="Allow Late Gate In" ng-model="bookingHeader.IsAllowLateGate">Allow Late Gate In</md-checkbox>
                    </div>
                </div>

                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right">Voyage No.</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text"
                               ng-disabled="bookingHeader.BookingType == null || bookingHeader.VesselName==null"
                               class="form-control input-sm ac"
                               ng-class="{'loadinggif': bookingHeader.VoyageNoNameLoading}"
                               placeholder="Voyage No"
                               ng-model="bookingHeader.VoyageNo"
                               typeahead-min-length="3"
                               uib-typeahead="d.VoyageNo for d in VoyageLoadingResults($viewValue)"
                               typeahead-loading="bookingHeader.VoyageNoNameLoading"
                               typeahead-popup-template-url="customTemplate.html"
                               typeahead-wait-ms="1000"
                               typeahead-editable="false"
                               ng-required="bookingHeader.TransportType == 1021"
                               typeahead-on-select="VoyageSearchSelect($item)" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right">Wharf</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm"
                                ng-model="bookingHeader.Wharf"
                                ng-options="s.Value as s.Text for s in lookUpData.WharfList"></select>
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">Ship Call No.</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm"
                               ng-model="bookingHeader.ShipCallNo"
                               ng-required="bookingHeader.TransportType == 1021" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">Vessel Call Sign</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm"
                               ng-model="bookingHeader.CallSignNo"
                               ng-required="bookingHeader.TransportType == 1021" />
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">ETA</label>
                    </div>
                    <div class="col-md-4">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="ETA" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control input-sm datepicker"
                                           ng-model="bookingHeader.ETA"
                                           ng-required="bookingHeader.TransportType == 1021 || bookingHeader.TransportType == 1020"
                                           date-time-input="{{dateTimeFormat12}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="bookingHeader.ETA"
                                                data-datetimepicker-config="{
                                        dropdownSelector: '#ETA',
                                        startView: 'day',
                                        minView: 'minute' }" />
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label pull-right nowrapCss">ETD</label>
                    </div>
                    <div class="col-md-4">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="ETD" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control input-sm datepicker"
                                           ng-model="bookingHeader.ETD"
                                           ng-required="bookingHeader.TransportType == 1021"
                                           date-time-input="{{dateTimeFormat12}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="bookingHeader.ETD"
                                                data-datetimepicker-config="{
                                        dropdownSelector: '#ETD',
                                        startView: 'day',
                                        minView: 'minute' }" />
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row css10">
                    <div class="col-sm-3 col-md-2">
                        <label class="control-label pull-right nowrapCss">Port Cut-Off (Dry)</label>
                    </div>
                    <div class="col-sm-3 col-md-4">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="PortCutOffDry" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control input-sm datepicker"
                                           ng-model="bookingHeader.PortCutOffDry"
                                           ng-required="bookingHeader.TransportType == 1021"
                                           date-time-input="{{dateTimeFormat12}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="bookingHeader.PortCutOffDry"
                                                data-datetimepicker-config="{
                                        dropdownSelector: '#PortCutOffDry',
                                        startView: 'day',
                                        minView: 'minute' }" />
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <label class="control-label pull-right nowrapCss">Port Cut-Off (Reefer)</label>
                    </div>
                    <div class="col-sm-3  col-md-4">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="PortCutOffReefer" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control input-sm datepicker"
                                           ng-model="bookingHeader.PortCutOffReefer"
                                           ng-required="bookingHeader.TransportType == 1021"
                                           date-time-input="{{dateTimeFormat12}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="bookingHeader.PortCutOffReefer"
                                                data-datetimepicker-config="{
                                        dropdownSelector: '#PortCutOffReefer',
                                        startView: 'day',
                                        minView: 'minute' }" />
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-12" ng-if="bookingHeader.TransportType == 1020">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">FLIGHT DETAILS</h3>
                    </div>
                    <div class="box-body">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Flight No.</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm"
                                       ng-model="bookingHeader.FlightNo"
                                       ng-maxlength="70" logicon-limit />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">ARN No.</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm"
                                       ng-model="bookingHeader.ARNNo"
                                       ng-maxlength="70" logicon-limit />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">ETA</label>
                            </div>
                            <div class="col-md-6">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="ETA" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text"
                                                   class="form-control input-sm datepicker" ng-model="bookingHeader.ETA" ng-required="bookingHeader.TransportType == 1020 || bookingHeader.TransportType == 1021"
                                                   date-time-input="{{dateTimeFormat12}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="bookingHeader.ETA"
                                                        data-datetimepicker-config="{ dropdownSelector: '#ETA', startView:'day', minView:'minute' }" />
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-12" ng-if="bookingHeader.TransportType == 1022">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">RAIL DETAILS</h3>
                    </div>
                    <div class="box-body">
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Wagon No.</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm"
                                       ng-model="bookingHeader.WagonNo"
                                       ng-maxlength="70" logicon-limit />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-12" ng-if="bookingHeader.TransportType == 1023">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">ROAD DETAILS</h3>
                    </div>
                    <div class="box-body">
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Vehicle Registration No. 1</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm"
                                       ng-model="bookingHeader.VehicleNo1"
                                       ng-maxlength="70" logicon-limit />
                            </div>
                        </div>

                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">Vehicle Registration No. 2</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm"
                                       ng-model="bookingHeader.VehicleNo2"
                                       ng-maxlength="70" logicon-limit />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-7" ng-if="bookingHeader.TransportType == 1024">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">POST DETAILS</h3>
                    </div>
                    <div class="box-body">
                        <div class="row css10">
                            <div class="col-md-3">
                                <label class="control-label pull-right">JK78 Information No.</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control input-sm"
                                       ng-model="bookingHeader.JKNo"
                                       ng-maxlength="70" logicon-limit />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
