﻿<section class="content" ng-controller="PaymentInquiryCntrl as PICtrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Statement Inquiry</h3>
        </div>
        <div class="box-body">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Advanced Search" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <uib-accordion-heading>
                        <i class="pull-left fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                    </uib-accordion-heading>
                     <form id="PICtrl.frmSearchPendingBilling" name="PICtrl.frmSearchPendingBilling" ng-class="{'submitted':submitted}" ng-submit="SearchPendingBilling(pb)" novalidate>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Subscriber Name</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-model="pb.name" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Subscription Type</label>
                            </div>
                            <div class="col-md-2">
                                <select ng-model="pb.type"
                                        ng-required="true"
                                        ng-options="s.Value as s.Text for s in lookupData.registrationTypeList"
                                        class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date From</label>
                            </div>
                            <div class="col-md-2">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="FromDate" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="pb.FromDate"
                                                   ng-required="true"
                                                   date-time-input="{{dateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="pb.FromDate"
                                                        data-datetimepicker-config="{ dropdownSelector: '#FromDate', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date To</label>
                            </div>
                            <div class="col-md-2">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="ToDate" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="pb.ToDate"
                                                   ng-required="true"
                                                   date-time-input="{{dateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="pb.ToDate"
                                                        data-datetimepicker-config="{ dropdownSelector: '#ToDate', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Filter</label>
                            </div>
                            <div class="col-md-2">
                                <select ng-model="pb.type"
                                        ng-required="true"
                                        class="form-control input-sm">
                                    <option value="Paid">Paid</option>
                                    <option value="Unpaid">Unpaid</option>
                                    <option value="Ageing">Ageing</option>
                                </select>

                            </div>
                            <div class="col-md-1" ng-if="pb.type == 'Ageing'">
                                <input type="text"
                                       class="form-control input-sm"
                                       ng-required="pb.type == 'Ageing'"
                                       ng-model="pb.noofDays"
                                       ng-maxlength="3"
                                       logicon-limit />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-primary" ng-click="submitted = true"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </uib-accordion>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Receipt No.</th>
                                <th>Receipt Date</th>
                                <th>Payment Date</th>
                                <th>Paid Amount</th>
                                <th>Due Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="il in InquiryList">
                                <td>{{il.CompanyName}}</td>
                                <td>{{il.RegNo}}</td>
                                <td>{{il.RegistrationTypeDescription}}</td>
                                <td>{{il.RegNo}}</td>
                                <td>{{il.RegistrationTypeDescription}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-primary" onclick="location.href = '#/owner'" type="button">&nbsp;<i class="fa fa-backward"></i>&nbsp;Back</button>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>





    </div>
</section>