﻿<form id="frmPortArea" name="frmPortArea" ng-submit="SavePort(port);" ng-class="{'submitted': submitted}" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Edit Port / Area</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Port / Area Code</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" ng-model="port.PortCode" ng-required="true" class="form-control input-sm" ng-readonly="truefalse"/>
                    </div>                    
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Port Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" ng-model="port.PortName" ng-required="true" class="form-control input-sm" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-4">
                        <label class="control-label pull-right">ISO Code</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" ng-model="port.ISOCode" class="form-control input-sm"  ng-required="true" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Edi Mapping</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" ng-model="port.MappingCode" class="form-control input-sm"  ng-required="true"/>
                    </div>
                </div>
                <!--<div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="control-label pull-right">Integratin Branch</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm" ng-model="port.intBranch" ng-options="s.Value as s.Text for s in branchList">
                        </select>
                    </div>
                </div>-->
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <md-radio-group ng-model="port.PortType" ng-required="true">
                            <md-radio-button value="1300" class="md-primary">Sea Port</md-radio-button>
                            <md-radio-button value="1301" class="md-primary">Air Port</md-radio-button>
                            <md-radio-button value="1302" class="md-primary">Haulage</md-radio-button>
                            <md-radio-button value="1303" class="md-primary">WareHouse</md-radio-button>
                            <md-radio-button value="1304" class="md-primary">Transport</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>
            <input type="hidden" ng-model="port.CountryCode" />
        </div>

    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-8"></div>
            <div class="col-md-4 pull-right">
                <md-button type="submit" class="md-raised md-primary" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                <md-button class="md-raised md-danger" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</md-button>
            </div>
        </div>
    </div>
</form>

