﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Cargo Dimensions</label>
    </div>
    <div class="col-md-1">
        <md-button class="md-raised md-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</md-button>
    </div>
    <div class="col-md-2">
        <md-checkbox class="md-primary" aria-label="Show Rate">Show Rate</md-checkbox>
    </div>
    <div class="col-md-2">
        <label class="control-label pull-right">Chargeable Weight</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead style="color: #fff; background-color: #97c5ea;">
                <tr>
                    <th></th>
                    <th>No. Of Pieces RCP</th>
                    <th>Gross Weight</th>
                    <th>Kg/lb</th>
                    <th>Rate Class</th>
                    <th>Commodity Item No.</th>
                    <th>Chargeable Weight</th>
                    <th>Rate/Charge</th>
                    <th>Total</th>
                    <th>Nature & Quantity Of Goods</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <label class="control-label pull-left">Remarks</label>
        <textarea class="form-control input-sm"></textarea>
    </div>
</div>
