﻿<style type="text/css">
    
</style>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-4">
        <div class="box box-default box-solid">            
            <div class="box-body">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6 text-center"><span class="pinkCss">Prepaid</span></div>                    
                    <div class="col-md-6 text-center"><span class="pinkCss">Collect</span></div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12 text-center"><span class="blackCss">Weight Charge</span></div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">                    
                    <div class="col-md-12 text-center"><span class="blackCss">Valuation Charge</span></div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">                    
                    <div class="col-md-12 text-center"><span class="blackCss">Tax</span></div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">                    
                    <div class="col-md-12 text-center"><span class="blackCss">Total Other Charges Due Agent</span></div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">                    
                    <div class="col-md-12 text-center"><span class="blackCss">Total Other Charges Due Carrier</span></div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6 text-center"><span class="blackCss">Total Prepaid</span></div>
                    <div class="col-md-6 text-center"><span class="blackCss">Total Collect</span></div>                    
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm" />
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="col-md-8">
        <label class="control-label pull-left">Other Charges</label>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead style="color: #fff; background-color: #97c5ea;">
                        <tr>
                            <th></th>
                            <th>Chg. Code</th>
                            <th>Weight</th>
                            <th>Rate</th>
                            <th>Amount</th>
                            <th>Min Amt</th>
                            <th>PP/CC</th>
                            <th>Due To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Executed at</label>
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Issuing Carrier or Agent</label>
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Signatory Remarks</label>
    </div>
    <div class="col-md-10">
        <textarea class="form-control input-sm"></textarea>
    </div>
</div>
