﻿<div class="row">
    <div class="col-md-6">
        <div class="box box-default box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <uib-tabset>
                            <uib-tab heading="Shipper" active="true" disable="false">
                                <div ng-include="'Js/Freight/Templates/HouseAirWaybill/shipper-consignee.html'"></div>
                            </uib-tab>
                            <uib-tab heading="Consignee" active="true" disable="false">
                                <div ng-include="'Js/Freight/Templates/HouseAirWaybill/shipper-consignee.html'"></div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Job No.</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Date Issued.</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">MAWB No.</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <label class="control-label pull-left">Accounting Info/Also Notify</label>
                <textarea class="form-control input-sm"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Freight Term</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm"></select>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
                <label class="control-label pull-left">Declared Value for Carriage</label>
                <input type="text" class="form-control input-sm" />
            </div>
            <div class="col-md-6">
                <label class="control-label pull-left">Declared Value for Customs</label>
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label class="control-label pull-right noWrapCss">Insurance Amount</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
    </div>
</div> 
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <md-checkbox class="md-primary" aria-label="Update Consignee as Foreign Agent">Update Consignee as Foreign Agent</md-checkbox>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-left">Departure Port</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="box box-default box-solid">            
            <div class="box-body">
                <div class="row" style="margin-top: 10px;">                    
                    <div class="col-md-1">
                        <label class="control-label pull-left">To</label>
                        <select class="form-control input-sm"></select>
                    </div>                    
                    <div class="col-md-1">
                        <label class="control-label pull-left">First Carrier</label>
                        <input type="text" class="form-control input-sm" />
                    </div>                    
                    <div class="col-md-1">
                        <label class="control-label pull-left">ETD</label>
                        <select class="form-control input-sm"></select>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-left">To (1st)</label>
                        <select class="form-control input-sm"></select>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-left">By (1st)</label>
                        <input type="text" class="form-control input-sm" />
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-left">To (2nd)</label>
                        <select class="form-control input-sm"></select>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-left">By (2nd)</label>
                        <input type="text" class="form-control input-sm" />
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-left">Curr.</label>
                        <select class="form-control input-sm"></select>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-left">Chgs. Code</label>
                        <select class="form-control input-sm"></select>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-left">WT VAL.</label>
                        <select class="form-control input-sm"></select>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label pull-left">Other</label>
                        <select class="form-control input-sm"></select>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Destination Port</label>
    </div>
    <div class="col-md-2">
        <select class="form-control input-sm"></select>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2 pull-right">
        <md-button class="md-raised md-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Handling Info.</md-button>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Requested Flight/Date(1st)</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <label class="control-label pull-right">Requested Flight/Date(2nd)</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" />
    </div>
</div>


