<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Area Code</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top:10px;">
    	<div class="col-md-2">
    		<label class="control-label pull-right">Search By Description</label>
    	</div>
    	<div class="col-md-7">
    		<input type="text" class="form-control input-sm" />
    	</div>
    	<div class="col-md-3">
    		<md-checkbox class="md-primary" aria-label="Match At Anywhere">Match At Anywhere</md-checkbox>
    	</div>
    </div>
    <div class="row" style="margin-top:10px;">
    	<div class="col-md-12">
    		<table class="table table-bordered">
    			<thead style="color:#fff;background-color: #97c5ea;">
    				<tr>
    					<th>Code</th>
    					<th>Description</th>
    					<th>Zone Code</th>
    					<th>Post Code</th>
    					<th>Haulage</th>
    					<th>Transport</th>
    				</tr>
    			</thead>
    		</table>
    	</div>
    </div>
</div>
<div class="modal-footer">
    <div class="row" style="margin-top:10px;">
        <div class="col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>