﻿<section class="content" ng-controller="CompanyBillingCtrl as Cntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Company Billing</h3>
            <div class="box-tools">               

            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right">Company Name</label>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label" style="font-weight:bold">{{companyInfo.CompanyName}}</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right">Company Address</label>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label" style="font-weight:bold">{{companyInfo.address.Address1}}, {{companyInfo.address.Address2}}</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right">ROC No.</label>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label" style="font-weight:bold">{{companyInfo.RegNo}}</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-4">
                                            <label class="control-label pull-right" style="font-style:italic">Member Since</label>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label" style="font-weight:bold">{{companyInfo.CreatedOn | date}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-6">
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>95<sup style="font-size: 20px">%</sup></h3>

                                    <p>User Traffic</p>
                                </div>
                                <!--<a class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <p>Account Suspended on</p>
                                    <p><b>NEVER</b></p>
                                    <p>Current Outstanding amount 5,000.00</p>
                                </div>
                                <!--<a class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" ng-click="GenerateInvoiceReport()" class="btn btn-primary btn-block"><i class="fa fa-code-fork" aria-hidden="true"></i>&nbsp;View Invoice</button>
                        </div>
                        <!--<div class="col-md-4">
                            <button class="btn btn-warning btn-block"><i class="fa fa-history" aria-hidden="true"></i>&nbsp;Payment History</button>
                        </div>generateInvoice()-->
                        <div class="col-md-4">
                            <button type="button" ng-click="GenerateReport()" class="btn btn-info btn-block"><i class="fa fa-sticky-note"></i>&nbsp;Current Statement</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-12">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="General" class="md-primary">
                            <md-content class="md-padding">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box box-solid box-default">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Branches</h3>
                                            </div>
                                            <div class="box-body">
                                                <div class="row" style="margin-top: 10px;" ng-repeat="b in companyInfo.Branches">
                                                    <div class="col-md-4">
                                                        <b>{{b.BranchName}}</b>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="small-box bg-green">
                                                            <div class="inner">
                                                                {{b.address.Address1}}<br />
                                                                {{b.address.Address2}}<br />
                                                                {{b.address.City}}<br />
                                                                {{b.address.State}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="box box-solid box-default">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Users</h3>
                                            </div>
                                            <div class="box-body">
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered">
                                                            <thead style="color:#fff;background-color:#97c5ea;">
                                                                <tr>
                                                                    <th>Email</th>
                                                                    <th>Designation</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="user in usersList">
                                                                    <td>{{user.EmailID}}</td>
                                                                    <td>{{user.UserDesignationDescription}}</td>
                                                                    <td>
                                                                        <label class="label" ng-class="{'label-success': user.IsActive, 'label-danger': !user.IsActive}">{{user.IsActive ? 'Active' : 'Suspended'}}</label>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Billing" class="md-primary">
                            <md-content class="md-padding">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="box box-default box-solid">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Billing</h3>
                                            </div>
                                            <div class="box-body">
                                                <div class="row css10">
                                                    <div class="col-md-4">
                                                        <label class="control-label pull-right">GST No.</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text"
                                                               class="form-control input-sm"
                                                               ng-model="companyInfo.GSTNo"
                                                               ng-required="true" ng-disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="row css10">
                                                    <div class="col-md-4">
                                                        <label class="control-label pull-right">Default Currency</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select class="form-control input-sm"
                                                                ng-model="mp.DefaultCurrency"
                                                                ng-options="s.Value as s.Text for s in lookupData.defaultCurrency" ng-disabled="true"></select>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:10px;">
                                                    <div class="col-md-4">
                                                        <label class="control-label pull-right">Debtor Code</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text"
                                                               class="form-control input-sm"
                                                               ng-model="mp.DebtorCode" ng-disabled="true"/>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:10px;">
                                                    <div class="col-md-4">
                                                        <label class="control-label pull-right">Creditor Code</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text"
                                                               class="form-control input-sm"
                                                               ng-model="mp.CreditorCode" ng-disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:10px;">
                                                    <div class="col-md-4">
                                                        <label class="control-label pull-right">Credit Term</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control input-sm"
                                                               ng-model="mp.CreditTerm" ng-disabled="true"/>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:10px;">
                                                    <div class="col-md-4">
                                                        <label class="control-label pull-right">Billing Method</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select class="form-control input-sm"
                                                                ng-model="mp.BillingMethod"
                                                                ng-options="s.Value as s.Text for s in lookupData.billingMethod" ng-disabled="true"></select>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:10px;">
                                                    <div class="col-md-4">
                                                        <label class="control-label pull-right">Credit Limit</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text"
                                                               class="form-control input-sm"
                                                               ng-model="mp.CreditLimit" ng-disabled="true"/>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:10px;">
                                                    <div class="col-md-4">
                                                        <label class="control-label pull-right">Current Balance</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text"
                                                               class="form-control input-sm"
                                                               ng-model="mp.CurrentBalance" ng-disabled="true" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="box box-default box-solid">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Business Modules</h3>
                                                <div class="box-tools pull-right">
                                                    <!--<button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="UpdateCompanySubscription();" aria-label="button">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        <div class="md-ripple-container"></div>
                                                    </button>-->
                                                </div>
                                            </div>
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-md-6" style="margin-top:10px;" ng-repeat="item in companySubscripbersList">
                                                        <md-switch class="md-primary" ng-model="item.isSelected" disabled="true" aria-label="item.registrationDescription">{{item.ModuleDescription}}</md-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="box box-default box-solid">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Billing Modules</h3>
                                                <div class="box-tools pull-right">
                                                    <!--<button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="UpdateBillingModules();" aria-label="button">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        <div class="md-ripple-container"></div>
                                                    </button>-->
                                                </div>
                                            </div>
                                            <div class="box-body">
                                                <div class="row" ng-repeat="item in billingModules">
                                                    <div class="col-md-12" style="margin-top:10px;">
                                                        <md-switch class="md-primary"
                                                                   disabled="true"
                                                                   ng-model="item.isSelected"
                                                                   aria-label="item.registrationDescription">
                                                            {{item.ModuleDescription}}&nbsp;&nbsp;<span style="color:red;font-weight:bolder;font-style:italic;" ng-if="item.isSelected">RM 5.00 Monthly</span>
                                                        </md-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Address" class="md-primary">
                            <md-content class="md-padding">
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-10">
                                        <div class="box box-default box-solid">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Address</h3>
                                                <div class="box-tools pull-right">
                                                    <!--<button type="button" class="btn btn-box-tool" ng-click="AddAddress(-1);">
                                                        <i class="fa fa-plus"></i>
                                                    </button>-->
                                                </div>
                                            </div>
                                            <div class="box-body">
                                                <div class="row" style="margin-top:10px;">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Address</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control input-sm" 
                                                                       ng-model="companyInfo.address.Address1" ng-required="true" ng-disabled="true"/>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right"></label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control input-sm" ng-model="companyInfo.address.Address2"
                                                                        ng-required="true" ng-disabled="true"/>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Post Code</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control input-sm" ng-model="companyInfo.address.ZipCode" ng-disabled="true" ng-required="true" logicon-number />
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">City / Suburb</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control input-sm" ng-model="companyInfo.address.City" ng-disabled="true" ng-required="true" />
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">State</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control input-sm"
                                                                       ng-model="companyInfo.address.State"
                                                                       ng-required="true"ng-disabled="true" />
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Country</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="text"
                                                                       class="form-control input-sm ac"
                                                                       ng-class="{'loadinggif': companyInfo.address.CountryNameLoading}"
                                                                       placeholder="Country"
                                                                       ng-model="companyInfo.address.CountryName"
                                                                       typeahead-min-length="3"
                                                                       uib-typeahead="s.Text as s.Text for s in countryResults($viewValue)"
                                                                       typeahead-loading="companyInfo.address.CountryNameLoading"
                                                                       typeahead-wait-ms="100"
                                                                       typeahead-editable="false"
                                                                       typeahead-on-select="countrySelect($item)" ng-disabled="true"/>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Tel No.</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control input-sm" ng-model="companyInfo.address.TelNo" ng-disabled="true"/>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Fax No.</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control input-sm" ng-model="companyInfo.address.FaxNo" ng-disabled="true" />
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Mobile No.</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control input-sm" ng-disabled="true" ng-model="companyInfo.address.MobileNo" />
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Email</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control input-sm"
                                                                       ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                                                                       ng-model="companyInfo.address.Email" ng-disabled="true"/>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top: 10px;">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Website</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="text"
                                                                       class="form-control input-sm"
                                                                       ng-model="companyInfo.address.WebSite" ng-disabled="true" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <md-switch class="md-primary"
                                                                           aria-label="Billing"
                                                                           ng-model="companyInfo.address.IsBilling"
                                                                           ng-init="companyInfo.address.IsBilling = false" disabled="true">Billing</md-switch>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <md-switch class="md-primary"
                                                                           aria-label="Active"
                                                                           ng-model="companyInfo.address.IsActive"
                                                                           ng-init="companyInfo.address.IsActive = false" disabled="true">Active</md-switch>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <md-switch class="md-primary"
                                                                           aria-label="Operation"
                                                                           ng-model="companyInfo.address.IsOperation"
                                                                           ng-init="companyInfo.address.IsOperation = false" disabled="true">Operation</md-switch>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <md-switch class="md-primary"
                                                                           aria-label="Operation"
                                                                           ng-model="companyInfo.address.IsPickup"
                                                                           ng-init="companyInfo.address.IsPickup = false" disabled="true">Pickup / Delivery</md-switch>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">EDI Mapping</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text"
                                                                       class="form-control input-sm"
                                                                       ng-model="companyInfo.address.EDIMapping" ng-disabled="true"/>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Area Code</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <select class="form-control input-sm"
                                                                        ng-model="companyInfo.address.AreaCode" ng-disabled="true"></select>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px;">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Zone Code</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <select class="form-control input-sm" ng-model="companyInfo.address.ZoneCode" ng-disabled="true"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Contact Details" class="md-primary">
                            <md-content class="md-padding">
                                <div class="row css10">
                                    <div class="col-md-6">
                                        <div class="box box-default box-solid">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Billing Contact Person</h3>
                                            </div>
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Name:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-left">{{contactDetails.ContactPerson1}}</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Designation:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-left">{{contactDetails.Designation1}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="row css10">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Phone No.:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-left">({{DailingCode1}}) {{contactDetails.Phone1}}</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Ext:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-left">{{registeredCompany.companyAddress.Extension1}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="row css10">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Mob. Ph. No.:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-left">({{DailingCode2}}) {{contactDetails.Mobile1}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="row css10">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Email:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-left">{{contactDetails.ContactEmailID1}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="box box-default box-solid">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Operations Contact Person</h3>
                                            </div>
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Name:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-left">{{contactDetails.ContactPerson2}}</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Designation:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-left">{{contactDetails.Designation2}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="row css10">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Phone No.:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-left">({{DailingCode3}}) {{contactDetails.Phone2}}</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Ext:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-left">{{contactDetails.Extension2}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="row css10">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Mob. Ph. No:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-left">({{DailingCode4}}) {{contactDetails.Mobile2}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="row css10">
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-right">Email:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label pull-left">{{contactDetails.ContactEmailID2}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Documents" class="md-primary">
                            <md-content class="md-padding">
                                <div class="row css10">
                                    <div class="col-md-12">
                                        <table class="table table-bordered">
                                            <thead style="color:#fff;background-color:#97c5ea;">
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Name</th>
                                                    <th>Document Type</th>
                                                    <th>View</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in docList">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{item.FileName}}</td>
                                                    <td>{{item.RegistrationDocTypeDescription}}</td>
                                                    <td>
                                                        <!--<button type="button"
                                                                ng-disabled="item.FileName == ''"
                                                                class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple"
                                                                ng-click="downLoad(item.FileName, companyInfo.RegistrationReferenceNo)">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </button>-->
                                                        <a ng-disabled="item.FileName == ''"
                                                           target="_blank"
                                                           ng-href="{{BaseUrl + '/UploadImages/' + companyInfo.RegistrationReferenceNo + '/' + item.FileName}}"
                                                           class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Declaration" class="md-primary">
                            <md-content class="md-padding">
                                <div class="row" style="padding-right:10px;font-size:14px;color:#333;height:450px;overflow-y:scroll;">
                                    <div class="col-md-12">
                                        <p style="text-align:justify">
                                            I/We <span style="text-decoration:underline;">{{companyInfo.CompanyName}}</span> (name of company) having company registration number <span style="text-decoration:underline">{{companyInfo.RegNo}}</span>, hereby confirm that I/We have read,  understood and accepted the Terms and Conditions as attached herewith.<br />
                                            <span style="font-weight:bold;text-decoration:underline;">Privacy Policy and Consent to Use Personal Data</span><br />
                                            At DNeXPORT, we are committed to protecting your privacy as our valued customers and pledge to comply with the Personal Data Protection Act (“PDPA”) 2010.<br />
                                            Please note that any personal information (“Personal Data”) in respect of commercial transactions that relates directly or indirectly to you as an individual, that had been collected, processed and retained by DNeXPORT is protected under our Privacy Policy, formulated in pursuant to the PDPA 2010.<br />
                                            Please refer to our Privacy Policy at <a style="color:blue;text-decoration:underline" href="www.dnex.com.my/privacy-policy">www.dnex.com.my/privacy-policy</a> to understand how we do this and feel free to reach us at pdpa@dnex.com.my should you have any additional enquiries.
                                            IMPORTANT: By submitting this form, you agree and consent to the use, processing and disclosure of your Personal Data by DNeXPORT for the purpose as described in this form.

                                        </p>
                                        <div ng-include="'Js/Default/Templates/declaration.html'"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <md-checkbox ng-disabled="true" ng-model="checkBox" ng-init="checkBox = true">BY TICKING THIS BOX, YOU DECLARE THAT YOU HAVE READ, UNDERSTOOD AND ACCEPT THE TERMS AND CONDITIONS AS STATED.</md-checkbox>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-primary" onclick="location.href = '#/home'" type="button">&nbsp;<i class="fa fa-backward"></i>&nbsp;Back</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>