﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Vendor Credit Note</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Invoice No.</label>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <select class="form-control input-sm"></select>
                <span class="input-group-btn dropdown">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right nowrapCss">Container No.</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Order No.</label>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <select class="form-control input-sm"></select>
                <span class="input-group-btn dropdown">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Job No.</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Charge Code</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Remarks</label>
        </div>
        <div class="col-md-10">
            <textarea class="form-control input-sm"></textarea>
        </div>        
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Billing Unit</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Currency</label>
        </div>
        <div class="col-md-4">
            <select class="form-control input-sm"></select>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Quantity</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Ex Rate</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Base Amt</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">Unit Price</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Tax Amount</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-2">
            <label class="control-label pull-right">Local Amount</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right">GST Code</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control input-sm" />
        </div>
    </div>    
</div>
<div class="modal-footer">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>
