﻿<section class="content" ng-controller="EquipmentCostEntry">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Equipment Cost Entry</h3>
            <div class="box-tools pull-right">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddEquipmentCostEntry();">
                    <i class="fa fa-plus fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Vendor Ref.</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right">Invoice Date</label>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm datepicker"
                                       ng-model="vs.ImpAvaliableDate"
                                       ng-required="true"
                                       date-time-input="MM/DD/YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="vs.ImpAvaliableDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                </div>
                <div class="col-md-1">
                    <label class="control-label pull-right">Total Tax Amt.</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Vendor</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>               
                <div class="col-md-1">
                    <label class="control-label pull-right">Account Date</label>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="ImpAvaliableDate" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm datepicker"
                                       ng-model="vs.ImpAvaliableDate"
                                       ng-required="true"
                                       date-time-input="MM/DD/YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="vs.ImpAvaliableDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#ImpAvaliableDate', startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                </div>
                <div class="col-md-1">                    
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-1">
                    <label class="control-label pull-right">Vendor</label>
                </div>
                <div class="col-md-4">
                    <textarea class="form-control input-sm"></textarea>
                </div>                               
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <table class="table table-bordered">
                            <thead style="color:#fff;background-color:#97c5ea;">
                                <tr>
                                    <th>Truck ID</th>
                                    <th>Trailer ID</th>
                                    <th>Charge Code</th>
                                    <th>Description</th>
                                    <th>Billing Unit</th>
                                    <th>Qty.</th>
                                    <th>Price</th>
                                    <th>Base Amount</th>
                                    <th>Tax Amount</th>
                                    <th>GST COde</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
        </div>        
    </div>
</section>