﻿<section class="content" ng-controller="DriverPaymentBreakdownCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Driver Payment Breakdown (Transport)</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Driver ID</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <select class="form-control input-sm"></select>
                        <span class="input-group-btn dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Prepare Date</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Remarks</label>
                </div>      
                <div class="col-md-6">
                    <textarea class="form-control input-sm"></textarea>
                </div>         
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Date From</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Date To</label>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group my-datepicker">
                        <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="well well-sm" style="min-height:250px;">
                        <table class="table table-bordered">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th>Order No.</th>
                                    <th>Job No.</th>
                                    <th>Container No.</th>
                                    <th>Size</th>
                                    <th>Movement</th>
                                    <th>End Date</th>
                                    <th>End Time</th>
                                    <th>Amount</th>
                                    <th>Adjustment</th>
                                    <th>Pickup Area</th>
                                    <th>Delivery Area</th>
                                    <th>Pickup</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-7">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Job No.</label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" />
                                <span class="input-group-btn dropdown">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right nowrapCss">Movement Code</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Container No.</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">End Date/Time</label>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group my-datepicker">
                                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group my-datepicker">
                                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Pickup From</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Delivery To</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Charge Code</label>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Remarks</label>
                        </div>
                        <div class="col-md-10">
                            <textarea class="form-control input-sm"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Truck ID</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">Rate ID</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Trailer ID</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">Quantity</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right nowrapCss">Billing Unit</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">Rate</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">DO No.</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">Amount</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6"></div>
                        <div class="col-md-2">
                            <label class="control-label pull-right">Adjustment</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6"></div>
                        <div class="col-md-2">
                            <label class="control-label pull-right nowrapCss">Net Amount</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>
