﻿<style>
    .deleted
    {
        color:red;
        text-decoration:line-through;
    }
</style>

<section class="content" ng-controller="ProcessMasterController">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Process Master</h3>
            <div class="box-tools pull-right">
                <!--<button type="button" class="btn btn-box-tool" ng-click="AddProcessMaster(-1);">
                    <i class="fa fa-plus"></i>
                </button>-->
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddProcessMaster(-1);">
                    <i class="fa fa-plus fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="" style="min-height: 250px;">
                        <table class="table table-bordered table-hover">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Module</th>
                                    <th>Process</th>
                                    <th>Pickup</th>
                                    <th>Delivery</th>
                                    <th>Staging</th>
                                    <th>Transport</th>
                                    <th>Freight</th>
                                    <th>Planning</th>
                                    <!--<th>Mvt Indicator</th>-->
                                    <th>Empty/Full</th>
                                    <th>#Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pm in processList" ng-class="IsDeleted(pm)">
                                    <td>{{pm.Code}}</td>
                                    <td>{{pm.Description}}</td>
                                    <td>{{pm.ModuleTypeDescription}}</td>
                                    <td>{{pm.ProcessTypeDescription}}</td>
                                    <td>{{pm.PUModeDescription}}</td>
                                    <td>{{pm.DOModeDescription}}</td>
                                    <td>
                                        <md-checkbox class="md-primary" aria-label="STAGING" ng-disabled="true" ng-model="pm.IsStagingRequired"></md-checkbox>
                                    </td>
                                    <td>{{pm.TransportModeDescription}}</td>
                                    <td>{{pm.FreightModeDescription}}</td>
                                    <td>
                                        <md-checkbox class="md-primary" aria-label="Planning" ng-disabled="true" ng-model="pm.IsPlanningRequired"></md-checkbox>
                                    </td>
                                    <!--  <td>{{pm.MovementIndicatorDescription}}</td>-->
                                    <td>{{pm.EFIndicatorDescription}}</td>
                                    <td style="padding: 0 0 0 5px">
                                        <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="AddProcessMaster(pm.Code);" aria-label="button" ng-show="{{pm.IsActive}}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            <div class="md-ripple-container"></div>
                                        </button>
                                        <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" type="button" ng-click="DeleteProcessMaster(pm.Code)" aria-label="button" ng-show="{{pm.IsActive}}">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            <div class="md-ripple-container"></div>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <uib-pagination ng-model="currentPage"
                        total-items="totalItems"
                        ng-change="pageChanged()"
                        class="pagination-sm pull-right"
                        max-size="10"
                        items-per-page="limit">
                    </uib-pagination>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <md-button class="md-raised md-clear" onclick="location.href = '#/home/'"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Back</md-button>
                </div>
            </div>
        </div>
    </div>
</section>
