﻿<section class="content" ng-controller="fuelusage">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Fuel Usage</h3>
            <div class="box-tools pull-right">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddFuelUsage();">
                    <i class="fa fa-plus fa-1x ng-scope"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Truck Id</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control input-sm"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <table class="table table-bordered">
                            <thead style="color:#fff;background-color:#97c5ea;">
                                <tr>
                                    <th>Voucher No.</th>
                                    <th>Vendor Code</th>
                                    <th>Vendor Name</th>
                                    <th>Driver ID</th>
                                    <th>Driver Name</th>
                                    <th>Odometer</th>
                                    <th>Distance Travel</th>
                                    <th>Usage Date</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total Amt.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>