﻿<section class="content" ng-controller="AssociationHeaderController">
    <form id="frmAssociationList" name="frmAssociationList" ng-submit="SaveAssociation(association)"
          ng-class="{'submitted': submitted}" novalidate>

        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Affiliation</h3>
            </div>
            <div class="box-body">
                <div class="row" style="margin-top: 10px;">
                        <input type="hidden" ng-model="association.AssociationID" />
                        <div class="col-md-2">
                            <label class="control-label pull-right">Country</label>
                        </div>
                        <div class="col-md-4">
                            <select ng-required="true" class="form-control input-sm" ng-model="association.CountryCode" ng-options="s.CompanyCode as s.CompanyName for s in lookupData"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">
                                Affiliation Name:

                            </label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" ng-model="association.AssociationName" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2"><label class="control-label pull-right">Description</label></div>
                        <div class="col-md-4">
                            <textarea ng-model="association.Description" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary" ng-click="AddDetail(-1)"><i class="fa fa-plus"></i>&nbsp;Add</button>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead style="color:#fff;background-color:#97c5ea;">
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Email ID</th>
                                        <th>ROC</th>
                                        <th>Join Date</th>
                                        <th>#Action</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="association in association.associationDetails">
                                    <tr>
                                        <td>{{association.CompanyName}}</td>
                                        <td>{{association.Email}}</td>
                                        <td>{{association.ROCNumber}}</td>
                                        <td>{{association.JoinDate | date: 'dd/MM/yyyy'}}</td>
                                        <td>
                                            <button class="btn btn-primary" type="button" ng-click="AddDetail($index)"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
                                            <button class="btn btn-danger" type="button" ng-click="DeleteDetail($index)"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

           
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="submit" ng-click="submitted = true" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                    <button type="button" class="btn btn-default" onclick="location.href = '#/admin/AssociationList'"><i class="fa fa-backward"></i>&nbsp;Back</button>
                </div>
            </div>
        </div>
    </form>
</section>