﻿<section class="content" ng-controller="AssociationListController">
    
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Affiliation List</h3>
            <div class="box-tools">
                <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="Association(-1);" aria-label="button">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Affiliation Name</th>
                                <th>Description</th>                                
                                <th>#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr ng-repeat="item in associationList" class="ng-scope">
                                
                                <td>{{item.AssociationName}}</td>
                                <td>{{item.Description}}</td>
                                <td>
                                    <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="Association(item.AssociationID);" aria-label="button">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading" aria-hidden="true">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>