﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Advance Settlement</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-8">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right nowrapCss">Charge Code</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Remarks</label>
                </div>
                <div class="col-md-10">
                    <textarea class="form-control input-sm"></textarea>
                </div>                
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Billing Unit</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control input-sm"></select>
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right nowrapCss">Base Advance</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Quantity</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Base Actual</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label pull-right">Unit Price</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
                <div class="col-md-2">
                    <label class="control-label pull-right">Difference</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Settlement</h3>
                </div>
                <div class="box-body">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-right nowrapCss">Total Advance</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-right nowrapCss">Total Actual</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-right nowrapCss">+Surplus/-Short</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>
