﻿<form name="frmAddProcessMaster" id="frmAddProcessMaster" ng-submit="AddProcessMaster(pm)" ng-class="{'submitted':submitted}" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Add Process Master</h4>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="label-control pull-right">Code</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" ng-model="pm.Code" ng-required="true" ng-readonly="truefalse"/>
            </div>
            <div class="col-md-2">
                <label class="label-control pull-right">Module</label>
            </div>
            <div class="col-md-4">
                <!--<select class="form-control input-sm" ng-model="pm.Module" ng-options="s.Value as s.Text for s in lookupData.moduleList" ng-required="true"></select>-->
                <select class="form-control input-sm" ng-model="pm.Module" ng-options="s.ModuleID as s.Text for s in modulesList" ng-required="true"></select>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="label-control pull-right">Description</label>
            </div>
            <div class="col-md-10">
                <textarea class="form-control input-sm" ng-model="pm.Description" ng-required="true"></textarea>
            </div>
        </div>
        <!--<div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="label-control pull-right nowrapCss">Adhoc Charge Code</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm" ng-model=""></select>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control input-sm" />
            </div>
        </div>-->
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="label-control pull-right">Process Type</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm" ng-model="pm.ProcessType" ng-options="s.Value as s.Text for s in lookupData.processTypeList" ng-required="true"></select>
            </div>
            <div class="col-md-2">
                <label class="label-control pull-right">Transport Mode</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm" ng-model="pm.TransportMode" ng-options="s.Value as s.Text for s in lookupData.transportModeList" ng-required="true"></select>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="label-control pull-right">Pickup From</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm" ng-model="pm.PickupFrom" ng-options="s.Value as s.Text for s in lookupData.pUDOModeList" ng-required="true"></select>
            </div>
            <div class="col-md-2">
                <label class="label-control pull-right">Freight Mode</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm" ng-model="pm.FreightMode" ng-options="s.Value as s.Text for s in lookupData.freightModeList" ng-required="true"></select>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="label-control pull-right">Deliver To</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm" ng-model="pm.DeliveryTo" ng-options="s.Value as s.Text for s in lookupData.pUDOModeList" ng-required="true"></select>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <md-switch class="md-primary" aria-label="Require Planning" ng-init="pm.IsPlanningRequired = false" ng-model="pm.IsPlanningRequired">Require Planning</md-switch>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="label-control pull-right">Empty / Full</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm" ng-model="pm.EFIndicator" ng-options="s.Value as s.Text for s in lookupData.eFIndicatorList" ng-required="true"></select>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <md-switch class="md-primary" aria-label="Staging" ng-init="pm.IsStagingRequired = false" ng-model="pm.IsStagingRequired">Staging</md-switch>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="label-control pull-right">Movement Indicator</label>
            </div>
            <div class="col-md-4">
                <select class="form-control input-sm" 
                        ng-model="pm.MovementIndicator" 
                        ng-options="s.Value as s.Text for s in lookupData.mvmIndicatorList" ng-required="true"></select>
            </div>            
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <md-button class="md-raised md-primary" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                <md-button class="md-raised md-clear" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</md-button>                
            </div>
        </div>
    </div>    
</form> 