<section class="content" ng-controller="CFSCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">CFS Work Order Type</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="addCFS();">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
            	<div class="col-md-12">
            		<table class="table table-bordered">
						<thead style="color:#fff;background-color: #97c5ea;">
							<tr>
								<th>Code</th>
								<th>Description</th>
								<th>Fumigation</th>
								<th>Fumo Location</th>
								<th>Fumo S/R</th>
								<th>VAS Charge</th>
								<th>Permit No.</th>
								<th>Locatio Code</th>
								<th>Stock Room</th>
								<th>Quantity</th>
								<th>Stop Storage Calc</th>
								<th>Work Flow</th>
							</tr>
						</thead>            			
            		</table>
            	</div>
            </div>
        </div>
    </div>
</section>