﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Container Request</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label class="control-label pull-right nowrapCss">Type Size</label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm"></select>
        </div>
        <div class="col-md-1">
            <label class="control-label pull-right nowrapCss">Delivery Add.</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" />
        </div>
        <div class="col-md-1">
            <label class="control-label pull-right">Req. Dt</label>
        </div>
        <div class="col-md-2">
            <div class="input-group my-datepicker">
                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group my-datepicker">
                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4">
                    <label class="control-label pull-right nowrapCss">Container No.</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div> 
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4">
                    <label class="control-label pull-right nowrapCss">Order No.</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>  
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4">
                    <label class="control-label pull-right nowrapCss">Trailer Type</label>
                </div>
                <div class="col-md-8">
                    <select class="form-control input-sm"></select>
                </div>
            </div> 
             <div class="row" style="margin-top: 10px;">
                <div class="col-md-4">
                    <label class="control-label pull-right">Job No.</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>         
        </div>
        <div class="col-md-4">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <textarea class="form-control input-sm"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4">
                    <label class="control-label pull-right nowrapCss">Empty Dehire</label>
                </div>
                <div class="col-md-8">
                    <select class="form-control input-sm"></select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4">
                    <label class="control-label pull-right">Container Operator</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4">
                    <label class="control-label pull-right">Remarks</label>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control input-sm"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-9"></div>
        <div class="col-md-3 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="cancel();"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>
