﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Country</h4>
</div>
<div class="modal-body">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <label class="control-label pull-right">Country Code</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control input-sm" ng-model="country.CountryCode" ng-required="true" ng-readonly="truefalse"/>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <label class="control-label pull-right">Country Name</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control input-sm" ng-model="country.CountryName" ng-required="true"/>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <label class="control-label pull-right">EDI Mapping</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control input-sm" ng-model="country.EDIMapping" ng-required="true"/>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4"></div>
        <div class="col-md-6 pull-right">
            <button class="btn btn-primary btn-sm" ng-click="SaveCountry(country);"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
            <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>