﻿<form name="frmAddEquipmentSizeType" id="frmAddEquipmentSizeType" ng-submit="AddEquipmentSizeType(equipmentsizetype)" ng-class="{'submitted':submitted}" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Add/Edit Equipment Type/Size </h4>
    </div>
    <div class="modal-body">
        <div class="col-md-8">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label">Size-Type</label>
                </div>
                <div class="col-md-2">
                    <input type="text" ng-model="equipmentsizetype.Size" class="form-control input-sm" ng-required="true" ng-readonly="truefalse"/>
                </div>
                <div class="col-md-2">
                    <input type="text" ng-model="equipmentsizetype.Type" class="form-control input-sm" ng-required="true" />
                </div>
                <div class="col-md-2">
                    <label class="control-label">Code</label>
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="equipmentsizetype.Code" class="form-control input-sm" ng-required="true" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label">Description</label>
                </div>
                <div class="col-md-10">
                    <input type="text" ng-model="equipmentsizetype.Description" class="form-control input-sm" ng-required="true" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label">Tare Weight</label>
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="equipmentsizetype.Weight" class="form-control input-sm" ng-required="true" logicon-decimal/>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Max Gross Weight</label>
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="equipmentsizetype.MGW" class="form-control input-sm" ng-required="true" logicon-decimal/>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label">Max. Pallet</label>
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="equipmentsizetype.MaxPallet" class="form-control input-sm" ng-required="true" />
                </div>
                <div class="col-md-2">
                    <label class="control-label">Height</label>
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="equipmentsizetype.Height" class="form-control input-sm" ng-required="true" logicon-decimal/>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label">Length</label>
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="equipmentsizetype.Length" class="form-control input-sm" ng-required="true" logicon-decimal/>
                </div>
                <div class="col-md-2">
                    <label class="control-label">TEU</label>
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="equipmentsizetype.TEU" class="form-control input-sm" ng-required="true" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label">Mapping Code</label>
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="equipmentsizetype.MappingCode" class="form-control input-sm" ng-required="true" />
                </div>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <label class="control-label">ISO Code</label>
                </div>
                <div class="col-md-10">
                    <input type="text" ng-model="equipmentsizetype.ISOCode" class="form-control input-sm" ng-required="true" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label pull-right">Equipment Type</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control input-sm" ng-model="equipmentsizetype.EquipmentType" ng-options="c.Value as c.Text for c in equipmenttypeList" ng-required="true"></select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <md-switch class="md-primary" aria-label="Terminal" ng-model="equipmentsizetype.IsReefer" ng-init="equipmentsizetype.IsReefer = false">Reefer</md-switch>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-6"></div>
            <div class="col-md-6 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</form>
