﻿<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead style="color: #fff; background-color: #97c5ea;">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Description</th>
                    <th>Qt.y</th>
                    <th>Uom</th>
                    <th>Curr.</th>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
