﻿<section class="content" ng-controller="AdvanceEntryCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Advance Entry</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="AddAdvanceEntry();">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-8">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Job No.</label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select class="form-control input-sm"></select>
                                <span class="input-group-btn dropdown">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Driver</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Pickup From</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Deliver To</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-2">
                            <label class="control-label pull-right">Remarks</label>
                        </div>
                        <div class="col-md-10">
                            <textarea class="form-control input-sm"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-right">Truck No.</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-right">Adv. Date</label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group my-datepicker">
                                <input type="text" class="form-control input-sm datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default input-sm" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-right">Req. By</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-right">Adv. Template</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-right">Currency</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control input-sm"></select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="well well-sm" style="min-height: 250px;">
                        <table class="table table-bordered">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <th>Charge Code</th>
                                    <th>Description</th>
                                    <th>Billing Unit</th>
                                    <th>Qty.</th>
                                    <th>Price</th>
                                    <th>Base Amt.</th>
                                    <th>Local Amt.</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>
