﻿<section class="content" ng-controller="BookingEntryCntrl as Cntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Booking Entry</h3>
        </div>
        <div class="box-body">
            <form id="frmBookingEntry" name="frmBookingEntry" ng-class="{'submitted': submitted}" ng-submit="SaveBookingEntry(bookingHeader);" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <uib-tabset>
                            <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled" uib-tooltip="{{tab.tooltip}}">
                                <div ng-include="tab.content"></div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
                <!--<div class="box-footer">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-9"></div>
                        <div class="col-md-2 pull-right">
                            <button class="btn btn-primary" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                            <button class="btn btn-default" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>

                        <button type="button" ng-show="!IsNew" class="btn btn-default" ng-click="DeleteBookingEntry()"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</button>

                        <span class="pull-right">
                            <button class="btn btn-default" type="button" ng-click="clear();">
                                <i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear
                            </button>
                            <button class="btn btn-primary" type="button" ng-click="back();">
                                <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="overlay" style="opacity: 0.8;" ng-show="showLoading" aria-hidden="true">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>
