﻿<section class="content" ng-controller="RailTerminalCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Rail Terminal</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead style="color: #fff; background-color: #97c5ea;">
                                    <tr>
                                        <th>Terminal Code</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-right">Terminal Code</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                            <label class="control-label pull-right">Description</label>
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control input-sm"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead style="color: #fff; background-color: #97c5ea;">
                                    <tr>
                                        <th>Area Code</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
            </div>
        </div>
    </div>
</section>
