﻿<section class="content" ng-controller="MerchantProfileController">
    <script type="text/ng-template" id="customTemplate.html">
        <a ng-href="{{ '#/masterdata/merchant/' + match.model.Value }}">
            <!-- ng-click="fetchSelectedQuotationData(match.model.Value)" #/masterdata/merchant/BABU  -->
            <i>{{match.model.Text}}</i>
        </a>
    </script>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Merchant Profile List</h3>
            <div class="box-tools pull-right">
                <table style="position:relative;top:-5px;">
                    <tr>
                        <td>
                            <select class="form-control input-sm" ng-model="search.filter" ng-change="filterChanged();">
                                <option value="All" selected="selected">All</option>
                                <option value="billingCustomer">Billing Customer</option>
                                <option value="shipper">Shipper</option>
                                <option value="consignee">Consignee</option>
                                <option value="terminal">Terminal</option>
                                <!--<option value="shippingAgent">Shipping Agent</option>-->
                                <option value="freightForwarder">Freight Forwarder</option>
                                <option value="transporter">Tranporter</option>
                                <option value="vendor">Vendor</option>
                            </select>
                        </td>
                        <td>
                            <div class="input-group btn-box-tool">
                                <input type="text"
                                    class="form-control input-sm"
                                    placeholder="Merchant Name"
                                    ng-model="search.text"
                                    typeahead-min-length="3"
                                    uib-typeahead="d.Value as d.Text for d in results($viewValue)"
                                    typeahead-loading="loadingDeals"
                                    typeahead-template-url="customTemplate.html"
                                    typeahead-wait-ms="1000"
                                    style="width: 400px;" />
                            </div>
                        </td>
                        <td>
                            <!-- <button type="button" class="btn btn-box-tool" onclick="location.href = '#/masterdata/merchant/NEW'">
                                <i class="fa fa-plus"></i>
                            </button>  -->
                            <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" aria-label="button" ng-click="AddMerchant('NEW','NEW','NEW');">
                                <i class="fa fa-plus fa-1x ng-scope"></i>
                                <div class="md-ripple-container"></div>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div style="min-height: 250px;">
                        <table class="table table-bordered table-striped" ng-show="mp.length > 0">
                            <thead style="color: #fff; background-color: #97c5ea;">
                                <tr>
                                    <td>Merchant Code</td>
                                    <td>Merchant Name</td>
                                    <td>Tax ID</td>
                                    <td style="width:120px; text-align:center;" >#Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="mer in mp">
                                    <td>{{mer.MerchantCode}}</td>
                                    <td>{{mer.MerchantName}}</td>
                                    <td>{{mer.TaxID}}</td>
                                    <td style="padding: 0 0 0 5px;text-align:center;">                                         
                                         <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="AddMerchant(mer.MerchantCode, mer.TaxID, mer.RegNo);" aria-label="button">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            <div class="md-ripple-container"></div>
                                        </button>
                                        <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" type="button" ng-click="DeleteMerchant(mer.MerchantCode,mer.MerchantName)" aria-label="button">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            <div class="md-ripple-container"></div>
                                        </button>                                        
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="mp.length <= 0">
                            <h4>No data found.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="pull-left">
                        <button class="btn btn-primary" type="button" onclick="location.href = '#/home/'"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back</button>
                    </div>
                </div>
                <div class="col-md-8">
                    <uib-pagination ng-model="currentPage"
                        total-items="totalItems"
                        ng-change="pageChanged()"
                        class="pagination-sm pull-right"
                        max-size="10"
                        items-per-page="limit">
                    </uib-pagination>
                </div>
            </div>
        </div>        
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>
