﻿<section class="content" ng-controller="MerchantProfileController">
    <script type="text/ng-template" id="customTemplate.html">
        <a ng-href="{{ '#/masterdata/merchant/' + match.model.Value }}">            
            <i>{{match.model.Text}}</i>
        </a>
    </script>
    <form id="frmMerchantProfile" name="frmMerchantProfile" ng-submit="AddMerchantProfile(mp);" ng-class="{'submitted':submitted}" novalidate>
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Merchant Profile</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Merchant Name</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm" ng-model="mp.MerchantName" ng-required="true" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Registration No.</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" ng-disabled="true" class="form-control input-sm" ng-model="mp.RegNo" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-6"></div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">GST No.</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm" ng-model="mp.TaxID" ng-disabled="true" />
                            </div>
                        </div>
                    </div>
                    <div ng-show="mp.MerchantCode != null" class="col-md-2">
                        <img ng-if="mp.IsVerified" src="images/verified.png" height="100" alt="verified" />
                        <img ng-if="!mp.IsVerified" src="images/unverified.png" height="100" alt="unverified" />
                    </div>
                </div>                               
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">                        
                        <md-tabs md-dynamic-height md-border-bottom>                            
                            <md-tab label="General" class="md-primary">
                                <md-content class="md-padding">
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-sm-6 col-md-6 col-lg-7">
                                            <div class="box box-default box-solid">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">General</h3>
                                                </div>
                                                <div class="box-body">
                                                    <div class="row" style="margin-top:10px;">
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Billing Customer</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control input-sm" ng-model="mp.BillingCustomer" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:10px;">
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Port Code</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control input-sm" ng-model="mp.PortCode" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:10px;">
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Business Reg. No.</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control input-sm" ng-model="mp.RegNo" ng-disabled="mp.MerchantCode != null" ng-required="true" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:10px;">
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Operator Code</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control input-sm" ng-model="mp.OwnerCode" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:10px;">
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Agent Code</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control input-sm" ng-model="mp.AgentCode" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:10px;">
                                                        <!--<div class="col-md-2">
                                                            <label class="control-label pull-right">EDI Mapping</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control input-sm" ng-model="mp.EDIMappingCode" />
                                                        </div>-->
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Yard Code</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control input-sm" ng-model="mp.YardCode"></select>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:10px;">
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Website</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <input type="text" class="form-control input-sm" ng-model="mp.WebSite" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:10px;">
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Remarks</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <textarea class="form-control input-sm" ng-model="mp.Remarks"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-5">
                                            <div class="box box-default box-solid">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Merchant Type</h3>
                                                </div>
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Billing Customer" ng-model="mp.IsBillingCustomer" ng-init="mp.IsBillingCustomer = false">Billing Customer</md-switch>
                                                        </div>
                                                        <!--<div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Terminal" ng-model="mp.IsTerminal" ng-init="mp.IsTerminal = false">Terminal</md-switch>
                                                        </div>-->
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Shipper" ng-model="mp.IsShipper" ng-init="mp.IsShipper = false">Shipper</md-switch>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Principal" ng-model="mp.IsPrincipal" ng-init="mp.IsPrincipal = false">Principal</md-switch>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Consignee" ng-model="mp.IsConsignee" ng-init="mp.IsConsignee = false">Consignee</md-switch>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="VMI Vendor" ng-model="mp.IsVMIVendor" ng-init="mp.IsVMIVendor = false">VMI Vendor</md-switch>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Freight Forwarder" ng-model="mp.IsForwarder" ng-init="mp.IsForwarder = false">Freight Forwarder</md-switch>
                                                        </div>  
                                                        <div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Haulier" ng-model="mp.IsHaulier" ng-init="mp.IsHaulier = false">Haulier</md-switch>
                                                        </div>                                                      
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Air Liner/Shipping Agent" ng-model="mp.IsLiner" ng-init="mp.IsLiner = false">Air Liner/Shipping Agent</md-switch>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="row">
                                                        <!--<div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Yard/Empty Park" ng-model="mp.IsYard" ng-init="mp.IsYard = false">Yard/Empty Park</md-switch>
                                                        </div>-->
                                                        <div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Transporter" ng-model="mp.IsTransporter" ng-init="mp.IsTransporter = false">Transporter</md-switch>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <!--<div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="CFS / Warehouse" ng-model="mp.IsCFS" ng-init="mp.IsCFS = false">CFS / Warehouse</md-switch>
                                                        </div>-->
                                                        <div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Vendor" ng-model="mp.IsVendor" ng-init="mp.IsVendor = false">Vendor</md-switch>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <!--<div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Rail Operator" ng-model="mp.IsRailOperator" ng-init="mp.IsRailOperator = false">Rail Operator</md-switch>
                                                        </div>-->
                                                        <!--<div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Rail Yard" ng-model="mp.IsRailYard" ng-init="mp.IsRailYard = false">Rail Yard</md-switch>
                                                        </div>-->
                                                    </div>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Active Account" ng-model="mp.IsActive" ng-init="mp.IsActive = false">Active Account</md-switch>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <md-switch class="md-primary" aria-label="Taxable" ng-model="mp.IsTaxable" ng-init="mp.IsTaxable = false">Taxable</md-switch>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.box-body -->
                                            </div>

                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Address" class="md-primary">
                                <md-content class="md-padding">
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-md-12">
                                            <div class="box box-default box-solid">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Address</h3>
                                                    <div class="box-tools pull-right">
                                                        <button type="button" class="btn btn-box-tool" ng-click="AddAddress(-1);">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="box-body">
                                                    <!--<div ui-grid="gridOptions" class="grid"></div>-->
                                                    <table class="table table-bordered">
                                                        <thead style="color:#fff;background-color: #97c5ea;">
                                                            <tr>
                                                                <th>Active</th>
                                                                <th>Bill</th>
                                                                <th>Opr</th>
                                                                <th>Pck</th>                                                                
                                                                <th>Tel No.</th>
                                                                <th>Area Code</th>
                                                                <th>Address 1</th>
                                                                <th>Address 2</th>
                                                                <th>#Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="address in mp.AddressList" id="tr_{{$index}}" ng-hide="{{'tr_' + $index}}">
                                                                <td><md-checkbox class="md-primary" ng-model="address.IsActive" ng-disabled="true" aria-label="IsActive"></md-checkbox></td>
                                                                <td><md-checkbox class="md-primary" ng-model="address.IsBilling" ng-disabled="true" aria-label="IsBilling"></md-checkbox></td>
                                                                <td><md-checkbox class="md-primary" ng-model="address.IsOperation" ng-disabled="true" aria-label="IsOperation"></md-checkbox></td>
                                                                <td><md-checkbox class="md-primary" ng-model="address.IsPickup" ng-disabled="true" aria-label="IsPickup"></md-checkbox></td>
                                                                <td>{{address.TelNo}}</td>
                                                                <td>{{address.AreaCode}}</td>                                                                
                                                                <td>{{address.Address1}}</td>
                                                                <td>{{address.Address2}}</td>                                                                
                                                                <td>
                                                                    <button class="md-fab md-mini-1 md-primary btn-box-tool md-button md-ink-ripple" type="button" ng-click="AddAddress($index)" aria-label="button">
                                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                        <div class="md-ripple-container"></div>
                                                                    </button>
                                                                    <button class="md-fab md-mini-1 md-danger btn-box-tool md-button md-ink-ripple" type="button" ng-click="DeleteAddress($index)" aria-label="button">
                                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                        <div class="md-ripple-container"></div>
                                                                    </button>  

                                                                    <!--<div class="btn-group" uib-dropdown is-open="status.isopen">
                                                                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                                                            Action&nbsp;<span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                                                            <li role="menuitem"><a ng-click="AddAddress($index)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Edit</a></li>
                                                                            <li role="menuitem"><a ng-click="DeleteAddress($index)"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</a></li>                                                                            
                                                                        </ul>
                                                                    </div>-->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Billing" class="md-primary">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-8" style="margin-top:10px;">
                                            <div class="box box-default box-solid">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Billing</h3>
                                                </div>
                                                <div class="box-body">
                                                    <div class="row" style="margin-top:10px;">
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Debtor Code</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control input-sm" ng-model="mp.DebtorCode" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:10px;">
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Creditor Code</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control input-sm" ng-model="mp.CreditorCode" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:10px;">
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Default Currency</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control input-sm" ng-model="mp.DefaultCurrency" ng-options="s.Value as s.Text for s in lookupData.defaultCurrency"></select>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">GST No.</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control input-sm" ng-model="mp.TaxID" ng-required="true" ng-disabled="mp.MerchantCode != null" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:10px;">
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Credit Term</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control input-sm" ng-model="mp.CreditTerm"/>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Billing Method</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control input-sm" ng-model="mp.BillingMethod" ng-options="s.Value as s.Text for s in lookupData.billingMethod"></select>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:10px;">
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Credit Limit</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control input-sm" ng-model="mp.CreditLimit" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label class="control-label pull-right">Current Balance</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control input-sm" ng-model="mp.CurrentBalance" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab class="md-primary" label="Other Rules">
                                <md-content class="md-padding">
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-left">Business Relationship</label></div> <div class="col-md-3">
    <tags-input ng-model="fResults"
                display-property="Text"
                placeholder="Merchant Name"
                replace-spaces-with-dashes="false"
                add-from-autocomplete-only="true"
                template="tag-template">
        <auto-complete source="forwarderResults($query)"
                       min-length="0"
                       load-on-focus="true"
                       load-on-empty="true"
                       max-results-to-show="32"
                       template="autocomplete-template"></auto-complete>
    </tags-input>
</div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-left">Preferred Yard/Depot</label>
                                        </div> <div class="col-md-3">
                                            <tags-input ng-model="yResults"
                                                        display-property="Text"
                                                        placeholder="Merchant Name"
                                                        replace-spaces-with-dashes="false"
                                                        add-from-autocomplete-only="true"
                                                        template="tag-template">
                                                <auto-complete source="yardResults($query)"
                                                               min-length="0"
                                                               load-on-focus="true"
                                                               load-on-empty="true"
                                                               max-results-to-show="32"
                                                               template="autocomplete-template"></auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-2">
                                            <label class="control-label pull-left">Preferred Transporter</label>
                                        </div> <div class="col-md-3">
                                            <tags-input ng-model="tResults"
                                                        display-property="Text"
                                                        placeholder="Merchant Name"
                                                        replace-spaces-with-dashes="false"
                                                        add-from-autocomplete-only="true"
                                                        template="tag-template">
                                                <auto-complete source="transportResults($query)"
                                                               min-length="0"
                                                               load-on-focus="true"
                                                               load-on-empty="true"
                                                               max-results-to-show="32"
                                                               template="autocomplete-template"></auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                        <script type="text/ng-template" id="tag-template">
                            <div class="tag-template">                                
                                <div class="right-panel">
                                    <span uib-tooltip="{{data.Value}}">{{$getDisplayText()}}</span>
                                    <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                </div>
                            </div>
                        </script>

                        <script type="text/ng-template" id="autocomplete-template">
                            <div class="autocomplete-template">                                
                                <div class="right-panel">
                                    <span ng-bind-html="$highlight($getDisplayText())"></span>
                                    <!--<span>({{data.Value}})</span>-->
                                </div>
                            </div>
                        </script>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row" style="margin-top:10px;">                    
                    <div class="col-md-12">
                        <button class="btn btn-primary" type="submit" ng-click="submitted = true;"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                        <button class="btn btn-default" type="button" ng-click="print();"><i class="fa fa-print"></i>&nbsp;Print</button>
                        
                        <span class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="backClick();"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </form>
</section>


















