﻿<section class="content" ng-controller="OrderInquiryCntrl">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Order Inquiry</h3>
        </div>
        <div class="box-body">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <uib-accordion-heading>
                        <i class="pull-left fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i>&nbsp;Advanced Search
                    </uib-accordion-heading>
                    <form id="frmSearch" name="frmSearch" ng-class="{'submitted': SearchSubmitted}" 
                          ng-submit="OrderInquirySearch(i)" novalidate>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Order No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="i.declarationNo" class="form-control input-sm" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Manifest No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="i.manifestNo" class="form-control input-sm" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Ocean B/L No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="i.oceanBLNo" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">House B/L No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="i.HouseBLNo" class="form-control input-sm" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Voyage No.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="i.voyageNo" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date From</label>
                            </div>
                            <div class="col-md-2">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="DateFrom" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="i.DateFrom"                                                   
                                                   date-time-input="{{dateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="i.DateFrom"
                                                        data-datetimepicker-config="{ dropdownSelector: '#DateFrom', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date To</label>
                            </div>
                            <div class="col-md-2">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="DateTo" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="i.DateTo"                                                   
                                                   date-time-input="{{dateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="i.DateTo"
                                                        data-datetimepicker-config="{ dropdownSelector: '#DateTo', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>   
                            <div class="col-md-1">
                                <button class="btn btn-primary" type="submit" ng-click="SearchSubmitted = true;"><i class="fa fa-search"></i>&nbsp;Search</button>
                            </div>                         
                        </div>
                    </form>
                </div>
            </uib-accordion>
            
            <div class="row css10" ng-if="orders.length > 0">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead style="color:#fff;background-color:#97c5ea;">
                            <tr>
                                <th>Order No.</th>
                                <th>Vessel Name</th>
                                <th>Voyage No</th>
                                <th>House B/L No.</th>
                                <th>Manifest No.</th>
                                <th>Shipper Name</th>
                                <th>Consignee Name</th>                                
                                <th>Order Date</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in orders">                                
                                <td>{{item.OrderNo}}</td>
                                <td>{{item.VesselName}}</td>
                                <td>{{item.VoyageNo}}</td>
                                <td>{{item.HouseBLNo}}</td>
                                <td>{{item.ManifestNo}}</td>
                                <td>{{item.ShipperName}}</td>
                                <td>{{item.ConsigneeName}}</td>
                                <td>{{item.OrderDate | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row css10" ng-if="orders.length == 0">
                <div class="col-md-12">
                    <h4>No. data found..</h4>
                </div>
            </div>
        </div>
        <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</section>
