﻿<form id="frmTrailer" name="frmTrailer" ng-class="{'submitted': submitted}" ng-submit="SaveTrailer(t)" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Add Trailer</h4>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Trailer ID</label>
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="t.TrailerID" ng-required="true" class="form-control input-sm" ng-readonly="truefalse"/>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Freight Mode</label>
            </div>
            <div class="col-md-2">
                <select ng-model="t.FreightMode"
                        ng-options="s.Value as s.Text for s in lookUpData.freightModeList" ng-required="true" class="form-control input-sm"></select>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Next Service Date</label>
            </div>
            <div class="col-md-2">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="NextServiceDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="t.NextServiceDate"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="t.NextServiceDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#NextServiceDate', startView:'day', minView:'day' }" />
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Reg. No.</label>
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="t.RegistrationNo" ng-required="true" class="form-control input-sm" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Trailer Type</label>
            </div>
            <div class="col-md-2">
                <select ng-model="t.TrailerType"
                        ng-options="s.Value as s.Text for s in lookUpData.trailerTypeList" ng-required="true" class="form-control input-sm"></select>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Manufactured Date</label>
            </div>
            <div class="col-md-2">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="ManufactureDate" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-sm datepicker"
                                   ng-model="t.ManufactureDate"
                                   ng-required="true"
                                   date-time-input="MM/DD/YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker ng-model="t.ManufactureDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#ManufactureDate', startView:'day', minView:'day' }" />
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Chassis No.</label>
            </div>
            <div class="col-md-2">
                <input ng-model="t.ChassisNo" ng-required="true" type="text" class="form-control input-sm" />
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Trailer Size</label>
            </div>
            <div class="col-md-2">
                <select ng-model="t.TrailerSize" ng-required="true"
                        ng-options="s.Value as s.Text for s in lookUpData.sizeList" class="form-control input-sm"></select>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">No. Of Axles</label>
            </div>
            <div class="col-md-2">
                <input ng-model="t.Axle" ng-required="true" type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Base Location</label>
            </div>
            <div class="col-md-2">
                <select ng-model="t.BaseLocation" ng-required="true" class="form-control input-sm">
                    <option value="1001">Location 1</option>
                    <option value="1002">Location 2</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Status</label>
            </div>
            <div class="col-md-2">
                <select ng-model="t.TrailerStatus" ng-required="true"
                        ng-options="s.Value as s.Text for s in lookUpData.trailerStatusTypeList" class="form-control input-sm"></select>
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right"></label>
            </div>
            <div class="col-md-2">
                <md-switch ng-model="t.IsOwn" class="md-primary" aria-label="Own Trailer">Own Trailer</md-switch>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
                <label class="control-label pull-right">Compartment</label>
            </div>
            <div class="col-md-2">
                <input ng-model="t.Compartment" ng-required="true" type="text" class="form-control input-sm" />
            </div>
            <div class="col-md-1">
                <label class="control-label pull-right"></label>
            </div>
            <div class="col-md-2">
                <md-switch ng-model="t.IsDGEquipped" class="md-primary" aria-label="DG Equipped">DG Equipped</md-switch>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Vendor</label>
            </div>
            <div class="col-md-6">
                <input type="text"
                       class="form-control input-sm ac"
                       ng-class="{'loadinggif': t.VendorNameLoading}"
                       placeholder="Search Vendor"
                       ng-model="d.VendorName"
                       typeahead-min-length="3"
                       uib-typeahead="d.Text as d.Text for d in VendorResults($viewValue)"
                       typeahead-loading="t.VendorNameLoading"
                       typeahead-wait-ms="100"
                       typeahead-editable="false"
                       ng-required="true"
                       typeahead-on-select="CustomerSelected2($item, 'VendorCode')" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-2">
                <label class="control-label pull-right">Remarks</label>
            </div>
            <div class="col-md-6">
                <textarea class="form-control input-sm"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <md-button type="submit" class="md-raised md-primary" ng-click="submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</md-button>
                <md-button class="md-raised md-danger" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</md-button>
            </div>
        </div>
    </div>
</form>
