﻿<form id="frmdocument" name="frmdocument" ng-class="{'submitted':submitted}" ng-submit="SaveDocument(document)" novalidate>
    <style type="text/css">
        .box.box-solid.box-default {
            border: 0px solid #d2d6de;
        }
    </style>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Document</h4>
    </div>
    <div class="modal-body">
       
           
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Code</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control input-sm" ng-required="true"
                                        ng-model="document.SupportingDocumentType" name="document.SupportingDocumentType"
                                        ng-options="s.Value as s.Text for s in lookUpData.OGACodeList"></select>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Custom Station</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control input-sm" ng-required="true"
                                        ng-model="document.CustomStationCode" name="document.CustomStationCode"
                                        ng-options="s.Value as s.Text for s in lookUpData.customStationCodeList"></select>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Ref. No,</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm" ng-model="document.ReferenceNo" name="document.ReferenceNo" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date Type</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control input-sm"
                                        ng-model="document.DocDateType" name="document.DocDateType"
                                        ng-options="s.Value as s.Text for s in lookUpData.docDateTypeList"></select>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-2">
                                <label class="control-label pull-right">Date</label>
                            </div>
                            <div class="col-md-4">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="DocDate" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="document.DocDate" name="document.DocDate"
                                                   date-time-input="{{dateFormat}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="document.DocDate"
                                                        data-datetimepicker-config="{ dropdownSelector: '#DocDate', startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
       

    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-6"></div>
            <div class="col-md-6 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true;" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>

</form>
