﻿<form id="frmk2ItemEntry" name="frmk2ItemEntry" ng-class="{'submitted':submitted}" ng-submit="Savek2ItemEntry(ie)" novalidate>
    <style type="text/css">
        .box.box-solid.box-default {
            border: 0px solid #d2d6de;
        }
    </style>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Item Entry</h4>
    </div>
    <div class="modal-body">
      
          
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label pull-right">Product</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text"
                                       ng-required="true"
                                       ng-model="ie.ProductCode"
                                       class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right text-nowrap">Country Of Origin</label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control input-sm"
                                        ng-required="true"
                                        ng-model="ie.OriginCountryCode"
                                        ng-options="s.Value as s.Text for s in lookUpData.countryList" />
                            </div>
                           
                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right">Item Amount</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text"
                                       ng-required="true"
                                       ng-model="ie.ItemAmount"
                                       logicon-decimal
                                       class="form-control input-sm" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label pull-right">HS Code</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text"
                                       ng-required="true"
                                       class="form-control input-sm ac"
                                       ng-class="{'loadinggif': c.HSCodeNameLoading}"
                                       placeholder="HSCode"
                                       ng-model="c.HSCodeDescription"
                                       typeahead-min-length="3"
                                       uib-typeahead="d.Text as d.Text for d in HSCodeResults($viewValue)"
                                       typeahead-loading="c.HSCodeNameLoading"
                                       typeahead-wait-ms="100"
                                       typeahead-editable="false"
                                       typeahead-on-select="HSCodeChange($item)" />

                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right">Statistical Qty.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text"
                                       ng-required="true"
                                       logicon-decimal
                                       ng-model="ie.StatisticalQty"
                                       class="form-control input-sm" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label pull-right">Statistical UOM</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm"
                                        ng-required="true"
                                        ng-model="ie.StatisticalUOM"
                                        ng-options="s.Value as s.Text for s in lookUpData.UOMList"></select>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right">Declared Qty.</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text"
                                       ng-required="true"
                                       logicon-decimal
                                       ng-model="ie.DeclaredQty"
                                       ng-blur="ExportDutyCalculation()"
                                       class="form-control input-sm" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label pull-right">Declared UOM</label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-sm"
                                        ng-required="true"
                                        ng-model="ie.DeclaredUOM"
                                        ng-options="s.Value as s.Text for s in lookUpData.UOMList"></select>
                            </div>
                        </div>
                        
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right">Item Description</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text"
                                       ng-required="true"
                                       ng-model="ie.ItemDescription1" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="col-md-4">
                                <label class="control-label pull-right">Extra Item Description</label>
                            </div>
                            <div class="col-md-8">
                                <textarea class="form-control input-sm"
                                          ng-required="true"
                                          ng-model="ie.ItemDescription2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box box-default box-solid collapsed-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Export Duty</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Method</label>
                                                <select ng-model="ie.ExportDutyMethod"
                                                        class="form-control input-sm"
                                                        ng-change="ExportDutyMethodChange()"
                                                        ng-options="s.Value as s.Text for s in lookUpData.dutyMethodList"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Tariff Code Type</label>
                                                <select ng-model="ie.ExportDutyTariffCode"
                                                        class="form-control input-sm"
                                                        ng-change="ExportDutyCalculation()"
                                                        ng-options="s.Value as s.Text for s in lookUpData.tariffCodeTypeList"></select>
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Percentage(%)</label>
                                                <input type="text"
                                                       ng-model="ie.ExportDutyPercentage"
                                                       logicon-decimal
                                                       class="form-control input-sm" placeholder="0.000" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Rate Exempted(%)</label>
                                                <input type="text"
                                                       logicon-decimal
                                                       ng-model="ie.ExportDutyExcemption"
                                                       class="form-control input-sm" placeholder="0.000" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Specific</label>
                                                <input type="text"
                                                       logicon-decimal
                                                       ng-model="ie.ExportDutySpecific"
                                                       class="form-control input-sm" placeholder="0.0000000" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Rate Exempted(%)</label>
                                                <input type="text"
                                                       logicon-decimal
                                                       ng-model="ie.ExportDutySpecificExcemption"
                                                       class="form-control input-sm" placeholder="0.0000000" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-6">
                                                Export Duty
                                            </div>
                                            <div class="col-md-6">
                                                {{ie.ExportDutyAmount}}
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-6">
                                                Export Duty Specific
                                            </div>
                                            <div class="col-md-6">
                                                {{ie.ExportDutySpecificAmount}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box box-default box-solid collapsed-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">GAZETTED</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Method</label>
                                                <select ng-model="ie.GazettedMethod"
                                                        class="form-control input-sm"
                                                        ng-options="s.Value as s.Text for s in lookUpData.dutyMethodList"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Tariff Code Type</label>
                                                <select ng-model="ie.GazettedTariffCode"
                                                        class="form-control input-sm"
                                                        ng-options="s.Value as s.Text for s in lookUpData.tariffCodeTypeList"></select>
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Percentage(%)</label>
                                                <input type="text"
                                                       ng-model="ie.GazettedPercentage"
                                                       logicon-decimal
                                                       class="form-control input-sm" placeholder="0.000" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Rate Exempted(%)</label>
                                                <input type="text"
                                                       logicon-decimal
                                                       ng-model="ie.GazettedExcemption"
                                                       class="form-control input-sm" placeholder="0.000" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Specific</label>
                                                <input type="text"
                                                       ng-model="ie.GazettedSpecific"
                                                       logicon-decimal
                                                       class="form-control input-sm" placeholder="0.000" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Rate Exempted(%)</label>
                                                <input type="text"
                                                       logicon-decimal
                                                       ng-model="ie.GazettedSpecificExcemption"
                                                       class="form-control input-sm" placeholder="0.000" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Unit Price</label>
                                                <input type="text"
                                                       ng-model="ie.GazettedUnitPrice"
                                                       logicon-decimal
                                                       class="form-control input-sm" placeholder="0.000" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box box-default box-solid collapsed-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Replant (CESS 1)</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Method</label>
                                                <select ng-model="ie.ReplantMethod"
                                                        class="form-control input-sm"
                                                        ng-options="s.Value as s.Text for s in lookUpData.dutyMethodList"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Tariff Code Type</label>
                                                <select ng-model="ie.ReplantTariffCode"
                                                        class="form-control input-sm"
                                                        ng-options="s.Value as s.Text for s in lookUpData.tariffCodeTypeList"></select>
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Percentage(%)</label>
                                                <input ng-model="ie.ReplantPercentage"
                                                       logicon-decimal
                                                       type="text"
                                                       class="form-control input-sm" placeholder="0.000" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Rate Excempted(%)</label>
                                                <input ng-model="ie.ReplantExcemption"
                                                       logicon-decimal
                                                       type="text"
                                                       class="form-control input-sm" placeholder="0.000" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Specific</label>
                                                <input ng-model="ie.ReplantSpecific"
                                                       logicon-decimal
                                                       type="text"
                                                       class="form-control input-sm" placeholder="0.0000000" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Rate Exempted(%)</label>
                                                <input ng-model="ie.ReplantSpecificExcemption"
                                                       logicon-decimal
                                                       type="text"
                                                       class="form-control input-sm" placeholder="0.0000000" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box box-default box-solid collapsed-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Research (CESS 2)</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Method</label>
                                                <select ng-model="ie.ResearchMethod"
                                                        class="form-control input-sm"
                                                        ng-options="s.Value as s.Text for s in lookUpData.dutyMethodList"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Tariff Code Type</label>
                                                <select ng-model="ie.ResearchTariffCode"
                                                        class="form-control input-sm"
                                                        ng-options="s.Value as s.Text for s in lookUpData.tariffCodeTypeList"></select>
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Percentage(%)</label>
                                                <input ng-model="ie.ResearchPercentage"
                                                       logicon-decimal
                                                       type="text"
                                                       class="form-control input-sm" placeholder="0.000" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Rate Exempted(%)</label>
                                                <input ng-model="ie.ResearchExcemption"
                                                       logicon-decimal
                                                       type="text"
                                                       class="form-control input-sm" placeholder="0.000" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Specific</label>
                                                <input ng-model="ie.ResearchSpecific"
                                                       logicon-decimal
                                                       type="text"
                                                       class="form-control input-sm" placeholder="0.0000000" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Rate Exempted(%)</label>
                                                <input ng-model="ie.ResearchSpecificExcemption"
                                                       logicon-decimal
                                                       type="text"
                                                       class="form-control input-sm"
                                                       placeholder="0.0000000" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-default box-solid collapsed-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Vehicle</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Type</label>
                                                <select class="form-control input-sm"
                                                        ng-model="ie.VehicleType"
                                                        ng-options="s.Value as s.Text for s in lookUpData.vehicleTypeList"></select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Chassis No.</label>
                                                <input type="text" class="form-control input-sm" ng-model="ie.VehicleChassisNo" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Brand</label>
                                                <input type="text" class="form-control input-sm" ng-model="ie.VehicleBrand" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">CC</label>
                                                <input type="text" class="form-control input-sm" ng-model="ie.VehicleCC" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Model</label>
                                                <input type="text" class="form-control input-sm" ng-model="ie.VehicleModel" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Year</label>
                                                <input ng-model="ie.VehicleYear"
                                                       logicon-number
                                                       type="text" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="row css10">
                                            <div class="col-md-6">
                                                <label class="control-label pull-left">Engine No.</label>
                                                <input type="text" class="form-control input-sm" ng-model="ie.VehicleEngineNo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row" ng-if="showPetrolPnl">
                            <div class="col-md-12">
                                <div class="box box-default box-solid collapsed-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Petroleum Working Note</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="display: none;">
                                        <div class="row css10">
                                            <div class="col-md-5"></div>
                                            <div class="col-md-3">
                                                <label class="control-label pull-right">Meter FIG</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label pull-right">S/Tank FIG</label>
                                            </div>
                                        </div>
                                        <div class="row css10" ng-repeat="i in [1, 2, 3, 4, 5]">
                                            <div class="col-md-2">
                                                <label class="control-label pull-right">Type {{$index + 1}}</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input ng-model="ie.declarationsubItemsK2[$index].PType" type="text" class="form-control input-sm" />
                                            </div>
                                            <div class="col-md-3">
                                                <input ng-model="ie.declarationsubItemsK2[$index].PMeterFigure"
                                                       logicon-decimal
                                                       type="text"
                                                       placeholder="0.000" class="form-control input-sm" />
                                            </div>
                                            <div class="col-md-3">
                                                <input ng-model="ie.declarationsubItemsK2[$index].PTankFigure"
                                                       logicon-decimal
                                                       type="text" placeholder="0.000" class="form-control input-sm" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-default box-solid collapsed-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Palm Oil Working Note</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" style="display: none;">
                                        <div class="row css10">
                                            <div class="col-md-3">
                                                <label class="control-label pull-right">Gazetted Unit Price</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label pull-right">Total Value</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label pull-right">Rate</label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label pull-right">Amount</label>
                                            </div>
                                        </div>
                                        <div class="row css10" ng-repeat="i in [1, 2, 3, 4, 5]">
                                            <div class="col-md-3">
                                                <input ng-model="ie.declarationsubItemsK2[$index].POilUnitPrice"
                                                       type="text"
                                                       placeholder="0.00"
                                                       class="form-control input-sm" />
                                            </div>
                                            <div class="col-md-3">
                                                <input ng-model="ie.declarationsubItemsK2[$index].POilTotalValue"
                                                       logicon-decimal
                                                       type="text"
                                                       placeholder="0.00" class="form-control input-sm" />
                                            </div>
                                            <div class="col-md-3">
                                                <input ng-model="ie.declarationsubItemsK2[$index].POilRate"
                                                       logicon-decimal
                                                       type="text" placeholder="0.00" class="form-control input-sm" />
                                            </div>
                                            <div class="col-md-3">
                                                <input ng-model="ie.declarationsubItemsK2[$index].POilAmount"
                                                       logicon-decimal
                                                       type="text" placeholder="0.00" class="form-control input-sm" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            
            <div class="overlay" style="opacity:0.8;" ng-show="showLoading">
                <i class="fa fa-refresh fa-spin"></i>
          
        </div>

    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-9"></div>
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-sm" ng-click="submitted = true;" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                <button class="btn btn-default btn-sm" ng-click="cancel();"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>

</form>
