﻿<style>
    h2 {
        margin: 10px 0px;
    }

    b {
        font-weight: bolder;
        font-size: 16px;
    }

    ol.main > li {
        font-size: 14px;
        font-weight: bolder;
        color: #333;
        margin-top: 10px;
    }

    ol li ol li {
        font-size: 13px;
    }

    ol.main, ol.main > li > ol {
        list-style-type: none;
        counter-reset: item;
        margin: 10px 0px 0;
        padding: 0;
    }

        ol.main > li, ol.main > li > ol > li {
            display: table;
            counter-increment: item;
            margin-bottom: 0.6em;
        }

            ol.main > li > ol > li, ol.main > li div {
                color: rgba(51,51,51,0.8);
                font-size: 13px;
            }

                ol.main > li:before, ol.main > li > ol > li:before {
                    content: counters(item, ".") " ";
                    display: table-cell;
                    padding-right: 0.6em;
                }

    li ol > li {
        margin: 0;
    }

    ol.main > li > ol > li:before {
        content: counters(item, ".") " ";
    }

    ol.main > li > ol > li > ol {
        counter-reset: list;
        margin: 10px 0px 0 10px;
        padding: 0px;
    }

        ol.main > li > ol > li > ol li {
            list-style: none;
            margin: 5px 0px;
            font-size: 12px;
        }

            ol.main > li > ol > li > ol li:before {
                content: counter(list, lower-alpha) " ) ";
                counter-increment: list;
                padding: 0 5px 0 0;
            }
</style>

<h2><b>TERMS AND CONDITIONS</b></h2>

<ol class="main">
    <li>
        GENERAL
        <ol class="second">
            <li>
                These Terms and Conditions are binding on you (“Subscriber”).

            </li>
            <li>
                These Terms and Conditions including the Schedules, contain the complete and exclusive understanding of the Subscriber with respect to the subject matter hereof and shall become effective upon ticking of the box below and submitting this subscription online by the Subscriber together with all the required information and supporting documents to DNeXPORT Sdn. Bhd. (“DP”) and approved by DP via its email to the Subscriber. The date of DP’s confirmation email to the Subscriber shall be deemed as the “Effective Date”.

            </li>
            <li>
                DP is entitled to reject an application from the Subscriber for the Services (as defined) at its sole 	discretion without assigning any reason.

            </li>
            <li>
                All prior representations whether made orally, in writing or electronically are hereby superseded. No 	waiver or amendment of any of the provisions hereof will be binding unless made in writing and 	signed by a duly authorized representative of DP.

            </li>
            <li>
                These Terms and Conditions may be amended by DP from time to time by prior written notice to the 	Subscriber.

            </li>
            <li>
                If any provision of these Terms and Conditions is held to be invalid or unenforceable for any reason 	whatsoever, such provision is deemed deleted and the remaining Terms and Conditions herein shall 	remain valid and enforceable apart from such provision.
            </li>

        </ol>
    </li>

    <li>

        DEFINITIONS AND INTERPRETATION
        <ol class="second">
            <li>
                In these Terms and Conditions, except where inconsistent with the subject or context:
                <ol class="d">

                    <li>
                        “Agent” means any representative, agent, professional adviser, contractor or third party service provider;
                    </li>
                    <li>
                        “Business Day” means a day on which DP is open for business for the Services;
                    </li>
                    <li>
                        “Holding Company” means Dagang NeXchange Berhad (Company No. 10039-P), a company incorporated in Malaysia and having its office address at Tower 3, Avenue 5, The Horizon, Bangsar South No. 8, Jalan Kerinchi, 59200 Kuala Lumpur, Malaysia;
                    </li>
                    <li>
                        “Loss” means all loss, liability, damage, costs and expense (including tax, legal costs, investigation cost, litigation, arbitration, settlement, judgement, interest/charges and penalties;
                    </li>
                    <li>
                        "DP" means DNeXPORT Sdn. Bhd. (Company No. 1093694H), a company incorporated in Malaysia and having its office address at Tower 3, Avenue 5, The Horizon, Bangsar South, No. 8, Jalan Kerinchi, 59200 Kuala Lumpur, Malaysia;
                    </li>
                    <li>
                        “Payment Instrument” means an online payment only via online payment services provided at 1Trade.Exchange Portal;
                    </li>
                    <li>
                        “Related Corporations” means in relation to any person, a subsidiary of that person or a holding company of that person or any other subsidiary of that holding company;
                    </li>
                    <li>
                        “Representative” means a person’s directors, officers or employees;
                    </li>
                    <li>
                        “Security Code” means any confidential password, security code or other identifier issued by DP, directly or indirectly to access or facilitate access to the Services;
                    </li>
                    <li>
                        "Services" means products and services offering as provided to the Subscriber via 1Trade. Exchange Portal and shall include additional services offered by DP to the Subscriber from time to time;
                    </li>
                    <li>
                        “Subscriber" means any person or other legal entity utilising the Services;
                    </li>
                    <li>
                        "User ID" means a unique identification provided by DP to the Subscriber which enables the Subscriber to obtain the Services via 1Trade.Exchange Portal; and
                    </li>
                    <li>
                        "DNT" means Dagang Net Technologies Sdn. Bhd. (Company No. 177974-T), a company incorporated in Malaysia and having its office address at Tower 3, Avenue 5, The Horizon, Bangsar South, No. 8, Jalan Kerinchi, 59200 Kuala Lumpur, Malaysia.
                    </li>
                    <li> “1Trade.Exchange Portal” means relevant access to and use of the logistics solution which is accessible through the main website my.1Trade.Exchange. </li>
                </ol>
            </li>
            <li>
                In these Terms and Conditions:
                <ol class="d">

                    <li>
                        Person shall include any individual, body whether corporate or unincorporated, firm or partnership.
                    </li>
                    <li>
                        Words importing the masculine gender shall include the feminine and neuter genders.
                    </li>
                    <li>
                        Words importing the singular shall include the plural.
                    </li>
                    <li>
                        Headings are for convenience of reference only.
                    </li>
                </ol>
            </li>

        </ol>
    </li>
    <li>

        APPLICABLE FEES/CHARGES
        <ol>
            <li>
                The Subscriber shall pay all fees and charges to DP for the Services as per the price list listed at 1Trade.Exchange Portal.. The fees and charges payable by the Subscriber are non refundable for any reason whatsoever. The fees and charges shall include Goods and Services Tax (GST) and other applicable taxes (if any) payable by the Subscriber.
            </li>
            <li>
                All payments shall be made to DP via Payment Instrument.
            </li>
            <li>
                All payments of fees and charges for the Services shall be made in Ringgit Malaysia.
            </li>
            <li>
                DP reserves the right to review such fees and charges annually and vary the same by giving 30 days 	notice to the Subscriber. The date of coming into force of the new fees and charges shall be the date 	stated in the notice.
            </li>
            <li>
                The Subscriber shall pay or reimburse DP for any taxes, deduction, charges, stamp, transaction and 	withholdings (together with any related interest/charges, penalties, fines and expenses) in connection 	with the Services. The Subscriber shall provide DP with such documentation, declarations, 	certifications and information as DP may require in connection with any taxes. The Subscriber 	warrants that such information is true and correct in every respect and shall immediately notify DP if 	any information requires updating or correction.
            </li>
        </ol>
    </li>
    <li>
        VARIATION OF SERVICES
        <div>
            The Services provided by DP may be modified, enhanced, substituted, suspended or removed by DP by giving 30 days prior written notice to the Subscriber.
        </div>
    </li>
    <li>
        SECURITY RESPONSIBILITIES

        <ol>
            <li>
                The Subscriber is responsible for the confidentiality of the password, user identification number or other security device assigned by DP to that Subscriber. Each Subscriber shall ensure that only duly authorized persons shall use such password, user identification number or other security device.
            </li>
            <li>
                DP hereby disclaims all responsibility and liability for the acts or omissions of the 	Subscriber in this 	area.
            </li>
        </ol>
    </li>
    <li>
        LIABILITY LIMITATION

        <ol>
            <li>
                DP shall not be liable for any Loss that the Subscriber may suffer or incur arising from or in connection with its execution, non-execution or delayed execution of any incorrect or incomplete information or instruction from the Subscriber.
            </li>
            <li>
                DP shall have no liability for any Loss that the Subscriber may suffer or incur arising from any loss or 	theft via the Payment Instrument or Security Code.
            </li>
            <li>
                DP shall not be liable for any Loss of any nature which the Subscriber may suffer or incur in relation to the Services that DP provides, save for any direct Loss attributable to DP’s gross negligence or wilful misconduct. The Subscriber agrees that unless otherwise expressly provided, DP will provide the Services as independent contractor, not as agent and the Subscriber agrees that the Services which DP provides to the Subscriber will not give rise to any fiduciary or trustee duties on its part.
            </li>
            <li>
                Failure by DP to demand performance of any terms herein shall not be deemed a waiver of any of DP's rights under any provision of this Terms and Conditions and in particular, without limiting the generality of the foregoing, shall not be deemed 	a waiver of DP's right to demand performance of any provision of this Terms and Conditions at any time and further shall not render DP liable to the Subscriber for the default of any other Subscriber.
            </li>
        </ol>
    </li>
    <li>
        INDEMNITY

        <ol>
            <li>
                The Subscriber shall indemnify and hold DP, harmless from and against any and 	all Losses resulting directly or indirectly from DP providing the Services to the Subscriber including those arising from: (a) DP’s acceptance or execution of any instruction issued by the Subscriber’s authorized person; (b) DP’s payment of any taxes interest/charges or penalty otherwise due from the Subscriber and paid on behalf of the Subscriber or from which DP has incurred on the Subscriber’s behalf as a result of the provision of the Services. Any amount due from the Subscriber to DP under this paragraph is payable on DP’s demand.
            </li>
            <li>
                The Subscriber shall indemnify DP from any claims, suits, actions, liabilities, and 	costs of any kind 	resulting directly or indirectly from any acts or omissions by the Subscriber.
            </li>
        </ol>
    </li>
    <li>

        INFORMATION
        <ol>
            <li>
                The Subscriber agrees that any information provided to DP is accurate, complete and up-to-date. If 	there is/are changes to the information provided, the Subscriber must immediately notify and provide 	details of such changes to DP.
            </li>
            <li>
                DP shall treat all information provided by the Subscriber as confidential. DP will only process and use 	the personal information that DP’s collect from the Subscriber for the purposes of providing the 	Services, update the information about the Services and other services which DP consider may be of 	the interest to the Subscriber.
            </li>
            <li>
                The Subscriber agrees and consents that DP may disclose, share or submit the information such as Purchase Order, Invoices, Bill of Lading, Insurance, trading or transaction information etc. to: (i) the Holding Company, (ii) any associated or subsidiaries corporation of the Holding Company, (iii) insurance company and licensed financial institutions which provide or will be providing the financing in relation to the Services and insurance company, (iv) DP’s service provider or professional advisor, who is under a duty of confidentiality in respect of such information, (v) any actual or potential participant or transferee of DP’s rights and obligations under this Agreement, or (vi) Government of Malaysia or other regulatory body or as required by laws.
            </li>
            <li>
                For the purpose of providing the Services herein, the Subscriber hereby agrees, consents and expressly authorizes DP to: (i) procure or obtain all its relevant data or information including the Customs and trading or transaction data or information from other corporation(s) who retain such data or information, (ii) analyze its data.
            </li>
        </ol>

    </li>
    <li>
        CONFIDENTIALITY AND USE OF DATA
        <ol>
            <li>
                Save as provided herein DP shall as far as reasonably practicable take all appropriate steps as to 	safeguards and maintain the confidentiality of all information provided or transmitted in relation to the 	Services.
            </li>
            <li>
                DP shall be entitled to use all the relevant data as stated in clause 8.4 above for the purposes of building up, updating, and providing its database access service or other value-added service that it may introduce from time to time. DP shall ensure that access to the information provided by such Services shall be limited only to information or data which are not prejudicial to the commercial interests of the Subscriber. No warranty or representation is, however, given as to the accuracy; completeness or usefulness of any data and each Subscriber using such Services assumes sole responsibility for use of the same.
            </li>
        </ol>
    </li>
    <li>
        AUDIT
        <div>
            DP shall cause to be undertaken a regular audit both by its own internal auditors and independent external auditors of its computer systems to ensure integrity and security.
        </div>
    </li>
    <li>
        SUBSCRIPTION PERIOD
        <div>
            The Subscription of the Services shall be valid for a minimum period of one (1) year from the Effective Date. It shall be automatically renewed on yearly basis unless otherwise terminated by either party by giving thirty (30) days written notice.
        </div>
    </li>
    <li>
        TERMINATION OF SERVICES
        <ol>
            <li>

                The subscription of the Subscriber to the Services may be terminated without cause or reason by DP 	by giving 30 days notice in writing to the Subscriber.
            </li>
            <li>
                DP reserves the right to cease immediately to provide the Services and terminate the Subscriber's subscription forthwith if that Subscriber shall go into liquidation or commit an act of bankruptcy or a receiver or receiver and manager or official assignee is appointed over the assets of the Subscriber or the Subscriber fails to pay any amounts due and payable to DP or the Subscriber (intentionally or not intentionally) provides wrong or false information or breaches any of this Terms and Conditions.
            </li>
            <li>
                Any termination of the Services pursuant to Clause 12.1 or 12.2 above shall be without prejudice to 	any other rights or remedies of DP may be entitled herein or at law including recovering from the 	Subscriber any Loss resulting from the termination.
            </li>
        </ol>
    </li>
    <li>
        ASSIGNMENT
        <div>
            The rights and obligations of the Subscriber to the provision of the Services by DP shall not be transferred, assigned, novated, leased or licensed to any other person, body or entity without the prior written consent of DP.
        </div>
    </li>
    <li>
        NOTICE
        <div>
            Any notice which is required or permitted to be given by one party to the other may be given by hand delivery, by registered mail directed to the other party's address set forth in this Agreement or to such other address as may be substituted by notice to the other party, or by means of an electronic transmission (i.e. by facsimile or electronic-mail) followed by a hard copy within seven (7) days. Notices will be deemed effective on the same business day if delivered by hand or sent by electronic means and on the date of posting if sent by post.
        </div>
    </li>
    <li>
        LEGAL COSTS AND GOVERNMENT TAXES
        <div>
            The Subscriber shall bear all legal cost of expenses incurred by DP on a solicitor and client basis in recovering any monies, charges, costs or expenses due and payable by the Subscriber for the Services or in bringing any action or proceeding to recover any monies, charges, costs or expenses payable by the Subscriber. The Subscriber shall also bear all Governmental Taxes, Levies and any cost imposed by Law.
        </div>
    </li>
    <li>
        GOVERNING LAW
        <div>
            This Terms and Conditions shall be governed by and construed in accordance with the laws of Malaysia and the parties hereto agree to submit to the jurisdiction of the courts of Malaysia.
        </div>
    </li>
    <li>
        PERSONAL DATA PROTECTION ACT 2010
        <ol>
            <li>
                DP is committed to protecting the Subscriber’s privacy as its valued customers and pledge to comply 	with the Personal Data Protection Act (“PDPA”) 2010.
            </li>
            <li>
                Any personal information (“Personal Data”) in respect of commercial transactions that relates directly 	or indirectly to the Subscriber as an individual, that had been collected, processed and retained by DP 	is protected under DP’s Privacy Policy, formulated in pursuant to the PDPA 2010.
            </li>
            <li>
                The Subscriber may refer to DP’s Privacy Policy at www.dnex.com.my/privacy-policy to understand 	how DP manages the Personal Data. The Subscriber may email to pdpa@dnex.com.my  for additional 	enquiries.
            </li>
        </ol>
    </li>
    <li>
        NOTICE REGARDING 1TRADE.EXCHANGE PORTAL AND SOFTWARE OR DOCUMENTS AVAILABLE VIA THE 1TRADE.EXCHANGE PORTAL.
        <div>
            In no event or circumstances that DP and/or its respective suppliers will be liable for any special, indirect or consequential damages or any other damages however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise), arising out of or in connection with the use of the 1trade.Exchange Portal, including without limitation any software or documents available via the 1Trade.Exchange Portal.
        </div>
    </li>
    <li>
        INTELLECTUAL PROPERTY RIGHTS.
        <div>
            DP or its suppliers retain all right, title and interest in and to the 1Trade.Exchange Portal, including all copyrights, patents, trade secrets, trademarks and other intellectual property rights. DP reserves all rights not expressly granted. These Terms and Conditions do not grant or imply any rights to any DP’s trademarks, trade names or logos.
        </div>

    </li>
    <li>
        ACCOUNT, PASSWORD AND SECURITY.
        <div>
            If any part of the 1Trade.Exchange Portal requires you to open an account, you must complete the registration process by providing DP with current, complete and accurate information as prompted by the applicable registration form. You will also be required to choose a password and a user name. You are entirely responsible for maintaining the confidentiality of your password and account and for any and all activities that occur under your account. You agree to notify DP immediately of any unauthorized use of your account or any other breach of security. DP will not be liable for any losses incurred by you as a result of someone else using your password or account, either with or without your knowledge. However, you could be held liable for losses incurred by DP or another party due to someone else using your account or password. You may not use anyone else's account at any time, without the permission of the account holder.
        </div>
    </li>
    <li>
        CONSENT TO EMAIL COMMUNICATION
        <div>
            When you visit this 1Trade.Exchange Portal or send email to DP, you are communicating with DP electronically. You consent to receive communications from DP electronically and agree that DP may communicate with you by email or by posting a notice on this Website. DP will not include details of your personal or financial information in emails unless you specifically request that DP to do so. You agree that DP may treat specific actions by you, such as checking boxes to receive email updates, sending us an email directly or through the 1Trade.Exchange Portal, or leaving a telephone message with an email address for customer service to respond to a query about your account, as a request that DP’s communicates personal or financial information with you by unencrypted email. You acknowledge and agree that unencrypted email sent over the internet is not secured and may be read by others, and you agree that when you request that DP send you email you are authorizing DP to transmit and disclose your information (including your personal or financial information) from time to time in an unencrypted manner. You further acknowledge that emails sent with this information are not stored in a secure manner. In addition, DP makes no representations or covenants with regard to, and assume no liability for, any communications between any third party and use using the "Conversations" functionally of the Services or the 1Trade.Exchange Portal, including without limitation, any representation, covenant or liability related to or arising from the security or accuracy of any data included in such Conversations.
        </div>
    </li>
</ol>
