﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right hidden-xs">
                {{appVersion}} <b>beta</b>
            </div>
            <strong>&copy; 2017 DNeX<span style="font-style:italic;">PORT</span> Sdn Bhd.</strong> All rights reserved.
        </div>
        </div>
</div>
